
// for the expanding search field - scoped to this form so as to not affect all search forms
form.magic-search {
  // scss-lint:disable VendorPrefix
  margin-top: 7px;
  input {
    outline: none;
  }
  input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: $font-family-sans-serif;
    font-size: 14px;
    background: transparent url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNSAxNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczpza2V0Y2g9Imh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaC9ucyI+PHRpdGxlPnNlYXJjaDwvdGl0bGU+PGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+PHBhdGggZD0iTTUuNjI1IDEuMjVjMi40MTMgMCA0LjM3NSAxLjk2MiA0LjM3NSA0LjM3NSAwIDIuNDEyLTEuOTYzIDQuMzc1LTQuMzc1IDQuMzc1LTIuNDEzIDAtNC4zNzUtMS45NjMtNC4zNzUtNC4zNzUgMC0yLjQxMyAxLjk2My00LjM3NSA0LjM3NS00LjM3NW0wIDEwYzEuMzMzIDAgMi41NTYtLjQ2NyAzLjUyMS0xLjI0NGw0Ljc4NiA0LjgxMWMuMTIzLjEyMy4yODMuMTg0LjQ0My4xODQuMTU5IDAgLjMxOS0uMDYxLjQ0MS0uMTgyLjI0NS0uMjQ0LjI0Ni0uNjM5LjAwMy0uODg0bC00Ljc5Mi00LjgxNmMuNzY0LS45NjEgMS4yMjQtMi4xNzMgMS4yMjQtMy40OTMgMC0zLjEwMS0yLjUyMy01LjYyNS01LjYyNS01LjYyNXMtNS42MjUgMi41MjQtNS42MjUgNS42MjVjMCAzLjEwMiAyLjUyMyA1LjYyNSA1LjYyNSA1LjYyNSIgc2tldGNoOnR5cGU9Ik1TU2hhcGVHcm91cCIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==') no-repeat 9px center;
    opacity: .7;
    border: solid 1px transparent;
    padding: 7px 10px 7px 32px;
    display: inline-block;
    width: 15px;
    padding-left: 20px;
    color: transparent;
    cursor: pointer;
    border-radius: 20px;
    transition: all .5s;
  }
  input::-webkit-search-decoration, input::-webkit-search-cancel-button {
    display: none;
  }
  input[type=search]:focus {
    background-color: rgba(131, 23, 115, 1);
    box-shadow: inset 0 0 5px rgba(119, 24, 108, 1);
    width: 130px;
    padding-left: 32px;
    color: #fff;
    opacity: 1;
    cursor: auto;
  }
  input[type=search]:hover {
    border-color: rgba(185, 99, 174, .6);
    box-shadow: inset 0 0 5px rgba(119, 24, 108, 1);
  }
  input:-moz-placeholder {
    color: transparent;
  }
  input::-webkit-input-placeholder {
    color: transparent;
  }
}
// ---------------------------------------------------------
