<xmp><div class="controls-inline">
  <pbds-radio tip-type="popover" ng-attr-label="Radio Button" name="radio2" ng-model="model.radio3" value="radio-3" ng-change="handler(val)" disabled='model.radio3disabled'></pbds-radio>

  <pbds-radio tip-type="popover" ng-attr-label="Radio Button" name="radio2" ng-model="model.radio4" value="radio-4" ng-change="handler(val)" disabled='model.radio4disabled'>
    <a href="" class="control-help" uib-popover="This is a popover example." popover-trigger="click"><i class="nc-icon-mini ui-e_round-e-help"></i></a>
  </pbds-radio>

  <pbds-radio tip-type="popover" ng-attr-label="Radio Button" name="radio2" ng-model="model.radio5" value="radio-5" ng-change="handler(val)" disabled='model.radio5disabled'>
    <a href="" class="control-help" uib-popover="This is a popover example." popover-trigger="click"><i class="nc-icon-mini ui-e_round-e-help"></i></a>
  </pbds-radio>
</div></xmp>