<xmp><div class="controls-stacked">
  <pbds-radio ng-attr-label="Radio Button" name="radio1" ng-model="model.radio1" value="radio-1" ng-change="handler(val)" disabled='model.radio1disabled'></pbds-radio>

  <pbds-radio ng-attr-label="Radio Button" name="radio1" ng-model="model.radio2" value="radio-2" ng-change="handler(val)" disabled='model.radio2disabled'>
    <a href="" class="control-help" uib-popover="This is a popover example." popover-trigger="click" ><i class="nc-icon-mini ui-e_round-e-help text-info"></i></a>
  </pbds-radio>
</div></xmp>