<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <!-- <div class="eyebrow">?????</div> -->
          <h1>Modals </h1>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-header jump-bar headroom" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}" headroom offset="240" tolerance="5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- <ul class="list-unstyled list-inline jump-menu">
            <li>
              <a ui-sref="modals.modals({'#':'modals'})">Modals</a>
            </li>
            <li>
              <a ui-sref="modals.modals({'#':'popovers'})">Popovers</a>
            </li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container">

  <div class="row">
    <div class="col-md-8">
      <h1 class="doc-head" id="modals">Modals</h1>
      <a class="more-info plugin" href="http://angular-ui.github.io/bootstrap/#/modal" target="_blank">Angular UI Bootstrap v1.3.1</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Styles</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <figure>
        <figcaption>Basic Message</figcaption>
        <img alt="Basic" class="img-responsive modal-demo" src="modules/modals/assets/images/basic.png"/>
        <button class="btn btn-default btn-sm" ng-click="mod.modals.basicMessage()">Demo</button>
      </figure>
    </div>

    <div class="col-md-4">
      <figure>
        <figcaption>Single Choice Action Modal</figcaption>
        <img alt="Single Choice" class="img-responsive modal-demo" src="modules/modals/assets/images/single-choice.png"/>
        <button class="btn btn-default btn-sm" ng-click="mod.modals.singleChoice()">Demo</button>
      </figure>
    </div>

    <div class="col-md-4">
      <figure>
        <figcaption>Modal with Radio Buttons</figcaption>
        <img alt="Radio buttons" class="img-responsive modal-demo" src="modules/modals/assets/images/radios.png"/>
        <button class="btn btn-default btn-sm" ng-click="mod.modals.radioButtons()">Demo</button>
      </figure>
    </div>

  </div>

  <div class="row">

    <div class="col-md-4">
      <figure>
        <figcaption>Modal with Comment Form</figcaption>
        <img alt="Comment Form" class="img-responsive modal-demo" src="modules/modals/assets/images/comment-form.png"/>
        <button class="btn btn-default btn-sm" ng-click="mod.modals.commentForm()">Demo</button>
      </figure>
    </div>

    <div class="col-md-4">
      <figure>
        <figcaption>Modal with Feedback</figcaption>
        <img alt="Feedback" class="img-responsive modal-demo" src="modules/modals/assets/images/feedback.png"/>
        <button class="btn btn-default btn-sm" ng-click="mod.modals.withCopy()">Demo</button>
      </figure>
    </div>

    <div class="col-md-4">
      <figure>
        <figcaption>Modal with User Prompt</figcaption>
        <img alt="Prompt" class="img-responsive modal-demo" src="modules/modals/assets/images/prompt.png"/>
        <button class="btn btn-default btn-sm" ng-click="mod.modals.prompt()">Demo</button>
      </figure>
    </div>

  </div>

  <div class="row">

    <div class="col-md-4">
      <figure>
        <figcaption>Default Modal (Must Click Controls)</figcaption>
        <img alt="Default" class="img-responsive modal-demo" src="modules/modals/assets/images/default-true.png"/>
        <button class="btn btn-default btn-sm" ng-click="mod.modals.modal()">Demo</button>
      </figure>
    </div>

    <div class="col-md-4">
      <figure>
        <figcaption>Default Modal (ESC Key Enabled)</figcaption>
        <img alt="Modal with Options" class="img-responsive modal-demo" src="modules/modals/assets/images/dismissable.png"/>
        <button class="btn btn-default btn-sm" ng-click="mod.modals.simple()">Demo</button>
      </figure>
    </div>

    <div class="col-md-4">
      <figure>
        <figcaption>Draggable Modal</figcaption>
        <img alt="Draggable Modal" class="img-responsive modal-demo" src="modules/modals/assets/images/draggable.png"/>
        <button class="btn btn-default btn-sm" ng-click="mod.modals.draggable()">Demo</button>
      </figure>
    </div>
  </div>


</div>
