.resources {
  // overflow-y: scroll;
  
  .panel-body {
    padding: 0;
  }
  .productDetail {
    display: block;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 250px;
  }

  /* FULLSCREEN MODAL */

  $modal: 100%;

  body.modal-open {
    overflow: hidden;
    padding-right: 0 !important;
  }
  .modal-backdrop {
    display: none !important;
  }
  .modal-open .modal {
    overflow: hidden;
  }

  .modal.fullscreen-modal {
    background-color: transparent;
    height: 100%;
    width: 100%;
    z-index: 1050;
    backface-visibility: visible;   //this is for animation rendering
    
    .modal-dialog {
      background-color: #fff;
      height: 100%;
      margin: 0;
      width: 100%;
      position: relative;

      .modal-content {
        position: initial;
        background-color: transparent;
        border: 0;
        border-radius: 0;
        //Kill Box shadow and borders
        box-shadow: none;
        height: 100%;
        margin: 0 auto;
        overflow: auto;
        padding-top: 70px;
        width: 100%;
        //override default padding from DS2 for non-full width modals
        padding: 0;

        .gallery-item-description {
          padding: 40px 60px 0 60px;
        }
      }
    }
  }

  //Handle modal sizing & scrolling issues
  .modal-dialog {
    .modal-header,
    .modal-body {
      margin: 0 auto;
      width: $modal;
    }
    .modal-header {
      padding: 60px 60px 0 60px;
      border: 0;
    
      .modal-title {
        border-bottom: 1px solid #dddedf;
        padding-bottom: 10px;
      }
    }
    .modal-body {
      padding: 30px 60px 0;
    }
  }

}