<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Elements</div>
          <h1>Buttons</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="link1" offset="100">Text Buttons</a></li>
            <li><a href="" du-smooth-scroll="link2">Icon Buttons</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- <div ui-view></div> -->
