<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="hero-header">
          <div class="eyebrow">Patterns</div>
          <h1>Onboarding</h1>
        </div>
      </div>
    </div>
  </div>

  <!-- <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="one">Sample One</a></li>
            <li><a href="" du-smooth-scroll="two">Sample Two</a></li>
            <li><a href="" du-smooth-scroll="three">Sample Three</a></li>
            <li><a href="" du-smooth-scroll="four">Sample Four</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->

</div>




<div class="container">


  <div class="row" >
    <div class="col-sm-8">
      <h1 id="alerts" class="doc-head">Onboarding</h1>
      <p class="doc-lede">Morbi et nunc et quam tempus maximus ut ac dui. Donec interdum vel felis ac facilisis. Aliquam orci velit, congue nec libero quis, porta pulvinar sem. Etiam a sagittis dolor. Fusce laoreet congue nulla. Proin vulputate leo sed turpis tincidunt, ut pellentesque elit cursus. Phasellus iaculis nisi erat, id hendrerit lacus feugiat at. Donec lacinia sapien et semper placerat.</p>
    </div>
  </div>



  <div class="row" >
    <div class="col-sm-12">
      <h1 class="doc-sectionhead">Sample One</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-4">
      <figcaption>iOS</figcaption>
      <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/mobile onboarding-1a.png" alt="" />
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/mobile onboarding-1b.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/mobile onboarding-1c.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/mobile onboarding-1d.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/mobile onboarding-1e.png" alt="" />
      </figure>
    </div>
  </div>


  <div class="row spacer-top-xl">
    <div class="col-sm-4">
      <figcaption>Android</figcaption>
      <img ng-src="{{mobile.imgpaths.android}}/onboarding/1/mobile onboarding-1a.png" alt="" />
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/onboarding/1/mobile onboarding-1b.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/onboarding/1/mobile onboarding-1c.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/onboarding/1/mobile onboarding-1d.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/onboarding/1/mobile onboarding-1e.png" alt="" />
      </figure>
    </div>
  </div>



  <div class="row" >
    <div class="col-sm-12">
      <h1 class="doc-sectionhead">Sample Two</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-4">
      <figcaption>iOS</figcaption>
      <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/mobile onboarding-2a.png" alt="" />
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/mobile onboarding-2b.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/mobile onboarding-2c.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/mobile onboarding-2d.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/mobile onboarding-2e.png" alt="" />
      </figure>
    </div>
  </div>


  <div class="row spacer-top-xl">
    <div class="col-sm-4">
      <figcaption>Android</figcaption>
      <img ng-src="{{mobile.imgpaths.android}}/onboarding/2/mobile onboarding-2a.png" alt="" />
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/onboarding/2/mobile onboarding-2b.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/onboarding/2/mobile onboarding-2c.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/onboarding/2/mobile onboarding-2d.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/onboarding/2/mobile onboarding-2e.png" alt="" />
      </figure>
    </div>
  </div>




  <div class="row" >
    <div class="col-sm-12">
      <h1 class="doc-sectionhead">Sample Three</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-4">
      <figcaption>iOS</figcaption>
      <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/mobile onboarding-3a.png" alt="" />
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/mobile onboarding-3b.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/mobile onboarding-3c.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/mobile onboarding-3d.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/mobile onboarding-3e.png" alt="" />
      </figure>
    </div>
  </div>


  <div class="row spacer-top-xl">
    <div class="col-sm-4">
      <figcaption>Android</figcaption>
      <img ng-src="{{mobile.imgpaths.android}}/onboarding/3/mobile onboarding-3a.png" alt="" />
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/onboarding/3/mobile onboarding-3b.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/onboarding/3/mobile onboarding-3c.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/onboarding/3/mobile onboarding-3d.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/onboarding/3/mobile onboarding-3e.png" alt="" />
      </figure>
    </div>
  </div>




  <div class="row" >
    <div class="col-sm-12">
      <h1 class="doc-sectionhead">Sample Four</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-4">
      <figcaption>iOS</figcaption>
      <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/mobile onboarding-4a.png" alt="" />
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/mobile onboarding-4b.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/mobile onboarding-4c.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/mobile onboarding-4d.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.ios}}/onboarding/mobile onboarding-4e.png" alt="" />
      </figure>
    </div>
  </div>


  <div class="row spacer-top-xl">
    <div class="col-sm-4">
      <figcaption>Android</figcaption>
      <img ng-src="{{mobile.imgpaths.android}}/onboarding/4/mobile onboarding-4a.png" alt="" />
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/onboarding/4/mobile onboarding-4b.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/onboarding/4/mobile onboarding-4c.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/onboarding/4/mobile onboarding-4d.png" alt="" />
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" ng-src="{{mobile.imgpaths.android}}/onboarding/4/mobile onboarding-4e.png" alt="" />
      </figure>
    </div>
  </div>


</div>
