<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Elements</div>
          <h1>Buttons</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="text">Text</a></li>
            <li><a href="" du-smooth-scroll="icon">Icon</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="container">

  <div class="row" >
    <div class="col-md-8">
      <h1 id="text" class="doc-head">Text</h1>
      <p class="doc-lede">Morbi et nunc et quam tempus maximus ut ac dui. Donec interdum vel felis ac facilisis. Aliquam orci velit, congue nec libero quis, porta pulvinar sem. Etiam a sagittis dolor. Fusce laoreet congue nulla.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Basic Text Buttons</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <p>Morbi et nunc et quam tempus maximus ut ac dui. Donec interdum vel felis ac facilisis. Aliquam orci velit, congue nec libero quis, porta pulvinar sem. Etiam a sagittis dolor. Fusce laoreet congue nulla. Proin vulputate leo sed turpis tincidunt, ut pellentesque elit cursus. Phasellus iaculis nisi erat, id hendrerit lacus feugiat at. Donec lacinia sapien et semper placerat.</p>
    </div>

    <div class="col-md-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" src="modules/mobile/assets/images/iOS_buttons.png" alt="" />
      </figure>
    </div>

    <div class="col-md-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" src="modules/mobile/assets/images/Android_buttons.png" alt="" />
      </figure>
    </div>
  </div>


  <div class="row spacer-top-xl spacer-bottom-lg">
    <div class="col-md-12">
      <h3>Sample Usage</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" src="http://placehold.it/300x534" alt="" />
      </figure>
    </div>

    <div class="col-md-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" src="http://placehold.it/300x534" alt="" />
      </figure>
    </div>
  </div>



  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Borderless Text Button</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" src="http://placehold.it/300x534" alt="" />
      </figure>
    </div>

    <div class="col-md-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" src="http://placehold.it/300x534" alt="" />
      </figure>
    </div>
  </div>





  <div class="row" >
    <div class="col-md-8">
      <h1 id="icon" class="doc-head">Icon</h1>
      <p class="doc-lede">Morbi et nunc et quam tempus maximus ut ac dui. Donec interdum vel felis ac facilisis. Aliquam orci velit, congue nec libero quis, porta pulvinar sem. Etiam a sagittis dolor. Fusce laoreet congue nulla.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Basic Icon Buttons</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <p>Morbi et nunc et quam tempus maximus ut ac dui. Donec interdum vel felis ac facilisis. Aliquam orci velit, congue nec libero quis, porta pulvinar sem. Etiam a sagittis dolor. Fusce laoreet congue nulla. Proin vulputate leo sed turpis tincidunt, ut pellentesque elit cursus. Phasellus iaculis nisi erat, id hendrerit lacus feugiat at. Donec lacinia sapien et semper placerat.</p>
    </div>

    <div class="col-md-4">
      <figure>
        <figcaption>iOS</figcaption>
        <img class="img-responsive" src="http://placehold.it/300x534" alt="" />
      </figure>
    </div>

    <div class="col-md-4">
      <figure>
        <figcaption>Android</figcaption>
        <img class="img-responsive" src="http://placehold.it/300x534" alt="" />
      </figure>
    </div>
  </div>




</div>
