@media (min-width: 992px) {
  body.hamburger-auto {
    padding: 30px 0 0 300px;
  }
}



.hamburger {
  // hide the ds header
  //TODO: find an angular way
  header {
    display: none;
  }

  .close-burger {
    margin: 10px;
  }

  .site-content {
    min-height: calc(100vh - (40px + 44px)); // 40 footer margin, 44 footer height
  }


  .navbar-default {
    background-color: rgba(175, 67, 67, 1);
    background-image: linear-gradient(90deg, $pb-blue 0%, $pb-magenta 100%);
    border: 0;
    border-radius: 0;
    border-bottom: 0;

  }

/* Navigation Menu - Background */
  .offcanvas.sliding {
    box-shadow: 3px 0 10px hsla(0, 0, 0, .3);
  }







  .navbar-toggle {
    display: inline-block;
    position: relative;
    float: left;
    padding: 9px 10px;
    margin-top: 8px;
    margin-left: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    // z-index: 2000;
  }
  .navbar-brand.brand-text {
    font-family: 'PrecisionSans_W_Rg', 'Helvetica Neue', Arial, sans-serif;
    font-weight: normal;
  }
  &.hamburger-auto .navmenu .list-group {
    margin-top: 60px;
  }



  .burger-backdrop {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity .2s linear;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: #000;
    &.canvas-slid {
      display: block;
      background-color: #000;
      visibility: visible;
      opacity: .5;
    }

}


body {
	/* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
}

}// end hamburger

h1, h3, p {
  max-width: 600px;
  margin: 0 auto 1em;
}

body.hamburger.hamburger-slide[style="overflow: hidden;"] .burger-backdrop {
  background-color: #000;
  visibility: visible;
  opacity: .5;
}
