@media (min-width: 992px) {
  body.hamburger-auto {
    padding: 30px 0 0 300px;
  }
}



.hamburger {
  overflow-x: hidden;
  // hide the ds header
  //TODO: find an angular way
  header, #header {
    display: none;
  }

  .container-fluid {
    padding-left: 65px;
    padding-right: 65px;
  }
  .footer-wrapper .container {
    width: auto;
    padding-left: 65px;
    padding-right: 65px;
    margin-left: auto;
    margin-right: auto;
  }


  .site-content {
    min-height: calc(100vh - (40px + 44px)); // 40 footer margin, 44 footer height
  }


  .navbar-default {
    background-color: rgba(175, 67, 67, 1);
    background-image: linear-gradient(90deg, $pb-blue 0%, $pb-magenta 100%);
    border: 0;
    border-radius: 0;
    border-bottom: 0;
  }


  /* Navigation Menu - Background */
  .offcanvas.sliding {
    box-shadow: 3px 0 10px hsla(0, 0, 0, .3);
  }


  .navbar-toggle {
    display: inline-block;
    position: relative;
    float: left;
    padding: 17px 12px 17px 10px;
    margin: 0 0 0 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-right: 1px solid hsla(0, 0, 100%, .3);
    border-radius: 4px;
    // z-index: 2000;
  }
  .navbar-brand.brand-text {
    font-family: 'PrecisionSans_W_Rg', 'Helvetica Neue', Arial, sans-serif;
    font-weight: normal;
    margin-left: 0;
    padding-left: 12px;
  }

  .burger-backdrop {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity .2s linear;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: #000;
    &.canvas-slid {
      display: block;
      background-color: #000;
      visibility: visible;
      opacity: .5;
    }
  }

  &.hamburger-auto {
    .main-content {
      margin-top: 30px;
    }
    .navmenu .list-group {
      margin-top: 60px;
    }
  }
  &.hamburger-slide {
    .main-content {
      margin-top: 80px;
    }
    .navmenu .list-group {
      margin-top: 25px;
      .main-content {
        margin-top: 100px;
      }
    }
  }
  &.hamburger-push {
    .navmenu .list-group {
      margin-top: 20px;
    }
    .main-content {
      margin-top: 50px;
    }
    .close-burger {
      cursor: pointer;
      margin: 10px 15px;
      width: 21px;
      height: 21px;
      color: #3e53a4;
      background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9 Im5vIj8+Cjxzdmcgd2lkdGg9IjE3cHgiIGhlaWdodD0iMTdweCIgdmlld0JveD0i MCAwIDE3IDE3IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9y Zy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkv eGxpbmsiPgogICAgPGRlZnM+PC9kZWZzPgogICAgPGcgaWQ9IlBhZ2UtMSIgc3Ry b2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVs ZT0iZXZlbm9kZCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpv aW49InJvdW5kIj4KICAgICAgICA8ZyBpZD0iaWNvbi1iaXRzIiB0cmFuc2Zvcm09 InRyYW5zbGF0ZSgtMTYxLjAwMDAwMCwgLTE1OC4wMDAwMDApIiBzdHJva2U9IiMz RTUzQTQiIHN0cm9rZS13aWR0aD0iMiI+CiAgICAgICAgICAgIDxnIGlkPSJjbG9z ZSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTY5LjUwMDAwMCwgMTY2LjUwMDAwMCkg cm90YXRlKC00NS4wMDAwMDApIHRyYW5zbGF0ZSgtMTY5LjUwMDAwMCwgLTE2Ni41 MDAwMDApIHRyYW5zbGF0ZSgxNTkuMDAwMDAwLCAxNTYuMDAwMDAwKSI+CiAgICAg ICAgICAgICAgICA8cGF0aCBkPSJNMjAsMTAuNSBMMS4xMjI2NTc1MmUtMTIsMTAu NSIgaWQ9IkxpbmUiPjwvcGF0aD4KICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik0x MCwwLjUgTDEwLDIwLjUiIGlkPSJMaW5lIj48L3BhdGg+CiAgICAgICAgICAgIDwv Zz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==') center center no-repeat;
    }
    &.canvas-slid {
      .navbar-toggle {
        // margin-left: 30px;
        display: none;
      }
      .navbar-brand.brand-text {
        padding-left: 65px;
      }
    }
  }

  // collapsing version
  &.hamburger-collapse {
    .container-fluid {
      margin-left: 70px;
    }
    .footer-wrapper {
      z-index: 110;
    }

    .nav-left {
      position: absolute;
      width: 260px;
      min-height: calc(100vh - (50px + 44px));
      top: 50px;
      padding: 10px;
      z-index: 100;
      background-color: #fff;
      box-shadow: 3px 0 6px hsla(0, 0, 0, .3);
      transition: width .8s;
      transition-delay: .3s;
      .minified & {
        width: 50px;
      }
    }

    .nav-container {
      margin-left: 275px;
      padding-left: 30px;
      transition: margin-left .6s;
      transition-delay: margin-left .5s;

      .minified & {
        margin-left: 70px;
      }
    }

    .menu {
      $indent: 10px;

      > li {
        &.open {
          .menu-heading {
            i, .menu-title, b {
              transition: all .3s;
              color: $brand-primary;
            }
          }
        }

        .minified & {
          &:hover {
            .menu-heading {
              transition: none;
              background-color: $pb-bg2;
              width: 200px;
            }

            .menu-title {
              display: inline-block !important;
              background-color: $pb-bg2;
              font-weight: 700;
            }
            .menu-content {
              transition: all .3s;
              background-color: $pb-bg2;
              position: absolute;
              width: 165px;
              left: 45px;
              display: block !important;
              li {
                a {
                  padding: 5px;
                }
              }
            }
          }
        }
      }

      .menu-heading {
        white-space: nowrap;
        padding: 5px 3px;
        font-family: $font-family-ps-regular;
        font-size: 14px;
        color: $brand-primary;
        text-decoration: none;
        display: block;
        cursor: pointer;
        position: relative;

        i.fa {
          margin-right: $indent;
        }

        &:hover {
          background-color: $bg-hover;
          transition: all .3s;
          color: $brand-primary;
        }
      }

      .menu-content {
        display: none;
        li {
          white-space: nowrap;
          &:hover {
            background: $pb-bg2;
            color: $brand-primary;
          }
          a {
            color: $text-color;
            text-decoration: none;
            padding-left: $indent + 31px;
            padding-top: 5px;
            padding-bottom: 5px;
            display: block;
            cursor: pointer;
            &:hover {
              color: $brand-primary;
            }
            &.active {
              color: $brand-primary;
            }
          }
        }
      }

      .menu-collapse {
        cursor: default;
        padding-left: 3px;
        // the icon itself
        i.fa {
          cursor: pointer;
          transition: all .3s;

          &:hover {
            transition: all .3s;
            color: $brand-primary;
          }
          &:before {
            content: '\f0a8';
          }
        }

        .minified & {
          i.fa {
            transition: all .3s;
            transform: rotate(180deg);
          }
          // ie8
          .no-csstransforms & {
            i.fa:before {
              content: '\f0a9';
            }
          }
        }
      }
    }
  }
}// end hamburger


body.hamburger.hamburger-slide[style='overflow: hidden;'] .burger-backdrop {
  background-color: #000;
  visibility: visible;
  opacity: .5;
}
