<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Content</div>
          <h1>Overview</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a ui-sref="content.overview({'#':'domains'})">Writing Domains</a></li>
            <li><a ui-sref="content.overview({'#':'products'})">Product Content</a></li>
            <li><a ui-sref="content.overview({'#':'checklist'})">Brand Voice Checklist</a></li>
            <li><a ui-sref="content.overview({'#':'resources'})">Guidance Resources</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="container">

  <div class="row spacer-top-xl">
    <div class="col-md-8">
      <p class="doc-lede">Content is a critical part of the user experience. Even the best-designed product won’t be usable to customers if its on-screen copy or supporting materials are is confusing, inaccurate or inconsistent. So treat your product’s writing and other communication assets as seriously as you would any other aspect of its development.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1 id="domains" class="doc-head">Writing Domains</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-md-8">
      <p>Two writing domains inform all Pitney Bowes communications and determine how well our writing supports our brand at the product level:</p>
      <ul>
        <li><a href="" ui-sref="content.voice">Tone of voice</a>: copywriting that aligns with our brand’s personality attributes</li>
        <li><a href="" ui-sref="content.style">Editorial style</a>: grammar, capitalization, usage, and point of view</li>
        <!-- <li><a href="" ui-sref="content.terminology">Terminology</a>: words and phrases used to express concepts, features and functions in a consistent way</li> -->
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1 id="checklist" class="doc-head">Brand Voice Checklist</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <p>The Brand Voice Checklist is a quick, one-page reference for writing user-facing copy for our products. It summarizes the basic principles of writing in our brand voice, along with key globalization and style considerations. <a href="assets/images/brand-voice-checklist.pdf" target="_blank">Download the checklist</a></p>

       <p>We offer a basic workshop that provides an introduction to our brand voice along with strategies for applying it in a product context. <a href="mailto:designsystem@pb.com">Contact us</a> if you’d like to schedule this workshop for your team.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1 id="products" class="doc-head">Product Content</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-md-8">
      <h3>Core Content</h3>
      <p>This guidance deals with how to apply the overall Pitney Bowes brand voice to your products. In most cases this applies to the copy the user sees on the screen while using your responsive web or mobile apps — items like:</p>
      <ul>
        <li><a href="" ui-sref="patterns.errorpages">Errors</a>, <a href="" ui-sref="elements.popovers({'#':'modals'})">modals</a> and other <a href="" ui-sref="feedback.page">user feedback</a> copy</li>
        <li>Textual headers, menus, buttons, inputs and other <a href="" ui-sref="elements.uicontrols({'#':'writing'})">UI elements</a></li>
        <li><a href="" ui-sref="patterns.gettingstarted">Getting started</a>, <a href="" ui-sref="patterns.signinup">sign in and sign up</a>, and account-related screens</li>
      </ul>
    </div>
  </div>



  <div class="row">
    <div class="col-md-8">
      <h3>Supporting Content</h3>
      <p>Other user-facing materials are created by various different teams at Pitney Bowes in areas like marketing, documentation and support. These materials include:</p>
      <ul>
        <li>“Welcome” and other customer emails</li>
        <li>Equipment manuals, SendKits and other printed materials</li>
        <li>Help systems, FAQs and other online product support content</li>
      </ul>
      <p>It’s a good idea to coordinate with your colleagues in other departments when launching a product to ensure that its content is consistent across the entire communications spectrum and lifecycle.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1 id="resources" class="doc-head">Other Guidance Resources</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-md-8">
      <h5>Tone of Voice Training</h5>
      <p>If you’d like to delve deeper in the Pitney Bowes brand and voice guidance, here are some places to start.</p>
      <ul>
        <li><a href="http://pbdesignsystem.com/brand_training/brand_101/story.html" target="_blank">Brand 101 training</a></li>
        <li><a href="http://pbdesignsystem.com/brand_training/tone_of_voice/story.html" target="_blank">Tone of voice training</a></li>
        <li><a href="http://pbbrandcentral.com/content/pbdam/en/guidelines/voice.html" target="_blank">Brand guidelines: voice</a></li>
      </ul>

      <h5>Content Guidelines</h5>
      <p>In addition to the design-related guidance found in the Design System, here are other guidelines to help inform your writing and content work:</p>
      <ul>
        <li>Marketing/Brand: <a href="http://pbbrandcentral.com/content/dam/PitneyBowes/Assets/Brand%20Assets/Quick-Reference-Guides/15_MKTC_09697_Copy%20Style%20Guidelines_121015.pdf.form.html/content/pbdam/en/test-asset-editor.html" target="_blank">Copy style guidelines</a> (PDF)</li>
        <li>Knowledge/Support: <a href="modules/content/assets/images/KCS%20Style%20Guide.pdf" target="_blank">Style guide</a> (PDF)</li>
      </ul>
    </div>
  </div>
</div>
