<h1>Colors</h1>
<div ng-controller="ColorsCtrl">

  <section class="row">
    <div class="col-md-12">
      <h3 class="section-head">Primary</h3>
      <div class="row color-swatches">
        <div class="col-md-2 col-xs-12" ng-repeat="c in colorData.primary">
          <div class="color-swatch" style="background-color:{{c.hex}}"></div>
          {{c.name}}<br>
          {{c.hex}}<br>
          <small>{{c.varname}}</small>
        </div>
      </div>

      <h3 class="section-head">Secondary</h3>
      <div class="row color-swatches">
        <div class="col-md-2 col-xs-12 color-swatch-container" ng-repeat="c in colorData.secondary" ng-class="{clearRow: $index==5}">
          <div class="color-swatch" style="background-color:{{c.hex}}"></div>
          {{c.name}}<br>
          {{c.hex}}<br>
          <small>{{c.varname}}</small>
        </div>
      </div>

        <h3 class="section-head">Neutrals</h3>
        <div class="row color-swatches">
            <div class="col-md-2 col-xs-12 color-swatch-container" ng-repeat="c in colorData.neutrals" ng-class="{clearRow: $index==5}">
                <div class="color-swatch" style="background-color:{{c.hex}}"></div>
                {{c.name}}<br>
                {{c.hex}}<br>
                <small>{{c.varname}}</small>
            </div>
        </div>




      <h3 class="section-head">Functional Colors</h3>
      <div class="row color-swatches">
        <div class="col-md-2 col-xs-12">
          <div class="color-swatch brand-danger"></div>
          <p>Error
            <br>#CC0000
            <br><small>$brand-danger</small>
          </p>
        </div>
        <div class="col-md-2 col-xs-12">
          <div class="color-swatch alert-danger"></div>
          <p>#FAE6E6/#F5CCCC
            <br><small>$alert-danger-bg/<br>$alert-danger-border</small>
          </p>
        </div>
        <div class="col-md-2 col-xs-12">
          <div class="color-swatch brand-warning"></div>
          <p>Warning
            <br>#826000
            <br><small>$brand-warning</small>
          </p>
        </div>
        <div class="col-md-2 col-xs-12">
          <div class="color-swatch alert-warning"></div>
          <p>#fbf0e8/#fae2cf
            <br><small>$alert-warning-bg/<br>$alert-warning-border</small>
          </p>
        </div>

      </div>

      <div class="row color-swatches">
        <div class="col-md-2 col-xs-12">
          <div class="color-swatch brand-success"></div>
          <p>Success
            <br>#007D00
            <br><small>$brand-success</small>
          </p>
        </div>
        <div class="col-md-2 col-xs-12">
          <div class="color-swatch alert-success"></div>
          <p>#e9f3ed/#d0ebda
            <br><small>$alert-success-bg/<br>$alert-success-border</small>
          </p>
        </div>
        <div class="col-md-2 col-xs-12">
          <div class="color-swatch brand-info"></div>
          <p>Info
            <br>#0070C4
            <br><small>$brand-info</small>
          </p>
        </div>
        <div class="col-md-2 col-xs-12">
          <div class="color-swatch alert-info"></div>
          <p>#eceef5/#cfd4e8
            <br><small>$alert-info-bg/<br>$alert-info-border</small>
          </p>
        </div>
      </div>


      <h3 class="section-head">Chart Colors</h3>
        <div class="row color-swatches">
            <div class="col-md-2 col-xs-12 color-swatch-container" ng-repeat="c in colorData.charts" ng-class="{clearRow: $index==6}">
                <div class="color-swatch" style="background-color:{{c.hex}}"></div>
                {{c.name}}<br>
                {{c.hex}}<br>
                <small>{{c.varname}}</small>
            </div>
        </div>


        <h3 class="section-head">Chart Blue Tints</h3>
        <div class="row color-swatches">
            <div class="col-md-2 col-xs-12 color-swatch-container" ng-repeat="c in colorData.blues" ng-class="{clearRow: $index==6}">
                <div class="color-swatch" style="background-color:{{c.hex}}"></div>
                {{c.name}}<br>
                {{c.hex}}<br>
                <small>{{c.varname}}</small>
            </div>
        </div>

      <h3 class="section-head">Gray Tints</h3>
      <div class="row color-swatches">
        <div class="col-md-2 col-xs-12 color-swatch-container" ng-repeat="c in colorData.chartgrays" ng-class="{clearRow: $index==6}">
          <div class="color-swatch" style="background-color:{{c.hex}}"></div>
          {{c.name}}<br>
          {{c.hex}}<br>
          <small>{{c.varname}}</small>
        </div>
      </div>

    </div>
  </section>

  <section class="row" id="chords">
    <h3 class="section-head">Color Chords</h3>
    <div class="col-md-3 chord-display" ng-repeat="i in [1,2,3]" id="chord{{i}}">
      <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" version="1.1" id="Layer_1" x="0" y="0" viewBox="0 0 150.2 150.2" xml:space="preserve" enable-background="new 0 0 150.2 150.2">
        <g>
          <path d="M75 38c20.4 0 37.1 16.8 37.1 37.2 0 0.2 0.1-0.2 0.1 0.8h38c0-1 0-0.6 0-0.8 0-41.4-33.8-75.1-75.2-75.1 -0.2 0 0.2-0.1-0.8-0.1v38C75.2 38 74.8 38 75 38z" class="color1" />
          <path d="M38 75.2C38 55 54.2 38.3 74.2 38V0C33.2 0.3 0 34 0 75.2 0 75.4 0.3 75 0.3 76h38C38.3 75 38 75.4 38 75.2z" class="color4" />
          <path d="M38.3 76h-38c0.3 41 33 73.7 74 74v-38C54.2 111.7 38.5 96 38.3 76z" class="color3" />
          <path d="M112.2 76c-0.3 20-17 36.2-37.2 36.2 -0.2 0 0.2-0.3-0.8-0.3v38c1 0 0.6 0.3 0.8 0.3 41.3 0 75-33.3 75.2-74.3H112.2z" class="color2" />
        </g>
      </svg>
      <div>
        <h5 class="color1">Type in one hue.</h5>
        <p class="small">Combined with neutral palette:</p>
        <p><span style="color:#000;">Black</span><br>
        <span style="color:#4e4e4e;">Dark gray</span><br>
        <span style="color:#9b9b9b;">Gray</span></p>
      </div>
    </div>
  </section>

  <section class="row">
    <h3 class="sh">Chart Colors in Use</h3>

    <section class="row">

      <div class="col-xs-12 col-md-12 col-lg-6">

        <div class="color-chart-nested">
          <div dataset="colorCharts.grayscale.donut.data" options="colorCharts.grayscale.donut.options" width="250px" height="250px" flot></div>
          <div class="pie" dataset="colorCharts.grayscale.pie.data" options="colorCharts.grayscale.pie.options" width="80px" height="80px" flot></div>
        </div>

        <ul class="list-unstyled color-blocks" ng-repeat="c in colorData.chartgrays">
          <li><span class="gray{{$index+1}}"></span> {{c.hex}}</li>
        </ul>

      </div>

      <div class="col-xs-12 col-md-12 col-lg-6">

        <div class="color-chart-nested">
          <div dataset="colorCharts.blue.donut.data" options="colorCharts.blue.donut.options" width="250px" height="250px" flot></div>
          <div class="pie" dataset="colorCharts.blue.pie.data" options="colorCharts.blue.pie.options" width="80px" height="80px" flot></div>
        </div>

        <ul class="list-unstyled color-blocks" ng-repeat="c in colorData.chartblues" >
          <li><span class="blue{{$index+1}}"></span> {{c.hex}}</li>
        </ul>

      </div>

    </section>

    <section class="row">
      <div class="col-md-6 text-center">
        <div class="chart" jq-sparkline ng-model="sparkline" data="colorCharts.grayscale.bar.data" options="colorCharts.grayscale.bar.options"></div>
      </div>

      <div class="col-md-6 text-center">
        <div class="chart" jq-sparkline ng-model="sparkline" data="colorCharts.blue.bar.data" options="colorCharts.blue.bar.options"></div>
      </div>
    </section>


    <section class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4 col-xs-4">
            <div dataset="donutsVaried.donut01.data" options="donutsVaried.donut01.options" width="140px" height="140px" flot></div>
          </div>
          <div class="col-md-4 col-xs-4">
            <div dataset="donutsVaried.donut02.data" options="donutsVaried.donut02.options" width="140px" height="140px" flot></div>
          </div>
          <div class="col-md-4 col-xs-4">
            <div dataset="donutsVaried.donut03.data" options="donutsVaried.donut03.options" width="140px" height="140px" flot></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4 col-xs-4">
            <div class="piechart text-center" ng-model="radial_01">
              <div easypiechart options="radial_01.options" percent="radial_01.percent"></div>
              <span>{{radial_01.percent}}%</span>
            </div>
          </div>
          <div class="col-md-4 col-xs-4">
            <div class="piechart tetext-center" ng-model="radial_02">
              <div easypiechart options="radial_02.options" percent="radial_02.percent"></div>
              <span>{{radial_02.percent}}%</span>
            </div>
          </div>
          <div class="col-md-4 col-xs-4">
            <div class="piechart tetext-center" ng-model="radial_03">
              <div easypiechart options="radial_03.options" percent="radial_03.percent"></div>
              <span>{{radial_03.percent}}%</span>
            </div>
          </div>
        </div>
      </div>


    </section>


    <section class="row">
      <div class="col-md-6 text-center">
        <p>Color Order 2: Success Rate</p>
        <div class="color-swatches ">
          <span class="color-swatch color-swatch-small chart-green"></span>
          <span class="color-swatch color-swatch-small chart-blue"></span>
          <span class="color-swatch color-swatch-small chart-purple"></span>
          <span class="color-swatch color-swatch-small chart-yellow"></span>
          <span class="color-swatch color-swatch-small chart-orange"></span>
          <span class="color-swatch color-swatch-small chart-red"></span>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <p>Color Order 2: Bar Graph</p>
        <div class="chart" data="bar_chart_01.data" options="bar_chart_01.options" jq-sparkline></div>
      </div>
    </section>








    <section class="row">
      <div class="col-md-6 text-center">
        <p>Color Order 2: Percentage Charts</p>
        <section class="row">
          <div class="col-md-4 col-xs-4 text-center">
            <div class="piechart" ng-model="percentage_01">
              <div easypiechart options="percentage_01.options" percent="percentage_01.percent"></div>
              <span>{{percentage_01.percent}}%</span>
            </div>
          </div>

          <div class="col-md-4 col-xs-4 text-center">
            <div class="piechart" ng-model="percentage_02">
              <div easypiechart options="percentage_02.options" percent="percentage_02.percent"></div>
              <span>{{percentage_02.percent}}%</span>
            </div>
          </div>

          <div class="col-md-4 col-xs-4 text-center">
            <div class="piechart" ng-model="percentage_03">
              <div easypiechart options="percentage_03.options" percent="percentage_03.percent"></div>
              <span>{{percentage_03.percent}}%</span>
            </div>
          </div>
        </section>


        <section class="row">
          <div class="col-md-4 col-xs-4 text-center">
            <div class="piechart" ng-model="percentage_04">
              <div easypiechart options="percentage_04.options" percent="percentage_04.percent"></div>
              <span>{{percentage_04.percent}}%</span>
            </div>
          </div>

          <div class="col-md-4 col-xs-4 text-center">
            <div class="piechart" ng-model="percentage_05">
              <div easypiechart options="percentage_05.options" percent="percentage_05.percent"></div>
              <span>{{percentage_05.percent}}%</span>
            </div>
          </div>

          <div class="col-md-4 col-xs-4 text-center">
            <div class="piechart" ng-model="percentage_06">
              <div easypiechart options="percentage_06.options" percent="percentage_06.percent"></div>
              <span>{{percentage_06.percent}}%</span>
            </div>
          </div>
        </section>


        <section class="row">
          <div class="col-md-6 col-xs-6 text-center">
            <p>Color Order 1:
              <br>Donut Chart</p>
            <div class="donut" dataset="donut_chart.data" options="donut_chart.options" width="100px" height="100px" flot></div>
          </div>

          <div class="col-md-6 col-xs-6 text-center">
            <p>Color Order 2:
              <br>Pie Chart</p>
            <div class="pie" dataset="pie_chart.data" options="pie_chart.options" width="100px" height="100px" flot></div>
          </div>
        </section>

      </div>



      <div class="col-md-6">

        <div class="row">
          <div class="col-md-6 col-xs-6 text-center">
            <p>Every Other 1</p>
            <div class="pie" dataset="tri_pie_01.data" options="tri_pie_01.options" width="100px" height="100px" flot></div>
          </div>

          <div class="col-md-6 col-xs-6 text-center">
            <p>Every Other 2</p>
            <div class="pie" dataset="tri_pie_02.data" options="tri_pie_02.options" width="100px" height="100px" flot></div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-xs-6 text-center">
            <p>First Three</p>
            <div class="pie" dataset="tri_pie_03.data" options="tri_pie_03.options" width="100px" height="100px" flot></div>
          </div>

          <div class="col-md-6 col-xs-6 text-center">
            <p>Last Three</p>
            <div class="pie" dataset="tri_pie_04.data" options="tri_pie_04.options" width="100px" height="100px" flot></div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-xs-6 text-center">
            <p>Traffic Light</p>
            <div class="pie" dataset="tri_pie_05.data" options="tri_pie_05.options" width="100px" height="100px" flot></div>
          </div>

          <div class="col-md-6 col-xs-6 text-center">
            <p>Monochrome</p>
            <div class="pie" dataset="tri_pie_06.data" options="tri_pie_06.options" width="100px" height="100px" flot></div>
          </div>
        </div>

      </div>
    </section>




  </section>




  </section>

</div>
