@font-face {
  font-family: "PrecisionSans_W_Rg";
  font-weight: "400";
  font-style: "normal";
  src: url("../fonts/PrecisionSans_W_Rg.eot");
  src: url("../fonts/PrecisionSans_W_Rg.eot?#iefix") format("embedded-opentype"), url("../fonts/PrecisionSans_W_Rg.woff") format("woff"), url("../fonts/PrecisionSans_W_Rg.ttf") format("truetype"), url("../fonts/PrecisionSans_W_Rg.svg#PrecisionSans_W_Rg") format("svg"); }
@font-face {
  font-family: "PrecisionSans_W_Bd";
  font-weight: "700";
  font-style: "normal";
  src: url("../fonts/PrecisionSans_W_Bd.eot");
  src: url("../fonts/PrecisionSans_W_Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/PrecisionSans_W_Bd.woff") format("woff"), url("../fonts/PrecisionSans_W_Bd.ttf") format("truetype"), url("../fonts/PrecisionSans_W_Bd.svg#PrecisionSans_W_Bd") format("svg"); }
@font-face {
  font-family: "PrecisionSans_W_RgIt";
  font-weight: "400";
  font-style: "italic";
  src: url("../fonts/PrecisionSans_W_RgIt.eot");
  src: url("../fonts/PrecisionSans_W_RgIt.eot?#iefix") format("embedded-opentype"), url("../fonts/PrecisionSans_W_RgIt.woff") format("woff"), url("../fonts/PrecisionSans_W_RgIt.ttf") format("truetype"), url("../fonts/PrecisionSans_W_RgIt.svg#PrecisionSans_W_RgIt") format("svg"); }
@font-face {
  font-family: "PrecisionSans_W_BdIt";
  font-weight: "700";
  font-style: "italic";
  src: url("../fonts/PrecisionSans_W_BdIt.eot");
  src: url("../fonts/PrecisionSans_W_BdIt.eot?#iefix") format("embedded-opentype"), url("../fonts/PrecisionSans_W_BdIt.woff") format("woff"), url("../fonts/PrecisionSans_W_BdIt.ttf") format("truetype"), url("../fonts/PrecisionSans_W_BdIt.svg#PrecisionSans_W_BdIt") format("svg"); }
@font-face {
  font-family: "PrecisionSans_W_Lt";
  font-weight: "300";
  font-style: "normal";
  src: url("../fonts/PrecisionSans_W_Lt.eot");
  src: url("../fonts/PrecisionSans_W_Lt.eot?#iefix") format("embedded-opentype"), url("../fonts/PrecisionSans_W_Lt.woff") format("woff"), url("../fonts/PrecisionSans_W_Lt.ttf") format("truetype"), url("../fonts/PrecisionSans_W_Lt.svg#PrecisionSans_W_Lt") format("svg"); }
@font-face {
  font-family: "PrecisionSans_W_LtIt";
  font-weight: "300";
  font-style: "italic";
  src: url("../fonts/PrecisionSans_W_LtIt.eot");
  src: url("../fonts/PrecisionSans_W_LtIt.eot?#iefix") format("embedded-opentype"), url("../fonts/PrecisionSans_W_LtIt.woff") format("woff"), url("../fonts/PrecisionSans_W_LtIt.ttf") format("truetype"), url("../fonts/PrecisionSans_W_LtIt.svg#PrecisionSans_W_LtIt") format("svg"); }
@font-face {
  font-family: "PrecisionSans_W_Md";
  font-weight: "500";
  font-style: "normal";
  src: url("../fonts/PrecisionSans_W_Md.eot");
  src: url("../fonts/PrecisionSans_W_Md.eot?#iefix") format("embedded-opentype"), url("../fonts/PrecisionSans_W_Md.woff") format("woff"), url("../fonts/PrecisionSans_W_Md.ttf") format("truetype"), url("../fonts/PrecisionSans_W_Md.svg#PrecisionSans_W_Md") format("svg"); }
@font-face {
  font-family: "PrecisionSans_W_MdIt";
  font-weight: "500";
  font-style: "italic";
  src: url("../fonts/PrecisionSans_W_MdIt.eot");
  src: url("../fonts/PrecisionSans_W_MdIt.eot?#iefix") format("embedded-opentype"), url("../fonts/PrecisionSans_W_MdIt.woff") format("woff"), url("../fonts/PrecisionSans_W_MdIt.ttf") format("truetype"), url("../fonts/PrecisionSans_W_MdIt.svg#PrecisionSans_W_MdIt") format("svg"); }
.ps-light, .hero .hero-unit h1, .hero .hero-unit h2, .ps-light.italic,
.ps-light em,
.ps-light i, h1,
h2,
h3, .nav-tabs > li > a,
.nav-pills > li > a, .btn, .panel-heading, #header .navbar .navbar-brand.brand-text,
#header .navbar .container .navbar-brand.brand-text,
header .navbar .navbar-brand.brand-text,
header .navbar .container .navbar-brand.brand-text, .nav.navbar-nav, .hero .hero-menu > li, .ps-light b,
.ps-light strong, p.lead,
p.lede, .media-heading, dt, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ps-light, .hero .hero-unit h1, .hero .hero-unit h2 {
  font-family: 'PrecisionSans_W_Lt', Arial, sans-serif;
  font-weight: 300;
  font-style: normal; }

.ps-light.italic,
.ps-light em,
.ps-light i {
  font-family: 'PrecisionSans_W_LtIt', Arial, sans-serif;
  font-weight: 300;
  font-style: normal; }

h1,
h2,
h3, .nav-tabs > li > a,
.nav-pills > li > a, .btn, .panel-heading, #header .navbar .navbar-brand.brand-text,
#header .navbar .container .navbar-brand.brand-text,
header .navbar .navbar-brand.brand-text,
header .navbar .container .navbar-brand.brand-text, .nav.navbar-nav, .hero .hero-menu > li {
  font-family: 'PrecisionSans_W_Rg', Arial, sans-serif;
  font-weight: 400;
  font-style: normal; }

.ps-light b,
.ps-light strong {
  font-family: 'PrecisionSans_W_Md', Arial, sans-serif;
  font-weight: 500;
  font-style: normal; }

p.lead,
p.lede, .media-heading, dt {
  font-family: 'PrecisionSans_W_Bd', Arial, sans-serif;
  font-weight: normal;
  font-style: normal; }

.serif {
  font-family: Georgia, Times, "Times New Roman", serif; }

.sans {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

code,
.code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 18px;
  font-weight: bold; }

h6 {
  font-size: 16px;
  font-weight: bold; }

h1,
h2,
h3 {
  -webkit-font-variant-ligatures: common-ligatures;
          font-variant-ligatures: common-ligatures;
  color: #0082d5; }

h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.media-heading {
  font-weight: normal !important; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #9b9b9b; }

a {
  color: #3e53a4; }
  a:hover {
    color: #687cc6; }
  a.read-more {
    font-size: 14px;
    white-space: nowrap; }
    a.read-more:after {
      content: '\2026'; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #4e4e4e; }
  body .has-error {
    color: #b92222; }

dl dt {
  margin-top: 10px; }

ul.spaced > li,
ol.spaced > li {
  margin-top: 10px; }
  ul.spaced > li:first-child,
  ol.spaced > li:first-child {
    margin-top: 0; }

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 0;
  padding-left: 1.5em; }

.btn:focus {
  outline: none !important; }

.fa-active {
  color: #0082d5; }

label {
  font-size: 14px;
  font-weight: normal;
  color: #4e4e4e; }

.panel-heading td,
.panel-heading th {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

#header .navbar .navbar-brand.brand-text,
#header .navbar .container .navbar-brand.brand-text,
header .navbar .navbar-brand.brand-text,
header .navbar .container .navbar-brand.brand-text {
  font-weight: 400 !important; }

.checkboxList span {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

small,
.small {
  font-size: 85%; }

cite {
  font-style: normal; }

.text-large {
  font-size: 18px; }

.text-small {
  font-size: 14px; }

.text-xs {
  font-size: 12px; }

.text-mouse {
  font-size: 10px; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-primary {
  color: #0082d5; }

.text-muted {
  color: silver; }

.text-success {
  color: #00b140; }

.text-info {
  color: #3e53a4; }

.text-warning {
  color: #ee6b0b; }

.text-danger {
  color: #b92222; }

.serif,
.serif p {
  font-family: Georgia, Times, "Times New Roman", serif; }

.help-block {
  font-size: 14px; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: table;
    content: ''; }
  .clearfix:after {
    clear: both; }

.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer; }

.debug {
  border: 1px solid #f00; }
  .debug.green {
    border-color: #008000; }
  .debug.pink {
    border-color: #ffc0b0; }

.hero {
  height: 640px;
  background-image: url("../images/livepreview_keyboard.jpg");
  background-size: cover; }
  .hero .hero-unit {
    margin-top: 80px;
    color: #fff;
    border-top: 2px solid #fff; }
    .hero .hero-unit h1 {
      font-size: 36px;
      padding-top: 20px;
      color: #fff; }
    .hero .hero-unit h2 {
      font-size: 22px;
      line-height: 1.3;
      color: #fff; }
  .hero .hero-menu {
    padding-left: 0;
    list-style-type: none; }
    .hero .hero-menu > li {
      font-size: 18px;
      margin-top: 30px;
      padding-top: 10px;
      border-top: 1px solid #e0b1de; }
      .hero .hero-menu > li a {
        color: #e0b1de; }
        .hero .hero-menu > li a:hover {
          text-decoration: none; }
      .hero .hero-menu > li ul {
        margin-top: 5px;
        padding-left: 0;
        list-style-type: none;
        -webkit-column-count: 3;
           -moz-column-count: 3;
                column-count: 3; }
        .hero .hero-menu > li ul li a {
          color: #fff; }
    .hero .hero-menu .dropdown-header, .hero .hero-menu .divider, .hero .hero-menu .optional {
      display: none; }

.home #footer {
  margin-top: 0; }

.chord-display {
  margin-bottom: 20px; }

#chord1 .color1 {
  color: #0082d5;
  fill: #0082d5; }
#chord1 .color2 {
  color: #3e53a4;
  fill: #3e53a4; }
#chord1 .color3 {
  color: silver;
  fill: silver; }
#chord1 .color4 {
  color: #a03f9b;
  fill: #a03f9b; }

#chord2 .color1 {
  color: #ee6b0b;
  fill: #ee6b0b; }
#chord2 .color2 {
  color: #cf0989;
  fill: #cf0989; }
#chord2 .color3 {
  color: silver;
  fill: silver; }
#chord2 .color4 {
  color: #edb700;
  fill: #edb700; }

#chord3 .color1 {
  color: #00b140;
  fill: #00b140; }
#chord3 .color2 {
  color: #3e53a4;
  fill: #3e53a4; }
#chord3 .color3 {
  color: silver;
  fill: silver; }
#chord3 .color4 {
  color: #0082d5;
  fill: #0082d5; }

section.row {
  margin-bottom: 60px; }

h3.section-head,
h3.sh {
  clear: both;
  margin: 50px 0 20px; }
  h3.section-head:first-child,
  h3.sh:first-child {
    margin-top: 0; }

h6.sh {
  clear: both;
  margin-top: 40px; }
  h6.sh:first-child {
    margin-top: 0; }

hr {
  margin-top: 30px;
  margin-bottom: 30px; }

.grid-sample .panel {
  border: 0;
  border-top: 3px solid #9b9b9b;
  border-radius: 0; }

.header-title {
  margin-top: 40px;
  margin-bottom: 20px; }

.footer-title {
  margin-top: 60px;
  margin-bottom: 20px; }

.header-example {
  margin-bottom: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); }

.footer-example {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }
  .footer-example.footer-last {
    margin-bottom: 120px; }

.pseudo {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  border-bottom: 10px solid transparent;
  background-color: #fff;
  background-clip: padding-box;
  -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.55) 0 1px 2px); }

.pseudo:after {
  position: absolute;
  z-index: 1;
  bottom: -10px;
  left: 0;
  display: block;
  width: 100%;
  height: 10px;
  content: '';
  background-image: -webkit-linear-gradient(45deg, transparent 33.333%, #fff 33.333%, #fff 66.667%, transparent 66.667%), -webkit-linear-gradient(135deg, transparent 33.333%, #fff 33.333%, #fff 66.667%, transparent 66.667%);
  background-image: linear-gradient(45deg, transparent 33.333%, #fff 33.333%, #fff 66.667%, transparent 66.667%), linear-gradient(-45deg, transparent 33.333%, #fff 33.333%, #fff 66.667%, transparent 66.667%);
  background-repeat: repeat-x;
  background-position: 50% -30px;
  background-size: 20px 40px; }

.piechart {
  position: relative;
  display: inline-block; }
  .piechart span {
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 35%;
    text-align: center; }

.sparkline .chart {
  display: inline-block;
  float: left; }
.sparkline .caption {
  display: inline-block;
  float: left;
  margin-left: 10px; }
.sparkline h6 {
  margin-top: 0;
  margin-bottom: 0; }
.sparkline h2 {
  margin-top: 0;
  margin-bottom: 0; }

legend .more-info,
h3 .more-info,
h1 .more-info {
  font-size: 14px;
  line-height: 1;
  float: right;
  margin-top: 10px; }

.settings {
  position: fixed;
  z-index: 2000;
  top: 60px;
  right: -150px;
  width: 185px;
  height: 100px;
  -webkit-transition: all .3s;
          transition: all .3s; }
  .settings.activate {
    right: 0;
    width: 185px; }
  .settings .settings-tab {
    float: left;
    width: 35px;
    padding: 5px;
    text-align: center;
    color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #333;
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.3); }
    .settings .settings-tab:hover {
      cursor: pointer; }
    .settings .settings-tab:active {
      background: #71a6b9; }
  .settings .settings-form {
    float: right;
    width: 150px;
    height: 125px;
    padding: 0 10px 10px 15px;
    color: #fff;
    border-bottom-left-radius: 5px;
    background-color: #333;
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.3); }
    .settings .settings-form label {
      font-size: 12px !important;
      color: #fff; }

p[class^='bg'] {
  padding: 10px; }

.row-left-border {
  border-left: 1px solid #9b9b9b; }

.color-swatches {
  margin-bottom: 20px; }
  .color-swatches .color-swatch-container {
    margin-bottom: 30px; }
  .color-swatches .color-swatch {
    display: block;
    width: 100%;
    height: 72px;
    margin-bottom: 5px; }
    .color-swatches .color-swatch[class*='alert'] {
      border-right-width: 16px;
      border-right-style: solid; }
    .color-swatches .color-swatch.color-swatch-small {
      display: inline-block;
      width: 33px;
      height: 33px; }
  .color-swatches p {
    font-size: 14px;
    color: #4e4e4e; }
    .color-swatches p small {
      font-size: 11px;
      line-height: 1.2; }

.color-chart-nested {
  position: relative;
  float: left;
  margin-right: 30px; }
  .color-chart-nested .pie {
    position: absolute;
    top: 86px;
    left: 86px; }

.color-blocks li {
  margin-bottom: 7px; }
  .color-blocks li span {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 15px;
    vertical-align: middle; }

.donut-varied-padded {
  margin-right: 25px;
  margin-left: 25px; }

.fpo-grad {
  padding: 10px;
  background-color: #aaa; }

.glyphicons li {
  font-size: .8em;
  margin-bottom: 20px;
  text-align: center; }

.text-center .pie,
.text-center .donut {
  width: 100px;
  margin: 0 auto 20px; }

.clearRow {
  clear: left; }

.brand-primary {
  background-color: #0082d5; }

.brand-success {
  background-color: #00b140; }

.brand-danger {
  background-color: #b92222; }

.brand-info {
  background-color: #3e53a4; }

.brand-warning {
  background-color: #ee6b0b; }

.chart-green {
  background-color: #00b140; }

.chart-blue {
  background-color: #009bdf; }

.chart-purple {
  background-color: #a03f9b; }

.chart-yellow {
  background-color: #edb700; }

.chart-orange {
  background-color: #ef8200; }

.chart-red {
  background-color: #cf0989; }

.blue1 {
  background-color: #3e53a4; }

.blue2 {
  background-color: #5d71be; }

.blue3 {
  background-color: #8393d0; }

.blue4 {
  background-color: #9aa6d6; }

.blue5 {
  background-color: #afb9dd; }

.blue6 {
  background-color: #c5cbe4; }

.gray1 {
  background-color: #414141; }

.gray2 {
  background-color: #4e4e4e; }

.gray3 {
  background-color: #686868; }

.gray4 {
  background-color: #818181; }

.gray5 {
  background-color: #9b9b9b; }

.gray6 {
  background-color: silver; }

.list-group-details .form-group {
  margin-bottom: 0; }
.list-group-details .control-label {
  padding-top: 3px;
  padding-right: 0;
  text-align: left; }
  .list-group-details .control-label strong {
    font-weight: normal;
    padding-right: .3em;
    color: #4e4e4e;
    background-color: #fff; }
  .list-group-details .control-label:before {
    float: left;
    width: 0;
    content: '..........................................';
    white-space: nowrap;
    color: #9b9b9b; }
.list-group-details .form-control-static {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: .3em;
  word-wrap: break-word;
  background-color: #fff; }

.view-animate {
  -webkit-transition: all .3s;
  transition: all .3s; }
  .view-animate.ng-enter, .view-animate.ng-leave {
    opacity: 1; }
  .view-animate.ng-enter, .view-animate.ng-leave-active, .view-animate.ng-hide {
    height: 0;
    opacity: 0; }



/*# sourceMappingURL=maps/live_preview.css.map */