<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="main-header"><h1>Form Inputs</h1></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <fieldset>
        <legend>This page is divided by fieldsets. This text is a legend.</legend>
        <p class="help-block">Fieldsets are for groupings of form elements. Section titles (Legends) have a gray rule below.</p>
        <div class="form-group">
          <label>Text input</label>
          <input class="form-control" name="text1" placeholder="Placeholder text in supported browsers" type="text"/>
          <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
        </div>
        <div class="form-group">
          <label>Text input disabled</label>
          <input class="form-control" disabled="disabled" name="text1" type="text"/>
        </div>
        <div class="form-group has-error">
          <label>Text field with error</label>
          <input class="form-control" placeholder="Text field" type="text">
          <span class="help-block text-error">Please enter a valid name.</span>
        </div>
        <div class="form-group">
          <label>Textarea</label>
          <textarea class="form-control" name="textarea1" placeholder="Placeholder text in supported browsers" type="textarea"/></div>
        <div class="form-group">
          <label for="phone">
            Add another field (max set in controller)</label>
          <div class="repeated-field" data-ng-repeat="choice in inputs.choices1" ng-class="{'last':$last}">
            <input class="form-control" name="phone" type="text" value="212-555-6789">
          </div>
          <span class="help-text">
            <a href="" class="add-another-link" ng-click="inputs.addNewChoice(inputs.choices1)" ng-show="inputs.showAddChoice(inputs.choice,inputs.choices1)">Add another phone field</a>
          </span>
        </div>
      </fieldset>
    </div>
    <div class="col-md-5 col-md-offset-1">

      <fieldset>
        <legend>
          Column sizing</legend>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>
                Text input</label><input class="form-control" type="text">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>
                Text input</label><input class="form-control" type="text">
            </div>
          </div>
          <div class="col-md-7">
            <div class="form-group">
              <label>
                Text input</label><input class="form-control" type="text">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <span class="help-block">
              Wrap inputs in grid columns, or any custom parent element, to easily enforce desired widths.</span>
          </div>
        </div>
      </fieldset>
      <fieldset>

        <div class="row">
          <div class="col-md-12">
            <legend>
              Date &amp; time picker
              <a href="http://eonasdan.github.io/bootstrap-datetimepicker/" target="_blank">
                <span class="more-info">More info<i class="fa fa-external-link"/>
                </span>
              </a>
            </legend>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label>
                Date
              </label>
              <div class="input-group" ng-model="inputs.datetimepicker1" pb-datetimepicker><input class="form-control" placeholder="MM/DD/YYYY" type="text">
                <span class="input-group-btn">
                  <button class="btn btn-default">
                    <span class="fa fa-calendar"/></button>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-md-offset-1">
            <div class="form-group">
              <label>
                Time
              </label>
              <div class="input-group" ng-model="inputs.datetimepicker2" pb-datetimepicker><input class="form-control" type="text">
                <span class="input-group-btn">
                  <button class="btn btn-default">
                    <span class="fa fa-clock-o"/>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </fieldset>


      <fieldset>
        <legend>
          Numeric stepper
          <span class="more-info"><a href="https://github.com/xFlatlinex/Numeric-Stepper" target="_blank">More info <i class="fa fa-external-link"/></a></span>
        </legend>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group"><input class="form-control" options="numericStepper" pb-numeric-stepper type="text" value="10">
            </div>
          </div>
        </div>

      </fieldset>
    </div>
  </div>
  <fieldset>
    <legend>Input field sizes</legend>
    <div class="row">
      <div class="col-md-5">

        <h4>
          Text inputs</h4><input class="form-control input-lg" placeholder=".input-lg" type="text">
        <br>
        <input class="form-control" placeholder="Default input" type="text">
        <br><input class="form-control input-sm" placeholder=".input-sm" type="text"></div>
      <div class="col-md-5 col-md-offset-1">
        <h4>
          Select menus
        </h4>
        <select class="form-control input-lg" ng-model="selectedPerson" ng-options="person.full_name for person in inputs.samplePeople">
          <option value="">
            Large Size
          </option>
        </select><br>
        <select class="form-control" ng-model="selectedPerson" ng-options="person.full_name for person in inputs.samplePeople">
          <option value="">Normal Size</option>
        </select>
        <br>
        <select class="form-control input-sm" ng-model="selectedPerson" ng-options="person.full_name for person in inputs.samplePeople">
          <option value="">Small Size</option>
        </select>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>
      Selectize select menu
      <span class="more-info">
        <a href="http://brianreavis.github.io/selectize.js/" target="_blank">
          Basic info

          <i class="fa fa-external-link"/>
        </a>
        <a href="https://github.com/kbanman/selectize-ng" target="_blank">
          Angular info
          <i class="fa fa-external-link"/></a>
      </span>
    </legend>
    <div class="row">
      <div class="form-group col-md-4">
        <label>
          Single-select</label><select ng-model="inputs.countrySelect.selected" options="inputs.countrySelect.countries" selectize="inputs.countrySelect.options" type="text">
      </select>
    </div>
    <div class="form-group col-md-4">
      <label>
        Multi-select with tokens</label><input ng-model="inputs.multiCountrySelect.selected" options="inputs.countrySelect.countries" selectize="inputs.multiCountrySelect.options" type="text"/>
    </div>
    <div class="form-group col-md-4">
      <label>

        Custom menu items
      </label><select ng-model="inputs.peopleSelect.selected" options="inputs.peopleSelect.people" selectize="inputs.peopleSelect.options"/></div>
  </div>
</fieldset>

<fieldset>
  <legend>Switches
    <span class="more-info">
      <a href="http://jumplink.github.io/angular-toggle-switch/" target="_blank">Angular info
        <i class="fa fa-external-link"/>
      </a>
    </span>

  </legend>
  <div class="form-group switches row">
    <div class="col-md-2">
      <div model="inputs.switchStatus1" toggle-switch/></div>
    <div class="col-md-2">
      <div is-disabled="disabled" model="inputs.switchStatus2" toggle-switch/></div>
    <div class="col-md-2"><div model="inputs.switchStatus3" toggle-switch/>
    </div>
  </div>
</fieldset>

<fieldset>
  <legend>Enhanced Checkboxes</legend>
  <div class="row">

  <div class="col-md-3">
    <div class="checkbox checkbox-enhanced-sm">
      <input id="check4" type="checkbox" checked>
      <label for="check4">Checkbox</label>
    </div>
    <div class="checkbox checkbox-enhanced-sm">
      <input id="check5" name="check" type="checkbox">
      <label for="check5">Checkbox
      </label>
    </div>
    <div class="checkbox checkbox-enhanced-sm disabled">
      <input id="check6" name="check" type="checkbox" disabled>
      <label for="check6">Checkbox (disabled)
      </label>
    </div>
  </div>

  <div class="col-md-3  col-md-offset-1">
    <div class="checkbox-inline checkbox-enhanced-sm">
      <input id="inlineCheckbox3" type="checkbox" value="option1">
      <label for="inlineCheckbox3">Check me out</label>
    </div>
    <div class="checkbox-inline checkbox-enhanced-sm">
      <input id="inlineCheckbox4" type="checkbox" value="option1">
      <label for="inlineCheckbox4">We're inline</label>
    </div>
  </div>  </div>
</fieldset>

<fieldset>
  <legend>
    Checkboxes
  </legend>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label>
          Checkbox default</label>
        <div class="checkbox">
          <label for="cb1">
            <input checked="checked" id="cb1" type="checkbox" value="">

            Lorem ipsum dolor sit amet.
          </label>
        </div>
        <div class="checkbox">
          <label for="cb2">
            <input id="cb2" type="checkbox" value="">
            Lorem ipsum dolor sit amet, consectetur adipisicing.
          </label>
        </div>
        <div class="checkbox">
          <label for="cb3">
            <input id="cb3" type="checkbox" value="">
            Lorem ipsum dolor sit amet, consectetur.</label>
        </div>
      </div>

    </div>
    <div class="col-md-3 col-md-offset-1">
      <div class="form-group">
        <div>
          <label>Checkbox inline</label>
        </div>
        <label class="checkbox-inline" for="cb4"><input checked="checked" id="cb4" type="checkbox" value="">
          Lorem
        </label>
        <label class="checkbox-inline" for="cb5">
          <input id="cb5" type="checkbox" value="">
          Ipsum
        </label>
        <label class="checkbox-inline" for="cb6">
          <input id="cb6" type="checkbox" value="">Dolor</label>
      </div>
    </div>
  </div>
</fieldset>

<fieldset>
  <legend>Enahanced radio buttons</legend>
  <div class="row">
    <div class="col-md-3">
      <div class="radio radio-enhanced-sm">
        <input id="radio3" name="radioOptions" type="radio" checked>
        <label for="radio3">Radio</label>
      </div>
      <div class="radio radio-enhanced-sm">
        <input id="radio4" name="radioOptions" type="radio">
        <label for="radio4">Radio
        </label>
      </div>
      <div class="radio radio-enhanced-sm disabled">
        <input id="radio5" name="radioOptions" type="radio" disabled>
        <label for="radio5">Radio (disabled)
        </label>
      </div>
    </div>

    <div class="col-md-3 col-md-offset-1">
      <div class="radio-inline radio-enhanced-sm">
        <input id="inlineradio3" name="inlineRadioOptions" type="radio" value="option1">
        <label for="inlineradio3">Check me out</label>
      </div>

      <div class="radio-inline radio-enhanced-sm">
        <input id="inlineradio4" name="inlineRadioOptions" type="radio" value="option1">
        <label for="inlineradio4">We're inline</label>
      </div>
    </div>
  </div>
</fieldset>
<fieldset>
  <legend>
    Radio buttons</legend>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label>
          Radio default
        </label>
        <div class="radio">
          <label for="rb1">
            <input id="rb1" name="group1" type="radio" value="">
            Lorem ipsum dolor sit amet.
          </label>
        </div>
        <div class="radio">
          <label for="rb2">
            <input id="rb2" name="group1" type="radio" value="">
            Lorem ipsum dolor sit amet, consectetur adipisicing.
          </label>
        </div>
        <div class="radio">
          <label for="rb3">
            <input id="rb3" name="group1" type="radio" value="">
            Lorem ipsum dolor sit amet, consectetur.</label>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-md-offset-1">
      <div class="form-group">
        <div>
          <label>
            Radio inline
          </label>
        </div>
        <label class="radio-inline" for="rb4"><input id="rb4" name="group2" type="radio" value="">Lorem
        </label>
        <label class="radio-inline" for="rb5">
          <input id="rb5" name="group2" type="radio" value="">
          Ipsum
        </label>
        <label class="radio-inline" for="rb6">
          <input id="rb6" name="group2" type="radio" value="">Dolor</label>
      </div>
    </div>
  </div>
</fieldset>
<fieldset>
  <legend>
    Input groups
    <span class="more-info">
      <a href="http://getbootstrap.com/components/#input-groups">
        learn more <i class="fa fa-external-link"/></a>
    </span>
  </legend>
  <div class="row">
    <div class="col-md-12">
      <p class="help-text">Icons, buttons, and simple menus can be prepended and/or appended to text fields.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="">Text field prepended</label>
        <div class="input-group">
          <span class="input-group-addon">
            @
          </span><input class="form-control" placeholder="Username" type="text"></div>
      </div>
    </div>

    <div class="col-md-3 col-md-offset-1">
      <div class="form-group">
        <label for="">
          Text field appended</label>
        <div class="input-group">
          <input class="form-control" placeholder="Text to filter by" type="text">
          <span class="input-group-addon"><i class="fa fa-filter"/></span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-md-offset-1">
      <div class="form-group">
        <label for="">
          Text field with both</label>
        <div class="input-group">
          <span class="input-group-addon">
            $
          </span><input class="form-control" placeholder="Amount" type="text">
          <span class="input-group-addon">.00
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="">
          Text field prepended with menu</label>
        <div class="input-group">
          <div class="input-group-btn">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">Action<span class="caret"/>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"/>
              <li><a href="#">Separated link</a></li>
            </ul>
        </div><input class="form-control" placeholder="Product name" type="text">
      </div>
    </div>
  </div>
  <div class="col-md-3 col-md-offset-1">
    <div class="form-group">
      <label for="">
        Text field appended with button</label>
      <div class="input-group">
        <input class="form-control" placeholder="Search" type="text">
        <span class="input-group-btn">
          <button class="btn btn-primary"><i class="fa fa-search"/>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="row">

  <div class="col-md-3">
    <label>
      Custom prepended checkbox control</label>
    <div class="input-group" pb-checkable-input-group>
      <span class="input-group-addon">
        <input ng-model="checkable.checked" type="checkbox">
      </span>
      <input class="form-control" ng-disabled="!checkable.checked" ng-model="checkable.value" type="text"></div>
  </div>
</div>
</fieldset>
<fieldset>
<legend>
  Miscellaneous controls
</legend>

<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <label>File upload
      </label>
      <input class="form-control" name="file1" type="file">
    </div>
  </div>
</div>
</fieldset>



<fieldset>
<legend>Multiple-select</legend>

<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label>
        Multiple select
      </label>
      <select class="form-control" multiple ng-model="selectedPerson" ng-options="person.full_name for person in inputs.samplePeople"/></div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Multiple select (disabled)</label>

      <select class="form-control" multiple ng-disabled="true" ng-model="selectedPerson2" ng-options="person.full_name for person in inputs.samplePeople"/>
    </div>
  </div>
  <div class="col-md-4">
    <label>Multiple select with checkboxes
    </label>
    <div class="checkboxList form-control">
      <div class="ms-checkboxitem" ng-repeat="person in inputs.samplePeople">
        <label>
          <input ng-model="person.isChecked" type="checkbox">&nbsp;
          <span>
            {{person.full_name}}

          </span>
        </label>
      </div>
    </div>
  </div>
</div>
</fieldset>


<fieldset>
<legend>Submit and cancel buttons</legend>
<div class="form-group"><input class="btn btn-primary" type="submit" value="Submit">
  &nbsp;
  <input class="btn btn-link" type="reset" value="Cancel">
</div>
</fieldset>

</div>
</div>
</div>
