<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Elements</div>
          <h1>Containers</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a ui-sref="elements.containers.page({'#':'tabs'})">Tabs</a></li>
            <li><a ui-sref="elements.containers.page({'#':'tiles'})">Tile Tabs</a></li>
            <li><a ui-sref="elements.containers.page({'#':'accordions'})">Accordions</a></li>
            <li><a ui-sref="elements.containers.page({'#':'panels'})">Panels</a></li>
            <li><a ui-sref="elements.containers.page({'#':'miller'})">Miller Columns</a></li>
            <li><a ui-sref="elements.containers.page({'#':'gallery'})">Gallery</a></li>
            <li><a ui-sref="elements.containers.page({'#':'cards'})">Cards</a></li>
            <li><a ui-sref="elements.containers.page({'#':'widgets'})">Widgets</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>



<div ui-view="tabs"></div>
<div ui-view="tiles"></div>
<div ui-view="accordions"></div>
<div ui-view="panels"></div>
<div ui-view="gallery"></div>
<div ui-view="cards"></div>
<div ui-view="widgets"></div>
