<div class="container">

  <div class="row">
    <div class="col-md-8">
      <h1 id="widgets" class="doc-head">Widgets</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Data Styles</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="data-widget bg-pb-blue-700">
        <div class="data-widget-icon">
          <i class="fa fa-fw fa-cloud-upload"></i>
        </div>
        <div class="data-widget-data bg-pb-blue-500">
          <p class="data-description">Uploads</p>
          <p class="data-value">12,048</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="data-widget bg-pb-purple-700">
        <div class="data-widget-icon">
          <i class="fa fa-fw fa-truck"></i>
        </div>
        <div class="data-widget-data bg-pb-purple-500">
          <p class="data-description">Deliveries</p>
          <p class="data-value">432</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="data-widget bg-pb-magenta-700">
        <div class="data-widget-icon">
          <i class="fa fa-fw fa-bank"></i>
        </div>
        <div class="data-widget-data bg-pb-magenta-500">
          <p class="data-description">Transactions</p>
          <p class="data-value">964</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="data-widget bg-pb-dark-green-700">
        <div class="data-widget-icon">
          <i class="fa fa-fw fa-building-o"></i>
        </div>
        <div class="data-widget-data bg-pb-dark-green-500">
          <p class="data-description">Assets</p>
          <p class="data-value">1,200</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row spacer-top-lg">
    <div class="col-sm-3">
      <img class="img-responsive" src="modules/elements/assets/images/data_01.png" alt="" />
    </div>

    <div class="col-sm-3">
      <img class="img-responsive" src="modules/elements/assets/images/data_02.png" alt="" />
    </div>

    <div class="col-sm-3">
      <img class="img-responsive" src="modules/elements/assets/images/data_03.png" alt="" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Category Styles</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <img class="img-responsive" src="modules/elements/assets/images/category.png" alt="" />
    </div>
  </div>


</div>
