<div class="container">

  <div class="row">
    <div class="col-md-8 col-sm-12">
      <h1 id="cards" class="doc-head">Cards</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Styles</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Admin Information Card
          <a href="" class="pull-right text-muted"><i class="fa fa-pencil"></i></a>
        </div>
        <div class="panel-body">
          <address>
            <h5>Melanie Ann Daniels</h5>
            <h5>Company Name</h5>
            42 Main Street, Suite 516<br>
            Bodega Bay, CA, 11021 USA
          </address>

          <address>
            <a href="mailto:mdaniels@gmail.com">mdaniels@gmail.com</a><br>
            212-201-2018
          </address>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Latest Activity Card
        </div>
        <div class="panel-body">

          <table class="table table-condensed table-unstyled">
            <tbody>
              <tr>
                <td>
                  <i class="fa fa-lg fa-check-circle text-success"></i>
                </td>
                <td width="100%">
                  <span class="text-success"><strong>890198385</strong> has successfully shipped!</span>
                </td>
                <td class="text-right">
                  <span class="text-muted">30m</span>
                </td>
              </tr>

              <tr>
                <td>
                  <i class="fa fa-lg fa-check-circle text-success"></i>
                </td>
                <td width="100%">
                  <span class="text-success"><strong>Randy Alberts</strong> accepted your transaction.</span>
                </td>
                <td class="text-right">
                  <span class="text-muted">5h</span>
                </td>
              </tr>

              <tr>
                <td>
                  <i class="fa fa-lg fa-exclamation-triangle text-warning"></i>
                </td>
                <td width="100%">
                  <span class="text-warning"><strong>Amex Account</strong> is low on funds.</span>
                </td>
                <td class="text-right">
                  <span class="text-muted">2h</span>
                </td>
              </tr>

              <tr>
                <td>
                  <i class="fa fa-lg fa-exclamation-circle text-danger"></i>
                </td>
                <td width="100%">
                  <span class="text-danger"><strong>Spring Sale</strong> has a processing error.</span>
                </td>
                <td class="text-right">
                  <span class="text-muted">1d</span>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Admin Information Card
          <a href="" class="pull-right"><i class="fa fa-pencil"></i></a>
        </div>
        <div class="panel-body">
          <address>
            <h5>Melanie Ann Daniels</h5>
            <h5>Company Name</h5>
            42 Main Street, Suite 516<br>
            Bodega Bay, CA, 11021 USA
          </address>

          <address>
            <a href="mailto:mdaniels@gmail.com">mdaniels@gmail.com</a><br>
            212-201-2018
          </address>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Latest Activity Card
        </div>
        <div class="panel-body">

          <table class="table table-condensed table-unstyled">
            <tbody>
              <tr>
                <td>
                  <i class="fa fa-lg fa-check-circle text-success"></i>
                </td>
                <td width="100%">
                  <span class="text-success"><strong>890198385</strong> has successfully shipped!</span>
                </td>
                <td class="text-right">
                  <span class="text-muted">30m</span>
                </td>
              </tr>

              <tr>
                <td>
                  <i class="fa fa-lg fa-check-circle text-success"></i>
                </td>
                <td width="100%">
                  <span class="text-success"><strong>Randy Alberts</strong> accepted your transaction.</span>
                </td>
                <td class="text-right">
                  <span class="text-muted">5h</span>
                </td>
              </tr>

              <tr>
                <td>
                  <i class="fa fa-lg fa-exclamation-triangle text-warning"></i>
                </td>
                <td width="100%">
                  <span class="text-warning"><strong>Amex Account</strong> is low on funds.</span>
                </td>
                <td class="text-right">
                  <span class="text-muted">2h</span>
                </td>
              </tr>

              <tr>
                <td>
                  <i class="fa fa-lg fa-exclamation-circle text-danger"></i>
                </td>
                <td width="100%">
                  <span class="text-danger"><strong>Spring Sale</strong> has a processing error.</span>
                </td>
                <td class="text-right">
                  <span class="text-muted">1d</span>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <img class="img-responsive" src="modules/elements/assets/images/card_01.png" alt="" />
    </div>

    <div class="col-sm-4">
      <img class="img-responsive" src="modules/elements/assets/images/card_02.png" alt="" />
    </div>
  </div>

</div>
