<h1>Colors</h1>
<div ng-controller="ColorsCtrl">

  <div class="row">
    <div class="col-md-12">
      <h4 class="section-head">Primary</h4>
      <div class="row color-swatches">
        <div class="col-md-2 col-xs-12" ng-repeat="c in colorData.primary">
          {{::c.name}}
          <br>
          <small>{{::c.varname}}</small>
          <ul class="swatches">
            <li ng-repeat="h in c.hex " class="color-swatch" style="background-color:{{::h.color}};">
              <span>{{::h.tint}}</span>{{::h.color}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h4 class="section-head">Secondary</h4>
      <div class="row color-swatches">
        <div class="col-md-2 col-xs-12" ng-repeat="c in colorData.secondary">
          {{::c.name}}
          <br>
          <small>{{::c.varname}}</small>
          <ul class="swatches">
            <li ng-repeat="h in c.hex " class="color-swatch " style="background-color:{{::h.color}};">
              <span>{{::h.tint}}</span>{{::h.color}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h4 class="section-head">Neutrals</h4>
      <div class="row color-swatches">
        <div class="col-md-2 col-xs-12" ng-repeat="c in colorData.neutrals">
          {{::c.name}}
          <br>
          <small>{{::c.varname}}</small>
          <ul class="swatches">
            <li ng-repeat="h in c.hex " class="color-swatch" style="background-color:{{::h.color}};">
              <span>{{::h.tint}}</span>{{::h.color}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h4 class="section-head">Functional Colors (from Bootstrap)</h4>
      <div class="row color-swatches">
        <div class="col-md-2 col-xs-12 color-swatch-container" ng-repeat="c in colorData.functional" ng-class="{clearRow: $index==5}">
          <div class="color-swatch" style="background-color:{{::c.hex}}"></div>
          {{::c.name}}
          <br> {{::c.hex}}
          <br>
          <small>{{::c.varname}}</small>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h4 class="section-head">Chart Colors</h4>
      <div class="row color-swatches">
        <div class="col-md-2 col-xs-12 color-swatch-container" ng-repeat="c in colorData.charts" ng-class="{clearRow: $index==6}">
          <div class="color-swatch" style="background-color:{{::c.hex}}"></div>
          {{::c.name}}
          <br> {{::c.hex}}
          <br>
          <small>{{::c.varname}}</small>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h4 class="section-head">Chart Blue Tints</h4>
      <div class="row color-swatches">
        <div class="col-md-2 col-xs-12 color-swatch-container" ng-repeat="c in colorData.blues" ng-class="{clearRow: $index==6}">
          <div class="color-swatch" style="background-color:{{::c.hex}}"></div>
          {{::c.name}}
          <br> {{::c.hex}}
          <br>
          <small>{{::c.varname}}</small>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h4 class="section-head">Gray Chart Tints</h4>
      <div class="row color-swatches">
        <div class="col-md-2 col-xs-12 color-swatch-container" ng-repeat="c in colorData.chartgrays" ng-class="{clearRow: $index==6}">
          <div class="color-swatch" style="background-color:{{::c.hex}}"></div>
          {{::c.name}}
          <br> {{::c.hex}}
          <br>
          <small>{{::c.varname}}</small>
        </div>
      </div>

    </div>
  </div>




</div>
