<div class="container">

  <div class="row">
    <div class="col-md-8">
      <h1 id="widgets" class="doc-head">Widgets</h1>


    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h1 class="doc-sectionhead">Data</h1>
      <div class="alert alert-danger">NEED IMAGES</div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1 class="doc-sectionhead">Category</h1>
      <div class="alert alert-danger">NEED IMAGES</div>

    </div>
  </div>


</div>
