<div class="container">

  <div class="row">
    <div class="col-md-8">
      <h1 id="gallery" class="doc-head">Gallery</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Styles</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        <a class="more-info plugin" href="http://kenwheeler.github.io/slick/" target="_blank">Slick v1.5.9</a>
      </p>
      <p>
        <a class="more-info plugin" href="https://github.com/devmark/angular-slick-carousel" target="_blank">Angular Slick Carousel v3.1.4</a>
      </p>
    </div>

    <div class="col-md-12 spacer-top-xl">
      <slick settings="containers.imageGallery.settings">
        <div class="panel panel-default category-widget bg-pb-bg1" ng-repeat="i in containers.imageGallery.items">
          <div class="panel-body category-widget-icon">
            <i class="fa fa-fw fa-picture-o"></i>
          </div>
        </div>
      </slick>
    </div>

    <div class="col-md-12 spacer-top-xl">
      <slick settings="containers.itemGallery.settings">
        <div class="panel panel-default category-widget" ng-repeat="i in ::containers.itemGallery.items">
          <div class="panel-body category-widget-icon">
            <i class="fa fa-fw {{i.icon}} text-blue"></i>
          </div>
          <div class="panel-footer">
            <h3>{{i.title}}</h3>
            <p>
              {{i.description}}
            </p>
          </div>
        </div>
      </slick>
    </div>

    </div>
  </div>

</div>
