<h1>Colors</h1>
<div ng-controller="ColorsCtrl">

  <div class="row">
    <div class="col-md-12">
      <h4 class="section-head">Primary</h4>
      <div class="row color-swatches">
        <div class="col-md-2 col-xs-12" ng-repeat="c in colorData.primary">
          {{c.name}}
          <br>
          <small>{{c.varname}}</small>
          <ul class="swatches">
            <li ng-repeat="h in c.hex " class="color-swatch" style="background-color:{{h.color}};">
              <span>{{h.tint}}</span>{{h.color}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h4 class="section-head">Secondary</h4>
      <div class="row color-swatches">
        <div class="col-md-2 col-xs-12" ng-repeat="c in colorData.secondary">
          {{c.name}}
          <br>
          <small>{{c.varname}}</small>
          <ul class="swatches">
            <li ng-repeat="h in c.hex " class="color-swatch" style="background-color:{{h.color}};">
              <span>{{h.tint}}</span>{{h.color}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h4 class="section-head">Neutrals</h4>
      <div class="row color-swatches">
        <div class="col-md-2 col-xs-12" ng-repeat="c in colorData.neutrals">
          {{c.name}}
          <br>
          <small>{{c.varname}}</small>
          <ul class="swatches">
            <li ng-repeat="h in c.hex " class="color-swatch" style="background-color:{{h.color}};">
              <span>{{h.tint}}</span>{{h.color}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h4 class="section-head">Functional Colors (from Bootstrap)</h4>
      <div class="row color-swatches">
        <div class="col-md-2 col-xs-12 color-swatch-container" ng-repeat="c in colorData.functional" ng-class="{clearRow: $index==5}">
          <div class="color-swatch" style="background-color:{{c.hex}}"></div>
          {{c.name}}
          <br> {{c.hex}}
          <br>
          <small>{{c.varname}}</small>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h4 class="section-head">Chart Colors</h4>
      <div class="row color-swatches">
        <div class="col-md-2 col-xs-12 color-swatch-container" ng-repeat="c in colorData.charts" ng-class="{clearRow: $index==6}">
          <div class="color-swatch" style="background-color:{{c.hex}}"></div>
          {{c.name}}
          <br> {{c.hex}}
          <br>
          <small>{{c.varname}}</small>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h4 class="section-head">Chart Blue Tints</h4>
      <div class="row color-swatches">
        <div class="col-md-2 col-xs-12 color-swatch-container" ng-repeat="c in colorData.blues" ng-class="{clearRow: $index==6}">
          <div class="color-swatch" style="background-color:{{c.hex}}"></div>
          {{c.name}}
          <br> {{c.hex}}
          <br>
          <small>{{c.varname}}</small>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h4 class="section-head">Gray Chart Tints</h4>
      <div class="row color-swatches">
        <div class="col-md-2 col-xs-12 color-swatch-container" ng-repeat="c in colorData.chartgrays" ng-class="{clearRow: $index==6}">
          <div class="color-swatch" style="background-color:{{c.hex}}"></div>
          {{c.name}}
          <br> {{c.hex}}
          <br>
          <small>{{c.varname}}</small>
        </div>
      </div>

    </div>
  </div>

  <!--  <section class="row" id="chords">
    <h4 class="section-head">Color Chords</h4>
  <div class="col-md-3 chord-display" ng-repeat="i in [1,2,3]" id="chord{{i}}">
      <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <path class="color1" d="M72.26 42.85C77.6 42.85 82.6 44.29 86.92 46.78L108.65 9.84C97.96 3.6 85.53 0 72.26 0 58.98 0 46.55 3.6 35.86 9.84L57.59 46.78C61.91 44.29 66.92 42.85 72.26 42.85L72.26 42.85Z" />
          <path class="color2" d="M101.65 71.94L144.51 71.94C144.39 45.62 130.21 22.63 109.09 10.09L87.35 47.03C95.84 52.11 101.54 61.35 101.65 71.94L101.65 71.94Z"  />
          <path class="color3" d="M87.42 97.46L109.15 134.39C130.28 121.82 144.45 98.79 144.51 72.44L101.66 72.44C101.6 83.06 95.91 92.34 87.42 97.46L87.42 97.46Z" />
          <path class="color4" d="M72.26 101.67C66.89 101.67 61.86 100.22 57.53 97.71L35.8 134.64C46.5 140.91 58.95 144.52 72.26 144.52 85.56 144.52 98.01 140.91 108.72 134.64L86.98 97.71C82.65 100.22 77.63 101.67 72.26 101.67L72.26 101.67Z" />
          <path class="color5" d="M42.86 72.44L0 72.44C0.06 98.79 14.24 121.82 35.36 134.39L57.1 97.46C48.61 92.34 42.92 83.06 42.86 72.44L42.86 72.44Z"  />
          <path class="color6" d="M57.16 47.03L35.43 10.09C14.31 22.63 0.12 45.62 0 71.94L42.86 71.94C42.97 61.35 48.68 52.11 57.16 47.03L57.16 47.03Z"  />
        </g>
      </svg>
      <div>
        <h5 class="color1">Primary Color</h5>
        <p class="color4">Link Color</p>
        <p class="color5">Accent Color</p>
        <p class="color2">Primary/Secondary Buttons</p>
        <p class="color3">Tertiary Buttons</p>
        <p class="color6">Neutral</p>
      </div>
    </div>
    <div class="col-md-12">
    </div>
  </section>-->


</div>
