<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Elements</div>
          <h1>Modals &amp; Popovers</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="modals">Modals</a></li>
            <li><a href="" du-smooth-scroll="popovers">Popovers</a></li>
            <li><a href="" du-smooth-scroll="tooltips">Tooltips</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="container">


  <div class="row">
    <div class="col-md-8">
      <h1 class="doc-head">Writing</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <p>When writing copy for modals, popovers and tooltips, good writing principles apply. Try to keep your messages succinct, clear and to the point by:</p>
      <ul>
        <li>Using active rather than passive writing</li>
        <li>Focusing on what the user most needs to know</li>
        <li>Constructing short sentences, written in plain language</li>
      </ul>
    </div>
  </div>


  <div class="row">
    <div class="col-md-8">
      <h1 id="modals" class="doc-head">Modals</h1>

      <span class="more-info">
        <a href="http://angular-ui.github.io/bootstrap/#/modal" target="_blank">More info
          <i class="fa fa-external-link"></i>
        </a>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <figure>
        <figcaption>Basic message</figcaption>
        <button class="btn btn-default" ng-click="pop.modals.basicMessage()">Open Modal</button>
      </figure>
    </div>

    <div class="col-md-2">
      <figure>
        <figcaption>Single Choice Action Modal</figcaption>
        <button class="btn btn-default" ng-click="pop.modals.singleChoice()">Open Modal</button>
      </figure>
    </div>

    <div class="col-md-2">
      <figure>
        <figcaption>Modal with Radio Buttons</figcaption>
        <button class="btn btn-default" ng-click="pop.modals.radioButtons()">Open Modal</button>
      </figure>
    </div>

    <div class="col-md-2">
      <figure>
        <figcaption>Modal with Comment Form</figcaption>
        <button class="btn btn-default" ng-click="pop.modals.commentForm()">Open Modal</button>
      </figure>
    </div>

    <div class="col-md-2">
      <figure>
        <figcaption>Modal with Feedback</figcaption>
        <button class="btn btn-default" ng-click="pop.modals.withCopy()">Open Modal</button>
      </figure>
    </div>
  </div>



  <div class="row">
    <div class="col-md-2">
      <figure>
        <figcaption>Default Modal</figcaption>
        <button class="btn btn-default" ng-click="pop.modals.modal()">Default Modal</button>
      </figure>
    </div>

    <div class="col-md-2">
      <figure>
        <figcaption>Modal with Dismiss Options</figcaption>
        <button class="btn btn-default" ng-click="pop.modals.simple()">Modal with Options</button>
      </figure>
    </div>

    <div class="col-md-2">
      <figure>
        <figcaption>Modal with User Prompt</figcaption>
        <button class="btn btn-default" ng-click="pop.modals.prompt()">Modal Prompt</button>
      </figure>
    </div>

    <div class="col-md-2">
      <figure>
        <figcaption>Draggable Modal</figcaption>
        <button class="btn btn-default" ng-click="pop.modals.draggable()">Draggable Modal</button>
      </figure>
    </div>
  </div>




  <div class="row">
    <div class="col-md-8">
      <h1 id="popovers" class="doc-head">Popovers</h1>

      <span class="more-info">
        <a href="http://angular-ui.github.io/bootstrap/#/popover" target="_blank">More info
          <i class="fa fa-external-link"></i>
        </a>
      </span>

    </div>
  </div>

  <div class="row">

    <div class="col-md-3">
      <figure>
        <figcaption>Popover with Template</figcaption>
        <button popover-template="pop.dynamicPopover.templateUrl" popover-title="Hello World" class="btn btn-default">Popover With Template</button>

        <script type="text/ng-template" id="myPopoverTemplate.html">
          <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt provident tempora officia.</div>
        </script>
      </figure>
    </div>

    <div class="col-md-3">
      <figure>
        <figcaption>Popover Positions</figcaption>
        <button popover-placement="top" popover="On the Top!" class="btn btn-default">Top</button>
        <button popover-placement="left" popover="On the Left!" class="btn btn-default">Left</button>
        <button popover-placement="right" popover="On the Right!" class="btn btn-default">Right</button>
        <button popover-placement="bottom" popover="On the Bottom!" class="btn btn-default">Bottom</button>
      </figure>
    </div>

    <div class="col-md-3">
      <figure>
        <figcaption>Popover Triggers</figcaption>
        <p>
          <button popover="I appeared on mouse enter!" popover-trigger="mouseenter" class="btn btn-default">Mouseenter</button>
        </p>
        <input type="text" value="Click me!" popover="I appeared on focus! Click away and I'll vanish..." popover-trigger="focus" class="form-control">
      </figure>
    </div>

    <div class="col-md-3">
      <figure>
        <figcaption>Other Popovers</figcaption>
        <button popover-animation="true" popover="I fade in and out!" class="btn btn-default">fading</button>
        <button popover="I have a title!" popover-title="The title." class="btn btn-default">title</button>

      </figure>
    </div>
  </div>


  <div class="row">
    <div class="col-md-8">
      <h1 id="tooltips" class="doc-head">Tooltips</h1>

      <span class="more-info">
        <a href="http://angular-ui.github.io/bootstrap/#/tooltip" target="_blank">More info
          <i class="fa fa-external-link"></i>
        </a>
      </span>

    </div>
  </div>


  <div class="row">
    <div class="col-md-3">
      <figure>
        <figcaption>Tooltip in Body</figcaption>
        <p>Pellentesque <a href="" tooltip-placement="left" tooltip="On the Left!" tooltip-trigger="click">left</a> eget arcu dictum varius duis at consectetur lorem. Vitae elementum curabitur <a href="" tooltip-placement="right" tooltip="On the Right!" tooltip-trigger="click">right</a> nunc sed velit dignissim sodales ut eu sem integer vitae. Turpis egestas <a href="" tooltip-placement="bottom" tooltip="On the Bottom!" tooltip-trigger="click">bottom</a> pharetra convallis posuere morbi leo urna,</p>
      </figure>
    </div>

    <div class="col-md-3">
      <figure>
        <figcaption>Form Field Focus Tooltip</figcaption>
        <div class="form-group">
          <label>Label</label>
          <input type="text" placeholder="" tooltip="I show on focus."  tooltip-trigger="focus" tooltip-placement="right" class="form-control" />
        </div>
      </figure>
    </div>

    <div class="col-md-3">
      <figure>
        <figcaption>Form Field Info Tooltip</figcaption>
        <div class="form-group">
          <label>Label <a href="" tooltip="Lorem ipsum dolor sit amet."  tooltip-trigger="click" tooltip-placement="right"><i class="fa fa-fw fa-question-circle"></i></a></label>
          <input type="text" placeholder=""  class="form-control" />
        </div>
      </figure>
    </div>
  </div>

</div>
