<div class="container">

  <div class="row">
    <div class="col-md-8">
      <h1 id="tabs" class="doc-head">Tabs</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Usage</h2>

      <ul>
        <li>Best suited for no more than 10 items</li>
        <li>Used for content categories that will remain fairly static</li>
        <li>Consider using vertical tabs for if you have 5 or more items that won’t fit on one horizontal row</li>
      </ul>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Styles</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <figure>
        <figcaption>Standard Tabs</figcaption>
        <uib-tabset active="active">
          <uib-tab index="0" heading="Home">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem eaque, dolore vero eum, incidunt tempora distinctio odit quam officiis maxime.
          </uib-tab>
          <uib-tab index="1" heading="Profile">
            Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
          </uib-tab>
          <uib-tab index="2" heading="Messages">
            Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum. Praesent commodo cursus magna, vel scelerisque nisl.
          </uib-tab>
          <uib-tab index="3" heading="Settings">
            Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis.
          </uib-tab>
        </uib-tabset>
      </figure>
    </div>

    <div class="col-md-6">
      <figure>
        <figcaption>Justified Tabs</figcaption>
        <uib-tabset active="activeJustified" justified="true">
          <uib-tab index="0" heading="Home">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem eaque, dolore vero eum, incidunt tempora distinctio odit quam officiis maxime.
          </uib-tab>
          <uib-tab index="1" heading="Profile">
            Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
          </uib-tab>
          <uib-tab index="2" heading="Messages">
            Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum. Praesent commodo cursus magna, vel scelerisque nisl.
          </uib-tab>
          <uib-tab index="3" heading="Settings">
            Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis.
          </uib-tab>
        </uib-tabset>
      </figure>
    </div>
  </div>

  <div class="row spacer-top-xl">
    <div class="col-md-6">
      <figure>
        <figcaption>Sliding Tabs</figcaption>
        <div class="tabs-fancy">
          <ul class="nav nav-tabs">
            <li class="active">
              <a data-target="#home3" data-toggle="tab">Home</a>
            </li>
            <li>
              <a data-target="#profile3" data-toggle="tab">Profile</a>
            </li>
            <li>
              <a data-target="#messages3" data-toggle="tab">Messages</a>
            </li>
            <li>
              <a data-target="#settings3" data-toggle="tab">Settings</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade in active" id="home3">Home text lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui nisi quo, dolores ipsa, ut perferendis.</div>
            <div class="tab-pane fade" id="profile3">Profile text lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate assumenda ipsam nisi quaerat reiciendis, corporis. Dolor nostrum officia repudiandae, velit sit voluptates aliquid aperiam ut?</div>
            <div class="tab-pane fade" id="messages3">Messages text lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit illo ipsum est in autem eveniet, quae quos id.</div>
            <div class="tab-pane fade" id="settings3">Settings text lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore provident maxime possimus quam! Quia doloribus, sint nisi mollitia dolorem ipsa doloremque excepturi ea nemo. In.</div>
          </div>
        </div>


      </figure>
    </div>
    <div class="col-md-6">
      <figure>
        <figcaption>Tabs with Bordered Content</figcaption>
        <!-- Nav tabs -->
        <uib-tabset active="active2" class="tabset-bordered">
          <uib-tab index="0" heading="Home">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem eaque, dolore vero eum, incidunt tempora distinctio odit quam officiis maxime.
          </uib-tab>
          <uib-tab index="1" heading="Profile">
            Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
          </uib-tab>
          <uib-tab index="2" heading="Messages">
            Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum. Praesent commodo cursus magna, vel scelerisque nisl.
          </uib-tab>
          <uib-tab index="3" heading="Settings">
            Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis.
          </uib-tab>
        </uib-tabset>
      </figure>
    </div>
  </div>

</div>
