<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Elements</div>
          <h1>Buttons</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="action-buttons" offset="100">Action Buttons</a></li>
            <li><a href="" du-smooth-scroll="links">Links</a></li>
            <li><a href="" du-smooth-scroll="button-toolbar">Button Toolbar</a></li>
            <li><a href="" du-smooth-scroll="link3">Button Tiles</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>





<div class="container">

  <div id="action-buttons" class="row">
    <div class="col-md-8">
      <h1 class="doc-head">Action Buttons</h1>
      <p class="doc-lede">Lorem ipsum dolor sit amet, feugiat inciderint ei eum. Verterem sapientem tincidunt ut his, facilisi mnesarchum per ne. Laoreet alienum explicari cu eos, ludus eirmod ius no, constituto voluptatibus cu per. Mei fabellas definiebas eu, duo veniam deseruisse no.</p>
    </div>
  </div>


  <!-- primary buttons -->
  <div class="row spacer-top-xl">
    <div class="col-md-12">
      <h1 class="doc-sectionhead">Primary Buttons</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <figure>
        <figcaption>Disabled</figcaption>
          <button class="btn btn-primary btn-block" disabled="disabled">Primary</button>
      </figure>
    </div>

    <div class="col-md-2 col-md-offset-1">
      <figure>
        <figcaption>Default</figcaption>
          <button class="btn btn-primary btn-block">Primary</button>
      </figure>
    </div>

    <div class="col-md-2 col-md-offset-1">
      <figure>
        <figcaption>Hover</figcaption>
          <button class="btn btn-primary btn-block hover">Primary</button>
      </figure>
    </div>

    <div class="col-md-2 col-md-offset-1">
      <figure>
        <figcaption>Active</figcaption>
          <button class="btn btn-primary btn-block active">Primary</button>
      </figure>
    </div>
  </div>



  <!-- secondary buttons -->
  <div class="row spacer-top-xl">
    <div class="col-md-12">
      <h1 class="doc-sectionhead">Secondary Buttons</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <figure>
        <figcaption>Disabled</figcaption>
          <button class="btn btn-default btn-block" disabled="disabled">Secondary</button>
      </figure>
    </div>

    <div class="col-md-2 col-md-offset-1">
      <figure>
        <figcaption>Default</figcaption>
          <button class="btn btn-default btn-block">Secondary</button>
      </figure>
    </div>

    <div class="col-md-2 col-md-offset-1">
      <figure>
        <figcaption>Hover</figcaption>
          <button class="btn btn-default btn-block hover">Secondary</button>
      </figure>
    </div>

    <div class="col-md-2 col-md-offset-1">
      <figure>
        <figcaption>Active</figcaption>
          <button class="btn btn-default btn-block active">Secondary</button>
      </figure>
    </div>
  </div>



  <!-- tertiary buttons -->
  <div class="row spacer-top-xl">
    <div class="col-md-12">
      <h1 class="doc-sectionhead">Tertiary Buttons</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>Use for landing or marketing pages only</p>
    </div>
  </div>

  <div class="row">
    <div class="doc-gradient clearfix" style="margin: 0px 15px">
      <div class="col-md-2 spacer-top-xs">
        <figure>
          <figcaption class="ko">Disabled</figcaption>
            <button class="btn btn-default-ko btn-block" disabled="disabled">Tertiary</button>
        </figure>
      </div>

      <div class="col-md-2 col-md-offset-1 spacer-top-xs">
        <figure>
          <figcaption class="ko">Default</figcaption>
            <button class="btn btn-default-ko btn-block">Tertiary</button>
        </figure>
      </div>

      <div class="col-md-2 col-md-offset-1 spacer-top-xs">
        <figure>
          <figcaption class="ko">Hover, slight dropshadow</figcaption>
            <button class="btn btn-default btn-block hover">Tertiary</button>
        </figure>
      </div>

      <div class="col-md-2 col-md-offset-1 spacer-top-xs">
        <figure>
          <figcaption class="ko">Active</figcaption>
            <button class="btn btn-default btn-block active">Tertiary</button>
        </figure>
      </div>
    </div>
  </div>



  <!-- button sizes -->
  <div class="row spacer-top-xl">
    <div class="col-md-12">
      <h1 class="doc-sectionhead">Button Sizes</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <figure>
        <figcaption>Large</figcaption>
          <button class="btn btn-primary btn-lg">Primary</button>
          <button class="btn btn-default btn-lg">Secondary</button>
          <button class="btn btn-link btn-lg">Link</button>
      </figure>
    </div>

    <div class="col-md-3">
      <figure>
        <figcaption>Regular</figcaption>
          <button class="btn btn-primary">Primary</button>
          <button class="btn btn-default">Secondary</button>
          <button class="btn btn-link">Link</button>
      </figure>
    </div>

    <div class="col-md-3">
      <figure>
        <figcaption>Small</figcaption>
          <button class="btn btn-primary btn-sm">Primary</button>
          <button class="btn btn-default btn-sm">Secondary</button>
          <button class="btn btn-link btn-sm">Link</button>
      </figure>
    </div>

    <div class="col-md-2">
      <figure>
        <figcaption>Extra Small</figcaption>
          <button class="btn btn-primary btn-xs">Primary</button>
          <button class="btn btn-default btn-xs">Secondary</button>
          <button class="btn btn-link btn-xs">Link</button>
      </figure>
    </div>
  </div>



  <!-- icon buttons -->
  <div class="row spacer-top-xl">
    <div class="col-md-12">
      <h1 class="doc-sectionhead">Icon Buttons</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <figure>
        <figcaption>Large</figcaption>
          <button class="btn btn-primary btn-lg"><i class="fa fa-fw fa-envelope"></i> Send</button>
          <button class="btn btn-default btn-lg"><i class="fa fa-fw fa-download"></i> Download</button>
      </figure>
    </div>

    <div class="col-md-3">
      <figure>
        <figcaption>Regular</figcaption>
          <button class="btn btn-primary"><i class="fa fa-fw fa-envelope"></i> Send</button>
          <button class="btn btn-default"><i class="fa fa-fw fa-download"></i> Download</button>
      </figure>
    </div>

    <div class="col-md-3">
      <figure>
        <figcaption>Small</figcaption>
          <button class="btn btn-primary btn-sm"><i class="fa fa-fw fa-envelope"></i> Send</button>
          <button class="btn btn-default btn-sm"><i class="fa fa-fw fa-download"></i> Download</button>
      </figure>
    </div>

    <div class="col-md-3">
      <figure>
        <figcaption>Extra Small</figcaption>
          <button class="btn btn-primary btn-xs"><i class="fa fa-fw fa-envelope"></i> Send</button>
          <button class="btn btn-default btn-xs"><i class="fa fa-fw fa-download"></i> Download</button>
      </figure>
    </div>
  </div>


  <!-- block buttons -->
  <div class="row spacer-top-xl">
    <div class="col-md-12">
      <h1 class="doc-sectionhead">Block Buttons</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <figure>
        <figcaption>Block Level Buttons</figcaption>
        <button class="btn btn-primary btn-lg btn-block">Block Button</button>
        <button class="btn btn-default btn-lg btn-block">Block Button</button>
      </figure>
    </div>

    <div class="col-md-3">
      <figure>
        <figcaption>Regular</figcaption>
        <button class="btn btn-primary btn-block">Block Button</button>
        <button class="btn btn-default btn-block">Block Button</button>
      </figure>
    </div>

    <div class="col-md-3">
      <figure>
        <figcaption>Small</figcaption>
        <button class="btn btn-primary btn-sm btn-block">Block Button</button>
        <button class="btn btn-default btn-sm btn-block">Block Button</button>
      </figure>
    </div>

    <div class="col-md-3">
      <figure>
        <figcaption>Extra Small</figcaption>
        <button class="btn btn-primary btn-xs btn-block">Block Button</button>
        <button class="btn btn-default btn-xs btn-block">Block Button</button>
      </figure>
    </div>
  </div>



  <!-- group buttons -->
  <div class="row spacer-top-xl">
    <div class="col-md-12">
      <h1 class="doc-sectionhead">Group Buttons</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <figure>
        <figcaption>Standard Button Group</figcaption>
        <div class="btn-group">
          <div class="btn-group">
            <button class="btn btn-default" type="button">One</button>
          </div>
          <div class="btn-group">
            <button class="btn btn-default" type="button">Two</button>
          </div>
          <div class="btn-group">
            <button class="btn btn-default" type="button">Three</button>
          </div>
          <div class="btn-group">
            <button class="btn btn-default" type="button">Four</button>
          </div>
        </div>
      </figure>
    </div>

    <div class="col-md-5">
      <figure>
        <figcaption>Block Level Button Group</figcaption>
        <div class="btn-group btn-group-justified">
          <div class="btn-group">
            <button class="btn btn-default" type="button">One</button>
          </div>
          <div class="btn-group">
            <button class="btn btn-default" type="button">Two</button>
          </div>
          <div class="btn-group">
            <button class="btn btn-default" type="button">Three</button>
          </div>
          <div class="btn-group">
            <button class="btn btn-default" type="button">Four</button>
          </div>
        </div>
      </figure>
    </div>
  </div>



  <!-- toggle buttons -->
  <div class="row spacer-top-xl">
    <div class="col-md-12">
      <h1 class="doc-sectionhead">Toggle Buttons</h1>
    </div>
  </div>

  <div class="row">

    <div class="col-md-12">
      <div class="alert alert-danger">
        <!-- TODO: Steve-->
        STEVE/VICTOR: see FA file for toggle button styling and toggle with notification, INLINE STYES USED FOR NOTIFICATION
      </div>
    </div>

    <div class="col-md-4">
      <figure>
        <figcaption>Checkbox (multiple selection)</figcaption>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default active">
            <input type="checkbox" autocomplete="off" checked> Checkbox 1
          </label>
          <label class="btn btn-default">
            <input type="checkbox" autocomplete="off"> Checkbox 2
          </label>
          <label class="btn btn-default">
            <input type="checkbox" autocomplete="off"> Checkbox 3
          </label>
        </div>
      </figure>
    </div>

    <div class="col-md-4">
      <figure>
        <figcaption>Radio (single selection)</figcaption>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> Radio 1
          </label>
          <label class="btn btn-default">
            <input type="radio" name="options" id="option2" autocomplete="off"> Radio 2
          </label>
          <label class="btn btn-default">
            <input type="radio" name="options" id="option3" autocomplete="off"> Radio 3
          </label>
        </div>
      </figure>
    </div>

    <div class="col-md-4">
      <figure>
        <figcaption>Toggle with Notification</figcaption>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> Data View 1
          </label>
          <label class="btn btn-default">
            <input type="radio" name="options" id="option2" autocomplete="off"> Data View 2 <span class="badge" style="color: #fff;">2</span>
          </label>
        </div>
      </figure>
    </div>
  </div>



  <!-- dropdown buttons -->
  <div class="row spacer-top-xl">
    <div class="col-md-12">
      <h1 class="doc-sectionhead">Dropdown Buttons</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <figure>
        <figcaption>Dropdown button sizes</figcaption>

        <div class="btn-group">
          <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
            Large
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>

        <div class="btn-group">
          <button class="btn btn-default btn dropdown-toggle" type="button" data-toggle="dropdown">
            Regular
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>

        <div class="btn-group">
          <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
            Small
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>

        <div class="btn-group">
          <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
            Extra small
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>

      </figure>
    </div>

    <div class="col-md-5">
      <figure>
        <figcaption>Split Dropdown Button</figcaption>
        <div class="btn-group">
          <button class="btn btn-default btn-lg" type="Button">Large</button>
          <button class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>

        <div class="btn-group">
        <button class="btn btn-default" type="Button">Regular</button>
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
        </div>

        <div class="btn-group">
        <button class="btn btn-default btn-sm" type="Button">Small</button>
        <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
        </div>

        <div class="btn-group">
        <button class="btn btn-default btn-xs" type="Button">Extra Small</button>
        <button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
        </div>
      </figure>
    </div>
  </div>

  <div class="row spacer-top-xl">
    <div class="col-md-5">
      <figure>
        <figcaption>Dropdown Button in Button Group</figcaption>
        <div class="btn-group">
          <button type="Button" class="btn btn-default">Button</button>
          <button type="Button" class="btn btn-default">Button</button>
          <div class="btn-group">
            <button type="Button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Dropdown
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
        </div>
      </figure>
    </div>

    <div class="col-md-5">
      <figure>
        <figcaption>Dropup Buttons</figcaption>

        <div class="btn-group dropup">
          <button type="Button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Button
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a>
            </li>
            <li><a href="#">Another action</a>
            </li>
            <li><a href="#">Something else here</a>
            </li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a>
            </li>
          </ul>
        </div>

        <div class="btn-group dropup">
          <button class="btn btn-default" type="Button">Button</button>
          <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>

      </figure>
    </div>
  </div>

  <div class="row spacer-top-xl">
    <div class="col-md-12">
      <figure>
        <figcaption>Dropdown Button Variations</figcaption>
          <div class="btn-group">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Dropdown
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>

          <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Dropdown
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>

          <div class="btn-group">
            <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">Dropdown
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>

          <div class="btn-group">
            <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">Dropdown
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>

          <div class="btn-group">
            <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">Dropdown
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>

          <div class="btn-group">
            <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">Dropdown
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
      </figure>
    </div>
  </div>



  <!-- functional buttons-->
  <div class="row spacer-top-xl">
    <div class="col-md-12">
      <h1 class="doc-sectionhead">Functional Buttons</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
        <figure>
          <figcaption>Functional Buttons</figcaption>
          <button class="btn btn-success">Success</button>
          <button class="btn btn-info">Info</button>
          <button class="btn btn-warning">Warning</button>
          <button class="btn btn-danger">Danger</button>
        </figure>
    </div>
  </div>


  <!-- LINKS -->
  <div id="links" class="row">
    <div class="col-md-8">
      <h1 class="doc-head">Links</h1>
      <p class="doc-lede">Lorem ipsum dolor sit amet, feugiat inciderint ei eum. Verterem sapientem tincidunt ut his, facilisi mnesarchum per ne. Laoreet alienum explicari cu eos, ludus eirmod ius no, constituto voluptatibus cu per. Mei fabellas definiebas eu, duo veniam deseruisse no.</p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-3">
      <figure>
        <figcaption>Standard Link</figcaption>
        <a href="">Lorem ipsum dolor</a>
      </figure>
    </div>

    <div class="col-md-3">
      <figure>
        <figcaption>Icon Link</figcaption>
        <a href=""><i class="fa fa-envelope"></i> Lorem ipsum dolor</a>
      </figure>
    </div>
  </div>


  <!-- BUTTON TOOLBARS -->
  <div id="button-toolbar" class="row">
    <div class="col-md-8">
      <h1 class="doc-head">Button Toolbars</h1>
      <p class="doc-lede">Lorem ipsum dolor sit amet, feugiat inciderint ei eum. Verterem sapientem tincidunt ut his, facilisi mnesarchum per ne. Laoreet alienum explicari cu eos, ludus eirmod ius no, constituto voluptatibus cu per. Mei fabellas definiebas eu, duo veniam deseruisse no.</p>
      <p>Toolbars can be used with or without borders by adding <code>btn-group-borderless</code>. For correct usage of button groups in table toolbars, please see the <a href="" ui-sref="tables.datatable.toolbar">Toolbar page</a></p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-4">
      <figure>
        <figcaption>Default Action Buttons</figcaption>
          <div class="btn-group">
            <button class="btn btn-default btn-sm"><i class="fa fa-fw fa-plus"></i> New</button>
          </div>

          <div class="btn-group">
            <button class="btn btn-default btn-sm"><i class="fa fa-fw fa-pencil"></i></button>
            <button class="btn btn-default btn-sm"><i class="fa fa-fw fa-copy"></i></button>
            <button class="btn btn-default btn-sm"><i class="fa fa-fw fa-trash-o"></i></button>
          </div>

          <div class="btn-group">
            <button class="btn btn-default btn-sm"><i class="fa fa-fw fa-th-list"></i></button>
            <button class="btn btn-default btn-sm"><i class="fa fa-fw fa-th"></i></button>
          </div>

          <div class="btn-group">
            <button class="btn btn-default btn-sm"><i class="fa fa-fw fa-sliders"></i></button>
          </div>
      </figure>
    </div>

    <div class="col-md-4">
      <figure>
        <figcaption>Active Action Buttons</figcaption>
          <div class="btn-group">
            <button class="btn btn-default btn-sm active"><i class="fa fa-fw fa-plus"></i> New</button>
          </div>

          <div class="btn-group">
            <button class="btn btn-default btn-sm active"><i class="fa fa-fw fa-pencil"></i></button>
            <button class="btn btn-default btn-sm active"><i class="fa fa-fw fa-copy"></i></button>
            <button class="btn btn-default btn-sm active"><i class="fa fa-fw fa-trash-o"></i></button>
          </div>

          <div class="btn-group">
            <button class="btn btn-default btn-sm active"><i class="fa fa-fw fa-th-list"></i></button>
            <button class="btn btn-default btn-sm active"><i class="fa fa-fw fa-th"></i></button>
          </div>

          <div class="btn-group">
            <button class="btn btn-default btn-sm active"><i class="fa fa-fw fa-sliders"></i></button>
          </div>
      </figure>
    </div>

    <div class="col-md-4">
      <figure>
        <figcaption>Vertical Toolbar</figcaption>
        <div class="btn-group-vertical">
          <button class="btn btn-default" type="Button"><i class="fa fa-floppy-o"/></button>
          <button class="btn btn-default" type="Button"><i class="fa fa-files-o"/></button>
          <button class="btn btn-default" type="Button"><i class="fa fa-scissors"/></button>
          <button class="btn btn-default" type="Button"><i class="fa fa-trash-o"/></button>
        </div>
      </figure>
    </div>
  </div>



  <!-- BUTTON TILES -->
  <div id="button-tiles" class="row">
    <div class="col-md-8">
      <h1 class="doc-head">Button Tiles</h1>
      <p class="doc-lede">Lorem ipsum dolor sit amet, feugiat inciderint ei eum. Verterem sapientem tincidunt ut his, facilisi mnesarchum per ne. Laoreet alienum explicari cu eos, ludus eirmod ius no, constituto voluptatibus cu per. Mei fabellas definiebas eu, duo veniam deseruisse no.</p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-3">
      <figure>
        <figcaption>Disabled</figcaption>
        <div class="logo-button-usps disabled">&nbsp;</div>
      </figure>
    </div>

    <div class="col-md-3">
      <figure>
        <figcaption>Default</figcaption>
        <div class="logo-button-usps"></div>
      </figure>
    </div>

    <div class="col-md-3">
      <figure>
        <figcaption>Hover</figcaption>
        <div class="logo-button-usps hover">&nbsp;</div>
      </figure>
    </div>

    <div class="col-md-3">
      <figure>
        <figcaption>Active</figcaption>
        <div class="logo-button-usps active"></div>
      </figure>
    </div>
  </div>



</div>
