<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Elements</div>
          <h1>Modals &amp; Popovers</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="modals" offset="100">Modals</a></li>
            <li><a href="" du-smooth-scroll="popovers">Popovers</a></li>
            <li><a href="" du-smooth-scroll="tooltips">Tooltips</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>





<div class="container">

  <div id="popovers" class="row">
    <div class="col-md-12">
      <h1>Popovers</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div>
        <h4>Dynamic</h4>

        <button popover-template="dynamicPopover.templateUrl" popover-title="Hello World" class="btn btn-default">Popover With Template</button>

        <script type="text/ng-template" id="myPopoverTemplate.html">
          <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt provident tempora officia.</div>
        </script>
        <hr />
        <h4>Positional</h4>
        <button popover-placement="top" popover="On the Top!" class="btn btn-default">Top</button>
        <button popover-placement="left" popover="On the Left!" class="btn btn-default">Left</button>
        <button popover-placement="right" popover="On the Right!" class="btn btn-default">Right</button>
        <button popover-placement="bottom" popover="On the Bottom!" class="btn btn-default">Bottom</button>
        <hr />
        <h4>Triggers</h4>
        <p>
          <button popover="I appeared on mouse enter!" popover-trigger="mouseenter" class="btn btn-default">Mouseenter</button>
        </p>
        <input type="text" value="Click me!" popover="I appeared on focus! Click away and I'll vanish..." popover-trigger="focus" class="form-control">
        <hr />
        <h4>Other</h4>
        <button Popover-animation="true" popover="I fade in and out!" class="btn btn-default">fading</button>
        <button popover="I have a title!" popover-title="The title." class="btn btn-default">title</button>
      </div>
    </div>
  </div>
</div>
