<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Product Framework/ Responsive Web / Elements</div>
          <h1>UI Controls</h1>
        </div>
      </div>
    </div>
  </div>

  <sub-header class="sub-header jump-bar headroom" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}" headroom offset="240" tolerance="5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="inputfields" offset="100">Input Fields</a></li>
            <li><a href="" du-smooth-scroll="dropdowns">Dropdowns</a></li>
            <li><a href="" du-smooth-scroll="checkboxes">Check boxes</a></li>
            <li><a href="" du-smooth-scroll="radios">Radio Buttons</a></li>
            <li><a href="" du-smooth-scroll="switches">Switches</a></li>
            <li><a href="" du-smooth-scroll="sliders">Sliders</a></li>
            <li><a href="" du-smooth-scroll="segments">Segments</a></li>
            <li><a href="" du-smooth-scroll="selectors">Selectors</a></li>
          </ul>

        </div>
      </div>
    </div>
  </sub-header>

</div>

<div class="container">

<!-- intro text block is larger, but only 8 cols wide -->
  <div class="row" id="inputfields">
    <div class="col-md-8">
      <h1 class="doc-head">Input Fields</h1>
      <p class="doc-lede">The form field is our most often used input, and thus has a range of states and uses that inform our users. It is our rule that the content within a field is the primary design focus, while the label is secondary.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">States</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <p>Form fields have four primary states, each defined by its form and type coloring:</p>
      <ul>
        <li>Default</li>
        <li>Active</li>
        <li>Disabled</li>
        <li>Error</li>
      </ul>

    </div>
    <div class="col-md-4 col-md-offset-1">

      <figure>
        <figcaption>Normal</figcaption>
        <div class="form-group">
          <label>Text input label</label>
          <input class="form-control" name="text1" placeholder="Optional placeholder text" type="text"/>
        </div>
      </figure>

      <figure>
        <figcaption>Active (Focused)</figcaption>
        <div class="form-group">
          <label>Text input label</label>
          <input class="form-control focus" name="text1" type="text" value="Some text has been entered"/>
        </div>
      </figure>

      <figure>
        <figcaption>Disabled</figcaption>
        <div class="form-group">
          <label>Text input label</label>
          <input class="form-control" disabled="disabled" name="text1" type="text"/>
        </div>
      </figure>

      <figure>
        <figcaption>Error</figcaption>
        <div class="form-group has-error">
          <label>Text field with error</label>
          <input class="form-control" type="text" value="I was entered in error!">
          <span class="help-block text-error">Please enter a valid name.</span>
        </div>
      </figure>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Sizes</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <p>
        We have three sizes of most inputs: default, small, and large. The default size should be used for fields in all instances except:</p>

      <ul>
        <li>If you have a large, crowded form (20+ fields) consider using the smaller size inputs</li>
        <li>If you have an extremely light form (&lt;10 fields) consider use large fields (Example: sign in screens)</li>
        <li>Note that the field itself and its contents are smaller, but the label remains 14px always</li>
      </ul>
  </div>
  <div class="col-md-4 col-md-offset-1">
      <figure>
        <figcaption>Large input</figcaption>
        <div class="form-group">
          <label>Text Label</label>
          <input class="form-control input-lg" placeholder=".input-lg" type="text">
        </div>
        <figcaption>Standard input</figcaption>
        <div class="form-group">
          <label>Text label</label>
          <input class="form-control"  type="text">
        </div>
        <figcaption>Small input</figcaption>
        <div class="form-group">
          <label>Text label</label>
          <input class="form-control input-sm" placeholder=".input-sm" type="text">
        </div>
      </figure>
    </div>
  </div>





<!-- row -->
  <div class="row">
<!-- left -->
    <div class="col-md-5">
      <p>
        Some fields require some explanation to users so they understand what they’re being asked for. In these cases you can include a short line of instructional text below the field.
      </p>
      <p>Should that not be sufficient, you can provide a small popover next to the label that provides additional context for users.</p>

    </div>
<!-- right -->
    <div class="col-md-4 col-md-offset-1">
      <figure>
        <figcaption>Help text below field</figcaption>
        <div class="form-group">
          <label>Text field label</label>
          <input class="form-control" type="text">
          <span class="help-block">Enter your full name.</span>
        </div>
      </figure>
      <figure>
        <figcaption>Help icon next to label</figcaption>
        <div class="form-group">
          <label>Text field label
            <i class="fa fa-info-circle"></i>
          </label>
          <input class="form-control" type="text">
        </div>
      </figure>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Password fields</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <p>A password strength meter tied to the input field is specifically on registration pages to help users choose a secure, system-OK combination.</p>
    </div>
    <div class="col-md-4 col-md-offset-1">

      <div class="post-it">Controls TK</div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Writing Form Field Labels</h2>
    </div>
  </div>
<!-- row -->
  <div class="row">
<!-- left -->
    <div class="col-md-8">

      <p>

        <p>When writing your labels and in-field prompt text, it’s important to stay consistent across your entire product. Here are some basic guidelines for how to write these critical pieces of user interface copy.
        </p>
        <p>
          <b>Style</b>
        </p>
        <ul>
          <li>Use short, active words and phrases.</li>
          <li>Structure labels to avoid ambiguity in language.</li>
          <li>To avoid confusing users, use consistent terminology for a given concept (e.g., “Input Recipient’s Name” vs. “Input Addressee’s Name” vs. “Input Contact’s Name”).</li>
        </ul>
        <p>
          <b>Capitalization</b>
        </p>
        <ul>
          <li>Form field labels use sentence capitalization, except when they include words or phrases that are acronyms or proper nouns (e.g., “RMA number,” “Cost Account,” “ZIP Code”).</li>
        </ul>

        <p>
          <b>Punctuation</b>
        </p>
        <ul>
          <li>Form field labels don’t conclude with punctuation, such as periods, colons.</li>
          <li>Don’t phrase your form field labels as questions.</li>
        </ul>
      </p>

    </div>

  </div>

  <div class="row" >
    <div class="col-md-8">
      <h1 class="doc-head" id="dropdowns">Dropdown (Select) Menus</h1>
      <p class="doc-lede">Dropdown menus behave similarly to form fields, using color to indicate their availability for input and provide feedback to users.</p>
    </div>
  </div>

<!-- row -->
  <div class="row">
<!-- left -->
    <div class="col-md-5">
      Dropdown menus have four primary states, each defined by its form and type coloring:
      <ul>
        <li>Default</li>
        <li>Focuses</li>
        <li>Active</li>
        <li>Disabled</li>
      </ul>
      Which states a user sees depends on whether or not the menu is enabled or disabled.

      <p class="post-it">Do we have any position on what the prompt is for a select menu?  Is it "Choose", "Choose one" etc? With out without the ellipses? Nothing?</p>

    </div>
<!-- right -->
    <div class="col-md-4 col-md-offset-1">
      <figure>
        <figcaption>Standard dropdown</figcaption>
        <div class="form-group">
          <label>Text label</label>
          <select class="form-control" ng-model="selectedPerson" ng-options="person.full_name for person in inputs.samplePeople">
            <option value="">Choose one...</option>
          </select>
        </div>
        <figcaption>Focused dropdown</figcaption>
        <div class="form-group">
          <label>Text label</label>
          <select class="form-control focus" ng-model="selectedPerson" ng-options="person.full_name for person in inputs.samplePeople">
            <option value="">Choose one...</option>
          </select>
        </div>
        <figcaption>Disabled dropdown</figcaption>
        <div class="form-group">
          <label>Text label</label>
          <select class="form-control" disabled ng-model="selectedPerson" ng-options="person.full_name for person in inputs.samplePeople">
            <option value="">Choose one...</option>
          </select>
        </div>
        <figcaption>Error dropdown</figcaption>
        <div class="form-group has-error">
          <label>Text label</label>
          <select class="form-control" ng-model="selectedPerson" ng-options="person.full_name for person in inputs.samplePeople">
            <option value="">Choose one...</option>
          </select>
        </div>

      </figure>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Sizes of system select menus</h2>
    </div>
  </div>
<div class="row">
  <div class="col-md-5">
    <p class="post-it">Need copy</p>
  </div>
  <div class="col-md-4 col-md-offset-1">
    <figure>
      <figcaption>Large</figcaption>
      <div class="form-group">
        <label>Text label</label>
        <select class="form-control input-lg" ng-model="selectedPerson" ng-options="person.full_name for person in inputs.samplePeople">
          <option value="">
            Choose one...
          </option>
        </select>
      </div>

      <figcaption>Standard</figcaption>
      <div class="form-group">
        <label>Text label</label>
        <select class="form-control" ng-model="selectedPerson" ng-options="person.full_name for person in inputs.samplePeople">
          <option value="">Choose one...</option>
        </select>
      </div>

      <div class="form-group">
        <label>Text label</label>
        <figcaption>Small</figcaption>
        <select class="form-control input-sm" ng-model="selectedPerson" ng-options="person.full_name for person in inputs.samplePeople">
          <option value="">Choose one...</option>
        </select>
      </div>
    </figure>
  </div>
</div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Advanced select menus</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <p class="post-it">copy needed</p>
      <p class="more-info">
        <a href="http://brianreavis.github.io/selectize.js/" target="_blank">
          Basic info

          <i class="fa fa-external-link"/>
        </a>
        <a href="https://github.com/kbanman/selectize-ng" target="_blank">
          Angular info
          <i class="fa fa-external-link"/></a>
      </p>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <div class="form-group">
        <label>
          Single-select</label>
        <select ng-model="inputs.countrySelect.selected" options="inputs.countrySelect.countries" selectize="inputs.countrySelect.options" type="text"></select>
      </div>
      <div class="form-group">
        <label>
          Multi-select with tokens</label><input ng-model="inputs.multiCountrySelect.selected" options="inputs.countrySelect.countries" selectize="inputs.multiCountrySelect.options" type="text"/>
      </div>
      <div class="form-group">
        <label>
          Custom menu items
        </label><select ng-model="inputs.peopleSelect.selected" options="inputs.peopleSelect.people" selectize="inputs.peopleSelect.options"/>
      </div>
    </div>
  </div>

<!-- row -->
  <div class="row">
<!-- left -->
    <div class="col-md-8">
      <h2 class="doc-sectionhead">Writing Dropdown Menu Labels</h2>
      <p>When writing labels and menu items for dropdowns, it’s important to stay consistent across your entire product. Here are some basic guidelines for how to write these critical pieces of user interface copy.</p>

      <b>Style</b>
      <ul>
    <li>Use short, active words and phrases.</li>
    <li>Structure labels to avoid ambiguity in language.</li>
    <li>To avoid confusing users, use consistent terminology for a given concept (e.g., “Input Recipient’s Name” vs. “Input Addressee’s Name” vs. “Input Contact’s Name”).</li>
  </ul>

    <b>Capitalization</b>
    <ul>
      <li>Dropdown menu labels use sentence capitalization, except when they include words or phrases that are acronyms or proper nouns, which should be capitalized.</li>
      <li>Dropdown menu items use title capitalization, because they behave like buttons.</li>
    </ul>
    <b>Punctuation</b>
    <ul>
    <li>Dropdown labels and items don’t conclude with punctuation, such as periods, colons.</li>
    <li>Don’t phrase your dropdown labels as questions.</li>
  </ul>

  </div>

</div>

<div class="row">
  <div class="col-md-8">
    <h1 class="doc-head"  id="checkboxes">Checkboxes</h1>
  </div>
</div>


<div class="row">
  <div class="col-md-5">
    <p class="post-it">
      need copy explaining the 2 types of radios and checkboxes, and when they migh want to use the "basic" ones?
    </p>
  </div>
  <div class="col-md-4 col-md-offset-1">
    <figure>
    <div class="row">
      <div class="col-md-6">
        <figcaption>Enhanced checkboxes</figcaption>
        <div class="checkbox checkbox-enhanced-sm">
          <input checked id="check4" type="checkbox">
          <label for="check4">Checkbox</label>
        </div>
        <div class="checkbox checkbox-enhanced-sm">
          <input id="check5" name="check" type="checkbox">
          <label for="check5">Checkbox
          </label>
        </div>
        <div class="checkbox checkbox-enhanced-sm disabled">
          <input disabled id="check6" name="check" type="checkbox">
          <label for="check6">Checkbox (disabled)
          </label>
        </div>
      </div>
      <div class="col-md-6">
        <figcaption>Standard OS checkboxes</figcaption>
        <div class="checkbox">
          <label for="c1">
            <input checked id="c1" type="checkbox">
            Checkbox</label>
        </div>
        <div class="checkbox">
          <label for="c2">
            <input id="c2" name="check" type="checkbox">
            Checkbox
          </label>
        </div>
        <div class="checkbox disabled">
          <label for="c3">
            <input disabled id="c3" name="check" type="checkbox">
            Checkbox (disabled)
          </label>
        </div>
      </div>
    </div>
  </figure>
</div>
</div>

<div class="row">
  <div class="col-md-8">
    <h1 class="doc-head"  id="radios">Radio buttons</h1>
  </div>
</div>



<!-- row -->
<div class="row">
  <!-- left -->
  <div class="col-md-5">
    <p class="post-it">need text</p>
  </div>
  <!-- right -->
  <div class="col-md-4 col-md-offset-1">
    <div class="row">
      <figure>
      <div class="col-md-6">
        <figcaption>Enhanced radio buttons</figcaption>
        <div class="radio radio-enhanced-sm">
          <input checked id="radio3" name="radioOptions" type="radio">
          <label for="radio3">Radio</label>
        </div>
        <div class="radio radio-enhanced-sm">
          <input id="radio4" name="radioOptions" type="radio">
          <label for="radio4">Radio
          </label>
        </div>
        <div class="radio radio-enhanced-sm disabled">
          <input disabled id="radio5" name="radioOptions" type="radio">
          <label for="radio5">Radio (disabled)
          </label>
        </div>
      </div>
      <div class="col-md-6">
        <figcaption>Standard OS radio buttons</figcaption>

        <div class="radio">
          <label for="rd11">
            <input checked id="rd11" name="radioStandard" type="radio">
            Radio</label>
        </div>
        <div class="radio">
          <label for="rd22">
            <input id="rd22" name="radioStandard" type="radio">
            Radio</label>
        </div>
        <div class="radio disabled">
          <label for="rd33">
            <input disabled id="rd33" name="radioStandard" type="radio">
            Radio (disabled)
          </label>
        </div>
      </div>
      </figure>

    </div>
  </div>
</div>













<!--  -->
<!--  -->
<h1 style="margin-top:400px;">BELOW OLD CONTENT IGNORE</h1>

<div class="row">

  <div class="col-md-5 col-md-offset-1">

    <fieldset>
      <legend>
        Column sizing</legend>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>
              Text input</label><input class="form-control" type="text">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label>
              Text input</label><input class="form-control" type="text">
          </div>
        </div>
        <div class="col-md-7">
          <div class="form-group">
            <label>
              Text input</label><input class="form-control" type="text">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span class="help-block">
            Wrap inputs in grid columns, or any custom parent element, to easily enforce desired widths.</span>
        </div>
      </div>
    </fieldset>
    <fieldset>

      <div class="row">
        <div class="col-md-12">
          <legend>
            Date &amp; time picker
            <a href="http://eonasdan.github.io/bootstrap-datetimepicker/" target="_blank">
              <span class="more-info">More info<i class="fa fa-external-link"/>
              </span>
            </a>
          </legend>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <label>
              Date
            </label>
            <div class="input-group" ng-model="inputs.datetimepicker1" pb-datetimepicker><input class="form-control" placeholder="MM/DD/YYYY" type="text">
              <span class="input-group-btn">
                <button class="btn btn-default">
                  <span class="fa fa-calendar"/></button>
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <div class="form-group">
            <label>
              Time
            </label>
            <div class="input-group" ng-model="inputs.datetimepicker2" pb-datetimepicker><input class="form-control" type="text">
              <span class="input-group-btn">
                <button class="btn btn-default">
                  <span class="fa fa-clock-o"/>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>
        Numeric stepper
        <span class="more-info">
          <a href="https://github.com/xFlatlinex/Numeric-Stepper" target="_blank">More info
            <i class="fa fa-external-link"/></a>
        </span>
      </legend>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group"><input class="form-control" options="numericStepper" pb-numeric-stepper type="text" value="10">
          </div>
        </div>
      </div>

    </fieldset>
  </div>
</div>
<fieldset>
  <legend>Input field sizes</legend>
  <div class="row">
    <div class="col-md-5">

      <h4>
        Text inputs</h4>

      <div class="form-group">
        <label>Large input</label>
        <input class="form-control input-lg" placeholder=".input-lg" type="text">
      </div>
      <div class="form-group">
        <label>Standard input</label>
        <input class="form-control" placeholder="Default input" type="text">
      </div>
      <div class="form-group">
        <label>Small input</label>
        <input class="form-control input-sm" placeholder=".input-sm" type="text">
      </div>

      <div class="col-md-5 col-md-offset-1">
        <h4>
          Select menus
        </h4>
        <select class="form-control input-lg" ng-model="selectedPerson" ng-options="person.full_name for person in inputs.samplePeople">
          <option value="">
            Large Size
          </option>
        </select><br>
        <select class="form-control" ng-model="selectedPerson" ng-options="person.full_name for person in inputs.samplePeople">
          <option value="">Normal Size</option>
        </select>
        <br>
        <select class="form-control input-sm" ng-model="selectedPerson" ng-options="person.full_name for person in inputs.samplePeople">
          <option value="">Small Size</option>
        </select>
      </div>
    </div>
  </div>
</fieldset>
<fieldset>
  <legend>
    Selectize select menu
    <span class="more-info">
      <a href="http://brianreavis.github.io/selectize.js/" target="_blank">
        Basic info

        <i class="fa fa-external-link"/>
      </a>
      <a href="https://github.com/kbanman/selectize-ng" target="_blank">
        Angular info
        <i class="fa fa-external-link"/></a>
    </span>
  </legend>
  <div class="row"></div>
</fieldset>

<fieldset>
  <legend>Switches
    <span class="more-info">
      <a href="http://jumplink.github.io/angular-toggle-switch/" target="_blank">Angular info
        <i class="fa fa-external-link"/>
      </a>
    </span>

  </legend>
  <div class="form-group switches row">
    <div class="col-md-2">
      <div model="inputs.switchStatus1" toggle-switch/></div>
    <div class="col-md-2">
      <div is-disabled="disabled" model="inputs.switchStatus2" toggle-switch/></div>
    <div class="col-md-2"><div model="inputs.switchStatus3" toggle-switch/>
    </div>
  </div>
</fieldset>

<fieldset>
  <legend>
    Input groups
    <span class="more-info">
      <a href="http://getbootstrap.com/components/#input-groups">
        learn more
        <i class="fa fa-external-link"/></a>
    </span>
  </legend>
  <div class="row">
    <div class="col-md-12">
      <p class="help-text">Icons, buttons, and simple menus can be prepended and/or appended to text fields.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="">Text field prepended</label>
        <div class="input-group">
          <span class="input-group-addon">
            @
          </span><input class="form-control" placeholder="Username" type="text"></div>
      </div>
    </div>

    <div class="col-md-3 col-md-offset-1">
      <div class="form-group">
        <label for="">
          Text field appended</label>
        <div class="input-group">
          <input class="form-control" placeholder="Text to filter by" type="text">
          <span class="input-group-addon"><i class="fa fa-filter"/></span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-md-offset-1">
      <div class="form-group">
        <label for="">
          Text field with both</label>
        <div class="input-group">
          <span class="input-group-addon">
            $
          </span><input class="form-control" placeholder="Amount" type="text">
          <span class="input-group-addon">.00
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="">
          Text field prepended with menu</label>
        <div class="input-group">
          <div class="input-group-btn">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">Action<span class="caret"/>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Action</a>
              </li>
              <li>
                <a href="#">Another action</a>
              </li>
              <li>
                <a href="#">Something else here</a>
              </li>
              <li class="divider"/>
            <li>
              <a href="#">Separated link</a>
            </li>
          </ul>
        </div><input class="form-control" placeholder="Product name" type="text">
      </div>
    </div>
  </div>
  <div class="col-md-3 col-md-offset-1">
    <div class="form-group">
      <label for="">
        Text field appended with button</label>
      <div class="input-group">
        <input class="form-control" placeholder="Search" type="text">
        <span class="input-group-btn">
          <button class="btn btn-primary"><i class="fa fa-search"/>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="row">

  <div class="col-md-3">
    <label>
      Custom prepended checkbox control</label>
    <div class="input-group" pb-checkable-input-group>
      <span class="input-group-addon">
        <input ng-model="checkable.checked" type="checkbox">
      </span>
      <input class="form-control" ng-disabled="!checkable.checked" ng-model="checkable.value" type="text"></div>
  </div>
</div>
</fieldset>
<fieldset>
<legend>
  Miscellaneous controls
</legend>

<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <label>File upload
      </label>
      <input class="form-control" name="file1" type="file">
    </div>
  </div>
</div>
</fieldset>

<fieldset>
<legend>Multiple-select</legend>

<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label>
        Multiple select
      </label>
      <select class="form-control" multiple ng-model="selectedPerson" ng-options="person.full_name for person in inputs.samplePeople"/></div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Multiple select (disabled)</label>

      <select class="form-control" multiple ng-disabled="true" ng-model="selectedPerson2" ng-options="person.full_name for person in inputs.samplePeople"/>
    </div>
  </div>
  <div class="col-md-4">
    <label>Multiple select with checkboxes
    </label>
    <div class="checkboxList form-control">
      <div class="ms-checkboxitem" ng-repeat="person in inputs.samplePeople">
        <label>
          <input ng-model="person.isChecked" type="checkbox">&nbsp;
          <span>
            {{person.full_name}}

          </span>
        </label>
      </div>
    </div>
  </div>
</div>
</fieldset>

<fieldset>
<legend>Submit and cancel buttons</legend>
<div class="form-group"><input class="btn btn-primary" type="submit" value="Submit">
  &nbsp;
  <input class="btn btn-link" type="reset" value="Cancel">
</div>
</fieldset>
</div>
