<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Product Framework / Responsive Web / Elements</div>
          <h1>Containers</h1>
        </div>
      </div>
    </div>
  </div>
  <sub-header headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <li><a href="">Accordions</a></li>
    <li><a href="">Cards</a></li>
    <li><a href="">Panels</a></li>
    <li><a href="">Tabs</a></li>
    <li><a href="">Tiles</a></li>
    <li><a href="">Widgets</a></li>
  </sub-header>
</div>


<div ui-view="accordions"> </div>
<div ui-view="panels"> </div>
