<section class="row">
  <div class="col-md-12">
    <h1>Tables</h1>
  </div>
</section>
<section class="row">
  <div class="col-md-6">
    <h4 class="sh">Basic table</h4>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>First name</th>
          <th>Last name</th>
          <th class="currency">Gross Sales</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="p in tables.people">
          <td>00{{p.id}}</td>
          <td>{{p.firstName}}</td>
          <td>{{p.lastName}}</td>
          <td class="currency">{{p.gross_sales}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <h4 class="sh">Basic table striped</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>First name</th>
          <th>Last name</th>
          <th class="currency">Gross Sales</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="p in tables.people">
          <td>{{$index + 1}}</td>
          <td>{{p.firstName}}</td>
          <td>{{p.lastName}}</td>
          <td class="currency">{{p.gross_sales}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<section class="row">
  <div class="col-md-6">
    <h4 class="sh">Table  hover</h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>First name</th>
          <th>Last name</th>
          <th class="currency">Gross Sales</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="p in tables.people">
          <td>00{{p.id}}</td>
          <td>{{p.firstName}}</td>
          <td>{{p.lastName}}</td>
          <td class="currency">{{p.gross_sales}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <h4 class="sh">Table striped hover</h4>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>First name</th>
          <th>Last name</th>
          <th class="currency">Gross Sales</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="p in tables.people">
          <td>00{{p.id}}</td>
          <td>{{p.firstName}}</td>
          <td>{{p.lastName}}</td>
          <td class="currency">{{p.gross_sales}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<section class="row">
  <div class="col-md-6">
    <h4 class="sh">Table condensed</h4>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>#</th>
          <th>First name</th>
          <th>Last name</th>
          <th class="currency">Gross Sales</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="p in tables.people">
          <td>00{{p.id}}</td>
          <td>{{p.firstName}}</td>
          <td>{{p.lastName}}</td>
          <td class="currency">{{p.gross_sales}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <h4 class="sh">Table Extra Condensed</h4>
    <table class="table table-condensed-extra">
      <thead>
        <tr>
          <th>#</th>
          <th>First name</th>
          <th>Last name</th>
          <th class="currency">Gross Sales</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="p in tables.people">
          <td>00{{p.id}}</td>
          <td>{{p.firstName}}</td>
          <td>{{p.lastName}}</td>
          <td class="currency">{{p.gross_sales}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
