<!-- row -->
<div class="row doc-sectionbreak">
<!-- left -->
  <div class="col-md-4">
    <p class="post-it">Need copy</p>
    <p class="more-info">
      <a href="http://jumplink.github.io/angular-toggle-switch/" target="_blank">Angular info
        <i class="fa fa-external-link"/>
      </a>
    </p>
  </div>
<!-- right -->
  <div class="col-md-7 col-md-offset-1 figure-spacer">
<!-- 2 columns in right -->
    <div class="row">
      <div class="col-md-5">

        <div class="form-group">
          <label>Text label</label>
          <div model="inputs.switchStatus1" toggle-switch/>&nbsp;</div>
      </div>

    </div>
    <div class="col-md-5">

      <div class="form-group">
        <label>Text label</label>
        <div is-disabled="disabled" model="inputs.switchStatus2" toggle-switch/>&nbsp;</div>
    </div>

  </div>
</div>
</div>
</div>
