<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12 hero-unit">

        <ul>
          <li ng-repeat="level1 in dash.navdata">
            <a ui-sref="{{level1.value}}">{{level1.label}}</a>

            <ul>
              <li ng-repeat="level2 in level1.children">
                <a ui-sref="{{level2.value}}">{{level2.label}}</a>

                <ul>
                  <li ng-repeat="level3 in level2.children">
                    <a ui-sref="{{level3.value}}">{{level3.label}}</a>

                    <ul>
                      <li ng-repeat="level4 in level3.children">
                        <a ui-sref="{{level4.value}}">{{level4.label}}</a>

                        <ul>
                          <li ng-repeat="level5 in level4.children">
                            <a ui-sref="{{level5.value}}">{{level5.label}}</a>
                          </li>
                        </ul>





                      </li>
                    </ul>

                  </li>
                </ul>
              </li>
            </ul>

          </li>
        </ul>

      </div>

    </div>
  </div>
</div>
