//* -- THIS FILE CONTAINS STYLES FOR THE LIVE PREVIEW SITE ONLY!                         */
//* -- THESE STYLES ARE NOT MEANT TO BE USED ON PROJECTS, ONLY USE THE DESIGN_SYSTEM.CSS */

@import 'settings/variables/variables';
// @import 'settings/variables/colormap';
@import 'settings/mixins/mixins';
// @import 'settings/mixins/colors';
@import 'settings/mixins/typography';



//DOCUMENTATION PAGES

.doc-hero {
  background: linear-gradient(90deg, #4c4ca2 0%, #872e96 42%, #872e96 48%, #c90d8b 100%);
  height: 300px;
  border-top: 1px solid rgba(255, 255, 255, .5);
  margin-top: 50px; // height of navbar
  position: relative;
  .hero-header {
    margin-top: 115px;
    .eyebrow {
      font-family: $font-family-ps-regular;
      font-size: 16px;
      color: rgba(255, 255, 255, .5);
    }
    h1 {
      font-size: 40px;
      color: #fff;
      font-family: $font-family-ps-light; //NOTE: global spec for h1.ko is reg not light
      margin-top: 5px;
    }
  }
  .jump-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, .1);
    color: rgba(255, 255, 255, 1);
    font-family: $font-family-ps-regular;
    z-index: 4;
    .jump-menu {
      padding: 15px 0 0;
      li {
        font-size: 1em;
        margin-right: 1.5%;
        transition: all .3s linear;
         @media (min-width: 1200px) {
          font-size: 1.2em;
          margin-right: 4%;
        }
        a {
          color: inherit;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}


@include breakpoint($screen-xs) {
  content: 'Whoa.';
}




.sub-header.jump-bar {
  background: linear-gradient(90deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)),
  linear-gradient(90deg, #4c4ca2 0%, #872e96 40%, #872e96 45%, #c90d8b 100%);


  // not docked
  &.headroom-top {
    // position: relative;
    height: 50px;
    top: 250px;
  }

  //docked
  &.headroom-not-top {
    height: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
    top: 50px;
    position: fixed;
    ul {
      padding-top: 15px;
    }
  }
}


// DOCS TYPOGRAPHY differs from DS
.doc-head {
  margin-top: 80px;
}
.doc-lede {
  font-size: 16px;
  line-height: 1.5;
  color: #3a3a3a;
}
.doc-sectionhead {
  font-family: $font-family-ps-regular;
  color: $header-color;
  font-size: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid $pb-light-gray;
  margin-top: 70px;
  margin-bottom: 50px;
}

.doc-sectionbreak {
  margin-top: 50px;
}
// right side column on sectionbreak has this div added
.figure-spacer {
  border-top: 1px solid $pb-light-gray;
  padding-top: 40px;
}



figure {
  margin-bottom: 10px;
  figcaption {
    clear: both;
    color: $pb-magenta;
    font-family: $font-family-sans-serif;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 35px;
  }
}

.row:first-child figure:first-child > figcaption {
  margin-top: 0;
}


// type samples table
.type-samples {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  tr >td:first-child {
    width: 40%;
  }
  tr >td:last-child {
    font-family: $font-family-monospace;
    .swatch {
      display: inline-block;
      min-width: 20px;
      height: 20px;
      border: 1px solid $pb-gray;
      padding: 2px 5px;
      font-size: 12px;
      line-height: 1.2;
      border-radius: 3px;
    }
  }
}



h4,
h1,
h3,
legend {
  .more-info {
    font-family: $font-family-ps-light;
    font-size: 14px;
    font-weight: normal;
    margin-top: 10px;
    margin-left: 30px;
    display: inline-block;
    text-transform: lowercase;
    a {
      color: $link-color;
      font-weight: normal;
    }
  }
}


h4 {
  margin: 25px 0 5px;
}

.donut-varied-padded {
  margin-right: 25px;
  margin-left: 25px;
}

.fpo-grad {
  padding: 10px;
  // background-image: linear-gradient(#ddd, #666);
  background-position: center center;
  background-size: fit;

  p.help-text {
    color: #fff;
  }
}

.glyphicons {
  li {
    font-size: .8em;
    margin-bottom: 20px;
    text-align: center;
  }
}

.text-center {
  .pie,
  .donut {
    width: 100px;
    margin: 0 auto 20px;
  }
}

.clearRow {
  clear: left;
}

.post-it {
  font-family: Noteworthy, 'comic sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  background-color: #ffe373;
  padding: 10px;
  transform: rotate(-1deg);
}

//
// //* color swatch backgrounds */
.brand-primary {
  background-color: $brand-primary;
}

.brand-success {
  background-color: $brand-success;
}

.brand-danger {
  background-color: $brand-danger;
}

.brand-info {
  background-color: $brand-info;
}

.brand-warning {
  background-color: $brand-warning;
}

.chart-green {
  background-color: $chart-green;
}

.chart-blue {
  background-color: $chart-blue;
}

.chart-purple {
  background-color: $chart-purple;
}

.chart-yellow {
  background-color: $chart-yellow;
}

.chart-orange {
  background-color: $chart-orange;
}

.chart-red {
  background-color: $chart-red;
}
//
.blue1 {
  background-color: $blue1;
}

.blue2 {
  background-color: $blue2;
}

.blue3 {
  background-color: $blue3;
}

.blue4 {
  background-color: $blue4;
}

.blue5 {
  background-color: $blue5;
}

.blue6 {
  background-color: $blue6;
}

.gray700 {
  background-color: $pb-gray-700;
}

.gray500 {
  background-color: $pb-gray-500;
}

.gray300 {
  background-color: $pb-gray-300;
}

.gray200 {
  background-color: $pb-light-gray;
}
//* panels page */
.list-group-details {
  .form-group {
    margin-bottom: 0;
  }

  .control-label {
    padding-top: 3px;
    padding-right: 0;
    text-align: left;

    strong {
      font-weight: normal;
      padding-right: .3em;
      color: $pb-gray-500;
      background-color: #fff;
    }

    &:before {
      float: left;
      width: 0;
      content: '..........................................';
      white-space: nowrap;
      color: $pb-gray-300;
    }
  }

  .form-control-static {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: .3em;
    word-wrap: break-word;
    background-color: #fff;
  }
}

.view-animate {
  transition: all .3s;

  &.ng-enter,
  &.ng-leave {
    opacity: 1;
  }

  &.ng-enter,
  &.ng-leave-active,
  &.ng-hide {
    height: 0;
    opacity: 0;
  }
}
//* experimental block grid code, will not work in IE8
// used to display icons on icons page
[class*='block-grid-'] {
  @include clearfix;
  display: block;
  padding: 0;
  margin: 0 -.55556rem;

  >li {
    display: block;
    height: auto;
    float: left;
    padding: 0 .55556rem 1.11111rem;
  }
}

.block-grid-6 >li {
  width: 16.66666%;
}

.small-block-grid-3 >li {
  width: 33.33333%;
  list-style: none;
}

.small-block-grid-3 >li:nth-of-type(1n) {
  clear: none;
}

.small-block-grid-3 >li:nth-of-type(3n+1) {
  clear: both;
}

// fa's styleguide page, a one-off
.styleguide {
  footer {
    display: none;
  }
  section {
    margin-top: 50px;
  }
}


// used for example table status, move to Live preview sass
.status {
  &.status-success {
    color: $brand-primary;
  }
  &.status-error {
    color: $brand-danger;
  }
  &.status-warning {
    color: $brand-warning;
  }
}


// PREVIEW "EXAMPLE" BOXES, AS ON BS.COM
.preview-example {
  background-color: #fff;
  position: relative;
  padding: 40px 9px 9px;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  margin: 20px 0;

  &:before {
    content: 'Example';
    position: absolute;
    font-size: 9px;
    top: 0;
    left: 0;
    padding: 3px 7px;
    text-transform: uppercase;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-top: 0;
    border-left: 0;
    letter-spacing: .1em;
  }

  &.preview-example-live {
    &:before {
      font-family: 'FontAwesome';
      content: '\f0e7   Live example';
    }
  }

  +.preview-code {
    margin-top: -25px;
    margin-bottom: 20px;
  }
}

.preview-code {
  pre {
    border-color: #e3e3e3;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0;
    padding: 10px;

    code {
      background: transparent;
    }
  }
}
