//* -- THIS FILE CONTAINS STYLES FOR THE LIVE PREVIEW SITE ONLY!                         */
//* -- THESE STYLES ARE NOT MEANT TO BE USED ON PROJECTS, ONLY USE THE DESIGN_SYSTEM.CSS */

@import 'settings/variables';
@import 'settings/mixins';
@import 'base/helpers';
@import 'nucleo_mini/demo';
@import 'base/typography';


@import 'documentation/docpage-header';
@import 'documentation/doc-sidebar';
@import 'documentation/docpage-body';
@import 'documentation/content';


// home page
// scss-lint:disable MergeableSelector

.home {
  // all hero divs
  div[class^='hero-'] {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    @include breakpoint(screen-xs) {
      flex-direction: column;
      padding: 20px;
    }
  }

  p.versions {
    font-size: 12px;
    a {
      font-size: 12px;
      color: hsl(0, 0%, 90%);
      text-decoration: underline;
    }
  }

  .diptych {
    display: flex;
    align-items: center;

    @include breakpoint(screen-xs) {
      flex-direction: column;
      padding: 0 20px;
    }
    > div:first-child {
      padding-right: 20px;
      transition: padding .5s ease;
    }
    transition: padding .5s ease;
  }

  .title-unit {
    h1 {
      color: inherit;
      font-size: 32px;
      font-family: $font-family-ps-regular;
      margin-top: 5px;
      @include breakpoint(screen-xs) {
        font-size: 24px;
      }
    }
    .eyebrow {
      color: inherit;
      font-size: 20px;
      font-family: $font-family-ps-light;
    }
    p {
      color: inherit;
      font-size: 16px;
      line-height: 1.5;
      &.versions {
        font-size: 12px;
        @include breakpoint(screen-xs) {
          font-size: 14px;
        }
      }
    }
  }
  //
  .hero-main {
    background: #3d52a3 url('../images/hero-bg.jpg') top right 0 no-repeat;
    border-top: 1px solid rgba(255, 255, 255, .2);
    color: #fff;
    position: relative;
    .title-unit {
      max-width: 600px;
    }
    .scroll-down-arrow {
      position: absolute;
      bottom: 20px;
      left: 50%;
    }
  }

  //
  .hero-principles {
    .title-unit {
      h1 {
        color: #717171;
      }
      .eyebrow {
        color: $pb-magenta;
      }
    }
  }

  //
  .hero-web {
    background: #cf098b url('../images/hero-web-pattern.jpg') top center no-repeat;
    .diptych {
      > div:first-child {
        margin-left: 20px;
      }
    }
    .title-unit {
      h1 {
        color: #fff;
      }
      .eyebrow {
        color: rgba(255, 255, 255, .6);
      }
      p {
        color: #fff;
      }
    }
    @include breakpoint(screen-xs) {
      img {
        max-width: 90%;
        margin: 20px 0 0;
      }
    }
  }

  //
  .hero-mobile {
    .title-unit {
      h1 {
        color: #717171;
      }
      .eyebrow {
        color: rgba(207, 9, 137, .65);
      }
    }
    @include breakpoint(screen-xs) {
      img {
        max-width: 60%;
        margin: 20px 0 0 20px;
      }
    }
  }

  //
  .hero-global {
    background: url('../images/hero-globalization.jpg') center center no-repeat, linear-gradient(90deg, #9a4097 0%, #4951a2 100%);
    .title-unit {
      h1 {
        color: #fff;
      }
      .eyebrow {
        color: rgba(255, 255, 255, .6);
      }
    }
  }

  //
  .hero-resources {
    .title-unit {
      h1 {
        color: #717171;
      }
      .eyebrow {
        color: rgba(207, 9, 137, .65);
      }
    }
  }

  // offset layout for large desktop
  @media screen and (min-width: $screen-lg) {
    .hero-principles {
      .diptych {
        padding-right: 190px;
        > div:first-child {
          padding-right: 150px;
        }
      }
    }
    .hero-web {
      .diptych {
        > div:first-child {
          padding-right: 140px;
        }
      }
    }
    .hero-mobile {
      .diptych {
        padding-right: 170px;
        > div:first-child {
          padding-right: 230px;
        }
      }
    }
    .hero-global {
      .diptych {
        padding-right: 100px;
        > div:first-child {
          padding-right: 200px;
        }
      }
    }
    .hero-resources {
      .diptych {
        padding-right: 160px;
        > div:first-child {
          padding-right: 120px;
        }
      }
    }
  }
}

// DOCS TYPOGRAPHY differs from DS
.doc-head {
  margin-top: 80px;
  margin-bottom: 10px;
  @include breakpoint(screen-xs) {
    margin-top: 30px;
  }
}
.doc-lede {
  font-size: 16px;
  line-height: 1.5;
  color: #3a3a3a;
}
.doc-sectionhead {
  font-family: $font-family-ps-regular;
  color: $header-color;
  font-size: 20px;
  border-bottom: 1px solid $pb-light-gray;
  margin-top: 40px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.doc-sectionbreak {
  margin-top: 50px;
}
.doc-gradient {
  @extend %gradient;
}


// right side column on sectionbreak has this div added
.figure-spacer {
  border-top: 1px solid $pb-light-gray;
  padding-top: 40px;
}

figure {
  margin-bottom: 10px;
  img {
    //border: 1px solid #e1e1e1;
  }
}
figcaption {
  clear: both;
  color: $pb-magenta;
  font-family: $font-family-sans-serif;
  font-size: 12px;
  letter-spacing: .05em;
  margin-bottom: 10px;
  margin-top: 35px;
  //text-transform: capitalize;
  + h2 {
    margin-top: 0;
  }
  &:first-of-type {
    margin-top: 0;
  }
  &.ko {
    color: #fff;
  }
}


.row:first-child figure:first-child > figcaption {
  margin-top: 0;
}


.colors {
  p {
    margin-top: 10px;
  }
}
.sample-app {
  .panel-heading {
    @extend %gradient;
    color: #fff;
    border: 0;
  }
}

// type samples table
.type-samples {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  tr > td:first-child {
    width: 40%;
  }
  tr > td:last-child {
    font-family: $font-family-monospace;
    .swatch {
      display: inline-block;
      min-width: 20px;
      height: 20px;
      border: 1px solid $pb-gray;
      padding: 2px 5px;
      font-size: 12px;
      line-height: 1.2;
      border-radius: 3px;
    }
  }
}

.more-info {
  background-color: $pb-gray-300;
  padding: 5px 15px;
  border-radius: 20px;
  font-family: $font-family-monospace;
  font-size: 11px;
  margin: 5px;
  display: inline-block;
  text-transform: lowercase;
  color: #fff;
  font-weight: normal;

  &:hover {
    color: #fff;
    background-color: $pb-gray-700;
    text-decoration: none;
  }

  &.plugin {
    &:before {
      font-family: 'Nucleo Mini';
      content: '\ee37';
      padding-right: 7px;
    }
  }
}


%tiny-numbers {
  color: $pb-orange;
  display: block;
  font-family: $font-family-sans-serif;
  font-size: 12px;
  border-left: 1px dotted $pb-orange-300;
  padding-left: 5px;
  text-align: left;
  font-style: italic;
}

@mixin show-specs($top, $bottom) {
  margin: 0;
  &:before {
    content: '#{$top}';
    height: $top;
    @extend %tiny-numbers;
  }
  &:after {
    content: '#{$bottom}';
    height: $bottom;
    @extend %tiny-numbers;
  }
}


@mixin show-specs-above($top) {
  margin: 0;
  &:before {
    content: '#{$top}';
    height: $top;
    @extend %tiny-numbers;
  }
}

@mixin show-specs-below($bottom) {
  margin: 0;

  &:after {
    content: '#{$bottom}';
    height: $bottom;
    @extend %tiny-numbers;
  }
}


h2.specifications {
  @include show-specs(40px, 20px);
}

h1.specifications {
  @include show-specs(40px, 20px);
}


p.specifications {
  @include show-specs-below(1em);
}

h2.follows-h1, h1 + h2 {
  &.specifications {
    @include show-specs(20px, 20px);
  }
}

h2.tab-header.specifications {
  @include show-specs(40px, 40px);
}

h2.table-header.specifications {
  @include show-specs(40px, 40px);
}

// color swatches
.swatches {
  margin: 0;
  padding: 0;
  li {
    font-family: $font-family-monospace;
    list-style: none;
    padding: 15px;
    color: #fff;
    &.bk {
      color: #000;
    }
    span {
      float: right;
    }
  }
  &.spaced {
    li {
      margin-bottom: 5px;
    }
  }
  .header {
    font-family: $font-family-sans-serif;
    font-weight: bold;
    font-size: 16px;
  }
}

.gradient-swatch {
  height: 50px;
  &.gradient1 {
    @extend %gradient;
  }
  &.gradient2 {
    //background: $gradient2;
  }
}


.donut-varied-padded {
  margin-right: 25px;
  margin-left: 25px;
}

.fpo-grad {
  padding: 10px;
  // background-image: linear-gradient(#ddd, #666);
  background-position: center center;
  background-size: fit;

  p.help-text {
    color: #fff;
  }
}

.glyphicons {
  li {
    font-size: .8em;
    margin-bottom: 20px;
    text-align: center;
  }
}

.text-center {
  .pie, .donut {
    width: 100px;
    margin: 0 auto 20px;
  }
}

.clearRow {
  clear: left;
}

.post-it {
  font-family: Noteworthy, 'comic sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  background-color: #ffe373;
  padding: 10px;
  transform: rotate(-1deg);
}

//
// //* color swatch backgrounds */
.brand-primary {
  background-color: $brand-primary;
}

.brand-success {
  background-color: $brand-success;
}

.brand-danger {
  background-color: $brand-danger;
}

.brand-info {
  background-color: $brand-info;
}

.brand-warning {
  background-color: $brand-warning;
}

.chart-green {
  background-color: $chart-green;
}

.chart-blue {
  background-color: $chart-blue;
}

.chart-purple {
  background-color: $chart-purple;
}

.chart-yellow {
  background-color: $chart-yellow;
}

.chart-orange {
  background-color: $chart-orange;
}

.chart-red {
  background-color: $chart-red;
}
//
.blue1 {
  background-color: $blue1;
}

.blue2 {
  background-color: $blue2;
}

.blue3 {
  background-color: $blue3;
}

.blue4 {
  background-color: $blue4;
}

.blue5 {
  background-color: $blue5;
}

.blue6 {
  background-color: $blue6;
}

.gray700 {
  background-color: $pb-gray-700;
}

.gray500 {
  background-color: $pb-gray-500;
}

.gray300 {
  background-color: $pb-gray-300;
}

.gray200 {
  background-color: $pb-light-gray;
}
//* panels page */
// .list-group-details {
//   .form-group {
//     margin-bottom: 0;
//   }
//
//   .control-label {
//     padding-top: 3px;
//     padding-right: 0;
//     text-align: left;
//
//     strong {
//       font-weight: normal;
//       padding-right: .3em;
//       color: $pb-gray-500;
//       background-color: #fff;
//     }
//
//     &:before {
//       float: left;
//       width: 0;
//       content: '..........................................';
//       white-space: nowrap;
//       color: $pb-gray-300;
//     }
//   }
//
//   .form-control-static {
//     padding-top: 2px;
//     padding-bottom: 2px;
//     padding-left: .3em;
//     word-wrap: break-word;
//     background-color: #fff;
//   }
// }

.view-animate {
  transition: opacity .3s;

  &.ng-enter, &.ng-leave {
    opacity: 1;
  }

  &.ng-enter, &.ng-leave-active, &.ng-hide {
    opacity: 0;
  }
}

.pb-icons {
  li {
    font-family: $font-family-monospace;
  }
  i {
    font-size: 30px;
    padding: 5px;
    display: inline-block;
  }
}

// experimental block grid code, will not work in IE8
// used to display icons on icons page
[class*='block-grid-'] {
  @include clearfix;
  display: block;
  padding: 0;
  margin: 0 -.55556rem;

  > li {
    display: block;
    height: auto;
    float: left;
    padding: 0 .55556rem 1.11111rem;
  }
}

.block-grid-6 > li {
  width: 16.66666%;
}

.small-block-grid-3 > li {
  width: 33.33333%;
  list-style: none;
}

.small-block-grid-3 > li:nth-of-type(1n) {
  clear: none;
}

.small-block-grid-3 > li:nth-of-type(3n+1) {
  clear: both;
}

// fa's styleguide page, a one-off
.styleguide {
  footer {
    display: none;
  }
  section {
    margin-top: 50px;
  }
}

// used for example table status, move to Live preview sass
.status {
  &.status-success {
    color: $brand-primary;
  }
  &.status-error {
    color: $brand-danger;
  }
  &.status-warning {
    color: $brand-warning;
  }
}


// PREVIEW "EXAMPLE" BOXES, AS ON BS.COM
.preview-example {
  background-color: #fff;
  position: relative;
  padding: 40px 9px 9px;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  margin: 20px 0;

  &:before {
    content: 'Example';
    position: absolute;
    font-size: 9px;
    top: 0;
    left: 0;
    padding: 3px 7px;
    text-transform: uppercase;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-top: 0;
    border-left: 0;
    letter-spacing: .1em;
  }

  &.preview-example-live {
    &:before {
      font-family: 'FontAwesome';
      content: '\f0e7 Live example';
    }
  }

  + .preview-code {
    margin-top: -25px;
    margin-bottom: 20px;
  }
}

.preview-code {
  pre {
    border-color: #e3e3e3;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0;
    padding: 10px;
    code {
      background: transparent;
    }
  }
}

//RESOURCES
.fillin-blank {
  border-bottom: 1px solid $pb-gray-500;
  width: 150px;
  display: inline-block;
  margin-right: 3px;
}

.resources {
  .panel-download {
    display: flex;
    flex-direction: column;
    border: 0;
    color: #fff;
    text-align: center;
    min-height: 425px;
    transition: all .3s ease-in-out;
    h2 {
      margin-top: 20px;
      margin-bottom: 30px;
    }
    .panel-content {
      margin-top: 60px;
    }

    &.bg-pb-gray-500 {
      .panel-content {
        margin-top: 40px;
      }
    }

    .icon {
      height: 72px;
    }

    ul {
      li {
        margin-bottom: 8px;
      }
    }
    a {
      color: #fff;
      font-weight: 200;

      &:hover {
        color: #fff;
        //text-decoration: none;
      }
    }

    &:hover {
      box-shadow: 0 11px 20px -5px rgba(0, 0, 0, .5);
      transition: all .3s ease-in-out;
    }

    &.illustrator {
      background-color: #da1f26;
    }
  }

  hr {
    width: 50%;
    &.web {
      border-color: $pb-purple-300;
    }
    &.ios {
      border-color: $pb-gray-400;
    }
  }
}

.productplan {
  border: 1px solid $pb-gray-50;
}

figure .modal-dialog {
  margin-top: 0;
}

//elements > containers > Gallery
.doc-gallery {
  .image-gallery-item {
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all .3s;

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .1);
      transform: scale(1.05);
    }

    &.active {
      border-color: $pb-blue;
      box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .1);
    }
  }
}


#cd-main-nav {
  list-style: none;
  column-count: 5;
  margin-top: 20px;
  margin-left: 0;
  padding-left: 0;
  @include breakpoint(screen-xs) {
    column-count: 2;
    li {
      margin-bottom: 10px;
    }
  }
}

ul.icon-grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  li {
    width: 180px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 12px;
    i {
      padding-bottom: 10px;
    }
    @include breakpoint(screen-xs) {
      width: 150px;
      font-size: 11px;
      margin-right: 20px;
    }
  }
}

.outlined, .bordered {
  border: 1px solid #e1e1e1;
}


.header-sample {
  background-color: $pb-gray-300;
}
.toastr-samples {
  img {
    cursor: pointer;
    margin-left: -8px;
  }
}

.table.roadmap .table-details > td {
  background-image: none !important;
}
