//* -- THIS FILE CONTAINS STYLES FOR THE LIVE PREVIEW SITE ONLY!                         */
//* -- THESE STYLES ARE NOT MEANT TO BE USED ON PROJECTS, ONLY USE THE DESIGN_SYSTEM.CSS */

@import 'settings/variables';
@import 'settings/mixins';
@import 'base/helpers';
@import 'nucleo_mini/demo';
@import 'base/typography';

@import 'documentation/docpage-header';
@import 'documentation/doc-sidebar';
@import 'documentation/content';
@import 'documentation/charts';
@import 'documentation/resources';
@import 'documentation/homepage';
@import 'documentation/figures';
@import 'documentation/colorswatches';
@import 'documentation/icons';
@import 'documentation/preview';
@import 'documentation/specs';
@import 'documentation/docpage-body';

@import '../../modules/animation/sass/ds-animate';
@import 'documentation/animate';

.doc-gradient {
  @extend %gradient;
}


.colors {
  p {
    margin-top: 10px;
  }
}
.sample-app {
  .panel-heading {
    @extend %gradient;
    color: #fff;
    border: 0;
  }
}

// type samples table
.type-samples {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  tr > td:first-child {
    width: 40%;
  }
  tr > td:last-child {
    font-family: $font-family-monospace;
    .swatch {
      display: inline-block;
      min-width: 20px;
      height: 20px;
      border: 1px solid $pb-gray;
      padding: 2px 5px;
      font-size: 12px;
      line-height: 1.2;
      border-radius: 3px;
    }
  }
}

.more-info {
  background-color: $pb-gray-300;
  padding: 5px 15px;
  border-radius: 20px;
  font-family: $font-family-monospace;
  font-size: 11px;
  margin: 5px;
  display: inline-block;
  text-transform: lowercase;
  color: #fff;
  font-weight: normal;

  &:hover {
    color: #fff;
    background-color: $pb-gray-700;
    text-decoration: none;
  }

  &.plugin {
    &:before {
      font-family: 'Nucleo Mini';
      content: '\ee37';
      padding-right: 7px;
    }
  }
}

.donut-varied-padded {
  margin-right: 25px;
  margin-left: 25px;
}

.fpo-grad {
  padding: 10px;
  // background-image: linear-gradient(#ddd, #666);
  background-position: center center;
  background-size: fit;

  p.help-text {
    color: #fff;
  }
}

.glyphicons {
  li {
    font-size: .8em;
    margin-bottom: 20px;
    text-align: center;
  }
}

.text-center {
  .pie, .donut {
    width: 100px;
    margin: 0 auto 20px;
  }
}

.clearRow {
  clear: left;
}

.pb-icons {
  li {
    font-family: $font-family-monospace;
  }
  i {
    font-size: 30px;
    padding: 5px;
    display: inline-block;
  }
}

// used for example table status, move to Live preview sass
.status {
  &.status-success {
    color: $brand-primary;
  }
  &.status-error {
    color: $brand-danger;
  }
  &.status-warning {
    color: $brand-warning;
  }
}

//RESOURCES
.fillin-blank {
  border-bottom: 1px solid $pb-gray-500;
  width: 150px;
  display: inline-block;
  margin-right: 3px;
}

.productplan {
  border: 1px solid $pb-gray-50;
}

figure .modal-dialog {
  margin-top: 0;
}

//elements > containers > Gallery
.doc-gallery {
  .image-gallery-item {
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all .3s;

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .1);
      transform: scale(1.05);
    }

    &.active {
      border-color: $pb-blue;
      box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .1);
    }
  }
}

.outlined, .bordered {
  border: 1px solid #e1e1e1;
}

.header-sample {
  background-color: $pb-gray-300;
}
.toastr-samples {
  img {
    cursor: pointer;
    margin-left: -8px;
  }
}

.table.roadmap .table-details > td {
  background-image: none !important;
}

// for the "alpha" in the pre-release site name
span.pre-release {
  font-family: 'Noto Sans', 'Consolas', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
