//* -- THIS FILE CONTAINS STYLES FOR THE LIVE PREVIEW SITE ONLY!                         */
//* -- THESE STYLES ARE NOT MEANT TO BE USED ON PROJECTS, ONLY USE THE DESIGN_SYSTEM.CSS */

@import 'settings/variables/variables';
// @import 'settings/variables/colormap';
@import 'settings/mixins/mixins';
// @import 'settings/mixins/colors';
@import 'settings/mixins/typography';
@import 'base/gradients';



//DOCUMENTATION PAGES


// for FA documentation pages.
.doc-hero {
  @extend %gradient-blue-purple-magenta;
  height: 300px;
 border-top: 1px solid rgba(255, 255, 255, .5);
  margin-top: 50px; // height of navbar
  position: relative;
  .hero-header {
    margin-top: 115px;
    .eyebrow {
      font-family: $font-family-ps-regular;
      font-size: 16px;
      color: rgba(255, 255, 255, .5);
    }
    h1 {
      font-size: 40px;
      color: #fff;
      font-family: $font-family-ps-light; //NOTE: global spec for h1.ko is reg not light
      margin-top: 5px;
    }
  }
  .jump-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, .1);
    color: rgba(255, 255, 255, 1);
    font-family: $font-family-ps-regular;
    font-size: 16px;
    .jump-menu {
      list-style-type: none;
      margin: 0;
      padding: 15px 0 0;
      li {
        float: left;
        margin-right: 60px;
        a {
          color: inherit;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

// page headers, bootstrap class modified by FA
// used on DS guide pages
.main-header {
  padding-bottom: 25px;
  margin-bottom: 80px;
}


// PREVIEW EXAMPLES, AS ON BS.COM
.preview-example {
  background-color: #fff;
  position: relative;
  padding: 40px 9px 9px;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  margin: 20px 0;

  &:before {
    content: 'Example';
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px 7px;
    text-transform: uppercase;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-top: 0;
    border-left: 0;
    letter-spacing: .1em;
    font-size: .8em;
  }

  &.preview-example-live {
    &:before {
      font-family: 'FontAwesome';
      content: '\f0e7   Live example';
    }
  }

  +.preview-code {
    margin-top: -25px;
    margin-bottom: 20px;
  }
}

.preview-code {
  pre {
    border-color: #e3e3e3;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0;
    padding: 10px;

    code {
      background: transparent;
    }
  }
}

// type samples table
.type-samples {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  tr >td:first-child {
    width: 40%;
  }
  tr >td:last-child {
    font-family: $font-family-monospace;
    .swatch {
      display: inline-block;
      min-width: 20px;
      height: 20px;
      border: 1px solid $pb-gray;
      padding: 2px 5px;
      font-size: 12px;
      line-height: 1.2;
      border-radius: 3px;
    }
  }
}

// DOCS TYPOGRAPHY differs from DS
.doc-head {
  margin-top: 80px;
}
.doc-lede {
  font-size: 16px;
  line-height: 1.5;
  color: #3a3a3a;
}
.doc-sectionhead {
  font-family: $font-family-ps-regular;
  color: $header-color;
  font-size: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid $pb-light-gray;
}









.hero {
  // scss-lint:disable SelectorDepth
  .hero-unit {
    margin-top: 50px;
    color: $text-color;


    h2 {
      font-family: $font-family-ps-light;
      font-size: 18px;
      padding-bottom: 10px;
      line-height: 1.3;
      color: $text-color;
    }
  }

  .hero-menu {
    padding-left: 0;
    list-style-type: none;

    >li {
      font-family: $font-family-ps-medium;
      font-size: 18px;
      margin-top: 10px;
      padding-top: 5px;
      border-top: 1px solid $pb-bg2;
      &:first-child {
        margin-top: 0;
      }
      a {
        &:hover {
          text-decoration: none;
        }
      }

      ul {
        margin-top: 5px;
        padding-left: 0;
        list-style-type: none;
        column-count: 4;
        break-inside: avoid;
        li {
          font-family: $font-family-ps-light;
          line-height: 1.35;
          a {
            color: $text-color;
          }
        }
      }
    }

    .dropdown-header,
    .divider,
    .optional {
      display: none;
    }
  }
}



h4,
h1,
h3,
legend {
  .more-info {
    font-family: $font-family-ps-light;
    font-size: 14px;
    font-weight: normal;
    margin-top: 10px;
    margin-left: 30px;
    display: inline-block;
    text-transform: lowercase;
    a {
      color: $link-color;
      font-weight: normal;
    }
  }
}


//* Color swatches */
.row-left-border {
  border-left: 1px solid $pb-gray-300;
}

.color-swatches {
  .color-swatch-container {
    margin-bottom: 30px;
  }

  .color-swatch {
    display: block;
    width: 100%;
    // set them to use the BS grid
    height: 72px;
    margin-bottom: 5px;

    &[class*='alert'] {
      border-right-width: 16px;
      border-right-style: solid;
    }

    &.color-swatch-small {
      display: inline-block;
      width: 33px;
      height: 33px;
    }
  }

  p {
    font-size: 16px;
    color: $pb-gray-500;

    small {
      font-size: 12px;
      line-height: 1.2;
    }
  }
}
// $fonts: ('PrecisionSans_W_LtIt', 'PrecisionSans_W_LtIt', 'PrecisionSans_W_Rg', 'PrecisionSans_W_RgIt', 'PrecisionSans_W_Bd', 'PrecisionSans_W_BdIt', 'PrecisionSans_W_Md', 'PrecisionSans_W_MdIt');
//
// @each $font in $fonts {
//   .#{$font} {
//     font-family: $font, Arial, Helvetica, sans-serif;
//   }
// }

// march 2015, changes swatches for main colors into lists of tints
ul.swatches {
  margin: 10px 0 30px;
  padding-left: 0;

  li.color-swatch {
    height: 30px;
    margin-bottom: 0;
    text-align: right;
    padding: 5px 10px;
    color: #000;

    span {
      display: inline-block;
      //float: left;
      opacity: .4;
    }

    &:first-child {
      height: 75px;
      font-size: 18px;
      color: #fff;
      margin-bottom: 5px;
    }

    &:nth-child(n+6) {
      color: #fff;
    }
  }
}
//* color charts */
.color-chart-nested {
  position: relative;
  float: left;
  margin-right: 30px;

  .pie {
    position: absolute;
    top: 86px;
    left: 86px;
  }
}

.color-blocks {
  li {
    margin-bottom: 7px;

    span {
      display: inline-block;
      width: 35px;
      height: 35px;
      margin-right: 15px;
      vertical-align: middle;
    }
  }
}

.donut-varied-padded {
  margin-right: 25px;
  margin-left: 25px;
}



.fpo-grad {
  padding: 10px;
  // background-image: linear-gradient(#ddd, #666);
  background-position: center center;
  background-size: fit;

  p.help-text {
    color: #fff;
  }
}

.glyphicons {
  li {
    font-size: .8em;
    margin-bottom: 20px;
    text-align: center;
  }
}

.text-center {
  .pie,
  .donut {
    width: 100px;
    margin: 0 auto 20px;
  }
}

.clearRow {
  clear: left;
}
//
// //* color swatch backgrounds */
.brand-primary {
  background-color: $brand-primary;
}

.brand-success {
  background-color: $brand-success;
}

.brand-danger {
  background-color: $brand-danger;
}

.brand-info {
  background-color: $brand-info;
}

.brand-warning {
  background-color: $brand-warning;
}

.chart-green {
  background-color: $chart-green;
}

.chart-blue {
  background-color: $chart-blue;
}

.chart-purple {
  background-color: $chart-purple;
}

.chart-yellow {
  background-color: $chart-yellow;
}

.chart-orange {
  background-color: $chart-orange;
}

.chart-red {
  background-color: $chart-red;
}
//
.blue1 {
  background-color: $blue1;
}

.blue2 {
  background-color: $blue2;
}

.blue3 {
  background-color: $blue3;
}

.blue4 {
  background-color: $blue4;
}

.blue5 {
  background-color: $blue5;
}

.blue6 {
  background-color: $blue6;
}

.gray700 {
  background-color: $pb-gray-700;
}

.gray500 {
  background-color: $pb-gray-500;
}

.gray300 {
  background-color: $pb-gray-300;
}

.gray200 {
  background-color: $pb-bg2;
}
//* panels page */
.list-group-details {
  .form-group {
    margin-bottom: 0;
  }

  .control-label {
    padding-top: 3px;
    padding-right: 0;
    text-align: left;

    strong {
      font-weight: normal;
      padding-right: .3em;
      color: $pb-gray-500;
      background-color: #fff;
    }

    &:before {
      float: left;
      width: 0;
      content: '..........................................';
      white-space: nowrap;
      color: $pb-gray-300;
    }
  }

  .form-control-static {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: .3em;
    word-wrap: break-word;
    background-color: #fff;
  }
}

.view-animate {
  transition: all .3s;

  &.ng-enter,
  &.ng-leave {
    opacity: 1;
  }

  &.ng-enter,
  &.ng-leave-active,
  &.ng-hide {
    height: 0;
    opacity: 0;
  }
}
//* experimental block grid code, will not work in IE8
// used to display icons on icons page
[class*='block-grid-'] {
  @include clearfix;
  display: block;
  padding: 0;
  margin: 0 -.55556rem;

  >li {
    display: block;
    height: auto;
    float: left;
    padding: 0 .55556rem 1.11111rem;
  }
}

.block-grid-6 >li {
  width: 16.66666%;
}

.small-block-grid-3 >li {
  width: 33.33333%;
  list-style: none;
}

.small-block-grid-3 >li:nth-of-type(1n) {
  clear: none;
}

.small-block-grid-3 >li:nth-of-type(3n+1) {
  clear: both;
}

// fa's styleguide page, a one-off
.styleguide {
  footer {
    display: none;
  }
  section {
    margin-top: 50px;
  }
}


// used for example table status, move to Live preview sass
.status {
  &.status-success {
    color: $brand-primary;
  }
  &.status-error {
    color: $brand-danger;
  }
  &.status-warning {
    color: $brand-warning;
  }
}

// .chord-display {
//   margin-bottom: 20px;
// }



// These are only for the purposes of displaying the chord colors in the SVGs *//
// * Chord Color Mixin * * @access public * * @requires {List} $colors - Space Deliminated list of Colors * */

// @mixin chord-color($colors) {
//   $i: 0;
//
//   @each $color in $colors {
//     $i: $i + 1;
//
//     .color#{$i} {
//       color: $color;
//       fill: $color;
//     }
//   }
// }


// we are no longer using SVGs for chord display, so I have commented this out
//** * Chord1 */
// #chord1 {
//   @include chord-color($pb-medium-blue $pb-purple $pb-gray-500$pb-blue $pb-green $pb-bg2);
// }
//
// #chord2 {
//   @include chord-color($pb-dark-orange $pb-medium-blue $pb-gray-500$pb-blue $pb-yellow $pb-bg2);
// }
//
// #chord3 {
//   @include chord-color($pb-dark-green $pb-medium-blue $pb-gray-500$pb-blue $pb-magenta $pb-bg2);
// }
