<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <!-- <div class="eyebrow">????</div> -->
          <h1>Progress Indicators</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-header jump-bar headroom" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}" headroom offset="240" tolerance="5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- <ul class="list-unstyled list-inline jump-menu">
            <li>
              <a ui-sref="sample({'#':'sampleID'})">Sample Jump Label</a>
            </li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container">

  <div class="row spacer-top-xl">
    <div class="col-md-8">
      <!-- <h1 id="process" class="doc-head">Process Indicators</h1> -->
      <p>
        Process indicators show users that they’ll need to wait until a system process completes. The amount of time needed for completion can be determinate or indeterminate — our indicators reflect which status applies.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Indeterminate</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>
        We can use animation or descriptive copy — or both — to let users know that a process of indeterminate length is taking place.
      </p>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <figure>
        <figcaption>Displays Progress Spinner and Disables Button</figcaption>
        <button class="btn btn-primary" id="button-loading-example" ng-click="progress.buttonLoading.load()" ng-model="progress.buttonLoading" pb-button-progress type="button">Save</button>&nbsp;&nbsp;
        <button class="btn btn-default" id="button-loading2-example" ng-click="progress.buttonLoading2.load()" ng-model="progress.buttonLoading2" pb-button-progress type="button">Update</button>


      </figure>

      <figure class="spacer-top-md">
        <figcaption>Indeterminate "Spinner" Animation</figcaption>
        <i class="nc-icon-mini loader_circle-04 spin x3"></i>


      </figure>

      <figure class="spacer-top-md">
        <figcaption>Indeterminate "Spinner" Animation, Knockout</figcaption>
        <div style="padding:20px;background-color: #333;">
          <i class="nc-icon-mini loader_circle-04 spin x3 text-white"></i>
      </div>

      </figure>

      <figure class="spacer-top-md">
        <figcaption style="margin-bottom-10px">Indeterminate Progress Bar</figcaption>
      <div class="fake-modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close"><span aria-hidden="true"></span><span class="sr-only">Close</span></button>
              <h2 class="modal-title">Exporting records...</h2>
            </div>
            <div class="modal-body">
              <div class="progress">
                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%;">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </figure>

    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Determinate</h2>
    </div>
  </div>
  <div class="row">

      <div class="col-md-4">
        <p>When the completion time of a process is determinable, we can communicate the user’s wait time (and give them the means to stop the process) in several ways:</p>
        <ul>
        <li>Use of animation or descriptive copy — or both</li>
        <li>A countdown of time remaining</li>
        <li>A “percentage completed” progress bar label</li>
        <li>A cancel button to halt the operation before completion</li>
        </ul>

      </div>

      <div class="col-md-5 col-md-offset-1">
        <figure>
          <figcaption>Progress Bar with Percentage Indicator</figcaption>
        <div class="fake-modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close"><span aria-hidden="true"></span><span class="sr-only">Close</span></button>
                <h2 class="modal-title">Exporting records...</h2>
              </div>
              <div class="modal-body">
                <div class="progress">
                  <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" class="progress-bar" role="progressbar" style="width: 60%;">
                    60%
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </figure>

        <figure>
          <figcaption >Progress Bar with Percentage Text</figcaption>
        <div class="fake-modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close"><span aria-hidden="true"></span><span class="sr-only">Close</span></button>
                <h2 class="modal-title">Exporting records...</h2>
              </div>
              <div class="modal-body">
                <div class="progress">
                  <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" class="progress-bar" role="progressbar" style="width: 60%;">
                  </div>
                </div>
                <p>
                  60% complete.
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </figure>
        <figure>
          <figcaption>Stacked Progress Bar with Percentage Text in One Segment</figcaption>
        <div class="fake-modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close"><span aria-hidden="true"></span><span class="sr-only">Close</span></button>
                <h2 class="modal-title">Exporting records...</h2>
              </div>
              <div class="modal-body">
                <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: 35%">
                  <span class="sr-only">35% Complete (success)</span>35%
                </div>
                <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">
                  <span class="sr-only">20% Complete (warning)</span>
                </div>
                <div class="progress-bar progress-bar-danger" style="width: 10%">
                  <span class="sr-only">10% Complete (danger)</span>
                </div>
              </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </figure>


    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Page Top Progress Bar</h2>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
        <p>
          A simple component to show the progress of any ajax request made on the site, without any additional configuration, can be added across the top of every page.
        </p>
        <figure>
          <button class="btn btn-default" ng-click="progress.startProgress($event)">Display Bar Across Top of This Page</button>
        </figure>
        <p>Note that the default code has been modified so that the spinner used is the exact same one as above. See <code>app.module.js</code></p>

    </div>
    <div class="col-md-4 col-md-offset-1">
        <a class="more-info plugin" href="https://github.com/chieffancypants/angular-loading-bar">angular-loading-bar v0.8.0</a>
    </div>
  </div>



  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Step-Based</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <p>
        We use step-based progress indicators for scenarios in which a user needs to perform a series of tasks, in a step-by-step order, to complete a single, complex process. We have several means by which to communicate progress to the user, by displaying:</p>
        <ul>
        <li>Which steps have been completed</li>
        <li>Which step the user is currently performing</li>
        <li>How many steps remain in the process</li>
        <li>A final message with clear indication of completion status</li>
      </ul>

      <figure class="spacer-top-lg">
        <figcaption>Step-Based Process, Two Alternates</figcaption>
        <img class="img-responsive" src="modules/feedback/assets/images/progress_indicator_visual_sample.png" alt="Process Underway" />
      </figure>



    </div>
  </div>








</div>
