<div class="container">
  <div class="row two-col-wrapper">
    <div class="col-md-2 leftnav leftnav-gray">
      <div class="list-group">
        <a class="list-group-item active" href="">Validate Address</a>
        <a class="list-group-item" href="">Get Postal Codes</a>
        <a class="list-group-item" href="">Get City/State/Province</a>
        <a class="list-group-item" href="">Get Candidate Address</a>
        <a class="list-group-item" href="">Auto Complete</a>
      </div>
    </div>
    <div class="col-md-10 main-content">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumb">
            <a href="">Home</a>
            &gt;
            <a href="">Services/Universal Addressing</a>
            &gt; Validate Address</div>
          <h1>Validate Address</h1>

          <div class="enhanced-inline">
            <label style="margin-right:20px;">Remote Routing</label>
            <div class="radio radio-enhanced">
              <input checked id="radioA" name="radioOptionsInline" type="radio">
              <label for="radioA">Local</label>
            </div>
            <div class="radio radio-enhanced">
              <input id="radioB" name="radioOptionsInline" type="radio">
              <label for="radioB">Server One
              </label>
            </div>
            <div class="radio radio-enhanced disabled">
              <input disabled id="radioC" name="radioOptionsInline" type="radio">
              <label for="radioC">Server Two
              </label>
            </div>
          </div>

        </div>
      </div>

      <div class="row spacer-top-lg">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              USA
            </div>
            <div class="panel-body">
              <form>
                <div class="form-group">
                  <label for="item1">Item 1</label>
                  <input class="form-control" id="item1" placeholder="" type="text">
                </div>
                <div class="form-group">
                  <label for="item2">Item 2</label>
                  <input class="form-control" id="item2" placeholder="" type="text">
                </div>
                <div class="form-group">
                  <label for="item3">Item 3</label>
                  <input class="form-control" id="item3" placeholder="" type="text">
                </div>
                <div class="form-group">
                  <label for="item4">Remote Routing</label>
                  <select class="form-control" name="item4"></select>
                </div>

              </form>

            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              Australia
            </div>
            <div class="panel-body">
              <form>
                <div class="form-group">
                  <label for="item1a">Item 1</label>
                  <input class="form-control" id="item1a" placeholder="" type="text">
                </div>
                <div class="form-group">
                  <label for="item2a">Item 2</label>
                  <input class="form-control" id="item2a" placeholder="" type="text">
                </div>
                <div class="form-group">
                  <label for="item3a">Item 3</label>
                  <input class="form-control" id="item3a" placeholder="" type="text">
                </div>
                <div class="form-group">
                  <label for="item4">Remote Routing</label>
                  <select class="form-control" name="item4"></select>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-primary">Save</button>&nbsp;&nbsp;
          <button class="btn btn-default">Cancel</button></div>
      </div>

    </div>
  </div>

</div>
