<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Patterns</div>
          <h1>Split Views</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="filled" offset="125">Filled Bar</a></li>
            <li><a href="" du-smooth-scroll="white">White Bar</a></li>
            <li><a href="" du-smooth-scroll="whitefilled">White Bar, Filled BG</a></li>
            <li><a href="" du-smooth-scroll="whiteopen">White Bar, Open</a></li>
            <li><a href="" du-smooth-scroll="whiteopenfluid">White Bar, Open, Fluid</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="container">



<div class="row spacer-top-xl">
  <div class="col-md-6">
    <p>The various type of left navbars (flat, sectioned, collapsing) can be used interchangeably with the graphic styles.</p>
  </div>
</div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead" id="filled">Filled Bar</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a href="" ui-sref="splitview.one" target="_blank"><img class="img-responsive framed"  src="modules/patterns/assets/images/splitview-one.png" /></a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead"  id="whitefilled">White Bar, Filled BG</h2>
    </div>
  </div>

  <div class="row ">
    <div class="col-md-6">

      <a href="" ui-sref="splitview.two" target="_blank"><img class="img-responsive framed"  src="modules/patterns/assets/images/splitview-two.png" /></a>
    </div>
  </div>






  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead" id="white">White Bar</h2>
    </div>
  </div>

  <div class="row ">
    <div class="col-md-6">

      <a href="" ui-sref="splitview.three" target="_blank"><img class="img-responsive framed"  src="modules/patterns/assets/images/splitview-three.png" /></a>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead" id="whiteopen">White Bar, Open</h2>
    </div>
  </div>

  <div class="row ">
    <div class="col-md-6">
      <a href="" ui-sref="splitview.four" target="_blank"><img class="img-responsive framed"  src="modules/patterns/assets/images/splitview-four.png" /></a>
    </div>
  </div>



  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead" id="whiteopenfluid">White Bar, Open, Fluid</h2>
    </div>
  </div>

  <div class="row ">
    <div class="col-md-6">
      <a href="" ui-sref="splitview.five" target="_blank"><img class="img-responsive framed"  src="modules/patterns/assets/images/splitview-five.png" /></a>
    </div>
  </div>




</div>
