<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Patterns</div>
          <h1>Split Views</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="sign-in" offset="125">Sign in</a></li>
            <li><a href="" du-smooth-scroll="forgot-password">Password</a></li>
            <li><a href="" du-smooth-scroll="sign-up">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Gray Bar</h2>
    </div>
  </div>

  <div class="row ">
    <div class="col-md-6">
      <a href="" ui-sref="splitview.one" target="_blank"><img class="img-responsive framed"  src="modules/patterns/assets/images/splitview-one.jpg" /></a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">White Bar</h2>
    </div>
  </div>

  <div class="row ">
    <div class="col-md-6">
      <a href="" ui-sref="splitview.two" target="_blank"><img class="img-responsive framed"  src="modules/patterns/assets/images/splitview-two.jpg" /></a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Section Heads</h2>
    </div>
  </div>

  <div class="row ">
    <div class="col-md-6">
      <a href="" ui-sref="splitview.three" target="_blank"><img class="img-responsive framed"  src="modules/patterns/assets/images/splitview-three.jpg" /></a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Collapsible</h2>
    </div>
  </div>

  <div class="row ">
    <div class="col-md-6">
      <a href="" ui-sref="splitview.four" target="_blank"><img class="img-responsive framed"  src="modules/patterns/assets/images/splitview-four.jpg" /></a>
    </div>
  </div>




</div>
