<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Patterns</div>
          <h1>Split Views</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="one" offset="125">One</a></li>
            <li><a href="" du-smooth-scroll="two">Two</a></li>
            <li><a href="" du-smooth-scroll="three">Three</a></li>
            <li><a href="" du-smooth-scroll="four">Four</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="container">



<div class="row spacer-top-xl">
  <div class="col-md-6">
    <p>
      Variations on split views, shown below, are created by adding <code>splitview</code> and <code>splitview-one</code> to <code>splitview-four</code>  to the <code>body</code> tag. The various type of left navs (flat, sectioned, collapsing) can be used interchangeably with the graphic styles.
    </p>
  </div>
</div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead" id="gray">One</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <figcaption>Left Bar Filled $pb-bg2</figcaption>
      <a href="" ui-sref="splitview.one" target="_blank"><img class="img-responsive framed"  src="modules/patterns/assets/images/splitview-one.png" /></a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead"  id="white">Two</h2>
    </div>
  </div>

  <div class="row ">
    <div class="col-md-6">
      <figcaption>Left Bar Filled White, Rules on Left/Right of Leftnav, BGColor = $pb-bg-1</figcaption>

      <a href="" ui-sref="splitview.two" target="_blank"><img class="img-responsive framed"  src="modules/patterns/assets/images/splitview-two.png" /></a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead" id="sectioned">Three</h2>
    </div>
  </div>

  <div class="row ">
    <div class="col-md-6">
      <figcaption>No Left Rule on Navbar</figcaption>
      <a href="" ui-sref="splitview.three" target="_blank"><img class="img-responsive framed"  src="modules/patterns/assets/images/splitview-three.png" /></a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead" id="collapsible">Four</h2>
    </div>
  </div>

  <div class="row ">
    <div class="col-md-6">
      <figcaption>No Left Rule on Navbar, Page Set to "Container-Fluid"</figcaption>
      <a href="" ui-sref="splitview.four" target="_blank"><img class="img-responsive framed"  src="modules/patterns/assets/images/splitview-four.png" /></a>
    </div>
  </div>




</div>
