<div class="container-fluid">
  <div class="row two-col-wrapper">
    <div class="col-md-2 leftnav">



    <ul class="nav nav-list">
      <li ng-repeat="n in splitview.leftnav" ng-class="{ 'open': showDetails }"  class="nav-header" ng-click="showDetails = !showDetails">
        <label class="tree-toggle" >
          {{n.label}}
        </label>
        <i class="fa fa-angle-right"></i>

        <ul class="nav nav-list tree" collapse="!showDetails">
          <li ng-repeat="s in n.children"><a href="" ui-sref-active="active">{{s.label}}</a></li>
        </ul>
      </li>
    </ul>

    </div>
    <div class="col-md-10 main-content">
      <div ng-include="'modules/splitview/templates/fpo-content.html'"></div>
        
    </div>
  </div>

</div>
