<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <div class="main-header">
        <h1>Pitney Bowes Style Guide</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>PRIMARY BUTTONS</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="list-inline list-expanded">
        <li>
          <button class="btn btn-primary" disabled="disabled">Disabled State</button>
        </li>
        <li>
          <button class="btn btn-primary">Default State</button>
        </li>
        <li>
          <button class="btn btn-primary hover">Hover State</button>
        </li>
        <li>
          <button class="btn btn-primary active">Active State</button>
        </li>
      </ul>
    </div>
  </div>

  <div class="row spacer-top-xl">
    <div class="col-md-12">
      <h4>SECONDARY BUTTONS</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="list-inline list-expanded">
        <li>
          <button class="btn btn-default" disabled="disabled">Disabled State</button>
        </li>
        <li>
          <button class="btn btn-default">Normal State</button>
        </li>
        <li>
          <button class="btn btn-default hover">Hover State</button>
        </li>
        <li>
          <button class="btn btn-default active">Active State</button>
        </li>
      </ul>
    </div>
  </div>

  <div class="row spacer-top-xl">
    <div class="col-md-12">
      <h4>CHECKBOXES AND RADIOS</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="checkbox checkbox-enhanced">
        <input checked id="check1" type="checkbox">
        <label for="check1">Checkbox</label>
      </div>
      <div class="checkbox checkbox-enhanced">
        <input id="check2" name="check" type="checkbox" value="check2">
        <label for="check2">Checkbox
        </label>
      </div>
      <div class="checkbox checkbox-enhanced disabled">
        <input disabled id="check2a" name="check" type="checkbox" value="check2">
        <label for="check2a">Checkbox (disabled)
        </label>
      </div>
    </div>

    <div class="col-md-3">
      <div class="checkbox-inline checkbox-enhanced">
        <input id="inlineCheckbox1" type="checkbox" value="option1">
        <label for="inlineCheckbox1">Check me out</label>
      </div>
      <div class="checkbox-inline checkbox-enhanced">
        <input id="inlineCheckbox2" type="checkbox" value="option1">
        <label for="inlineCheckbox2">We're inline</label>
      </div>
    </div>

    <div class="col-md-3">
      <div class="radio radio-enhanced">
        <input checked id="radio1" name="radioOptions0" type="radio">
        <label for="radio1">Radio</label>
      </div>
      <div class="radio radio-enhanced">
        <input id="radio2" name="radioOptions0" type="radio">
        <label for="radio2">Radio</label>
      </div>
      <div class="radio radio-enhanced disabled">
        <input disabled id="radio2a" name="radioOptions0" type="radio">
        <label for="radio2a">Radio (disabled)</label>
      </div>
    </div>

    <div class="col-md-3">
      <div class="radio-inline radio-enhanced">
        <input id="inlineradio1" name="inlineRadioOptions" type="radio" value="option1">
        <label for="inlineradio1">Check me out</label>
      </div>

      <div class="radio-inline radio-enhanced">
        <input id="inlineradio2" name="inlineRadioOptions" type="radio" value="option1">
        <label for="inlineradio2">We're inline</label>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <hr>
    </div>
  </div>

<!-- smaller enhanced controls -->

  <div class="row">
    <div class="col-md-3">
      <div class="checkbox checkbox-enhanced-sm">
        <input checked id="check4" type="checkbox">
        <label for="check4">Checkbox</label>
      </div>
      <div class="checkbox checkbox-enhanced-sm">
        <input id="check5" name="check" type="checkbox">
        <label for="check5">Checkbox
        </label>
      </div>
      <div class="checkbox checkbox-enhanced-sm disabled">
        <input disabled id="check6" name="check" type="checkbox">
        <label for="check6">Checkbox (disabled)
        </label>
      </div>
    </div>

    <div class="col-md-3">
      <div class="checkbox-inline checkbox-enhanced-sm">
        <input id="inlineCheckbox3" type="checkbox" value="option1">
        <label for="inlineCheckbox3">Check me out</label>
      </div>
      <div class="checkbox-inline checkbox-enhanced-sm">
        <input id="inlineCheckbox4" type="checkbox" value="option1">
        <label for="inlineCheckbox4">We're inline</label>
      </div>
    </div>

    <div class="col-md-3">
      <div class="radio radio-enhanced-sm">
        <input checked id="radio3" name="radioOptions" type="radio">
        <label for="radio3">Radio</label>
      </div>
      <div class="radio radio-enhanced-sm">
        <input id="radio4" name="radioOptions" type="radio">
        <label for="radio4">Radio
        </label>
      </div>
      <div class="radio radio-enhanced-sm disabled">
        <input disabled id="radio5" name="radioOptions" type="radio">
        <label for="radio5">Radio (disabled)
        </label>
      </div>
    </div>

    <div class="col-md-3">
      <div class="radio-inline radio-enhanced-sm">
        <input id="inlineradio3" name="inlineRadioOptions" type="radio" value="option1">
        <label for="inlineradio3">Check me out</label>
      </div>

      <div class="radio-inline radio-enhanced-sm">
        <input id="inlineradio4" name="inlineRadioOptions" type="radio" value="option1">
        <label for="inlineradio4">We're inline</label>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <hr>
    </div>
  </div>

<!-- normal -->

  <div class="row">
    <div class="col-md-3">
      <div class="checkbox">
        <label>
          <input checked type="checkbox" value="">
          Option one
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="">
          Option one
        </label>
      </div>
      <div class="checkbox disabled">
        <label>
          <input disabled type="checkbox" value="">
          Option two is disabled
        </label>
      </div>
    </div>

    <div class="col-md-3">
      <div class="checkbox-inline">
        <input id="inlineCheckbox1a" type="checkbox" value="option1">
        <label for="inlineCheckbox1a">Check me out</label>
      </div>
      <div class="checkbox-inline">
        <input id="inlineCheckbox2a" type="checkbox" value="option1">
        <label for="inlineCheckbox2a">We're inline</label>
      </div>
    </div>

    <div class="col-md-3">
      <div class="radio">
        <label>
          <input checked id="optionsRadios1" name="optionsRadios" type="radio" value="option1">
          Radio
        </label>
      </div>
      <div class="radio">
        <label>
          <input id="optionsRadios2" name="optionsRadios" type="radio" value="option2">
          Radio
        </label>
      </div>
      <div class="radio disabled">
        <label>
          <input disabled id="optionsRadios3" name="optionsRadios" type="radio" value="option3">
          Radio (disabled)
        </label>
      </div>
    </div>

    <div class="col-md-3">
      <div class="radio-inline">
        <input id="inlineradio1a" name="inlineRadioOptions" type="radio" value="option1">
        <label for="inlineradio1a">Check me out</label>
      </div>

      <div class="radio-inline">
        <input id="inlineradio2a" name="inlineRadioOptions" type="radio" value="option1">
        <label for="inlineradio2a">We're inline</label>
      </div>
    </div>

  </div>

  <div class="row spacer-top-xl">
    <div class="col-md-12">
      <h4>SELECT MENUS</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group enhanced">
        <label for="flavors">Choice of flavor</label>
        <select class="form-control" disabled="disabled" name="flavors">
          <option class="placeholder" selected value="">Please select</option>
          <option>Chocolate</option>
          <option>Vanilla</option>
          <option>Strawberry</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group enhanced">
        <label for="flavors">Choice of flavor</label>
        <select class="form-control" name="flavors">
          <option disabled selected value="">Please select</option>
          <option>Chocolate</option>
          <option>Vanilla</option>
          <option>Strawberry</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row spacer-top-xl">
    <div class="col-md-12">
      <h4>
        TEXT INPUTS
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">

      <div class="form-group enhanced">
        <label>
          First Name
        </label><input class="form-control" disabled="disabled" placeholder="Please enter your first name" type="text"></div>
    </div>
    <div class="col-md-3">
      <div class="form-group enhanced">
        <label>
          First Name
        </label><input class="form-control" placeholder="Please enter your first name" type="text"></div>
    </div>
    <div class="col-md-3">
      <div class="form-group enhanced">
        <label>
          First Name
        </label><input class="form-control focus" type="text" value="Willi_"></div>
    </div>
    <div class="col-md-3">
      <div class="form-group enhanced">
        <label>
          First Name
        </label><input class="form-control" type="text" value="William"></div>
    </div>
  </div>

  <div class="row spacer-top-xl">
    <div class="col-md-12">
      <h4>LARGE ICON BUTTONS</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="logo-button-usps disabled">&nbsp;</div>
    </div>
    <div class="col-md-3">
      <div  class="logo-button-usps"/></div>
    <div class="col-md-3">
      <div class="logo-button-usps hover">
        &nbsp;</div>
    </div>
    <div class="col-md-3">
      <div  class="logo-button-usps active"/>
    </div>
  </div>
  <div class="row spacer-top-xl">
    <div class="col-md-12">

      <h4>
        LARGE ITEM SELECTORS
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">

      <div class="item-selector-button disabled">
        <div class="title">
          Item One
        </div>
        <div class="divider">&nbsp;
        </div>
        <div class="image">&nbsp;
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="item-selector-button">
        <div class="title">
          Item One
        </div>
        <div class="divider">&nbsp;
        </div>
        <div class="image">&nbsp;
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="item-selector-button hover">
        <div class="title">
          Item One
        </div>
        <div class="divider">&nbsp;
        </div>
        <div class="image">&nbsp;
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="item-selector-button active">
        <div class="title">
          Item One
        </div>
        <div class="divider">&nbsp;
        </div>
        <div class="image">&nbsp;
        </div>
      </div>
    </div>
  </div>

  <div class="row spacer-top-xl">
    <div class="col-md-12">
      <h4>TYPOGRAPHY</h4>
    </div>
  </div>

  <div class="row spacer-bottom-xl">
    <div class="col-md-4">

      <h1>H1 - Precision Sans Light 36</h1>
      <h2>H2 - Precision Sans Regular 20</h2>
      <h3>H3 - Precision Sans Regular 16</h3>
      <p>Body Copy 1 - Helvetica Neue Regular 14</p>
      <p class="text-small">Body Copy 2 (.text-small)- Helvetica Neue Regular 12</p>

    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>

</div>
