<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1 class="main-title">Brand Personality</h1>

      <h4>Smart</h4>
      <p>
        We communicate with the confidence and sensible style of an expert, always considerate and thought through, but never overly complex or technical. Our customers don’t have time to decipher jargon, so we keep our communications and experiences intelligent and intuitive—easy to understand and navigate.
      </p>
    </div>
  </div>

  <div class="row spacer-bottom-lg">
    <div class="col-md-6">
      <p>
        It is…
      </p>
      <ul class="list-unstyled">
        <li>expert</li>
        <li>straight-forward</li>
        <li>confident</li>
        <li>intuitive</li>
      </ul>
    </div>
    <div class="col-md-6">
      <p>
        It is not…
      </p>
      <ul class="list-unstyled">
        <li>technical</li>
        <li>dry</li>
        <li>arrogant</li>
        <li>oversimplified</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>Approachable</h4>
      <p>
        Living up to our reputation for trust and integrity means that we communicate with a tone that is honest, human and real. Our approach and style is genuine and accessible—always open and inclusive of our clients and each other.
      </p>
    </div>
  </div>

  <div class="row spacer-bottom-lg">
    <div class="col-md-6">
      <p>
        It is…
      </p>
      <ul class="list-unstyled">
        <li>genuine</li>
        <li>conversational</li>
        <li>grounded</li>
        <li>human</li>
      </ul>
    </div>
    <div class="col-md-6">
      <p>
        It is not…
      </p>
      <ul class="list-unstyled">
        <li>unrefined</li>
        <li>overly familiar</li>
        <li>dull</li>
        <li>disingenuous</li>
      </ul>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h4>Ambitious</h4>
        <p>
        Our communications and experiences are both positive and uplifting. We focus on what can be, in addition to what is. Optimism without ambition is just hopeful, so we balance our optimistic tone with drive and determination, focusing on problem-solving. We can both dream it and deliver it.
         </p>
    </div>
  </div>

  <div class="row spacer-bottom-lg">
    <div class="col-md-6">
      <p>
        It is…
      </p>
      <ul class="list-unstyled">
        <li>imaginative</li>
        <li>refreshing</li>
        <li>courageous</li>
        <li>determined</li>
      </ul>
    </div>
    <div class="col-md-6">
      <p>
        It is not…
      </p>
      <ul class="list-unstyled">
        <li>impractical</li>
        <li>bubbly</li>
        <li>risky</li>
        <li>dogmatic</li>
      </ul>
    </div>
  </div>

   <div class="row">
    <div class="col-md-12">
      <h4>Energizing</h4>
        <p>
          We have an energy and momentum that’s contagious. While our competitors may be satisfied to deliver information, our communications and experiences inject an energy that’s nimble, motivating and inspiring.
        </p>
    </div>
  </div>

  <div class="row spacer-bottom-lg">
    <div class="col-md-6">
      <p>
        It is…
      </p>
      <ul class="list-unstyled">
        <li>agile</li>
        <li>spirited</li>
        <li>inspiring</li>
        <li>dynamic</li>
      </ul>
    </div>
    <div class="col-md-6">
      <p>
        It is not…
      </p>
      <ul class="list-unstyled">
        <li>erratic</li>
        <li>loud</li>
        <li>whimsical</li>
        <li>frenetic</li>
      </ul>
    </div>
  </div>

  </div>
