<div class="container-fluid">
  <div class="row spacer-bottom-xl">
    <div class="col-md-12">
      <h1>Pitney Bowes Style Guide</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="list-inline list-expanded">
        <li>
          <button class="btn btn-primary" disabled="disabled">Button</button>
        </li>
        <li>
          <button class="btn btn-primary">Button</button>
        </li>
        <li>
          <button class="btn btn-primary hover">Button</button>
        </li>
        <li>
          <button class="btn btn-primary active">Button</button>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="list-inline list-expanded">
        <li>
          <button class="btn btn-default" disabled="disabled">Button</button>
        </li>
        <li>
          <button class="btn btn-default">Button</button>
        </li>
        <li>
          <button class="btn btn-default hover">Button</button>
        </li>
        <li>
          <button class="btn btn-default active">Button</button>
        </li>
      </ul>
    </div>
  </div>
</div>
