<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="main-title">Colors</h1>
      </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h4 class="section-head">Main Colors</h4>
      <div class="row color-swatches">
        <div class="col-md-2 col-xs-12 color-swatch-container" ng-repeat="color in colors.colorData.main" ng-class="{clearRow: $index==5}">
          <div class="color-swatch" style="background-color:{{::color.hex}}"></div>
          {{::color.name}}
          <br> {{::color.hex}}
          <br>
          <small>{{::color.varname}}</small>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4 class="section-head">Main Grays</h4>
      <div class="row color-swatches">
        <div class="col-md-2 col-xs-12 color-swatch-container" ng-repeat="color in colors.colorData.grays" ng-class="{clearRow: $index==5}">
          <div class="color-swatch" style="background-color:{{::color.hex}}"></div>
          {{::color.name}}
          <br> {{::color.hex}}
          <br>
          <small>{{::color.varname}}</small>
        </div>
      </div>
    </div>
  </div>




    <div class="row">
      <div class="col-md-12">
        <h4 class="section-head">Functional Colors (from Bootstrap)</h4>
        <div class="row color-swatches">
          <div class="col-md-2 col-xs-12 color-swatch-container" ng-repeat="color in colors.colorData.functional" ng-class="{clearRow: $index==5}">
            <div class="color-swatch" style="background-color:{{::color.hex}}"></div>
            {{::color.name}}
            <br> {{::color.hex}}
            <br>
            <small>{{::color.varname}}</small>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <h4 class="section-head">Chart Colors</h4>
        <div class="row color-swatches">
          <div class="col-md-2 col-xs-12 color-swatch-container" ng-repeat="color in colors.colorData.charts" ng-class="{clearRow: $index==6}">
            <div class="color-swatch" style="background-color:{{::color.hex}}"></div>
            {{::color.name}}
            <br> {{::color.hex}}
            <br>
            <small>{{::color.varname}}</small>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <h4 class="section-head">Chart Blue Tints</h4>
        <div class="row color-swatches">
          <div class="col-md-2 col-xs-12 color-swatch-container" ng-repeat="color in colors.colorData.blues" ng-class="{clearRow: $index==6}">
            <div class="color-swatch" style="background-color:{{::color.hex}}"></div>
            {{::color.name}}
            <br> {{::color.hex}}
            <br>
            <small>{{::color.varname}}</small>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <h4 class="section-head">Gray Chart Tints</h4>
        <div class="row color-swatches">
          <div class="col-md-2 col-xs-12 color-swatch-container" ng-repeat="color in colors.colorData.chartgrays" ng-class="{clearRow: $index==6}">
            <div class="color-swatch" style="background-color:{{::color.hex}}"></div>
            {{::color.name}}
            <br> {{::color.hex}}
            <br>
            <small>{{::color.varname}}</small>
          </div>
        </div>
      </div>
    </div>








</div>
