<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="main-header"><h1>Typography</h1></div>
      </div>
  </div>

  <section class="row">
    <div class="col-md-12">
      <h1>This Is A Heading 1</h1>
      <h2>This Is A Heading 2</h2>
      <h3>This Is A Heading 3</h3>
      <p>H1-H3 margin-top 20px, margin-bottom 10px, PrecisionSans_W_Rg, Initial Caps</p>
      <h3><a href="">I am a linked H3</a></h3>
      <p>H1-H3 that are also a link are still header color, not link color</p>
      <h4>This is a heading 4</h4>
      <h5>This is a heading 6</h5>
      <h6>This is a heading 4</h6>
      <p>H4-H6 margin-top 10px, margin-bottom 10px, Helvetica Neue, bold, Sentence cap</p>
      <h4><a href="">I am a linked H4</a></h4>
      <p>H4-H6 that are also a link stay header color, not link color</p>
    </div>
  </section>

  <section class="row">
    <div class="col-md-10">
      <h1>Icing wafer gingerbread</h1>
      <p>Jujubes bonbon <a href="http://en.wikipedia.org/wiki/Carrot_cake" target="_blank">carrot cake</a> toffee jelly beans ice cream sugar <em>plum brownie soufflé</em>. Wafer pie gummies. Cookie jelly-o macaroon. Chocolate cake chocolate toffee bear claw <strong>halvah sweet roll toffee</strong>. Brownie cake cotton candy. Carrot cake candy canes carrot cake dessert. Icing tootsie roll cake lollipop sweet chocolate bar. </p>
      <h2>Marzipan chocolate bar dessert</h2>
      <p>Apple pie dragée lollipop cake tart icing. Sesame snaps ice cream jujubes tart pastry. Macaroon chocolate cake lemon drops toffee cotton candy lemon drops dessert muffin lemon drops. Liquorice muffin powder bonbon muffin oat cake. Icing chupa chups gummi bears biscuit gummies marshmallow caramels.</p>
      <p>Gummies wafer halvah dragée carrot cake pudding fruitcake. Soufflé biscuit danish cookie gummi bears chocolate. Biscuit pudding dessert jelly soufflé. Topping cotton candy macaroon danish powder tiramisu jelly-o croissant danish. Pie gummies sesame snaps. Sweet roll pastry muffin marshmallow halvah biscuit chocolate bar. Muffin cupcake bonbon liquorice danish lollipop. Jelly cake lollipop brownie donut halvah lollipop fruitcake.</p>
      <h3>Fruitcake sugar plum marshmallow tart </h3>
      <p class="lede">I am a "Lede" paragraph. Caramels lemon drops marzipan topping cheesecake topping pie. Pie soufflé cotton candy carrot cake cheesecake toffee. Lemon drops cheesecake icing bonbon cake muffin. </p>
      <p>Caramels candy jelly jujubes jelly beans danish jujubes. Ice cream icing carrot cake sweet roll danish chocolate cake jelly beans. Lollipop bear claw lollipop cheesecake sugar plum toffee tiramisu pastry. Wafer sweet roll tiramisu. Liquorice toffee cake chocolate bar toffee cotton candy marzipan. </p>
      <p>Soufflé biscuit danish cookie gummi bears chocolate. Biscuit pudding dessert jelly soufflé. Topping cotton candy macaroon danish powder tiramisu jelly-o croissant danish. Pie gummies sesame snaps. Sweet roll pastry muffin marshmallow halvah biscuit chocolate bar. Muffin cupcake bonbon liquorice danish lollipop. Jelly cake lollipop brownie donut halvah lollipop fruitcake.</p>
      <hr>
      <h4>Here are other text sizes, for <b>special cases only</b></h4>
      <p class="text-large">
        <strong>Large text</strong> Donut lemon drops liquorice soufflé sesame snaps. Icing danish dragée. Gummies gummi bears jelly beans oat cake tart. Fruitcake wafer jujubes pudding pastry. Bear claw muffin lollipop lollipop. </p>
      <p class="text-small">
        <strong>Small text</strong> Cupcake chupa chups jelly jelly beans jelly beans. Chupa chups tart icing gummies topping pastry chocolate bar candy. Jelly dessert chocolate cake dragée pudding dessert lemon drops.</p>
      <p class="text-xs">
        <strong>Extra small (XS) text</strong> Gummi bears marshmallow danish pudding chupa chups donut candy. Topping macaroon sweet roll jelly-o cheesecake. Lemon drops donut jelly-o. Cotton candy danish bear claw.</p>
    </div>
  </section>

  <section class="row">
    <div class="col-md-6">
      <h4 class="sh">Ordered list</h4>
      <ol class="spaced">
        <li>Lorem ipsum</li>
        <li>Dolor sit amet</li>
        <li>Consectetur adipiscing elit</li>
        <li>Sed cursus ante dapibus lorem ipsum doloreted eptsit amet diam</li>
        <li>In scelerisque sem at dolor</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est quasi soluta maxime?</li>
      </ol>
    </div>
    <div class="col-md-6">
      <h4 class="sh">Unordered list</h4>
      <ul class="spaced">
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, eius.</li>
        <li>Dolor sit amet</li>
        <li>Consectetur adipiscing elit
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
            <li>Lorem ipsum dolor.</li>
          </ul>
        </li>
        <li>Sed cursus ante dapibus diam</li>
        <li>In scelerisque sem at dolor</li>
        <li>Sed convallis tristique sem</li>
      </ul>
    </div>
  </section>

  <section class="row">
    <div class="col-md-6">
      <h4 class="sh">Definition list</h4>
      <dl>
        <dt>Lorem ipsum dolor sit amet.</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dae fuga error eum quisquam distinctio atque aliquam optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, nemo.</dd>
        <dt>Lorem ipsum dolor sit amet, consectetur.</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, fuga cupiditate nesciunt!</dd>
        <dt>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum consequatur praesentium corporis quasi est minima?</dd>
      </dl>
    </div>
    <div class="col-md-6">
      <h4 class="sh">Definition list, condensed</h4>
      <dl class="dlist-condensed">
        <dt>Lorem ipsum dolor sit amet.</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dae fuga error eum quisquam distinctio atque aliquam optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, nemo.</dd>
        <dt>Lorem ipsum dolor sit amet, consectetur.</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, fuga cupiditate nesciunt!</dd>
        <dt>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum consequatur praesentium corporis quasi est minima?</dd>
      </dl>
    </div>
  </section>

  <section class="row">
    <div class="col-md-6">
      <h4 class="sh">List Group</h4>
      <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">They can have badges
          <span class="badge">14</span>
        </li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h4 class="sh">List Group of Links</h4>
      <div class="list-group">
        <a href="#" class="list-group-item active">
      Cras justo odio
    </a>
        <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item">Morbi leo risus</a>
        <a href="#" class="list-group-item">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item">Vestibulum at eros</a>
      </div>
    </div>
  </section>

  <section class="row">
    <div class="col-md-12">
      <h4 class="section-head">Contextual colored text</h4>
      <p>Convey meaning through color with a handful of emphasis utility classes. These may also be applied to links and will darken on hover just like our default link styles.</p>
      <p class="text-muted">Muted text. Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
      <p class="text-primary">Brand color text. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      <p class="text-success">Success text. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
      <p class="text-info">Info text. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
      <p class="text-danger">Danger text. Donec ullamcorper nulla non metus auctor fringilla.</p>
    </div>
  </section>

</div>
