<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="main-header">
        <h1>Typography</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
  <table class="table table-bordered type-samples">
    <thead>
      <tr>
        <th>Type of header</th>
        <th>Use of header</th>
        <th>Color variation (Regular, Alt, Knockout)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><h1>H1 - Precision Sans Light 32</h1></td>
        <td>
          Main head
        </td>
        <td>
          <ul class="list-inline">
            <li class="bg-pb-gray-700" tagname="H1"></li>
            <li class="bg-pb-gray-500" tagname="H1.alt"></li>
            <li tagname="H1.ko"></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><h2>H2 - Precision Sans Regular 20</h2></td>
        <td>Section Header / Product Title</td>
        <td>
          <ul class="list-inline">
            <li class="bg-pb-gray-700 white" tagname="H2"></li>
            <li class="bg-pb-gray-500 white" tagname="H2.alt"></li>
            <li tagname="H2.ko"></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><h3>H3 - Precision Sans Regular 18</h3></td>
        <td>Sub Section Header</td>
        <td>
          <ul class="list-inline">
            <li class="bg-pb-gray-700 white" tagname="H3"></li>
            <li class="bg-pb-gray-500 white" tagname="h3.alt"></li>
            <li tagname="H3.ko"></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><h4>H4 - Precision Sans Bold 16</h4></td>
        <td>Sub Header</td>
        <td>
          <ul class="list-inline">
            <li class="bg-pb-gray-700 white" tagname="H4"></li>
            <li class="bg-pb-gray-500 white" tagname="H4.alt"></li>
            <li tagname="H4.ko"></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><h5>H5 - Precision Sans Bold 14</h5></td>
        <td>Item - Active State<br>
          <span class="doc-note"> Notes: Use product primary color.</span></td>
        <td>
          <ul class="list-inline">
            <li class="bg-pb-blue white" tagname="H5"></li>
            <li class="bg-pb-gray-500 white" tagname="H5.alt"></li>
            <li tagname="H5.ko"></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><h6>H6 - Helvetica Neue Regular 12</h6></td>
        <td>Captions</td>
        <td>
          <ul class="list-inline">
            <li class="bg-pb-gray-700 white" tagname="H6"></li>
            <li class="bg-pb-gray-500 white" tagname="H6.alt"></li>
            <li tagname="H6.ko"></li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>





  <table class="table table-bordered type-samples">
      <thead>
      <tr>
        <th>Other typography</th>
        <th>Color</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Body text - Helvetica Neue Regular 14</td>
        <td>
          <span class="$pb-gray-400">$text-color</span>
        </td>
      </tr>
      <tr>
        <td><span class="subheader">Sub Header - Helvetica Neue Bold 14</span></td>
        <td>.subheader ($header-color)<br>.subheader.alt ($header-color-alt)<br>.subheader.brand ($brand-primary)</td>
      </tr>
      <tr>
        <td><span class="text-large">Special Cases: Large Body Copy - Helvetica Neue 16</span></td>
        <td>.text-large</td>
      </tr>
      <tr>
        <td><a href="">Hyperlink - underlying font</a></td>
        <td>$link-color</td>
      </tr>
    </tbody>
  </table>
</div></div>



  <div class="row">
    <div class="col-md-6">
      <h4 class="sh">Ordered list</h4>
      <ol class="spaced">
        <li>Lorem ipsum</li>
        <li>Dolor sit amet</li>
        <li>Consectetur adipiscing elit</li>
        <li>Sed cursus ante dapibus lorem ipsum doloreted eptsit amet diam</li>
        <li>In scelerisque sem at dolor</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est quasi soluta maxime?</li>
      </ol>
    </div>
    <div class="col-md-6">
      <h4 class="sh">Unordered list</h4>
      <ul class="spaced">
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, eius.</li>
        <li>Dolor sit amet</li>
        <li>Consectetur adipiscing elit
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
            <li>Lorem ipsum dolor.</li>
          </ul>
        </li>
        <li>Sed cursus ante dapibus diam</li>
        <li>In scelerisque sem at dolor</li>
        <li>Sed convallis tristique sem</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h4 class="sh">Definition list</h4>
      <dl>
        <dt>Lorem ipsum dolor sit amet.</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dae fuga error eum quisquam distinctio atque aliquam optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, nemo.</dd>
        <dt>Lorem ipsum dolor sit amet, consectetur.</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, fuga cupiditate nesciunt!</dd>
        <dt>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum consequatur praesentium corporis quasi est minima?</dd>
      </dl>
    </div>
    <div class="col-md-6">
      <h4 class="sh">Definition list, condensed</h4>
      <dl class="dlist-condensed">
        <dt>Lorem ipsum dolor sit amet.</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dae fuga error eum quisquam distinctio atque aliquam optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, nemo.</dd>
        <dt>Lorem ipsum dolor sit amet, consectetur.</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, fuga cupiditate nesciunt!</dd>
        <dt>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum consequatur praesentium corporis quasi est minima?</dd>
      </dl>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h4 class="sh">List Group</h4>
      <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">They can have badges
          <span class="badge">14</span>
        </li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h4 class="sh">List Group of Links</h4>
      <div class="list-group">
        <a class="list-group-item active" href="#">
          Cras justo odio
        </a>
        <a class="list-group-item" href="#">Dapibus ac facilisis in</a>
        <a class="list-group-item" href="#">Morbi leo risus</a>
        <a class="list-group-item" href="#">Porta ac consectetur ac</a>
        <a class="list-group-item" href="#">Vestibulum at eros</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4 class="section-head">Contextual colored text</h4>
      <p>Convey meaning through color with a handful of emphasis utility classes. These may also be applied to links and will darken on hover just like our default link styles.</p>
      <p class="text-muted">Muted text. Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
      <p class="text-primary">Brand color text. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      <p class="text-success">Success text. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
      <p class="text-info">Info text. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
      <p class="text-danger">Danger text. Donec ullamcorper nulla non metus auctor fringilla.</p>
    </div>
  </div>

</div>
