<div class="modal-header">
  <h2 class="modal-title">Modal Headline</h2>
</div>
<div class="modal-body">
  <p>Duo ne perpetua liberavisse, iracundia efficiendi honestatis te per. Eu cetero accusam evertitur usu, vidit labores ullamcorper mei an. Legimus consectetuer vix id, quot minimum mentitum qui ut. Eam soluta utroque te, ea nec postea gubergren, has ut sint reprehendunt.</p>

  <div class="row">
    <div class="col-md-6">
      <div class="radio radio-enhanced">
        <input checked="" id="radio1" name="radioOptions" type="radio">
        <label for="radio1">Option 1 - 123456789</label>
      </div>
      <div class="radio radio-enhanced">
        <input id="radio3" name="radioOptions" type="radio">
        <label for="radio3">Option 3 - 123456789</label>
      </div>
    </div>

    <div class="col-md-6">
      <div class="radio radio-enhanced">
        <input id="radio2" name="radioOptions" type="radio">
        <label for="radio2">Option 2 - 123456789</label>
      </div>

      <div class="radio radio-enhanced">
        <input id="radio4" name="radioOptions" type="radio">
        <label for="radio4">Option 4 - 123456789</label>
      </div>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="close()">Save</button>
</div>
