<div class="signin-wrapper">

   <div class="signin-body-top">
    <div class="floating-unit">

    <a class="signin-pb-logo" href="http://www.pb.com"></a>


    <div class="signin-box">

      <h2 class="text-magenta spacer-top-xs">Your account has been locked.</h2>

      <p class="spacer-top-md">For your security, we’ve locked your account due to multiple sign in attempts.</p>

      <p class="spacer-top-md spacer-bottom-md">To sign in, you’ll need to
        <a href="">reset your password.</a>
      </p>

      <div class="spacer-top-md">Need help?</div>

      <p>Live chat is available Monday &ndash; Friday 9am &ndash; 5pm ET.</p>

    </div>
<!-- // end white box --></div>
  </div>

  <div ng-include="'modules/patterns/templates/includes/footer.html'"></div>

</div>
