<div class="signin-wrapper">

  <div class="signin-body">
    
    <a class="signin-pb-logo" href="http://www.pb.com"></a>


    <div class="signin-box">

      <h2 class="text-magenta spacer-top-xs">Your account has been locked.</h2>

      <p class="spacer-top-md">For your security, we’ve locked your account due to multiple sign in attempts.</p>

      <p class="spacer-top-md spacer-bottom-md">To sign in, you’ll need to
        <a href="">reset your password.</a>
      </p>

      <p class="spacer-top-md">Need help?
        <a href="">Chat with live support</a>
      </p>

    </div>
<!-- // end white box -->
  </div>

  <div class="signin-footer">
    Pitney Bowes Inc. the Corporate Logo and Product Name<sup>&trade;</sup> are trademarks of Pitney Bowes Inc. or a subsidiary. All other marks are the intellectual property of their respective owners. <a href="">Privacy</a>&nbsp;|&nbsp;<a href="">Terms and Conditions</a>&nbsp;<a>&copy; 2016 Pitney Bowes Inc. All rights reserved.</a>
  </div>

</div>
