<!-- for the gradient -->
<div class="bg">

  <div class="centered-box">
    <div class="signin-pb-logo spacer-bottom-md spacer-top-xl">
      <div class="text-center">
        <a href="http://www.pb.com">
          <img src="assets/images/white_pblogo.png" class="image-responsive" alt="" />
        </a>
      </div>
    </div>


    <div class="signin-box spacer-bottom-md">

      <h2 class="text-magenta sign-in-title">Your account has been locked.</h2>

      <p class="spacer-top-md">For your security, we’ve locked your account due to multiple sign in attempts.</p>

      <p class="spacer-top-md spacer-bottom-md">To sign in, you’ll need to
        <a href="">reset your password.</a>
      </p>

      <div class="spacer-top-md">Need help?</div>

      <p class="spacer-bottom-md">Our hours of operation are from 8am to 8pm Eastern Standard Time. If you'd like to chat with us, please try again later during that time.</p>

    </div>
<!-- // end white box -->
  </div>

  <div class="row signin-footer spacer-bottom-md">
    <div class="col-xs-12 text-center">
        <small>Pitney Bowes Inc. the Corporate Logo, Product Name<sup>&trade;</sup> are trademarks of Pitney Bowes Inc. or a subsidiary. All other marks are the intellectual property of their respective owners. <a href="">Privacy</a>&nbsp;|&nbsp;<a href="">Terms and Conditions</a>&nbsp;<a>&copy; 2016 Pitney Bowes Inc. All rights reserved.</a></small>
    </div>
  </div>

</div>
