<div class="signin-wrapper">


  <div class="signin-body-top">
    <div class="floating-unit">

    <a class="signin-pb-logo" href="http://www.pb.com"></a>

    <div class="signin-box">

      <h3 class="text-magenta spacer-top-xs spacer-bottom-sm">Reset your password.</h3>

      <p>You're updating the password for: <span>russell.jones@pb.com</span></p>

      <form autocomplete="off" name="myForm" novalidate>

        <div class="form-group spacer-top-sm spacer-bottom-sm" ng-class="{'has-error': myForm.name.$error.required  && myForm.name.$dirty}">
          <label for="name">New password</label>
          <input class="form-control" name="name" ng-model-options="{ updateOn: 'blur' }" ng-model="myForm.data.name" required type="text">
          <span class="help-block" ng-show="myForm.name.$error.required && myForm.name.$dirty">Password is required.</span>
        </div>

        <div class="form-group spacer-top-sm spacer-bottom-sm" ng-class="{'has-error': myForm.name.$error.required  && myForm.name.$dirty}">
          <label for="name">Confirm password</label>
          <input class="form-control" name="name" ng-model-options="{ updateOn: 'blur' }" ng-model="myForm.data.name" required type="text">
          <span class="help-block" ng-show="myForm.name.$error.required && myForm.name.$dirty">Confirm Password is required.</span>
        </div>

        <button class="btn btn-primary btn-block btn-lg spacer-top-xs btn-pill" type="submit">Submit</button>
      </form>

      <p class="text-center spacer-top-md">Need help? <a href="">Chat with live support</a></p>
    </div>
<!-- // end white box --></div>
    </div>


    <div ng-include="'modules/patterns/templates/includes/footer.html'"></div>

  </div>


</div>
