<!-- for the gradient -->
<div class="bg">

  <div class="centered-box">
    <div class="signin-pb-logo spacer-bottom-md spacer-top-xl">
      <div class="text-center">
        <a href="http://www.pb.com">
          <img src="assets/images/white_pblogo.png" class="image-responsive" alt="" />
        </a>
      </div>
    </div>


    <div class="signin-box spacer-bottom-md">

      <h2 class="text-magenta sign-in-title">Complete your registration.</h2>

      <p class="spacer-top-md">We recently sent an email to:  santosh.nair@pb.com.</p>

      <p class="spacer-top-md spacer-bottom-md">It contains a link to verify your identity and complete your registration.</p>

      <a href="">Resend email</a>

    </div>
<!-- // end white box -->
  </div>

  <div class="row signin-footer spacer-bottom-md">
    <div class="col-xs-12 text-center">
        <small>Pitney Bowes Inc. the Corporate Logo, Product Name<sup>&trade;</sup> are trademarks of Pitney Bowes Inc. or a subsidiary. All other marks are the intellectual property of their respective owners. <a href="">Privacy</a>&nbsp;|&nbsp;<a href="">Terms and Conditions</a>&nbsp;<a>&copy; 2016 Pitney Bowes Inc. All rights reserved.</a></small>
    </div>
  </div>

</div>
