<div class="signin-wrapper">


  <div class="signin-body">

    <a class="signin-pb-logo" href="http://www.pb.com"></a>

    <div class="signin-box">

      <h2 class="text-magenta spacer-top-xs">Complete your registration.</h2>

      <p class="spacer-top-md">We recently sent an email to:  santosh.nair@pb.com</p>

      <p class="spacer-top-md spacer-bottom-md">It contains a link to verify your identity and complete your registration.</p>

      <a href="">Resend email</a>

    </div>
<!-- // end white box -->
  </div>

  <div ng-include="'modules/patterns/templates/includes/footer.html'"></div>

  </div>

</div>
