<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Patterns</div>
          <h1>Drag and Drop</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid spacer-top-xl">

  <div class="row">
    <div class="col-xs-12">

      <table class="table table-dragdrop">
        <thead>
          <tr class="category">
            <th></th>
            <th></th>
            <th class="column">What does the page contain to indicate drag and drop?</th>
            <th class="column">What happens when the mouse hovers over the draggable object?</th>
            <th class="column">What happens when the mouse is pressed on the draggable object but dragging has not initiated?</th>
            <th class="column">What happens when drag starts?</th>
            <th class="column">What happens when I drag over a valid drop target?</th>
            <th class="column">What happens when I drag over an invalid drop target?</th>
            <th class="column">What happens when I drag back to the original position?</th>
            <th class="column">What happens when the drop is accepted?</th>
            <th class="column">What happens when the drop is rejected?</th>
            <th class="column">What happens when dropped over the original position?</th>
          </tr>
          <tr>
            <th></th>
            <th></th>
            <th colspan="10" class="text-center" style="padding:0">
              <svg width="1400" height="50" viewBox="0 0 1400 50" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <marker id="arrowLeft" markerWidth="25" markerHeight="25" refX="0" refY="12.5">
                      <path fill="#662D91" d="M0 12.5l25-12.5v25z"/>
                    </marker>
                    <marker id="arrowRight" markerWidth="25" markerHeight="25" refX="15" refY="12.5">
                      <path d="M0 25v-25l25 12.5-25 12.5z" fill="#662D91"/>
                    </marker>
                </defs>
                <path d="M0 0h1390" stroke="#662D91" stroke-width=".75" stroke-dasharray="5,2" fill="#000" marker-start="url(#arrowLeft)" marker-end="url(#arrowRight)" transform="translate(0,25)" />
                <text class="arrow-labels" transform="translate(300 25)">ACTIONS</text>
              </svg>
            </th>
          </tr>
          <tr>
            <th></th>
            <th></th>
            <th class="text-center">Page Load</th>
            <th class="text-center">Mouse Hover</th>
            <th class="text-center">Mouse Down</th>
            <th class="text-center">Drag Initiated</th>
            <th class="text-center">Drag Over Valid Target</th>
            <th class="text-center">Drag Over Invalid Target</th>
            <th class="text-center">Drag Over Original Position</th>
            <th class="text-center">Drop Accepted</th>
            <th class="text-center">Drop Rejected</th>
            <th class="text-center">Drop On Original Position</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="7" class="no-border text-center" style="width: 70px;">
              <svg width="70" height="650" viewBox="0 0 70 650" xmlns="http://www.w3.org/2000/svg">
                  <defs>
                      <marker id="arrowUp" markerWidth="25" markerHeight="25" refX="10" refY="2">
                        <path fill="#662D91" d="M10 0l10 20h-20z"/>
                      </marker>
                      <marker id="arrowDown" markerWidth="25" markerHeight="25" refX="10" refY="4">
                        <path d="M0,0 L20,0 L10,20 L0,0 Z" id="arrow-down" fill="#662D91"></path>
                      </marker>
                  </defs>
                  <path d="M25 0v600" stroke="#662D91" stroke-width=".75" stroke-dasharray="5,2" fill="#000" marker-start="url(#arrowUp)" marker-end="url(#arrowDown)"/>
                  <text class="arrow-labels" transform="translate(3 320)">OBJECTS</text>
              </svg>
            </td>
            <td class="no-border text-right">Page</td>
            <td>messaging indicating drag an drop functionality, if necessary</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td class="no-border text-right">Cursor</td>
            <td class="text-center"><i class="fa fa-mouse-pointer"></i></td>
            <td class="text-center"><i class="fa fa-hand-pointer-o"></i></td>
            <td class="text-center"><i class="fa fa-hand-rock-o"></i></td>
            <td class="text-center"><i class="fa fa-hand-rock-o"></i></td>
            <td class="text-center"><i class="fa fa-hand-rock-o"></i></td>
            <td class="text-center"><i class="fa fa-hand-rock-o"></i></td>
            <td class="text-center"><i class="fa fa-hand-rock-o"></i></td>
            <td class="text-center"><i class="fa fa-mouse-pointer"></i></td>
            <td class="text-center"><i class="fa fa-mouse-pointer"></i></td>
            <td class="text-center"><i class="fa fa-mouse-pointer"></i></td>
          </tr>

          <tr>
            <td class="no-border text-right">Tooltip</td>
            <td></td>
            <td>click and hold to drag</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td class="no-border text-right">Drag Object</td>
            <td>normal</td>
            <td>thumb/gripper control may appears on certain objects</td>
            <td>object turns gray by 10%</td>
            <td>object changes to 80% opacity, drop shadow appears behind object</td>
            <td></td>
            <td></td>
            <td></td>
            <td>returns to full opacity </td>
            <td>snaps back to original position and returns to full opacity</td>
            <td></td>
          </tr>

          <tr>
            <td class="no-border text-right">Drag Object Original Position</td>
            <td>normal</td>
            <td></td>
            <td></td>
            <td>background turns gray and maintains position until cursor is no longer over container, then adjacent objects move up to fill</td>
            <td></td>
            <td></td>
            <td>background maintains gray and position</td>
            <td>returns to original background color</td>
            <td>returns to original background color</td>
            <td>returns to original background color</td>
          </tr>

          <tr>
            <td class="no-border text-right">Drop Target</td>
            <td>normal</td>
            <td></td>
            <td></td>
            <td></td>
            <td>adjacent objects shift to make room for new drag object, target area appears with a black 5% opacity background and a black 10% opacity dotted line; any text, image or button inside of drag target does not darken</td>
            <td></td>
            <td>adjacent objects shift to make room for new drag object, target area appears with a black 5% opacity background and a black 10% opacity dotted line; any text, image or button inside of drag target does not darken</td>
            <td>returns to original background color</td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td class="no-border text-right">Animation</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>target grows by 110% (use grow animation with ease in</td>
            <td></td>
            <td></td>
            <td>target shrinks down to original size (use shrink animation with ease out)</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>
<div class="container spacer-top-xl">

  <div class="row">

    <div class="col-md-6">
      <div class="panel panel-default drag-container">
        <div class="panel-body" dragula="'first-bag'" dragula-model="dragdrop.items.unselected">
          <div class="drag-item" ng-repeat="item in dragdrop.items.unselected track by item.id" uib-tooltip="Click and hold to drag." tooltip-enable="dragdrop.tooltip.isEnabled">
            <span>{{::item.label}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body" dragula="'first-bag'" dragula-model="dragdrop.items.selected" >
          <div class="drag-item" ng-repeat="item in dragdrop.items.selected track by item.id" uib-tooltip="Click and hold to drag." tooltip-enable="dragdrop.tooltip.isEnabled">
            <span>{{::item.label}}</span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-6">
      <pre>{{dragdrop.items.unselected | json}}</pre>
    </div>

    <div class="col-md-6">
      <pre>{{dragdrop.items.selected | json}}</pre>
    </div>
  </div>

</div>
