<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Patterns</div>
          <h1>Drag and Drop</h1>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="container spacer-top-xl">

  <div class="row">

    <div class="col-md-6">
      <div class="panel panel-default drag-container">
        <div class="panel-body" dragula="'first-bag'" dragula-model="dragdrop.items.unselected">
          <div class="drag-item" ng-repeat="item in dragdrop.items.unselected track by item.id" uib-tooltip="Click and hold to drag." tooltip-enable="dragdrop.tooltip.isEnabled">
            <span>{{::item.label}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body" dragula="'first-bag'" dragula-model="dragdrop.items.selected" >
          <div class="drag-item" ng-repeat="item in dragdrop.items.selected track by item.id" uib-tooltip="Click and hold to drag." tooltip-enable="dragdrop.tooltip.isEnabled">
            <span>{{::item.label}}</span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-6">
      <pre>{{dragdrop.items.unselected | json}}</pre>
    </div>

    <div class="col-md-6">
      <pre>{{dragdrop.items.selected | json}}</pre>
    </div>
  </div>

</div>

<div class="container-fluid spacer-top-xl">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <!-- moved to an include to make this page easier to work with -->
        <div ng-include="'modules/patterns/templates/includes/drag-drop-table.html'"></div>
      </div>
    </div>
  </div>
</div>
