<!-- for the gradient -->
<div class="bg">

  <div class="centered-box">
    <div class="signin-pb-logo spacer-bottom-md spacer-top-xl">
      <div class="text-center">
        <a href="http://www.pb.com">
          <img src="assets/images/white_pblogo.png" class="image-responsive" alt="" />
        </a>
      </div>
    </div>

    <div class="signin-box spacer-bottom-md">
      <div class="text-center spacer-bottom-sm spacer-top-lg">
        <img src="assets/images/nucleo-check.png" class="image-responsive" alt="" />
      </div>

      <p class="text-center spacer-bottom-xl">We’ve emailed you a link to reset your password.</p>
    </div>
<!-- // end white box -->
    </div>


  <div class="row signin-footer spacer-bottom-md">
      <div class="col-xs-12 text-center">
        <small>Pitney Bowes Inc. the Corporate Logo and Product Name<sup>&trade;</sup> are trademarks of Pitney Bowes Inc. or a subsidiary. All other marks are the intellectual property of their respective owners. <a href="">Privacy</a>&nbsp;|&nbsp;<a href="">Terms and Conditions</a>&nbsp;<a>&copy; 2016 Pitney Bowes Inc. All rights reserved.</a></small>
    </div>

  </div>


</div>
