<div class="signin-wrapper">

  <div class="signin-body">

    <a class="signin-pb-logo" href="http://www.pb.com"></a>

    <div class="signin-box">
      <div class="text-center spacer-bottom-sm spacer-top-lg">
        <img src="assets/images/nucleo-check.png" class="image-responsive" alt="" />
      </div>

      <p class="text-center spacer-bottom-xl">We’ve emailed you a link to reset your password.</p>
    </div>
<!-- // end white box -->
    </div>


  <div ng-include="'modules/patterns/templates/includes/footer.html'"></div>

  </div>


</div>
