<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Patterns</div>
          <h1>Error Pages</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a ui-sref="patterns.errorpages({'#':'guidelines'})">Guidelines</a></li>
            <li><a ui-sref="patterns.errorpages({'#':'400'})">400 series</a></li>
            <li><a ui-sref="patterns.errorpages({'#':'500'})">500 series</a></li>
            <li><a ui-sref="patterns.errorpages({'#':'signed-out'})">Signed Out</a></li>
            <li><a ui-sref="patterns.errorpages({'#':'maintenance'})">Maintenance</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="container">


  <!-- 404 -->
  <div class="row" >
    <div class="col-md-8">
      <h1 id="guidelines" class="doc-head">Guidelines</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <p>Error pages should:</p>
      <ul>
        <li>Spell out the problem in plain, friendly, non-alarmist language</li>
        <li>Never contain exclamation points or question marks in headers</li>
        <li>Provide the user with ideas for solving the problem</li>
        <li>Provide only highly relevant links</li>
        <li>Never exceed six columns in our grid</li>
        <li>Include a support contact</li>
        <li>Format headers in sentence caps with a concluding period</li>
        <li>Format bullet copy in sentence caps with no concluding period</li>
      </ul>
    </div>
  </div>




  <!-- 404 -->
  <div class="row" >
    <div class="col-md-8">
      <h1 id="400" class="doc-head">400 Series Error Pages</h1>
    </div>
  </div>


  <div class="row doc-sectionbreak">
    <div class="col-md-6">
      <figcaption>400 Bad Request (Left Aligned)</figcaption>
      <a href="" ui-sref="errors-400" target="_blank"><img class="img-responsive framed" src="modules/patterns/assets/images/error-404.png" /></a>
    </div>

    <div class="col-md-6">
      <figcaption>400 Bad Request (Center Aligned)</figcaption>
      <a href="" ui-sref="errors-400-centered" target="_blank"><img class="img-responsive framed" src="modules/patterns/assets/images/error-404-center.png" /></a>
    </div>
  </div>


  <div class="row doc-sectionbreak">
    <div class="col-md-6">
      <figcaption>401 Unauthorized (Left Aligned)</figcaption>
      <a href="" ui-sref="errors-401-left" target="_blank"><img class="img-responsive framed" src="modules/patterns/assets/images/error-401.png" /></a>
    </div>

    <div class="col-md-6">
      <figcaption>401 Unauthorized (Center Aligned)</figcaption>
      <a href="" ui-sref="errors-401-centered" target="_blank"><img class="img-responsive framed" src="modules/patterns/assets/images/error-401-center.png" /></a>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-md-6">
      <figcaption>404 Page Not Found (Left Aligned)</figcaption>
      <a href="" ui-sref="errors-404-left" target="_blank"><img class="img-responsive framed" src="modules/patterns/assets/images/error-404.png" /></a>
    </div>

    <div class="col-md-6">
      <figcaption>404 Page Not Found (Center Aligned)</figcaption>
      <a href="" ui-sref="errors-404-centered" target="_blank"><img class="img-responsive framed" src="modules/patterns/assets/images/error-404-center.png" /></a>
    </div>
  </div>




  <!-- 500 -->
  <div class="row" >
    <div class="col-md-8">
      <h1 id="500" class="doc-head">500</h1>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-md-6">
      <figcaption>500 Internal Server (Left Aligned)</figcaption>
      <a href="" ui-sref="errors-500-left" target="_blank"><img class="img-responsive framed" src="modules/patterns/assets/images/error-500.png" /></a>
    </div>

    <div class="col-md-6">
      <figcaption>500 Internal Server (Center Aligned)</figcaption>
      <a href="" ui-sref="errors-500-centered" target="_blank"><img class="img-responsive framed" src="modules/patterns/assets/images/error-500-center.png" /></a>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-md-6">
      <figcaption>502 Bad Gateway (Left Aligned)</figcaption>
      <a href="" ui-sref="errors-502-left" target="_blank"><img class="img-responsive framed" src="modules/patterns/assets/images/error-502.png" /></a>
    </div>

    <div class="col-md-6">
      <figcaption>502 Bad Gateway (Center Aligned)</figcaption>
      <a href="" ui-sref="errors-502-centered" target="_blank"><img class="img-responsive framed" src="modules/patterns/assets/images/error-502-center.png" /></a>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-md-6">
      <figcaption>504 Gateway Timeout (Left Aligned)</figcaption>
      <a href="" ui-sref="errors-504-left" target="_blank"><img class="img-responsive framed" src="modules/patterns/assets/images/error-504.png" /></a>
    </div>

    <div class="col-md-6">
      <figcaption>504 Gateway Timeout (Center Aligned)</figcaption>
      <a href="" ui-sref="errors-504-centered" target="_blank"><img class="img-responsive framed" src="modules/patterns/assets/images/error-504-center.png" /></a>
    </div>
  </div>




  <!-- Signed Out -->
  <div class="row" >
    <div class="col-md-8">
      <h1 id="signed-out" class="doc-head">Signed Out</h1>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-md-6">
      <figcaption>Left Aligned</figcaption>
      <a href="" ui-sref="errors-signed-out-left" target="_blank"><img class="img-responsive framed" src="modules/patterns/assets/images/error-signed-out.png" /></a>
    </div>

    <div class="col-md-6">
      <figcaption>Center Aligned</figcaption>
      <a href="" ui-sref="errors-signed-out-centered" target="_blank"><img class="img-responsive framed" src="modules/patterns/assets/images/error-signed-out-center.png" /></a>
    </div>
  </div>




  <!-- Maintenance -->
  <div class="row" >
    <div class="col-md-8">
      <h1 id="maintenance" class="doc-head">Maintenance</h1>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-md-6">
      <figcaption>Planned Maintenance (Left Aligned)</figcaption>
      <a href="" ui-sref="errors-planned-maintenance-left" target="_blank"><img class="img-responsive framed" src="modules/patterns/assets/images/error-planned-maintenance.png" /></a>
    </div>

    <div class="col-md-6">
      <figcaption>Planned Maintenance (Center Aligned)</figcaption>
      <a href="" ui-sref="errors-planned-maintenance-centered" target="_blank"><img class="img-responsive framed" src="modules/patterns/assets/images/error-planned-maintenance-center.png" /></a>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-md-6">
      <figcaption>Unplanned Maintenance (Left Aligned)</figcaption>
      <a href="" ui-sref="errors-unplanned-maintenance-left" target="_blank"><img class="img-responsive framed" src="modules/patterns/assets/images/error-unplanned-maintenance.png" /></a>
    </div>

    <div class="col-md-6">
      <figcaption>Unplanned Maintenance (Center Aligned)</figcaption>
      <a href="" ui-sref="errors-unplanned-maintenance-centered" target="_blank"><img class="img-responsive framed" src="modules/patterns/assets/images/error-unplanned-maintenance-center.png" /></a>
    </div>
  </div>

</div>
