<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Patterns</div>
          <h1>Error Pages</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a ui-sref="patterns.errorpages({'#':'guidelines'})">Guidelines</a></li>
            <li><a ui-sref="patterns.errorpages({'#':'400'})">400 series</a></li>
            <li><a ui-sref="patterns.errorpages({'#':'500'})">500 series</a></li>
            <li><a ui-sref="patterns.errorpages({'#':'signed-out'})">Signed Out</a></li>
            <li><a ui-sref="patterns.errorpages({'#':'maintenance'})">Maintenance</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="container">


  <!-- 404 -->
  <div class="row" >
    <div class="col-md-8">
      <h1 id="guidelines" class="doc-head">Guidelines</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <p>Error pages should:</p>
      <ul>
        <li>Spell out the problem in plain, friendly, non-alarmist language</li>
        <li>Never contain exclamation points or question marks in headers</li>
        <li>Provide the user with ideas for solving the problem</li>
        <li>Provide only highly relevant links</li>
        <li>Never exceed six columns in our grid</li>
        <li>Include a support contact</li>
        <li>Format headers in sentence caps with a concluding period</li>
        <li>Format bullet copy in sentence caps with no concluding period</li>
      </ul>
    </div>
  </div>




  <!-- 404 -->
  <div class="row" >
    <div class="col-md-8">
      <h1 id="400" class="doc-head">400 Series Error Pages</h1>
    </div>
  </div>


  <div class="row doc-sectionbreak">
    <div class="col-md-6">
      <h5>400 Bad Request (Left Aligned)</h5>
      <a href="" ui-sref="errors-400-left" target="_blank"><img class="img-responsive framed" src="modules/patterns/assets/images/400-left.jpg" /></a>
    </div>

    <div class="col-md-6">
      <h5>400 Bad Request (Center Aligned)</h5>
      <a href="" ui-sref="errors-400-centered" target="_blank"><img class="img-responsive framed" src="modules/patterns/assets/images/400-center.jpg" /></a>
    </div>
  </div>


  <div class="row doc-sectionbreak">
    <div class="col-md-6">
      <h5>401 Unauthorized (Left Aligned)</h5>
      <a href="" ui-sref="errors-401-left" target="_blank"><img class="img-responsive framed" src="modules/patterns/assets/images/401-left.jpg" /></a>
    </div>

    <div class="col-md-6">
      <h5>401 Unauthorized (Center Aligned)</h5>
      <a href="" ui-sref="errors-401-centered" target="_blank"><img class="img-responsive framed" src="modules/patterns/assets/images/401-center.jpg" /></a>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-md-6">
      <h5>404 Page Not Found (Left Aligned)</h5>
      <a href="" ui-sref="errors-404-left" target="_blank"><img class="img-responsive framed" src="modules/patterns/assets/images/404-left.jpg" /></a>
    </div>

    <div class="col-md-6">
      <h5>404 Page Not Found (Center Aligned)</h5>
      <a href="" ui-sref="errors-404-centered" target="_blank"><img class="img-responsive framed" src="modules/patterns/assets/images/404-center.jpg" /></a>
    </div>
  </div>




  <!-- 500 -->
  <div class="row" >
    <div class="col-md-8">
      <h1 id="500" class="doc-head">500</h1>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-md-6">
      <h5>500 Internal Server (Left Aligned)</h5>
      <a href="" ui-sref="errors-500-left" target="_blank"><img class="img-responsive framed" src="modules/patterns/assets/images/500-left.jpg" /></a>
    </div>

    <div class="col-md-6">
      <h5>500 Internal Server (Center Aligned)</h5>
      <a href="" ui-sref="errors-500-centered" target="_blank"><img class="img-responsive framed" src="modules/patterns/assets/images/500-center.jpg" /></a>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-md-6">
      <h5>502 Bad Gateway (Left Aligned)</h5>
      <a href="" ui-sref="errors-502-left" target="_blank"><img class="img-responsive framed" src="modules/patterns/assets/images/502-left.jpg" /></a>
    </div>

    <div class="col-md-6">
      <h5>502 Bad Gateway (Center Aligned)</h5>
      <a href="" ui-sref="errors-502-centered" target="_blank"><img class="img-responsive framed" src="modules/patterns/assets/images/502-center.jpg" /></a>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-md-6">
      <h5>504 Gateway Timeout (Left Aligned)</h5>
      <a href="" ui-sref="errors-504-left" target="_blank"><img class="img-responsive framed" src="modules/patterns/assets/images/504-left.jpg" /></a>
    </div>

    <div class="col-md-6">
      <h5>504 Gateway Timeout (Center Aligned)</h5>
      <a href="" ui-sref="errors-504-centered" target="_blank"><img class="img-responsive framed" src="modules/patterns/assets/images/504-center.jpg" /></a>
    </div>
  </div>




  <!-- Signed Out -->
  <div class="row" >
    <div class="col-md-8">
      <h1 id="signed-out" class="doc-head">Signed Out</h1>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-md-6">
      <h5>Left Aligned</h5>
      <a href="" ui-sref="errors-signed-out-left" target="_blank"><img class="img-responsive framed" src="modules/patterns/assets/images/signed-out-left.jpg" /></a>
    </div>

    <div class="col-md-6">
      <h5>Center Aligned</h5>
      <a href="" ui-sref="errors-signed-out-centered" target="_blank"><img class="img-responsive framed" src="modules/patterns/assets/images/signed-out-center.jpg" /></a>
    </div>
  </div>




  <!-- Maintenance -->
  <div class="row" >
    <div class="col-md-8">
      <h1 id="maintenance" class="doc-head">Maintenance</h1>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-md-6">
      <h5>Planned Maintenance (Left Aligned)</h5>
      <a href="" ui-sref="errors-planned-maintenance-left" target="_blank"><img class="img-responsive framed" src="modules/patterns/assets/images/planned-maintenance-left.jpg" /></a>
    </div>

    <div class="col-md-6">
      <h5>Planned Maintenance (Center Aligned)</h5>
      <a href="" ui-sref="errors-planned-maintenance-centered" target="_blank"><img class="img-responsive framed" src="modules/patterns/assets/images/planned-maintenance-center.jpg" /></a>
    </div>
  </div>

  <div class="row doc-sectionbreak">
    <div class="col-md-6">
      <h5>Unplanned Maintenance (Left Aligned)</h5>
      <a href="" ui-sref="errors-unplanned-maintenance-left" target="_blank"><img class="img-responsive framed" src="modules/patterns/assets/images/unplanned-maintenance-left.jpg" /></a>
    </div>

    <div class="col-md-6">
      <h5>Unplanned Maintenance (Center Aligned)</h5>
      <a href="" ui-sref="errors-unplanned-maintenance-centered" target="_blank"><img class="img-responsive framed" src="modules/patterns/assets/images/unplanned-maintenance-center.jpg" /></a>
    </div>
  </div>

</div>
