<div class="signin-wrapper">

  <div class="signin-body-top">
    <div class="floating-unit">

      <a class="signin-pb-logo" href="http://www.pb.com"></a>

      <!-- begin white box -->
      <div class="signin-box">
       <h3 class="text-magenta spacer-bottom-sm spacer-top-xs">Reset your password</h3>
       <p>Please enter your email to get started.</p>

        <form autocomplete="off" name="myForm" class="spacer-top-sm" novalidate>
          <div class="form-group" ng-class="{'has-error': myForm.name.$error.required  && myForm.name.$dirty}">
            <label for="name">Email</label>
            <input class="form-control" name="name" required type="text">
            <span class="help-block" ng-show="myForm.name.$error.required && myForm.name.$dirty">Enter a valid email address.</span>
          </div>

          <div class="form-group spacer-bottom-md">
            <label class="control radio">
              <input name="radio" type="radio" id="email-me">
              <span class="control-indicator"></span>
              Email me to reset my password
            </label>

            <label class="control radio">
              <input name="radio" type="radio" id="answer-question" checked>
              <span class="control-indicator"></span>
              Answer my security question
            </label>

            <div class="form-group col-xs-offset-1 has-error" ng-class="{'has-error': myForm.name.$error.required  && myForm.name.$dirty}">
              <label for="name">What is your pet's name?</label>
              <input class="form-control" name="name" required type="text">
              <span class="help-block">Your answer does not match our records. Please try again.</span>
            </div>
          </div>

          <button class="btn btn-primary btn-block btn-lg spacer-top-xs btn-pill" ng-click="login()" type="submit">Send Reset Link</button>
        </form>

         <p class="text-center spacer-top-md"><a href="">Return to Sign In</a></p>

        <p class="text-center">Need help? <a href="">Chat with live support</a></p>
      </div>
      <!-- // end white box --></div>

  </div>

    <div ng-include="'modules/patterns/templates/includes/footer.html'"></div>

</div>
