<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Patterns</div>
          <h1>Forms &amp; Containers</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="forms" offset="125">Forms</a></li>
            <li><a href="" du-smooth-scroll="read-only">Read Only Data</a></li>
            <li><a href="" du-smooth-scroll="container">Container Samples</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="container">

  <div class="row" >
    <div class="col-md-8">
      <h1 id="forms" class="doc-head">Forms</h1>

      <p class="doc-lede">Lorem ipsum dolor sit amet, feugiat inciderint ei eum. Verterem sapientem tincidunt ut his, facilisi mnesarchum per ne. Laoreet alienum explicari cu eos, ludus eirmod ius no, constituto voluptatibus cu per. Mei fabellas definiebas eu, duo veniam deseruisse no.</p>
    </div>
  </div>


  <!--  -->
  <div class="row">
    <div class="col-md-12">
      <h1 class="doc-sectionhead">With Right Information Rail</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Shipping Address</h3>
    </div>
  </div>

  <div class="row spacer-top-md">

    <div class="col-md-7">

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" value="Melanie" />
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Middle</label>
            <input type="text" class="form-control" value="Ann" />
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" value="Daniels" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Street Address (including apartment or unit #)</label>
            <input type="text" class="form-control" value="33 Painpaneu Street" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>City</label>
            <input type="text" class="form-control" value="Indianapolis" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>State / Province / Region</label>
            <select type="text" class="form-control">
              <option>Indiana</option>
            </select>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>Postal Code</label>
            <input type="text" class="form-control" value="46201" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Phone Number</label>
            <input type="text" class="form-control" value="555-773-8877" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="radio radio-inline radio-enhanced">
            <input checked="" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="radio-inline" for="inlineRadio1">Option 1</label>
          </div>

          <div class="radio radio-inline radio-enhanced">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="radio-inline" for="inlineRadio2">Option 2</label>
          </div>

          <div class="radio radio-inline radio-enhanced">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
            <label class="radio-inline" for="inlineRadio3">Option 3</label>
          </div>
        </div>
      </div>

      <div class="row spacer-top-md">
        <div class="col-md-12">
          <button type="button" class="btn btn-primary btn-lg">Save</button>
          <button type="button" class="btn btn-default btn-lg">Cancel</button>
        </div>
      </div>

    </div>

    <div class="col-md-3 col-md-offset-1">

      <label>Order Placed</label>
      <p><strong>2014-Aug-11 13:48 EST</strong></p>

      <label>Order Confirmed</label>
      <p><strong>2014-Aug-11 13:48 EST</strong></p>

      <label>Expires</label>
      <p><strong>2014-Aug-11 13:48 EST</strong></p>

      <label>Denied Part Screening (DPS)</label>
      <p><strong>Party Denied</strong></p>

      <label>High Average Selling Price (ASP)</label>
      <p><strong>Yes</strong></p>

      <label>Country of Shipment</label>
      <p><strong>US</strong></p>

      <label>Hub</label>
      <p><strong>KY</strong></p>

      <label>Shipping Method</label>
      <p><strong>Standard</strong></p>

    </div>
  </div>



  <div class="row">
    <div class="col-md-12">
      <h1 class="doc-sectionhead">Small Form - Use Four Columns</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Commodity</label>
        <input type="text" class="form-control input-sm" />
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label>Parcel ID - UPID</label>
        <input type="text" class="form-control input-sm" />
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label>Partner</label>
        <select class="form-control input-sm">
          <option>Select Partner</option>
        </select>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label>TPID</label>
        <input type="text" class="form-control input-sm" />
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label>SKU</label>
        <input type="text" class="form-control input-sm" />
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label>Exceptional parcel number</label>
        <input type="text" class="form-control input-sm" />
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label>Partner item ID</label>
        <input type="text" class="form-control input-sm" />
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label>Inbound carrier tracking</label>
        <input type="text" class="form-control input-sm" />
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label>Merchant order number</label>
        <input type="text" class="form-control input-sm" />
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label>Outbound carrier tracking</label>
        <input type="text" class="form-control input-sm" />
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label>Return Merchandising Authorization</label>
        <input type="text" class="form-control input-sm" />
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-md-12">
      <h1 class="doc-sectionhead">Medium Form - Use Three Columns</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" />
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" />
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Street</label>
            <input type="text" class="form-control" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Country</label>
            <select class="form-control">
              <option>All</option>
            </select>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Postal Code</label>
            <input type="text" class="form-control" />
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control" />
          </div>
        </div>
      </div>

    </div>
  </div>




  <div class="row">
    <div class="col-md-12">
      <h1 class="doc-sectionhead">Large Form - Use Two to Three Columns</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control input-lg" />
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Country</label>
            <select class="form-control input-lg">
              <option>All</option>
            </select>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>City</label>
            <input type="text" class="form-control input-lg" />
          </div>
        </div>
      </div>

    </div>
  </div>




  <div class="row" >
    <div class="col-md-8">
      <h1 id="read-only" class="doc-head">Read Only Data</h1>

      <p class="doc-lede">WHAT IS THIS CONTENT?</p>
    </div>
  </div>



  <div class="row" >
    <div class="col-md-8">
      <h1 id="container" class="doc-head">Container Samples</h1>

      <p class="doc-lede">WHAT IS THIS CONTENT?</p>
    </div>
  </div>

</div>
