<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Patterns</div>
          <h1>Getting Started</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="pointing-modal" offset="125">Pointing Modal</a></li>
            <li><a href="" du-smooth-scroll="walkthrough">Walkthrough</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="container">

  <div class="row" >
    <div class="col-md-8">
      <h1 id="pointing-modal" class="doc-head">Pointing Modal</h1>
    </div>
  </div>


  <!-- Dashboard 1 -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Pointing 1</h2>
    </div>
  </div>

  <div class="row">

    <div class="col-md-3">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper, purus quis viverra accumsan, eros ex porta nisl, ut rutrum neque sem in massa. Phasellus mattis lacus a est blandit, at lobortis velit egestas. Nulla lobortis accumsan justo, et fermentum nisi sollicitudin et. </p>
    </div>

    <div class="col-md-8 col-md-offset-1">
      <img class="img-responsive" src="modules/patterns/assets/images/pointing_01.png" />
    </div>
  </div>



  <!-- Dashboard 2 -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Pointing 2</h2>
    </div>
  </div>

  <div class="row">

    <div class="col-md-3">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper, purus quis viverra accumsan, eros ex porta nisl, ut rutrum neque sem in massa. Phasellus mattis lacus a est blandit, at lobortis velit egestas. Nulla lobortis accumsan justo, et fermentum nisi sollicitudin et. </p>
    </div>

    <div class="col-md-8 col-md-offset-1">
      <img class="img-responsive" src="modules/patterns/assets/images/pointing_02.png" />
    </div>
  </div>



  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Pointing 3</h2>
    </div>
  </div>

  <div class="row">

    <div class="col-md-3">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper, purus quis viverra accumsan, eros ex porta nisl, ut rutrum neque sem in massa. Phasellus mattis lacus a est blandit, at lobortis velit egestas. Nulla lobortis accumsan justo, et fermentum nisi sollicitudin et. </p>
    </div>

    <div class="col-md-8 col-md-offset-1">
      <img class="img-responsive" src="modules/patterns/assets/images/pointing_03.png" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Pointing 4</h2>
    </div>
  </div>

  <div class="row">

    <div class="col-md-3">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper, purus quis viverra accumsan, eros ex porta nisl, ut rutrum neque sem in massa. Phasellus mattis lacus a est blandit, at lobortis velit egestas. Nulla lobortis accumsan justo, et fermentum nisi sollicitudin et. </p>
    </div>

    <div class="col-md-8 col-md-offset-1">
      <img class="img-responsive" src="modules/patterns/assets/images/pointing_04.png" />
    </div>
  </div>



  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Pointing 5</h2>
    </div>
  </div>

  <div class="row">

    <div class="col-md-3">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper, purus quis viverra accumsan, eros ex porta nisl, ut rutrum neque sem in massa. Phasellus mattis lacus a est blandit, at lobortis velit egestas. Nulla lobortis accumsan justo, et fermentum nisi sollicitudin et. </p>
    </div>

    <div class="col-md-8 col-md-offset-1">
      <img class="img-responsive" src="modules/patterns/assets/images/pointing_05.png" />
    </div>
  </div>




  <div class="row" >
    <div class="col-md-8">
      <h1 id="walkthrough" class="doc-head">Walkthrough</h1>
    </div>
  </div>


  <!-- Dashboard 4 -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Walkthrough 1</h2>
    </div>
  </div>

  <div class="row">

    <div class="col-md-3">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper, purus quis viverra accumsan, eros ex porta nisl, ut rutrum neque sem in massa. Phasellus mattis lacus a est blandit, at lobortis velit egestas. Nulla lobortis accumsan justo, et fermentum nisi sollicitudin et. </p>
    </div>

    <div class="col-md-8 col-md-offset-1">
      <img class="img-responsive" src="modules/patterns/assets/images/walkthrough_01.png" />
    </div>
  </div>


  <!-- Dashboard 5 -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Walkthrough 2</h2>
    </div>
  </div>

  <div class="row">

    <div class="col-md-3">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper, purus quis viverra accumsan, eros ex porta nisl, ut rutrum neque sem in massa. Phasellus mattis lacus a est blandit, at lobortis velit egestas. Nulla lobortis accumsan justo, et fermentum nisi sollicitudin et. </p>
    </div>

    <div class="col-md-8 col-md-offset-1">
      <img class="img-responsive" src="modules/patterns/assets/images/walkthrough_02.png" />
    </div>
  </div>


  <!-- Dashboard 6 -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Walkthrough 3</h2>
    </div>
  </div>

  <div class="row">

    <div class="col-md-3">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper, purus quis viverra accumsan, eros ex porta nisl, ut rutrum neque sem in massa. Phasellus mattis lacus a est blandit, at lobortis velit egestas. Nulla lobortis accumsan justo, et fermentum nisi sollicitudin et. </p>
    </div>

    <div class="col-md-8 col-md-offset-1">
      <img class="img-responsive" src="modules/patterns/assets/images/walkthrough_03.png" />
    </div>
  </div>


</div>
