<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Patterns</div>
          <h1>Getting Started</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a ui-sref="patterns.gettingstarted({'#':'pointing-modal'})">Pointing Modal</a></li>
            <li><a ui-sref="patterns.gettingstarted({'#':'walkthrough'})">Walkthrough</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="container"
  ui-tour ui-tour-on-start="gettingstarted.onTourStart(tour)"
  ui-tour-on-ready="gettingstarted.onReady(tour)"
  ui-tour-placement="bottom"
  ui-tour-append-to-body="true"
  ui-tour-use-hotkeys="true"
  ui-tour-scroll-offset="180"
  ui-tour-template-url="'modules/patterns/templates/tour-step-template2.html'">

    <div tour-step
      tour-step-template-url="'modules/patterns/templates/tour-step-start.html'"
      tour-step-order="0"
      tour-step-popup-class="window"
      tour-step-backdrop="true"
    >
  </div>

  <div class="row spacer-top-xl">
    <div class="col-md-8">
      <a class="btn btn-primary" ng-show="gettingstarted.showButton" ng-click="gettingstarted.launchTour()">Launch Tour</a>

      <p class="doc-lede">Our &ldquo;getting started&rdquo; screens feature components that are for use only in this aspect of the experience flow.</p>
    </div>
  </div>


  <div class="row" >
    <div class="col-md-8">
      <h1 id="pointing-modal" class="doc-head"
        tour-step
        tour-step-title="Main Menu" 
        tour-step-content="Navigate the site using this menu." 
        tour-step-order="10" 
        tour-step-placement="bottom" 
        tour-step-backdrop="true"
        >Pointing Modal</h1>
      <p class="doc-lede">Pointing modals float over a dimmed screen. They’re useful for explaining features that are procedural in nature. When using these elements we dim the entire screen behind them by placing a gray (#495D69) overlay at 50% opacity.</p>
    </div>
  </div>


  <!-- Dashboard 1 -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Welcome</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <img class="img-responsive" src="modules/patterns/assets/images/onboarding_1a.png" />
    </div>
  </div>



  <!-- Dashboard 2 -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Input with Tip</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <img class="img-responsive" src="modules/patterns/assets/images/onboarding_1b.png" />
    </div>
  </div>



  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Tile with Tip (1 of 3)</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <img class="img-responsive" src="modules/patterns/assets/images/onboarding_1c.png" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Tile with Tip (2 of 3)</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <img class="img-responsive" src="modules/patterns/assets/images/onboarding_1d.png" />
    </div>
  </div>



  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Tile with Tip (3 of 3)</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <img class="img-responsive" src="modules/patterns/assets/images/onboarding_1e.png" />
    </div>
  </div>




  <div class="row" >
    <div class="col-md-8">
      <h1 id="walkthrough" class="doc-head" tour-step tour-step-title="Main Menu" tour-step-content="Navigate the site using this menu." tour-step-order="20" tour-step-placement="top" tour-step-backdrop="true">Walkthrough</h1>
      <p class="doc-lede">Use walkthroughs to highlight discrete elements or functions in the experience flow.</p>
    </div>
  </div>


  <!-- Dashboard 4 -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Feature Flow (1 of 2)</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <img class="img-responsive" src="modules/patterns/assets/images/onboarding_2a.png"
        tour-step
        tour-step-title="Main Menu" 
        tour-step-content="Navigate the site using this menu." 
        tour-step-order="30" 
        tour-step-placement="top" 
        tour-step-backdrop="false" />
    </div>
  </div>


  <!-- Dashboard 5 -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Feature Flow (2 of 2)</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <img class="img-responsive" src="modules/patterns/assets/images/dashboards_2_1.png" />
    </div>
  </div>


</div>
