<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Product Framework/ Responsive Web / Patterns</div>
          <h1>Patterns</h1>
        </div>
      </div>
    </div>
  </div>
  <sub-header headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <li><a href="">Brand</a></li>
    <li><a href="">Design</a></li>
    <li><a href="">Experience</a></li>
  </sub-header>
</div>






<div class="container">


  <div class="row" style="margin-top:300px">
    <div class="col-md-12">
      <div class="main-title">
        <h1>headers and footers fpo</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt recusandae, ut nemo reprehenderit qui. Autem eius saepe dicta quod excepturi, minima culpa, recusandae vel illum commodi officiis corporis. Voluptates magnam blanditiis assumenda dolore maxime deserunt dolor aliquam quis ab, quisquam illo explicabo natus repudiandae impedit qui libero, atque labore neque.
        </p>
      </div>
    </div>
  </div>
  </div>
