<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Patterns</div>
          <h1>Headers &amp; Footers</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-header jump-bar headroom" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}" headroom offset="240" tolerance="5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li>
              <a du-smooth-scroll="headers" href="" offset="125">Headers</a>
            </li>
            <li>
              <a du-smooth-scroll="footers" href="">Footers</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TODO: Using multiple duplicate IDs on headers, since as soon as "heade tag", the header directive kicks in and replaces mine with the real one.
steve.lombardi [3:39 PM]
in retrospect we should have called the directive pb-header
and set it to AE -->

<!-- TODO: vertically align pb logo in header example -->


<div class="container">

  <h1>Headers</h1>
  <figure>
    <figcaption>Default state for a navigation bar with 5 categories</figcaption>

  </figure>
</div>


  <figure>
    <div id="header">
    <div class="navbar  navbar-default" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button class="navbar-toggle" data-toggle="collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand brand-text" href="">Product Name</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="divider-vertical"></li>
            <li><a href="">Item One</a></li>
            <li><a href="">Item Two<i class="fa fa-angle-down"></i></a></li>
            <li><a href="">Item Three</a></li>
            <li><a href="">Item Four</a></li>
            <li><a href="">Item Five</a></li>
          </ul>
          <!-- <ul class="nav navbar-nav navbar-right">
          <li class="nav-link nav-link-first"><a href=""><i class="fa fa-lg fa-question"></i></a></li>
            <li class="nav-link"><a href=""><i class="fa fa-lg fa-cog"></i></a></li>
            <li class="divider-vertical"></li>
            <li>
              <a class="dropdown-toggle" data-toggle="dropdown">Arthur Walter</a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="">My Account</a></li>
                <li><a ui-sref="dashboard" href="">Dashboard</a></li>
                <li><a ui-sref="settings" href="">Settings</a></li>
                <li class="divider"></li>
                <li><a href=""><i class="fa fa-sign-out fa-lg"></i>&nbsp;&nbsp;Sign Out</a></li>
              </ul>
            </li>
          </ul> -->
        </div>
        <!-- /.navbar-collapse -->
        </div>
      </div>
    </div>
  </figure>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="doc-sectionhead">Navigation Bars / Limits, Variants and Special Cases</h2>
      </div>
      <div class="col-md-12">
        <figcaption>Default state for the Pitney Bowes brand navigation bar</figcaption>
      </div>
    </div>
  </div>

  <figure>
    <div id="header">
    <div class="navbar  navbar-default" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button class="navbar-toggle" data-toggle="collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand brand-text" href=""><i class="pb-footer-logo ko"></i></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="divider-vertical"></li>
            <li><a href="">Item One</a></li>
            <li><a href="">Item Two <i class="fa fa-angle-down"></i></a></li>
            <li><a href="">Item Three</a></li>
            <li><a href="">Item Four</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="divider-vertical"></li>
            <li><form id="magic-search"><input type="search" placeholder="Search"></form></li>
            <li><a href=""><i class="fa fa-lg fa-question"></i></a></li>
            <li><a href=""><i class="fa fa-lg fa-cog"></i></a></li>
            <li><a href="" class="user-dot">AW</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
        </div>
      </div>
    </div>
  </figure>
