<div class="signin-wrapper">

  <div class="signin-body">
    
    <a class="signin-pb-logo" href="http://www.pb.com"></a>

    <div class="signin-box">

     <h2 class="text-magenta spacer-top-xs">Welcome, Russell</h2>

      <p>It takes just a few moments to register as new user for Product Name.</p>

      <p class="spacer-top-sm spacer-bottom-sm">Create a password to complete your registration.</p>


        <div class="form-group spacer-bottom-sm">
          <label for="name">Password</label>
          <input class="form-control" name="name" type="password" ng-init="signin.focus = false" ng-focus="signin.focus = !signin.focus" ng-blur="signin.focus = !signin.focus">
        </div>

        <div class="form-group spacer-bottom-sm">
          <label for="name">Confirm password</label>
          <input class="form-control" name="name" type="password" ng-init="signin.focus = false" ng-focus="signin.focus = !signin.focus" ng-blur="signin.focus = !signin.focus">
        </div>

        <div uib-collapse="!signin.focus">
          <div class="alert alert-info">
            Your password must be at least 8 characters long and contain an uppercase letter plus at least one digit or special character.
          </div>
        </div>

        <button class="btn btn-primary btn-block btn-lg btn-pill-brand" type="submit">Complete My Registration</button>

      <p class="spacer-top-md">By clicking you agree to <a href="">Terms &amp; Conditions</a>,<br> <a href="">Privacy</a> and <a href="">Refund policies</a>.</p>
    </div>
<!-- // end white box -->
    </div>

    <div class="signin-footer">
      Pitney Bowes Inc. the Corporate Logo and Product Name<sup>&trade;</sup> are trademarks of Pitney Bowes Inc. or a subsidiary. All other marks are the intellectual property of their respective owners. <a href="">Privacy</a>&nbsp;|&nbsp;<a href="">Terms and Conditions</a>&nbsp;<a>&copy; 2016 Pitney Bowes Inc. All rights reserved.</a>
    </div>

  </div>

</div>
