<!-- for the gradient -->
<div class="bg">

  <div class="centered-box">
    <div class="signin-pb-logo spacer-bottom-md spacer-top-xl">
      <div class="text-center">
        <a href="http://www.pb.com">
          <img src="assets/images/white_pblogo.png" class="image-responsive" alt="" />
        </a>
      </div>
    </div>

    <div class="signin-box spacer-bottom-md">

     <h2 class="text-magenta sign-in-title">Welcome, John</h2>

      <p>It takes just a few moments to register as new user for Product Name.</p>

      <p class="spacer-top-sm spacer-bottom-sm">Create a password to complete your registration.</p>


        <div class="form-group spacer-bottom-sm">
          <label for="name">Password</label>
          <input class="form-control" name="name" type="password" ng-init="signin.focus = false" ng-focus="signin.focus = !signin.focus" ng-blur="signin.focus = !signin.focus">
        </div>

        <div class="form-group spacer-bottom-sm">
          <label for="name">Confirm password</label>
          <input class="form-control" name="name" type="password" ng-init="signin.focus = false" ng-focus="signin.focus = !signin.focus" ng-blur="signin.focus = !signin.focus">
        </div>

        <div uib-collapse="!signin.focus">
          <div class="alert alert-info">
            Your password must be at least 8 characters long and contain an uppercase letter plus at least one digit or special character.
          </div>
        </div>

        <button class="btn btn-primary btn-block btn-lg btn-pill-brand" type="submit">Complete My Registration</button>
      </form>

      <p class="spacer-top-md">By clicking you agree to <a href="">Terms &amp; Conditions</a>,<br> <a href="">Privacy</a> and <a href="">Refund policies</a>.</p>
    </div>
<!-- // end white box -->
    </div>

    <div class="row signin-footer spacer-bottom-md">
      <div class="col-xs-12 text-center">
        <small>Pitney Bowes Inc. the Corporate Logo and Product Name<sup>&trade;</sup> are trademarks of Pitney Bowes Inc. or a subsidiary. All other marks are the intellectual property of their respective owners. <a href="">Privacy</a>&nbsp;|&nbsp;<a href="">Terms and Conditions</a>&nbsp;<a>&copy; 2016 Pitney Bowes Inc. All rights reserved.</a></small>
    </div>

  </div>

</div>
