<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Product Framework/ Responsive Web / Patterns</div>
          <h1>Patterns</h1>
        </div>
      </div>
    </div>
  </div>
  <sub-header headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <li><a href="" ui-sref="principles.brand">Brand</a></li>
    <li><a href="" ui-sref="principles.design">Design</a></li>
    <li><a href="" ui-sref="principles.experience">Experience</a></li>
  </sub-header>
</div>



<ui-view></ui-view>
