<div class="signin-wrapper">

  <div class="signin-body">
    
    <a class="signin-pb-logo" href="http://www.pb.com"></a>

    <div class="signin-box">

      <h2 class="text-magenta spacer-bottom-sm spacer-top-xs">Reset your password.</h2>

      <p>If you’ve forgotten your password, it’s easy to reset it. Just enter the email address for your account.</p>


      <form autocomplete="off" name="myForm" novalidate>
        <div class="form-group spacer-top-sm spacer-bottom-sm" ng-class="{'has-error': myForm.name.$error.required  && myForm.name.$dirty}">
          <label for="name">Email</label>
          <input class="form-control" name="name" ng-model-options="{ updateOn: 'blur' }" ng-model="myForm.data.name" required type="text">
          <span class="help-block" ng-show="myForm.name.$error.required && myForm.name.$dirty">Email is required.</span>
        </div>

        <button class="btn btn-primary btn-block btn-lg spacer-top-xs btn-pill" type="submit">Send Reset Link</button>
      </form>

      <p class="text-center spacer-top-md"><a href="">Return to Sign In</a></p>

      <p class="text-center">Need help? <a href="">Chat with live support</a></p>
    </div>
<!-- // end white box -->
    </div>


    <div class="signin-footer">
      Pitney Bowes Inc. the Corporate Logo and Product Name<sup>&trade;</sup> are trademarks of Pitney Bowes Inc. or a subsidiary. All other marks are the intellectual property of their respective owners. <a href="">Privacy</a>&nbsp;|&nbsp;<a href="">Terms and Conditions</a>&nbsp;<a>&copy; 2016 Pitney Bowes Inc. All rights reserved.</a>
    </div>

  </div>


</div>
