<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Patterns</div>
          <h1>Sign In &amp; Sign Up</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="sign-in" offset="125">Sign in</a></li>
            <li><a href="" du-smooth-scroll="forgot-password">Password</a></li>
            <!-- <li><a href="" du-smooth-scroll="sign-up">Sign Up</a></li> -->
            <!-- <li><a href="" du-smooth-scroll="email-templates">Email Templates</a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="container">


  <!-- SIGN IN -->
  <div class="row" >
    <div class="col-md-8">
      <h1 id="sign-in" class="doc-head">Sign In</h1>
      <p class="doc-lede">Sign In pages should present minimal information &mdash; enough for users to gain entry to a product or get help with lost access information.</p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Sign In: Email</h2>
    </div>
  </div>

  <div class="row ">
    <div class="col-md-6">
      <a href="" ui-sref="patterns.signin" target="_blank"><img class="img-responsive" src="modules/patterns/assets/images/sign_in.png" /></a>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Sign In: Email or Username</h2>
    </div>
  </div>

  <div class="row ">
    <div class="col-md-6">
      <p>This option supports legacy applications, for which users may be using a non-email username.</p>
      <img class="img-responsive" src="http://placehold.it/1200x1000" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Sign In: Social</h2>
    </div>
  </div>

  <div class="row ">
    <div class="col-md-6">
      <img class="img-responsive" src="http://placehold.it/1200x1000" />
    </div>
  </div>






  <!-- PASSWORD -->
  <div class="row" >
    <div class="col-md-8">
      <h1 id="forgot-password" class="doc-head">Password</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Request Password Rest Link</h2>
    </div>
  </div>

  <div class="row ">
    <div class="col-md-6">
      <img class="img-responsive" src="http://placehold.it/1200x1000" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Password Reset Link Confirmation: Toastr</h2>
    </div>
  </div>

  <div class="row ">
    <div class="col-md-6">
      <img class="img-responsive" src="http://placehold.it/1200x1000" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Password Reset Link Confirmation: Modal</h2>
    </div>
  </div>

  <div class="row ">
    <div class="col-md-6">
      <img class="img-responsive" src="http://placehold.it/1200x1000" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Change Password: No Hint</h2>
    </div>
  </div>

  <div class="row ">
    <div class="col-md-6">
      <img class="img-responsive" src="http://placehold.it/1200x1000" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Change Password: Hint</h2>
    </div>
  </div>

  <div class="row ">
    <div class="col-md-6">
      <img class="img-responsive" src="http://placehold.it/1200x1000" />
    </div>
  </div>






  <!-- SIGN UP -->
  <!-- <div class="row" >
    <div class="col-md-8">
      <h1 id="sign-up" class="doc-head">Sign Up</h1>
    </div>
  </div>

  <div class="row doc-sectionbreak">

    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper, purus quis viverra accumsan, eros ex porta nisl, ut rutrum neque sem in massa. Phasellus mattis lacus a est blandit, at lobortis velit egestas. Nulla lobortis accumsan justo, et fermentum nisi sollicitudin et. Quisque commodo id quam id euismod. Nam vel massa egestas, molestie justo hendrerit, aliquam orci. Integer et lorem nec nunc egestas iaculis id a augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc vehicula enim nec tristique vehicula. Sed cursus purus quis sem tempus, gravida ornare leo ornare.</p>
    </div>

    <div class="col-md-6">
      <img class="img-responsive" src="http://placehold.it/600x600" />
    </div>
  </div> -->


  <!-- EMAIL TEMPLATES -->
  <!-- <div class="row" >
    <div class="col-md-8">
      <h1 id="email-templates" class="doc-head">Email Templates</h1>
    </div>
  </div>

  <div class="row doc-sectionbreak">

    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper, purus quis viverra accumsan, eros ex porta nisl, ut rutrum neque sem in massa. Phasellus mattis lacus a est blandit, at lobortis velit egestas. Nulla lobortis accumsan justo, et fermentum nisi sollicitudin et. Quisque commodo id quam id euismod. Nam vel massa egestas, molestie justo hendrerit, aliquam orci. Integer et lorem nec nunc egestas iaculis id a augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc vehicula enim nec tristique vehicula. Sed cursus purus quis sem tempus, gravida ornare leo ornare.</p>
    </div>

    <div class="col-md-6">
      <img class="img-responsive" src="http://placehold.it/600x600" />
    </div>
  </div> -->


</div>
