<div class="signin-wrapper">

  <div class="signin-body">

    <a class="signin-pb-logo" href="http://www.pb.com"></a>

    <div class="signin-box">

     <h2 class="text-magenta spacer-top-xs">Select a Purchase Power account.</h2>

      <p class="spacer-bottom-md">You have more than one Purchase Power account. Please select the one you want to use to pay for USPS postage.</p>

        <div class="form-group spacer-bottom-md">
          <label for="name">Purchase Power account</label>
          <select class="form-control">
            <option value="" selected="selected">Select</option>
            <option value="Purchase Power 01">Purchase Power 01</option>
          </select>
        </div>

        <button class="btn btn-primary btn-block btn-lg btn-pill" type="submit">Complete My Registration</button>


      <p class="spacer-top-md">By clicking you agree to <a href="">Terms and Conditions</a>,<br> <a href="">Privacy</a> and <a href="">Refund </a>policies.</p>
    </div>
<!-- // end white box -->
    </div>

    <div ng-include="'modules/patterns/templates/includes/footer.html'"></div>

  </div>
