<div class="signin-wrapper">

  <div class="signin-body-top">
    <div class="floating-unit">
      <a class="signin-pb-logo" href="http://www.pb.com"></a>
      <!-- begin white box -->
      <div class="signin-box">
        <h1 class="signin-heading">Product Name<sup>&trade;</sup></h1>
        <h5 class="signin-subheading">Product tag line</h5>
        <form autocomplete="off" name="myForm" class="spacer-top-md" novalidate>
          <div class="form-group" ng-class="{'has-error': myForm.name.$error.required  && myForm.name.$dirty}">
            <label for="name">Email</label>
            <input class="form-control" name="name" required type="text">
            <span class="help-block" ng-show="myForm.name.$error.required && myForm.name.$dirty">Enter a valid email address.</span>
          </div>
          <div class="form-group" ng-class="{'has-error': myForm.pwd.$error.required && myForm.pwd.$dirty}">
            <label for="pwd">Password</label>
            <input class="form-control" name="pwd" ng-model="myForm.data.pwd" required type="password">
            <span class="help-block" ng-show="myForm.pwd.$error.required && myForm.pwd.$dirty">We don't recognize that email and password combination.</span>
          </div>
          <label class="control checkbox">
            <input type="checkbox">
            <span class="control-indicator"></span>
            Remember me
          </label>
          <button class="btn btn-primary btn-block btn-lg spacer-top-xs btn-pill" ng-click="login()" type="submit">Sign In</button>
        </form>
        <p class="text-center spacer-top-md">
          <a href="">Forgot your password?</a>
        </p>
        <p class="text-center">Not a registered user?
          <a href="">Sign up now</a>
        </p>
      </div>
      <!-- // end white box --></div>

  </div>
  <!-- <div class="tour-band">
    <div class="tour-content">
      <div class="left">
        <img class="tour-image" src="modules/patterns/assets/images/fpo-homepage.png" alt="">
      </div>
      <div class="middle">
        <div class="tour-title">Tour the Product Name experience.</div>
        <div class="tour-links">
          <ul class="list-unstyled list-inline">
            <li>
              <a href="">View section one</a>
            </li>
            <li>
              <a href="">View section two</a>
            </li>
            <li>
              <a href="">View section three</a>
            </li>
            <li>
              <a href="">View section four</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="right">
        <a href="" class="tour-cta">Take a Tour <img src="modules/patterns/assets/images/circle-arrow-up.svg" alt=""></a>
      </div>
    </div>
  </div> -->

    <div class="tour-footer" ng-include="'modules/patterns/templates/includes/footer.html'"></div>

</div>
<pb-onboarding></pb-onboarding>
