<div class="signin-wrapper">

  <div class="signin-body">

    <a class="signin-pb-logo" href="http://www.pb.com"></a>

    <div class="signin-box">

     <h2 class="text-magenta spacer-top-xs">Welcome, Russell</h2>

      <p>You’ve been invited to register as a new user for Product Name.</p>

      <p class="spacer-top-sm spacer-bottom-sm">Use your Pitney Bowes password to sign in and complete your registration.</p>

      <label for="name">Email</label>
      <div class="alert alert-info">
        <label>russell.jones@pb.com</label>
      </div>

      <div class="form-group spacer-bottom-sm">
        <label for="name">Password</label>
         <input class="form-control" name="name" type="password" ng-init="signin.focus = false" ng-focus="signin.focus = !signin.focus" ng-blur="signin.focus = !signin.focus">
      </div>

        <button class="btn btn-primary btn-block btn-lg btn-pill spacer-bottom-sm" type="submit">Complete My Registration</button>

      <div class="text-center">
        <a href="">Forgot your password?</a>
      </div>

      <p class="spacer-top-md">By clicking you agree to <a href="">Terms and Conditions</a>,<br> <a href="">Privacy</a> and <a href="">Refund policies</a>.</p>
    </div>
<!-- // end white box -->
    </div>

    <div class="signin-footer">
      Pitney Bowes Inc. the Corporate Logo and Product Name<sup>&trade;</sup> are trademarks of Pitney Bowes Inc. or a subsidiary. All other marks are the intellectual property of their respective owners. <a href="">Privacy</a>&nbsp;|&nbsp;<a href="">Terms and Conditions</a>&nbsp;<a>&copy; 2016 Pitney Bowes Inc. All rights reserved.</a>
    </div>

  </div>

</div>
