<div class="signin-wrapper">

  <div class="signin-body">

    <a class="signin-pb-logo" href="http://www.pb.com"></a>

    <div class="signin-box">

     <h2 class="text-magenta spacer-top-xs">Select a Purchase Power account.</h2>

      <p class="spacer-bottom-md">You have more than one Purchase Power account. Please select the one you want to use to pay for USPS postage.</p>

        <div class="form-group spacer-bottom-md">
          <label for="name">Purchase Power account</label>
          <select class="form-control">
            <option value="" class="" selected="selected">Select</option>
            <option label="Purhcase Power 01">Purchase Power 01</option>
          </select>
        </div>

        <button class="btn btn-primary btn-block btn-lg btn-pill-brand" type="submit">Complete My Registration</button>


      <p class="spacer-top-md">By clicking you agree to <a href="">Terms &amp; Conditions</a>,<br> <a href="">Privacy</a> and <a href="">Refund policies</a>.</p>
    </div>
<!-- // end white box -->
    </div>

    <div class="signin-footer">
      Pitney Bowes Inc. the Corporate Logo and Product Name<sup>&trade;</sup> are trademarks of Pitney Bowes Inc. or a subsidiary. All other marks are the intellectual property of their respective owners. <a href="">Privacy</a>&nbsp;|&nbsp;<a href="">Terms and Conditions</a>&nbsp;<a>&copy; 2016 Pitney Bowes Inc. All rights reserved.</a>
    </div>

  </div>

</div>
