<div class="">
  <h1 class="text-center">Welcome, John!</h1>
  <h4 class="text-center">Getting started is easy.</h4>
  <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet.</p>
  
  <div class="text-center spacer-top-md">
    <a class="btn btn-lg btn-primary" ng-click="gettingstarted.tour.next()">Start the Tour</a>
  </div>

  <div class="text-center spacer-top-sm">
    <a class="" href="" ng-click="gettingstarted.tour.end()">No thanks</a>
  </div>
</div>