<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <!-- <div class="eyebrow">Product Framework/ Responsive Web / Patterns</div> -->
          <h1>Globalization</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a ui-sref="globalization.page({'#':'process'})">Process</a></li>
            <li><a ui-sref="globalization.page({'#':'about-globalization'})">About</a></li>
            <li><a ui-sref="globalization.page({'#':'quick-reference'})">Reference</a></li>
            <li><a ui-sref="globalization.page({'#':'menu'})">Language Selection</a></li>
            <li><a ui-sref="globalization.page({'#':'angularjs-translation'})">AngularJS Translation</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<div ui-view="overview"></div>

<div ui-view="about"></div>

<div ui-view="reference"></div>

<div ui-view="menuguidance"></div>

<div ui-view="angularjs"></div>
