
//* TABLES */

// colors are defined in variables.scss

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: $table-bg-hover;
}

.table-striped>tbody>tr:nth-child(odd) {
  background-color: $table-bg-accent;
}

// table transitions for hovers
.table> tbody > tr > td, .table > tbody > tr > th {
  -webkit-transition: background-color .3s;
  transition        : background-color .3s;
}

.table-clickable {
    tr {
        cursor: pointer;
    }
}

td.centered, th.centered {
    text-align: center;
}

.table-condensed-extra {
  font-size: 14px;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: $table-condensed-extra-cell-padding;
      }
    }
  }
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th {
  font-family: $font-family-sans-serif;
  font-weight: normal;
  color: map-get($chord, color1);
  border-bottom-color: map-get($chord, color1);
  border-bottom-width: 1px;
}
