//* TABS */
.tab-pane {
  padding: 15px;

}

// NOTE: no idea what this is, but it broke the tabs

// .tabbable.scroll>.tab-content {
//   padding: 20px;
// }
// .nav-tabs {
//   border-color: $pb-gray-200;
//   li {
//     &.active {
//       a {
//         border-color: $pb-gray-200 $pb-gray-200 transparent;
//       }
//     }
//   }
// }
//
// .tab-content {
//   &.tab-content-bordered {
//     border: 1px solid $pb-gray-200;
//     border-top: 0;
//   }
// }
// .thumb-detail h4 {
//   font-weight: 700;
// }

.nav-tabs {
  > li {
    &:active, &.active {
      > a, > a:hover, > a:focus {
        color: $brand-primary;
      }
    }
    > a {
      color: $text-color;
      &:hover {
        background-color: $pb-gray-200;
      }
    }
  }
}

.nav-pills {
  >li {
    > a {
      color: $text-color;
      &:hover {
        background-color: $pb-gray-200;
      }
    }
  }

  }
