<section id="faceted">
  <div class="row">
    <div class="col-md-12">
      <h1>Faceted Search</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 id="usage">Usage</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>"Best suited for quick browsing of large data sets
Use when a simple filter is not sufficient, such as filtering on multiple dimensions"</p>
    </div>
  </div>

  <div class="row pb-demo">
    <div class="col-md-12">

      <a class="btn btn-primary" ui-sref="tables.demo.faceted" target="_blank">View Demo</a>

      <div class="pb-demo-image">
        <a ui-sref="tables.demo.faceted" target="_blank">
          <img class="img-responsive framed" src="modules/tables/assets/images/faced-search.png"/>
        </a>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="doc-body-snippet">
        <pb-code-snippet options="tables.faceted"></pb-code-snippet>
      </div>
    </div>
  </div>

</section>