<section id="infiniteScroll">
  <div class="row">
    <div class="col-md-12">
      <h1>Infinite Scroll</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 id="usage">Usage</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>Best suited for streaming content, thumbnail views, and browsing.</p>
    </div>
  </div>

  <div class="row pb-demo">
    <div class="col-md-12">

      <a class="btn btn-primary" ui-sref="tables.demo.infiniteScroll" target="_blank">View Demo</a>

      <div class="pb-demo-image">
        <a ui-sref="tables.demo.infiniteScroll" target="_blank">
          <img class="img-responsive framed" src="modules/tables/assets/images/infinite_scroll.png"/>
        </a>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="doc-body-snippet">
        <pb-code-snippet options="tables.infiniteScroll"></pb-code-snippet>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-open">
        <thead>
          <tr>
            <th>Plugin Name</th>
            <th>Version</th>
            <th>Link</th>
            <th>Comments</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ngInfiniteScroll</td>
            <td>v1.2.1</td>
            <td>
              <a href="http://binarymuse.github.io/ngInfiniteScroll/index.html">http://binarymuse.github.io/ngInfiniteScroll/index.html</a>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>angular-daterangepicker</td>
            <td>v0.2.2</td>
            <td>
              <a href="https://github.com/fragaria/angular-daterangepicker">https://github.com/fragaria/angular-daterangepicker</a>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>ui-bootstrap</td>
            <td>v1.3.1</td>
            <td>
              <a href="https://github.com/angular-ui/bootstrap">https://github.com/angular-ui/bootstrap</a>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>