<section id="paging">
  <div class="row">
    <div class="col-md-12">
      <h1>Paging</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 id="tableDataPaging">Table Data Paging</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>Good for goal-oriented finding tasks, such as locating specific content in a large data set.</p>
    </div>
  </div>

  <div class="row pb-demo">
    <div class="col-md-12">

      <a class="btn btn-primary" ui-sref="tables.demo.paging" target="_blank">View Demo</a>

      <div class="pb-demo-image">
        <a ui-sref="tables.demo.paging" target="_blank">
          <img class="img-responsive framed" src="modules/tables/assets/images/paging.png"/>
        </a>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="doc-body-snippet">
        <pb-code-snippet options="tables.paging"></pb-code-snippet>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-open">
        <thead>
          <tr>
            <th>Plugin Name</th>
            <th>Version</th>
            <th>Link</th>
            <th>Comments</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>angularUtils</td>
            <td>v0.10.0</td>
            <td>
              <a href="https://github.com/michaelbromley/angularUtils/tree/master/src/directives/pagination">https://github.com/michaelbromley/angularUtils/tree/master/src/directives/pagination</a>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>ui-bootstrap</td>
            <td>v1.3.1</td>
            <td>
              <a href="https://github.com/angular-ui/bootstrap">https://github.com/angular-ui/bootstrap</a>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>