// body is assigned class of 'signin' via router


.signin {
  .bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #254d9d;
    background: -webkit-linear-gradient(-45deg, #4cc6f3 0%, #32b1e5 10%, #254d9d 53%, #bc278d 100%);
    background: linear-gradient(135deg, #4cc6f3 0%, #32b1e5 10%, #254d9d 53%, #bc278d 100%);
    background-size: cover;
    background-repeat: no-repeat;
  }
  #header,
  #footer {
    display: none;
  }
  .signin-box {
    background-color: #fff;
    padding: 40px;
    margin-top: 60px;
    @include bp(screen-xs) {
      margin-top: 0;
    }
  }
  .prod-name {
    @extend %ps-bold;
    font-size: 24px;
    color: $brand-secondary;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $brand-secondary;
  }
  .title {
    @extend %ps-light;
    font-size: 32px;
    color: $brand-primary;
  }
  .signin-footer {
    color: tint($brand-primary, 50%);
    margin-top: 20px;
    a {
      color: inherit;
    }
    .nav {
      padding-top: 5px;
    }
    @include bp(screen-xs) {
      .logo {
        text-align: center;
      }
      .nav {
        text-align: center;
        padding-top: 10px;
      }
    }
  }


}
