<div class="leftnav-tree">
    <ul class="nav nav-list ">
      <li ng-repeat="n in splitview.leftnav" ng-class="{ 'open': showDetails }"  class="nav-header" ng-click="showDetails = !showDetails">
        <label class="tree-toggle" >
          {{n.label}}
        </label>
        <i class="nc-icon-mini arrows-2_small-right"></i>

        <ul class="nav nav-list tree" uib-collapse="!showDetails">
          <li ng-repeat="s in n.children"><a href="" ui-sref-active="active">{{s.label}}</a></li>
        </ul>
      </li>
    </ul>
  </div>

<!-- <div class="leftnav-tree">
  <uib-accordion close-others="oneAtATime">
      <uib-accordion-group is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
        <uib-accordion-heading>
          Mailing

          <i class="pull-right nc-icon-mini arrows-2_small-right" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </uib-accordion-heading>
        <div class="list-group">
          <a class="list-group-item" href="">Validate Address</a>
          <a class="list-group-item" href="">Get Postal Codes</a>
          <a class="list-group-item" href="">Get City/State/Province</a>
          <a class="list-group-item" href="">Get Candidate Address</a>
          <a class="list-group-item" href="">Auto Complete</a>
        </div>
      </uib-accordion-group>
  </uib-accordion>
</div> -->
