$nc-font-path:        "../fonts" !default;
$nc-font-size-base:   16px !default;
$nc-css-prefix:       nc-icon !default;
$nc-background-color:     hsla(0, 0%, 50%, .5) !default;
$nc-li-width:         (30em / 14) !default;
$nc-padding-width:    (1em / 3) !default;
