// scss-lint:disable MergeableSelector SelectorDepth ImportantRule

#header, header {
  @extend %gradient;
  z-index: 10;
  .navbar {
    margin-bottom: 0;
    li.first a {
      padding-left: 0;
    }
  }

  .pb-footer-logo {
    margin-right: 30px;
    display: table;
    &:before {
      display: table-cell;
      width: 112px;
      height: 24px;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
}

// added "not demo" so the headers on the "headers" page won't snap to top
header:not(.demo) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin-top: 0;
  transition: all .03s ease-out;
  box-shadow: 0 0 0 rgba(0, 0, 0, .6);
  &.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, .6);
  }
  @include breakpoint(screen-xs) {
    position: relative; // so mobile menu can scroll
  }
}




.help-icon {
  height: 70px;
  i.fa.fa-circle.fa-stack-1x {
    font-size: 26px;
    color: #980d70;
  }
  i.fa.fa-stack-1x.fa-question, .initials {
    font-size: 20px;
  }
}


.navbar-right {
  @include breakpoint(screen-xs) {
    border-top: 1px solid #e1e1e1;
  }

  .dropdown-menu {
    right: auto;
  }
  .dropdown-toggle {
    height: 50px;
    @include breakpoint(screen-xs) {
      height: 42px;
    }
  }

  li.open {
    i.fa.fa-circle.fa-stack-1x {
      display: none;
    }
  }
}

.user-menu {
  // scss-lint:disable ImportantRule
  position: relative;
  i.fa.fa-circle.fa-stack-1x {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 26px;
    color: #980d70;
    text-align: center;
  }
  .initials {
    position: absolute;
    left: 12px;
    top: 14px;
    font-size: 11px;
    font-family: $font-family-sans-serif;
    text-align: center;
  }
  &.open {
    i.fa.fa-circle.fa-stack-1x {
      display: none;
    }
  }
}



.nav > li > a:hover, .nav > li > a:focus {
  background-color: $pb-bg2;
}

@include breakpoint(screen-lg) {
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
  }
}


// default navbar.  most rules should be under here. mostly just copied from Bootstrap sass.
.navbar-default {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  border-bottom: 0;

  .navbar-nav > li > a:hover {
    color: rgba(255, 255, 255, 1);
  }

  .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 1);
  }

  .navbar-toggle {
    float: left;
    padding: 9px 12px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-right: 1px solid hsla(0, 0, 100%, .3);
    border-radius: 0;
    .icon-bar {
      background-color: hsla(0, 0, 100%, .8);
    }
    &:hover, &:focus {
      //background-color: transparentize($pb-blue, .5);
      .icon-bar {
        background-color: hsla(0, 0, 100%, 1);
      }
    }
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
    @include breakpoint(screen-xs) {
      background-color: #fff;
      color: $text-color;
    }
  }

  .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;

    .divider-vertical {
      height: 30px;
      margin: 10px 5px;
      border-left: 1px solid hsla(0, 255, 100%, .3);
    }

    > li {
      @media (max-width: $screen-xs-max) {
        &:last-child > a {
          border-bottom: 0;
        }
      }
      > a {
        color: rgba(255, 255, 255, 1);
        font-size: 14px;
        font-family: $font-family-ps-regular;
        font-weight: normal;
        @media (max-width: $screen-xs-max) {
          border-bottom: 1px solid hsla(0, 255, 100%, .3);
        }
      }
    }
    > .open > a {
      &, &:hover, &:focus {
        background-color: rgba(0, 0, 0, .21);
        color: rgba(255, 255, 255, 1);
      }
    }
  }




  .navbar-brand {
    // @include navbar-divider;
    float: left;
    padding: $navbar-padding-vertical $navbar-padding-horizontal;
    font-size: 24px;
    line-height: $line-height-computed;
    color: #fff;
    height: $navbar-height;
    font-family: $font-family-ps-bold;
    @include breakpoint(screen-xs) {
      font-size: 20px;
      padding-left: 5px;
    }

    &:hover, &:focus {
      color: #fff;
    }
    > img {
      display: block;
      margin-top: -7px;
    }
    a {
      color: inherit;
      &:hover {
        color: inherit;
      }
    }
    @media (min-width: $grid-float-breakpoint) {
      .navbar > .container &, .navbar > .container-fluid & {
        margin-left: -$navbar-padding-horizontal;
      }
    }
  }




  .open a {
    background-color: transparent;
    color: $pb-blue;
    &:hover {
      background-color: $pb-bg3;
      color: $pb-gray-700;
    }
    &.disabled:hover {
      background-color: transparent;
      cursor: not-allowed;
    }
  }

  .dropdown-menu {
    background-color: #fff;
    margin-top: 1px;
    margin-bottom: 0;
    border-radius: 0;
    padding: 0;
    border: 1px solid #e1e1e1;
    border-top: 0;
    box-shadow: 0 3px 3px  rgba(0, 0, 0, .3);

    .divider {
      height: 1px;
      margin: 0; //was 9x 20px
      overflow: hidden;
      background-color: $pb-gray-300;
      @include breakpoint(screen-xs) {
        margin: 3px 0 9px;
      }
    }
    > li {
      &.section-head {
        font-family: $font-family-ps-regular;
        margin: 12px 20px;
        color: $pb-gray-700;
        padding-bottom: 5px;
        border-bottom: 1px solid $pb-light-gray;
        // @include breakpoint(screen-xs) {
        //   column-span: all;
        //   padding-bottom: 0 !important;
        //   border-bottom: 1px solid $pb-gray;
        //
        // }
      }
      > a {
        // links in the dropdown
        padding: 10px 30px 5px 20px;
        font-weight: normal;
        line-height: 1.4;
        color: $text-color;
        font-size: 13px;
        white-space: nowrap;
        font-family: $font-family-sans-serif;
        &:last-child {
          padding-bottom: 10px;
        }
        &.disabled {
          color: $pb-gray;
        }
      }
    }
  }
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}


// phone menus --------------------
// misc stubborn MQs
@include breakpoint(screen-xs) {
  // active menu item on phone
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #c7cde6;
    color: #2e2e2e;
  }
  // main menu item on phone
  .navbar-default .navbar-nav > li > a {
    background-color: #fff;
    color: $text-color;
    border-bottom: 1px solid $pb-gray-50;
    &:hover, &:focus {
      background-color: #fff;
      color: $text-color;
    }
  }
  // secondary menu on phone
  .navbar-nav .open .dropdown-menu {
    background: #f1f1f1;
  }
}



/// mega menu --------------------
.mega-offset {
  margin-left: 140px;
}
.yamm-content {
  .section-head {
    font-family: $font-family-ps-regular;
    color: $pb-gray-700;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $pb-light-gray;
    cursor: default;
  }
  .menu-items {
    li {
      font-family: $font-family-sans-serif;
      font-size: 12px;
      color: $text-color;
      padding-left: 10px;
      // transition: padding .2s linear;

      &:hover {
        background-color: $pb-bg3;
        color: $pb-gray-700;
        // padding-left: 10px;
      }

      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: inherit;
        display: block;
        width: 100%;
        padding: 13px 5px 13px 0;
        &:hover {
          text-decoration: none;
          color: $pb-gray-700;
        }
      }
    }
  }
}

//animate menus
.navbar-nav {
  .dropdown {
    .dropdown-menu {
      backface-visibility: hidden;
      opacity: 0;
      max-height: 0;
      transform: scale(0);
      display: block;
      overflow: hidden;
      transition: opacity .2s linear, max-height .3s cubic-bezier(.3, .34, .62, .99), transform 0s linear .5s;
    }

    &.open {
      .dropdown-menu {
        opacity: 1;
        transform: scale(1);
        max-height: 500px;
        transition:  max-height .5s cubic-bezier(.3, .34, .62, .99), transform 0s linear;
      }
    }
  }
}

.navbar-collapse.collapse.in {
  box-shadow: 0 3px 12px hsla(0, 0, 0, .4);
}

// for header that slides up/down on scroll
// .headroom {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   z-index: 10;
//   margin-top: 0;
//
//   &.headroom-not-top {
//     box-shadow: 0 0 10px rgba(0, 0, 0, .4);
//   }
//
//
//   &.headroom-top {
//     box-shadow: 0 0 0 rgba(0, 0, 0, .4);
//     transition: all .03s ease-out;
//   }
// }
//


// MEDIA QUERIES */
@media (max-width: $screen-xs-max) {
  .activity {
    display: inline-block;
  }
  .menu-text-small {
    display: none;
  }
}



// put bottom to ensure override
@media (max-width: $screen-xs-max) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: $text-color;
  }
}


//  - TOP NAVBAR WITH HAMBURGER ON LEFT

// .custom-navbar .fa {
//   font-size: 25px;
// }

// @media (max-width:767px) {
//   .custom-navbar .navbar-right {
//     float: right;
//     padding-right: 15px;
//   }
//   .custom-navbar .nav.navbar-nav.navbar-right li {
//     float: right;
//   }
//   .custom-navbar .nav.navbar-nav.navbar-right li > a {
//     padding: 8px 5px;
//   }
//   .custom-navbar .navbar-toggle {
//     float: left;
//     margin-right: 0;
//     padding: 9px 12px;
//
//
//     border-right: 1px solid rgba(255, 255, 255, .3);
//     &:not(.collapsed) {
//       //background-color: #383e87;
//     }
//   }
//   .custom-navbar .navbar-header {
//     float: left;
//     width: auto !important;
//   }
//   .custom-navbar .navbar-collapse {
//     clear: both;
//     float: none;
//   }
// }


// header 2.5+
//


.bell {
  position: relative;
  margin: 0;

  .badge {
    position: absolute;
    font-size: 10px;
    top: 11px;
    right: 2px;
    background-color: $pb-orange;
    @include breakpoint(screen-xs) {
      position: relative;
      display: inline-block;
      top: -2px;
      margin-left: 10px;
    }
  }
}

// don't ask
.navbar-default .navbar-nav > li > a.bell {
  padding-bottom: 5px;
}

.menu-text-small {
  font-size: 11px;
}

.menu-help {
  input[type='text'].form-control {
    width: 80%;
    margin: 0 20px;
    @include breakpoint(screen-xs) {
      width: 100%;
      margin: 10px 20px;
    }
  }
}

.menu-search {
  .dropdown-menu {
    min-width: 200px;
  }
}

.menu-user .face img {
  $size: 32px;
  width: $size;
  height: $size;
  border-radius: 50%;
  // border: solid 1px #fff;
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
