<div class="doc-hero ng-scope">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Elements</div>
          <h1>Helpers</h1>
        </div>
      </div>
    </div>
  </div>

</div>




<div class="container">


  <!-- SPACERS -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Spacers</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <p>Use <code>spacer-*</code> classes to add margin above or below any element (typically used on a row). Note that the spacers have media queries and will automatically resize based on screen dimensions.</p>
    </div>
  </div>

  <div class="preview-example">

    <div class="row">

      <div class="col-md-3">

        <div class="form-group">
          <label>Top spacer</label>
          <select class="form-control input-sm" ng-model="helpers.spacers.top.selected" ng-options="spacer as spacer for spacer in helpers.spacers.top.values"></select>
        </div>

        <div class="form-group">
          <label>Bottom spacer</label>
          <select class="form-control input-sm" ng-model="helpers.spacers.bottom.selected" ng-options="spacer as spacer for spacer in helpers.spacers.bottom.values"></select>
        </div>

      </div>

      <div class="col-md-8 col-md-offset-1">
        <div class="row">
            <div class="col-sm-12">Some content here.</div>
        </div>

        <div class="row" ng-class="[helpers.spacers.top.selected, helpers.spacers.bottom.selected]">
            <div class="col-sm-12">
              This row has <code>{{helpers.spacers.top.selected}}</code> and <code>{{helpers.spacers.bottom.selected}}</code>.
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">Some content here.</div>
        </div>

      </div>

    </div>

  </div>

<div class="preview-code" hljs language="xml">
<div class="row spacer-top-sm spacer-bottom-xs"></div>
<div class="row spacer-top-sm spacer-bottom-sm"></div>
<div class="row spacer-top-md spacer-bottom-md"></div>
<div class="row spacer-top-lg spacer-bottom-lg"></div>
<div class="row spacer-top-xl spacer-bottom-xl"></div>
</div>



  <!-- NOMARGIN -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">No Margins</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <p>Use the <code>.no-margin</code>, <code>.no-margin-top</code> and <code>.no-margin-bottom</code> classes to remove margins from an element.</p>
    </div>
  </div>

  <div class="preview-example">

    <p>I have a bottom margin by default</p>
    <p class="no-margin-bottom">I have bottom margin removed using the <code>.no-margin-bottom</code> class</p>
    <p>I have a bottom margin by default</p>

  </div>

<div class="preview-code" hljs language="xml">
<p class="no-margins">...</p>
<p class="no-margin-top">...</p>
<p class="no-margin-bottom">...</p>
</div>



  <!-- TRANSITION ALL -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Transition all</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <p>Quickly add CSS transitions by adding <code>.transition-all</code>. When adding modifier classes, such as <code>.fa-rotate-90</code> in Font Awesome to an icon, the element will animate all property changes.</p>
    </div>
  </div>


  <div class="preview-example">

    <div class="row">

      <div class="col-md-4">
        <h2>
          <a href="" ng-init="helpers.icon1.rotate = false" ng-click="helpers.icon1.rotate = !helpers.icon1.rotate">
            <i class="fa fa-fw fa-icon fa-angle-right fa-lg transition-all" ng-class="{'fa-rotate-90': helpers.icon1.rotate}"></i> Click me and I will rotate
          </a>
        </h2>
      </div>

      <div class="col-md-4">
        <h2>
          <a href="" ng-init="helpers.icon2.rotate = false" ng-click="helpers.icon2.rotate = !helpers.icon2.rotate">
            <i class="fa fa-fw fa-icon fa-arrow-down fa-lg transition-all" ng-class="{'fa-rotate-90': helpers.icon2.rotate}"></i> Click me and I will rotate
          </a>
        </h2>
      </div>

      <div class="col-md-4">
        <h2>
          <a href="" ng-init="helpers.icon3.rotate = false" ng-click="helpers.icon3.rotate = !helpers.icon3.rotate">
            <i class="fa fa-fw fa-icon fa-bars fa-lg transition-all" ng-class="{'fa-rotate-90': helpers.icon3.rotate}"></i> Click me and I will rotate
          </a>
        </h2>
      </div>

    </div>

  </div>

<div class="preview-code" hljs language="xml">
<div>
  <a href="" ng-click="someClickHandler()">
    <i class="fa fa-fw fa-icon fa-angle-right transition-all" ng-class="{'fa-rotate-90': some.model.boolean}"></i> Click me and I will rotate
  </a>
</div>
</div>



<!-- TRANSITION ALL -->
<div class="row">
  <div class="col-md-12">
    <h2 class="doc-sectionhead">Contextual Background Colors</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <p>Add background colors to elements using modifier classes.</p>
  </div>
</div>


<div class="preview-example">

  <div class="row">
    <div class="col-md-8">
      <p class="bg-primary" style="padding: 10px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, sapiente!</p>
      <p class="bg-danger" style="padding: 10px;">Dolores assumenda vero tempore a deleniti perferendis veniam ipsa.</p>
      <p class="bg-warning" style="padding: 10px;">Dolores assumenda vero tempore a deleniti perferendis veniam ipsa.</p>
      <p class="bg-success" style="padding: 10px;">Sequi asperiores quia est, tempora recusandae, deleniti laboriosam molestiae.</p>
      <p class="bg-info" style="padding: 10px;">Delectus rerum earum dolorem unde. Explicabo dolorum distinctio vel!</p>
    </div>
  </div>

</div>

<div class="preview-code" hljs language="xml">
<p class="bg-primary">Lorem ipsum dolor sit amet</p>
<p class="bg-danger">Lorem ipsum dolor sit amet</p>
<p class="bg-warning">Lorem ipsum dolor sit amet</p>
<p class="bg-success">Lorem ipsum dolor sit amet</p>
<p class="bg-info">Lorem ipsum dolor sit amet</p>
</div>


.pb-medium-blue-300
.pb-medium-blue
.pb-medium-blue-700
.pb-blue-300
.pb-blue
.pb-blue-700
.pb-purple-300
.pb-purple
.pb-purple-700
.pb-cyan-300
.pb-cyan
.pb-cyan-700
.pb-magenta-300
.pb-magenta
.pb-magenta-700
.pb-dark-orange-300
.pb-dark-orange
.pb-dark-orange-700
.pb-orange-300
.pb-orange
.pb-orange-700
.pb-yellow-300
.pb-yellow
.pb-green-300
.pb-green
.pb-green-700
.pb-dark-green-300
.pb-dark-green
.pb-dark-green-700
.pb-gray-700
.pb-gray-500
.pb-gray-400
.pb-gray-300
.pb-gray
.pb-light-gray
.pb-bg1
.pb-bg2
.pb-bg3
.pb-bg4
.pb-bg5

// then background-color
.bg-header-color
.bg-header-color-alt
.bg-white
.bg-pb-medium-blue-300
.bg-pb-medium-blue
.bg-pb-medium-blue-700
.bg-pb-blue-300
.bg-pb-blue
.bg-pb-blue-700
.bg-pb-purple-300
.bg-pb-purple
.bg-pb-purple-700
.bg-pb-cyan-300
.bg-pb-cyan
.bg-pb-cyan-700
.bg-pb-magenta-300
.bg-pb-magenta
.bg-pb-magenta-700
.bg-pb-dark-orange-300
.bg-pb-dark-orange
.bg-pb-dark-orange-700
.bg-pb-orange-300
.bg-pb-orange
.bg-pb-orange-700
.bg-pb-yellow-300
.bg-pb-yellow
.bg-pb-green-300
.bg-pb-green
.bg-pb-green-700
.bg-pb-dark-green-300
.bg-pb-dark-green
.bg-pb-dark-green-700
.bg-pb-gray-700
.bg-pb-gray-500
.bg-pb-gray-400
.bg-pb-gray-300
.bg-pb-gray
.bg-pb-light-gray
.bg-pb-bg1
.bg-pb-bg2
.bg-pb-bg3
.bg-pb-bg4
.bg-pb-bg5




</div>
