<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Patterns</div>
          <h1>Error Pages</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-3">

      <!-- TODO:  Add new sidebar code -->
      <h2>sidebar to come</h2>

    </div>

    <div class="col-md-9">

      <!-- TODO: Add section tags and IDs as per README-template file (root of project) -->

      <div class="row">
        <div class="col-md-12">
          <h1 class="doc-head" id="overview">Overview</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2 class="doc-sectionhead">Guidelines</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">

          <b>Error pages should:</b>
          <ul>
            <li>Spell out the problem in plain, friendly, non-alarmist language</li>
            <li>Never contain exclamation points or question marks in headers</li>
            <li>Provide the user with ideas for solving the problem</li>
            <li>Provide only highly relevant links</li>
            <li>Never exceed six columns in our grid</li>
            <li>Include a support contact</li>
            <li>Format headers in sentence caps with a concluding period</li>
            <li>Format bullet copy in sentence caps with no concluding period</li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h1 class="doc-head" id="400seriesErrorPages">400 Series Error Pages</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2 class="doc-sectionhead" id="400badRequestLeft">
            400 Bad Request (Left)
            <div class="doc-body-badge badge badge-brand-success">Added in v. 2.0</div>
          </h2>
        </div>
      </div>

      <div class="row pb-demo">
        <div class="col-md-12">
          <a class="btn btn-primary" ui-sref="errors-400-left" target="_blank">
            View Demo
          </a>
        </div>
        <div class="col-md-12 pb-demo-image">
          <a ui-sref="errors-400-left" target="_blank">
            <img class="img-responsive framed" src="modules/errors/assets/images/error-400.png" />
          </a>
        </div>
      </div>

     <div class="row">
        <div class="col-md-12">
          <div class="doc-body-snippet">
            <pb-code-snippet options="errors.errors_400_left">
            </pb-code-snippet>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2 class="doc-sectionhead" id="400badRequestCenter">
            400 Bad Request (Center)
            <div class="doc-body-badge badge badge-brand-success">Added in v. 2.0</div>
          </h2>
        </div>
      </div>

      <div class="row pb-demo">
        <div class="col-md-12">
          <a class="btn btn-primary" ui-sref="errors-400-centered" target="_blank">
            View Demo
          </a>
        </div>
        <div class="col-md-12 pb-demo-image">
          <a ui-sref="errors-400-left" target="_blank">
            <img class="img-responsive framed" src="modules/errors/assets/images/error-400-center.png" />
          </a>
        </div>
      </div>

     <div class="row">
        <div class="col-md-12">
          <div class="doc-body-snippet">
            <pb-code-snippet options="errors.errors_400_centered">
            </pb-code-snippet>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2 class="doc-sectionhead" id="401unauthorizedLeft">
            401 Unauthorized (Left)
            <div class="doc-body-badge badge badge-brand-success">Added in v. 2.0</div>
          </h2>
        </div>
      </div>

      <div class="row pb-demo">
        <div class="col-md-12">
          <a class="btn btn-primary" ui-sref="errors-401-left" target="_blank">
            View Demo
          </a>
        </div>
        <div class="col-md-12 pb-demo-image">
          <a ui-sref="errors-400-left" target="_blank">
            <img class="img-responsive framed" src="modules/errors/assets/images/error-401.png" />
          </a>
        </div>
      </div>

     <div class="row">
        <div class="col-md-12">
          <div class="doc-body-snippet">
            <pb-code-snippet options="errors.errors_401_left">
            </pb-code-snippet>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2 class="doc-sectionhead" id="401unauthorizedCenter">
            401 Bad Request (Center)
            <div class="doc-body-badge badge badge-brand-success">Added in v. 2.0</div>
          </h2>
        </div>
      </div>

      <div class="row pb-demo">
        <div class="col-md-12">
          <a class="btn btn-primary" ui-sref="errors-401-centered" target="_blank">
            View Demo
          </a>
        </div>
        <div class="col-md-12 pb-demo-image">
          <a ui-sref="errors-401-centered" target="_blank">
            <img class="img-responsive framed" src="modules/errors/assets/images/error-401-center.png" />
          </a>
        </div>
      </div>

     <div class="row">
        <div class="col-md-12">
          <div class="doc-body-snippet">
            <pb-code-snippet options="errors.errors_401_centered">
            </pb-code-snippet>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2 class="doc-sectionhead" id="404pageNotFoundLeft">
            404 Page Not Found (Left)
            <div class="doc-body-badge badge badge-brand-success">Added in v. 2.0</div>
          </h2>
        </div>
      </div>

      <div class="row pb-demo">
        <div class="col-md-12">
          <a class="btn btn-primary" ui-sref="errors-404-left" target="_blank">
            View Demo
          </a>
        </div>
        <div class="col-md-12 pb-demo-image">
          <a ui-sref="errors-404-left" target="_blank">
            <img class="img-responsive framed" src="modules/errors/assets/images/error-404.png" />
          </a>
        </div>
      </div>

     <div class="row">
        <div class="col-md-12">
          <div class="doc-body-snippet">
            <pb-code-snippet options="errors.errors_404_left">
            </pb-code-snippet>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2 class="doc-sectionhead" id="404pageNotFoundCenter">
            404 Page Not Found (Center)
            <div class="doc-body-badge badge badge-brand-success">Added in v. 2.0</div>
          </h2>
        </div>
      </div>

      <div class="row pb-demo">
        <div class="col-md-12">
          <a class="btn btn-primary" ui-sref="errors-404-centered" target="_blank">
            View Demo
          </a>
        </div>
        <div class="col-md-12 pb-demo-image">
          <a ui-sref="errors-404-centered" target="_blank">
            <img class="img-responsive framed" src="modules/errors/assets/images/error-404-center.png" />
          </a>
        </div>
      </div>

     <div class="row">
        <div class="col-md-12">
          <div class="doc-body-snippet">
            <pb-code-snippet options="errors.errors_404_centered">
            </pb-code-snippet>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h1 class="doc-head" id="500seriesErrorPages">500 Series Error Pages</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2 class="doc-sectionhead" id="500internalServerLeft">
            500 Internal Server (Left)
            <div class="doc-body-badge badge badge-brand-success">Added in v. 2.0</div>
          </h2>
        </div>
      </div>

      <div class="row pb-demo">
        <div class="col-md-12">
          <a class="btn btn-primary" ui-sref="errors-500-left" target="_blank">
            View Demo
          </a>
        </div>
        <div class="col-md-12 pb-demo-image">
          <a ui-sref="errors-500-left" target="_blank">
            <img class="img-responsive framed" src="modules/errors/assets/images/error-500.png" />
          </a>
        </div>
      </div>

     <div class="row">
        <div class="col-md-12">
          <div class="doc-body-snippet">
            <pb-code-snippet options="errors.errors_500_left">
            </pb-code-snippet>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2 class="doc-sectionhead" id="500internalServerCenter">
            500 Internal Server (Center)
            <div class="doc-body-badge badge badge-brand-success">Added in v. 2.0</div>
          </h2>
        </div>
      </div>

      <div class="row pb-demo">
        <div class="col-md-12">
          <a class="btn btn-primary" ui-sref="errors-500-centered" target="_blank">
            View Demo
          </a>
        </div>
        <div class="col-md-12 pb-demo-image">
          <a ui-sref="errors-500-centered" target="_blank">
            <img class="img-responsive framed" src="modules/errors/assets/images/error-500-center.png" />
          </a>
        </div>
      </div>

     <div class="row">
        <div class="col-md-12">
          <div class="doc-body-snippet">
            <pb-code-snippet options="errors.errors_500_centered">
            </pb-code-snippet>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2 class="doc-sectionhead" id="502badGatewayLeft">
            502 Bad Gateway (Left)
            <div class="doc-body-badge badge badge-brand-success">Added in v. 2.0</div>
          </h2>
        </div>
      </div>

      <div class="row pb-demo">
        <div class="col-md-12">
          <a class="btn btn-primary" ui-sref="errors-502-left" target="_blank">
            View Demo
          </a>
        </div>
        <div class="col-md-12 pb-demo-image">
          <a ui-sref="errors-502-left" target="_blank">
            <img class="img-responsive framed" src="modules/errors/assets/images/error-502.png" />
          </a>
        </div>
      </div>

     <div class="row">
        <div class="col-md-12">
          <div class="doc-body-snippet">
            <pb-code-snippet options="errors.errors_502_left">
            </pb-code-snippet>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2 class="doc-sectionhead" id="502badGatewayCenter">
            502 Bad Gateway (Center)
            <div class="doc-body-badge badge badge-brand-success">Added in v. 2.0</div>
          </h2>
        </div>
      </div>

      <div class="row pb-demo">
        <div class="col-md-12">
          <a class="btn btn-primary" ui-sref="errors-502-centered" target="_blank">
            View Demo
          </a>
        </div>
        <div class="col-md-12 pb-demo-image">
          <a ui-sref="errors-502-centered" target="_blank">
            <img class="img-responsive framed" src="modules/errors/assets/images/error-502-center.png" />
          </a>
        </div>
      </div>

     <div class="row">
        <div class="col-md-12">
          <div class="doc-body-snippet">
            <pb-code-snippet options="errors.errors_502_centered">
            </pb-code-snippet>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2 class="doc-sectionhead" id="504gatewayTimeoutLeft">
            504 Gateway Timeout (Left)
            <div class="doc-body-badge badge badge-brand-success">Added in v. 2.0</div>
          </h2>
        </div>
      </div>

      <div class="row pb-demo">
        <div class="col-md-12">
          <a class="btn btn-primary" ui-sref="errors-504-left" target="_blank">
            View Demo
          </a>
        </div>
        <div class="col-md-12 pb-demo-image">
          <a ui-sref="errors-504-left" target="_blank">
            <img class="img-responsive framed" src="modules/errors/assets/images/error-504.png" />
          </a>
        </div>
      </div>

     <div class="row">
        <div class="col-md-12">
          <div class="doc-body-snippet">
            <pb-code-snippet options="errors.errors_504_left">
            </pb-code-snippet>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2 class="doc-sectionhead" id="504gatewayTimeoutCenter">
            504 Gateway Timeout (Center)
            <div class="doc-body-badge badge badge-brand-success">Added in v. 2.0</div>
          </h2>
        </div>
      </div>

      <div class="row pb-demo">
        <div class="col-md-12">
          <a class="btn btn-primary" ui-sref="errors-504-centered" target="_blank">
            View Demo
          </a>
        </div>
        <div class="col-md-12 pb-demo-image">
          <a ui-sref="errors-504-centered" target="_blank">
            <img class="img-responsive framed" src="modules/errors/assets/images/error-504-center.png" />
          </a>
        </div>
      </div>

     <div class="row">
        <div class="col-md-12">
          <div class="doc-body-snippet">
            <pb-code-snippet options="errors.errors_504_centered">
            </pb-code-snippet>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h1 class="doc-head" id="signedOut">Signed Out</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2 class="doc-sectionhead" id="signedOutLeft">
            Signed Out (Left)
            <div class="doc-body-badge badge badge-brand-success">Added in v. 2.0</div>
          </h2>
        </div>
      </div>

      <div class="row pb-demo">
        <div class="col-md-12">
          <a class="btn btn-primary" ui-sref="errors-signed-out-left" target="_blank">
            View Demo
          </a>
        </div>
        <div class="col-md-12 pb-demo-image">
          <a ui-sref="errors-signed-out-left" target="_blank">
            <img class="img-responsive framed" src="modules/errors/assets/images/error-signed-out.png" />
          </a>
        </div>
      </div>

     <div class="row">
        <div class="col-md-12">
          <div class="doc-body-snippet">
            <pb-code-snippet options="errors.errors_signed_out_left">
            </pb-code-snippet>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2 class="doc-sectionhead" id="signedOutCenter">
            Signed Out (Center)
            <div class="doc-body-badge badge badge-brand-success">Added in v. 2.0</div>
          </h2>
        </div>
      </div>

      <div class="row pb-demo">
        <div class="col-md-12">
          <a class="btn btn-primary" ui-sref="errors-signed-out-centered" target="_blank">
            View Demo
          </a>
        </div>
        <div class="col-md-12 pb-demo-image">
          <a ui-sref="errors-signed-out-centered" target="_blank">
            <img class="img-responsive framed" src="modules/errors/assets/images/error-signed-out-center.png" />
          </a>
        </div>
      </div>

     <div class="row">
        <div class="col-md-12">
          <div class="doc-body-snippet">
            <pb-code-snippet options="errors.errors_signed_out_centered">
            </pb-code-snippet>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h1 class="doc-head" id="Maintenance">Maintenance</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2 class="doc-sectionhead" id="plannedMaintenanceLeft">
            Planned Maintenance (Left)
            <div class="doc-body-badge badge badge-brand-success">Added in v. 2.0</div>
          </h2>
        </div>
      </div>

      <div class="row pb-demo">
        <div class="col-md-12">
          <a class="btn btn-primary" ui-sref="errors-planned-maintenance-left" target="_blank">
            View Demo
          </a>
        </div>
        <div class="col-md-12 pb-demo-image">
          <a ui-sref="errors-planned-maintenance-left" target="_blank">
            <img class="img-responsive framed" src="modules/errors/assets/images/error-planned-maintenance.png" />
          </a>
        </div>
      </div>

     <div class="row">
        <div class="col-md-12">
          <div class="doc-body-snippet">
            <pb-code-snippet options="errors.errors_planned_maintenance_left">
            </pb-code-snippet>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2 class="doc-sectionhead" id="plannedMaintenanceCenter">
            Planned Maintenance (Center)
            <div class="doc-body-badge badge badge-brand-success">Added in v. 2.0</div>
          </h2>
        </div>
      </div>

      <div class="row pb-demo">
        <div class="col-md-12">
          <a class="btn btn-primary" ui-sref="errors-planned-maintenance-centered" target="_blank">
            View Demo
          </a>
        </div>
        <div class="col-md-12 pb-demo-image">
          <a ui-sref="errors-planned-maintenance-centered" target="_blank">
            <img class="img-responsive framed" src="modules/errors/assets/images/error-planned-maintenance-center.png" />
          </a>
        </div>
      </div>

     <div class="row">
        <div class="col-md-12">
          <div class="doc-body-snippet">
            <pb-code-snippet options="errors.errors_planned_maintenance_centered">
            </pb-code-snippet>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2 class="doc-sectionhead" id="unPlannedMaintenanceLeft">
            Unplanned Maintenance (Left)
            <div class="doc-body-badge badge badge-brand-success">Added in v. 2.0</div>
          </h2>
        </div>
      </div>

      <div class="row pb-demo">
        <div class="col-md-12">
          <a class="btn btn-primary" ui-sref="errors-unplanned-maintenance-left" target="_blank">
            View Demo
          </a>
        </div>
        <div class="col-md-12 pb-demo-image">
          <a ui-sref="errors-unplanned-maintenance-left" target="_blank">
            <img class="img-responsive framed" src="modules/errors/assets/images/error-unplanned-maintenance.png" />
          </a>
        </div>
      </div>

     <div class="row">
        <div class="col-md-12">
          <div class="doc-body-snippet">
            <pb-code-snippet options="errors.errors_planned_maintenance_left">
            </pb-code-snippet>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2 class="doc-sectionhead" id="unplannedMaintenanceCenter">
            Unplanned Maintenance (Center)
            <div class="doc-body-badge badge badge-brand-success">Added in v. 2.0</div>
          </h2>
        </div>
      </div>

      <div class="row pb-demo">
        <div class="col-md-12">
          <a class="btn btn-primary" ui-sref="errors-unplanned-maintenance-centered" target="_blank">
            View Demo
          </a>
        </div>
        <div class="col-md-12 pb-demo-image">
          <a ui-sref="errors-unplanned-maintenance-centered" target="_blank">
            <img class="img-responsive framed" src="modules/errors/assets/images/error-unplanned-maintenance-center.png" />
          </a>
        </div>
      </div>

     <div class="row">
        <div class="col-md-12">
          <div class="doc-body-snippet">
            <pb-code-snippet options="errors.errors_planned_maintenance_centered">
            </pb-code-snippet>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
