.data-widget {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  @include breakpoint(screen-xs) {
    margin-bottom: 20px;
  }
  @include breakpoint(screen-sm) {
    margin-bottom: 20px;
  }

  .data-widget-icon {
    color: #fff;
    font-size: 3em;
    padding: 0 12px;
    text-align: center;
    margin: auto;
  }

  .data-widget-data {
    flex-grow: 1;
    color: #fff;
    padding: 15px 20px 10px 20px;
    margin: auto;

    .data-description {
      margin: 0;
      padding: 0;
      font-size: 1.1em;
      line-height: normal;
    }
    .data-value {
      font-size: 2.3em;
      line-height: normal;
      margin: 0;
      padding: 0;
    }
  }
}
