#loading-bar {

  .bar {
    background: #f4d466;
    height: 2px;
  }

  .peg {
    box-shadow: hsla(201, 79%, 15%, .5) 1px 0 6px 1px;
    height: 2px;
  }

}

#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 10px;
  left: 10px;
}

#loading-bar-spinner {

  .spinner-icon {
    border-top-color:  #f4d466;
    border-left-color: #f4d466;
  }

}
