tags-input {

  &.ng-invalid .tags {
    border-color: $pb-error-red;
    border-radius: 0;
    box-shadow: none;


    &.focused {
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    }
  }

  .tags {
    border-radius: 0;
    border-color: #9b9b9b;


    &.focused {
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
      border-color: $pb-blue;
    }

    .input {

      &.invalid-tag {
        color: $pb-error-red;
      }

    }


    .tag-item {
      background: $pb-gray-50;
      color: $pb-blue-500;
      font-size: 12px;
      border-color: transparent;

      &.selected {
        color: #fff;
        background-color: $pb-blue;
        border-color: transparent;

        .remove-button {
          color: #fff;
        }

      }

      .remove-button {
        font-weight: normal;

        &:active {
          color: inherit;
        }
      }

    }

  }

  .autocomplete {

    .suggestion-item {
      font-size: 14px;

      em {
        font-size: inherit;
      }
      
      &.selected {
        background-color: $pb-bg3;
        
        em {
          background-color: transparent;
        }
        
      }

    }

  }

}
