.slick-prev,
.slick-next {

  &:before {
    font-size: 42px;
    line-height: 0;
  }

  &:hover {
    &:before {
      color: $pb-gray-300;
    }
  }

}


.slick-prev {
  left: -40px;
}

.slick-next {
  right: -40px;
}

.slick-slider {
  margin-right: 40px;
  margin-left: 40px;
}

.slick-slide {
  margin: 0 10px;
}

.slick-dots li {
  margin: 0;
  width: 15px;
}


.slick-prev, .slick-next {
    position: absolute;
    display: block;
    height: 40px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    margin-top: -10px\9;
    transform: translate(0, -50%);
    padding: 0;
    border: 0;
    outline: none;
}
