$slick-font-path: "./assets/fonts/";
$slick-font-family: "FontAwesome";
$slick-loader-path: "../images/";
$slick-dot-character: "\f111";
$slick-arrow-color: $pb-gray;
$slick-prev-character: "\f104";
$slick-next-character: "\f105";
$slick-opacity-default: 1;
$slick-opacity-on-hover: 1;
$slick-opacity-not-active: 1;
$slick-dot-color: $pb-bg5;
$slick-dot-color-active: $pb-blue;
$slick-dot-size: 9px;
