.badge {
  background-color: map-get($chord, color4);
}

//* badge contextual alternatives */
$badges: (
  'gray': $gray,
  'gray-light': $gray-light,
  'gray-text': $gray-text,
  'gray-dark': $gray-dark,
  'brand-success':         $brand-success,
  'brand-info':            $brand-info,
  'brand-warning':         $brand-warning,
  'brand-danger':          $brand-danger,
);

@each $badge, $color in $badges {
  .badge-#{$badge}{
    background-color: $color !important;
  }
}
