// moved to separate file to minimize scrolling in main file
//
//*/ Buttons */
// --------------------------------------------------
// just to remove the BS inset shadows
 .btn:active, .btn.active {
	outline           : 0;
	background-image  : none;
	-webkit-box-shadow: none;
	box-shadow        : none;
}

// Button Sizes
// --------------------------------------------------

// -- mixin
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
	padding      : $padding-vertical $padding-horizontal;
	font-size    : $font-size;
	line-height  : $line-height;
	border-radius: $border-radius;
}

// -- sizing definitions
.btn {
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $border-radius-base);
}
.btn-lg {
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-large);
}
.btn-sm {
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);
}
.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-xsmall, $line-height-small, $border-radius-small);
}

// -- Button variants: outline and solid -- //


//FIXME: I removed dependency on these mixins for btn-default and btn-primary... Remove?

// outline button, we added a knockout one, hence the added params
@mixin outline-button($color: $c, $foreground: #fff, $disabled: $disabled-button) {
	color             : $color;
	background-color  : transparent;
	border-color      : $color;
	-webkit-transition: background-color .3s, color .3s;
	transition        : background-color .3s, color .3s;
	&:hover {
		color           : $foreground;
		background-color: $color;
		border-color    : $color;
	}
  &:active,
  &.active,
  .open>.dropdown-toggle & {
    color           : #fff;
    background-color: shade($color, 40%);
    border-color    : shade($color, 40%);
        .btn-group & {
          background-color: shade($color, 50%);
          border-color    : shade($color, 50%);
        }
  }
  &:focus,
  .open .dropdown-toggle & {
		color           : $foreground;
		background-color: shade($color, 40%);
		border-color    : shade($color, 40%);
        .btn-group &, .btn-group-vertical & {
			background-color: shade($color, 60%);
			border-color    : shade($color, 60%);
        }
        &:hover {
        	background-color: shade($color, 60%);
        	border-color    : shade($color, 60%);
        }
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:active,
    &.active {
		background-color: transparent;
		border-color    : $disabled;
		color           : $disabled;
		opacity         : 1;
    }
  }
}



// solid-color button, usually "primary" button, see below
@mixin solid-button ($color) {
	color             : #fff;
	background-color  : $color;
	border-color      : $color;
	-webkit-transition: background-color .3s, color .3s;
	-moz-transition   : background-color .3s, color .3s;
	-ms-transition    : background-color .3s, color .3s;
	-o-transition     : background-color .3s, color .3s;
	transition        : background-color .3s, color .3s;
  &:hover {
		color           : #fff;
		background-color: shade($color, 60%);
		border-color    : shade($color, 60%);
  }
  &:active,
  &.active,
  .open .dropdown-toggle & {
		color           : #fff;
		background-color: shade($color, 40%);
		border-color    : shade($color, 40%);
        .btn-group & {
    			background-color: shade($color, 50%);
    			border-color    : shade($color, 50%);
        }
  }
  &:focus {
    color           : #fff;
    background-color: $color;
    border-color    : $color;
    .btn-group & {
      background-color: $color;
      border-color    : $color;
    }
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:active,
    &.active {
			background-color: $disabled-button;
			border-color    : $disabled-button;
			color           : #fff;
			opacity         : 1;
    }
  }
}



//* Now we actually define the button classes


// borderless "link" button
.btn-link, .btn-cancel  {
	color: $button-color;
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
	  &,
	  &:hover,
	  &:active,
	  &.active {
	    color: $disabled-button;
	    text-decoration: none;
	    opacity: 1;
	  }
	}
}


.btn-default-ko {
	@include outline-button(#fff, $button-color, $gray);
}

.btn-primary {
  color             : #fff;
  background-color  : $button-color;
  border-color      : $button-color;
  -webkit-transition: background-color .3s, color .3s;
  -moz-transition   : background-color .3s, color .3s;
  -ms-transition    : background-color .3s, color .3s;
  -o-transition     : background-color .3s, color .3s;
  transition        : background-color .3s, color .3s;
  &:hover {
    color           : #fff;
    background-color: shade($button-color, 60%);
    border-color    : shade($button-color, 60%);
  }
  &:active,
  &.active,
  .open .dropdown-toggle & {
    color           : #fff;
    background-color: shade($button-color, 40%);
    border-color    : shade($button-color, 40%);
        .btn-group & {
          background-color: shade($button-color, 50%);
          border-color    : shade($button-color, 50%);
        }
  }
  &:focus {
    color           : #fff;
    background-color: $button-color;
    border-color    : $button-color;
    .btn-group & {
      background-color: $button-color;
      border-color    : $button-color;
    }
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:active,
    &.active {
      background-color: $disabled-button;
      border-color    : $disabled-button;
      color           : #fff;
      opacity         : 1;
    }
  }
}

.btn-default {
  color             : $button-color;
  background-color  : transparent;
  border-color      : $button-color;
  -webkit-transition: background-color .3s, color .3s;
  transition        : background-color .3s, color .3s;
  &:hover {
    color           : #fff;
    background-color: $button-color;
    border-color    : $button-color;
  }
  &:active,
  &.active,
  .open>.dropdown-toggle & {
    color           : #fff;
    background-color: shade($button-color, 40%);
    border-color    : shade($button-color, 40%);
        .btn-group & {
          background-color: shade($button-color, 50%);
          border-color    : shade($button-color, 50%);
        }
  }
  &:focus,
  .open .dropdown-toggle & {
    color           : $button-color;
    background-color: transparent;
    border-color    : $button-color;
        .btn-group &, .btn-group-vertical & {
      background-color: shade($button-color, 60%);
      border-color    : shade($button-color, 60%);
        }
        &:hover {
          background-color: shade($button-color, 60%);
          border-color    : shade($button-color, 60%);
          color: #fff;
        }
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:active,
    &.active {
    background-color: transparent;
    border-color    : $disabled-button;
    color           : $disabled-button;
    opacity         : 1;
    }
  }
}

// i give up, bootstrap, here you go
.open>.dropdown-toggle.btn-default {
  color: #fff;
  background-color: $button-color;
  border-color: $button-color;
  box-shadow: none;
}



// font awesome icon size overrides in button groups
.btn-group {
	&-sm {
		.btn {
			i.fa {
				font-size: 16px;
			}
		}
	}
	&-xs {
		.btn {
			i.fa {
				font-size: 14px;
			}
		}
	}
}

.btn-group-borderless {
	.btn {
		border: 0;
	}
}

.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  > .btn,
  > .btn-group {
    float: none;
    display: table-cell;
    width: 1%;
  }
  > .btn-group .btn {
    width: 100%;
  }
  // correct the "double borders"
  > .btn-group:not(:first-child) > .btn {
	border-left: 0;
  }

  > .btn-group .dropdown-menu {
    left: auto;
  }
}


//  transitory alert msg next to button
.btn-response {
	display: inline-block;
	margin-left: 10px;
}

// overrides for bootstrap's Close button
.close {
	transition: color .5s;
	opacity: 1.0;
	filter: alpha(opacity=1);
	&:hover {
		opacity: 1.0;
		filter: alpha(opacity=1);
	}
}


// Bootstrap buttons
// --------------------------------------------------


.btn-success {
  @include solid-button($brand-success);
}
.btn-info {
  @include solid-button($brand-info);
}
.btn-warning {
  @include solid-button($brand-warning);
}
.btn-danger {
  @include solid-button($brand-danger);
}
