// popover
.popover {
  box-shadow: none;
  border-radius: 0;
  background-color: #fff;
  z-index: 3;
  &.bottom .arrow:after {
    border-bottom-color: #fff;
  }
  &.top .arrow:after {
    border-top-color: #fff;
  }
}


.navbar-form .input-group {
  max-width: 220px;
  .fa-search {
    font-size: 16px;
  }
}
