// body is assigned class of 'signin' via router

.signin {

  .bg {
    width: 100vw;
    height: 100vh;
    background-color: #254d9d;
    @extend %gradient;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header, #header,
  footer, #footer {
    display: none;
  }

  .centered-box {
    width: 400px;
    // can be replaced with min/max to be more flexible if needed
    flex: 1;
  }

  .signin-pb-logo {
    padding-left: 16px;
  }

  .signin-box {
    background-color: #fff;
    padding: 40px;
  }

  .sign-in-title {
    margin-top: 0;
  }

  .pb-logo img{
    background: url('../images/pb-logo.png') center center no-repeat;
    height: 50px;
  }
  .prod-name {
    color: $pb-gray-500;
    margin-top: 0;
    margin-bottom: 0;

    sup{
      font-size: 0.65em;
    }
  }

  .prod-tag-line {
    color: $pb-gray-500;
    margin-top: 5px;
    font-weight: normal;
  }

  .flex-alert {
    display: flex;

    & .flex-alert-icon {
      display: flex;
      align-items: center;
      padding-right: 10px;
    }
  }
  .signin-footer {
    color: #fff;

    small {
      opacity: .6;
      font-weight: normal;
      font-size: 11px;
      a {
        color: inherit;
      }
    }

  }

  //Media query for phones. This will be moved to a sepearte file if it grows beyond size.
  @media only screen and (max-device-width: 480px) {
    .bg {
      height: 100%;
    }

    .signin-box {
      padding: 20px 40px;
    }

    .centered-box {
       width: auto;
    }

  }
}
