// body is assigned class of 'signin' via router


.signin {

  .bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #254d9d;
    background: linear-gradient(135deg, #4cc6f3 0%, #32b1e5 10%, $pb-blue 53%, $pb-magenta 100%);
    background-size: cover;
    background-repeat: no-repeat;
  }

  header, #header,
  footer, #footer {
    display: none;
  }

  .signin-box {
    background-color: #fff;
    padding: 40px;
  }

  .prod-name {
    color: #fff;
  }

  .signin-footer {
    color: #fff;

    a {
      color: inherit;
    }

  }

}
