// body is assigned class of 'signin' via router


.signin {

  .bg {
    width: 100vw;
    height: 100vh;
    background-color: #254d9d;
    background: linear-gradient(90deg, #4c4ca2 0%, #872e96 40%, #872e96 45%, #c90d8b 100%);
    background-size: cover;
    background-repeat: no-repeat;

    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header, #header,
  footer, #footer {
    display: none;
  }

  .centered-box {
    min-width: 400px;
  }

  .signin-box {
    background-color: #fff;
    padding: 40px;
  }

  .prod-name {
    color: #fff;
    margin-top: 0;
  }

  .signin-footer {
    color: #fff;

    a {
      color: inherit;
    }

  }

}
