section {
  margin-top: 30px;
  // @include breakpoint(screen-xs) {
  //   margin-top: 10px;
  // }
  &:first-of-type {
    margin-top: 0;
  }
  h1 {
    margin-bottom: 20px;
  }
  h2 {
    font-family: $font-family-ps-regular;
    color: $header-color;
    font-size: 20px;
    border-bottom: 1px solid $pb-light-gray;
    margin-top: 30px;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
}

.doc-lede {
  font-size: 16px;
  line-height: 1.5;
  color: #3a3a3a;
}

figure {
  margin: 25px 0 40px;
}

%doc-badges {
  display: inline-block;
  margin-left: 20px;
}

.badge-added {
  background-color: $pb-dark-green-700;
  @extend %doc-badges;
}
.badge-deprecated {
  background-color: $pb-dark-orange;
  @extend %doc-badges;
}
.badge-removed {
  background-color: $brand-danger;
  @extend %doc-badges;
}

.table-open {
  margin-top: 30px;
}
.doc-body-snippet {
  height: auto;
  margin-bottom: 10px;
  .extra-links {
    margin-top: 10px;
    a {
      margin-left: 20px;
    }
  }

  .CodeMirror {
    max-height: 41rem;
    border-bottom: solid 1px $pb-light-gray;
    border-left: solid 1px $pb-light-gray;
    border-right: solid 1px $pb-light-gray;
  }

  .CodeMirror-gutters {
    background-color: $pb-light-gray;
  }

  .CodeMirror-lines {
    padding: 20px 0;
  }

  .CodeMirror-line {
    padding: 0 20px;
  }

  .tab-content > .tab-pane {
    padding: 0;
    visibility: hidden;
    display: block;
    position: absolute;
  }

  .tab-content > .active {
    position: static;
    visibility: visible;
  }

  .nav {
    cursor: default;
  }
}

.pb-demo {
  padding-top: 15px;
  margin-bottom: 30px;

  .pb-demo-image a {
    margin-top: 15px;
    position: relative;
    display: inline-block;
    background-color: $close-color;

    img {
      border: 1px solid $pb-gray;
      transition: opacity .2s;
      opacity: 1;
    }

    &:before {
      font-family: 'PrecisionSans_W_Rg', 'Helvetica Neue', Arial, sans-serif;
      content: 'View Demo';
      font-size: 18px;
      display: block;
      color: #fff;
      @include vertical-align(absolute);
      padding: 6px 12px;
      opacity: 0;
      transition: opacity .3s;
    }

    &:hover {
      &:before {
        opacity: 1;
      }
      img {
        opacity: .2;
      }
    }
  }
}
