<div class="container">

  <div class="row">
    <div class="col-md-8">
      <h1 id="badges" class="doc-head">Badges</h1>
      <p class="doc-lede">Badges offer a compact, attention-grabbing means to direct the user’s attention to important updates, statuses or alerts.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Icon Badges</h2>
    </div>
  </div>



  <div class="row">
    <div class="col-md-4">
      <figure>
        <!-- <figcaption>Badges</figcaption> -->
        <p class="text-success"><i class="nc-icon-mini ui-1_check-circle-08 lg"></i> Confirmed</p>
      </figure>
    </div>

    <div class="col-md-4">
      <figure>
        <!-- <figcaption>Badges</figcaption> -->
        <p class="text-warning"><i class="nc-icon-mini ui-3_alert lg"></i> Warning</p>
      </figure>
    </div>

    <div class="col-md-4">
      <figure>
        <!-- <figcaption>Badges</figcaption> -->
        <p class="text-danger"><i class="nc-icon-mini ui-2_alert-circle- lg"></i> Error</p>
      </figure>
    </div>
  </div>




  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Pill Badges</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">

      <figure>
        <!-- <figcaption>Badges</figcaption> -->
        <span class="badge">badge</span>
        <span class="badge badge-gray-text">gray-text</span>
        <span class="badge badge-gray-dark">gray-dark</span>
        <span class="badge badge-brand-danger">brand-danger</span>
        <span class="badge badge-brand-warning">brand-warning</span>
        <span class="badge badge-brand-success">brand-success</span>
        <span class="badge badge-brand-info">brand-info</span>
      </figure>

    </div>
  </div>

</div>
