<div class="container">


  <div class="row">
    <div class="col-md-8">
      <h1 id="toastrs" class="doc-head">Toastr Alerts</h1>
      <p class="doc-lede">When writing toastr alert messages, follow the same principles of writing as you would for other alerts.</p>
    </div>
  </div>


  <div class="row doc-sectionbreak">
    <div class="col-md-2">
      <a class="more-info plugin" href="http://foxandxss.github.io/angular-toastr/" target="_blank">angular toastr</a>
    </div>

    <div class="col-md-8 col-md-offset-1">

      <figure>
        <figcaption>Toastr alerts</figcaption>
        <button class="btn btn-info" ng-click="toastr.toast.info()">Info</button>
        <button class="btn btn-success" ng-click="toastr.toast.success()">Success</button>
        <button class="btn btn-warning" ng-click="toastr.toast.warning()">Warning</button>
        <button class="btn btn-danger" ng-click="toastr.toast.danger()">Danger</button>
        <button class="btn btn-default" ng-click="toastr.toast.closeButton()">With Close Button</button>
        <button class="btn btn-default" ng-click="toastr.toast.progressBar()">With Progress Bar</button>
      </figure>

    </div>
  </div>




</div>
