<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Product Framework/ Responsive Web / Elements</div>
          <h1>User Feedback</h1>
        </div>
      </div>
    </div>
  </div>
  <sub-header headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <li><a href="">Progress Bars</a></li>
    <li><a href="">Notifications</a></li>
    <li><a href="">Alerts</a></li>
    <li><a href="">Badges</a></li>
    <li><a href="">Spinners</a></li>
  </sub-header>
</div>







<div ui-view></div>
