<div class="container">


  <div class="row">
    <div class="col-md-8">
      <h1 id="alerts" class="doc-head">Alerts</h1>
      <p class="doc-lede">Lorem ipsum dolor sit amet, feugiat inciderint ei eum. Verterem sapientem tincidunt ut his, facilisi mnesarchum per ne. Laoreet alienum explicari cu eos, ludus eirmod ius no, constituto voluptatibus cu per. Mei fabellas definiebas eu, duo veniam deseruisse no.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Default Alerts</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <figure>
        <figcaption>Danger</figcaption>
        <div class="alert alert-danger">
          Unable to process request. Please check all fields and try again.
        </div>
      </figure>

      <figure>
        <figcaption>Warning</figcaption>
        <div class="alert alert-warning">
          Invalid entry. Format should me mm/dd/yyyy.
        </div>
      </figure>

      <figure>
        <figcaption>Success</figcaption>
        <div class="alert alert-success">
          A new address was successfully imported.
        </div>
      </figure>

      <figure>
        <figcaption>Info</figcaption>
        <div class="alert alert-info">
          There are many help resources available.
        </div>
      </figure>

      <figure>
        <figcaption>Alert with Link</figcaption>
        <div class="alert alert-info">
          There are many help resources available. <a class="alert-link" href="#">Click here!</a>
        </div>
      </figure>
    </div>
  </div>



  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Spot Alerts</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <figure>
        <figcaption>Info</figcaption>
        <div class="alert alert-info">
          <i class="fa fa-fw fa-info-circle fa-lg"></i> <strong>Tip:</strong> More options are available under the settings menu.
        </div>
      </figure>

      <figure>
        <figcaption>Danger</figcaption>
        <div class="alert alert-danger">
          <i class="fa fa-fw fa-info-circle fa-lg"></i> <strong>Action Denied!</strong> Please check all fields and try again.
        </div>
      </figure>

      <figure>
        <figcaption>Warning</figcaption>
        <div class="alert alert-warning">
          <i class="fa fa-fw fa-exclamation-circle fa-lg"></i> <strong>Warning!</strong> Missing information in six fields.
        </div>
      </figure>

      <figure>
        <figcaption>Success</figcaption>
        <div class="alert alert-success">
          <i class="fa fa-fw fa-exclamation-triangle fa-lg"></i> <strong>Success!</strong> A new address was successfully imported.
        </div>
      </figure>



    </div>
  </div>



  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Dismissable Alerts</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <figure>
        <figcaption>Danger</figcaption>
        <div class="alert alert-danger">
          <button aria-hidden="true" class="close" data-dismiss="alert" type="button">&times;</button>
          Unable to process request. Please check all fields and try again.
        </div>
      </figure>

      <figure>
        <figcaption>Warning</figcaption>
        <div class="alert alert-warning">
          <button aria-hidden="true" class="close" data-dismiss="alert" type="button">&times;</button>
          Invalid entry. Format should me mm/dd/yyyy.
        </div>
      </figure>

      <figure>
        <figcaption>Success</figcaption>
        <div class="alert alert-success">
          <button aria-hidden="true" class="close" data-dismiss="alert" type="button">&times;</button>
          A new address was successfully imported.
        </div>
      </figure>

      <figure>
        <figcaption>Info</figcaption>
        <div class="alert alert-info">
          <button aria-hidden="true" class="close" data-dismiss="alert" type="button">&times;</button>
          There are many help resources available.
        </div>
      </figure>
    </div>

  </div>


  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Transitory Alert</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <p>Use inline on page where important info needs to be shown to user.</p>
    </div>

    <div class="col-md-8 col-md-offset-1">

      <figure>
        <figcaption>Transitory Alert</figcaption>
        <span ng-model="alerts.transitoryAlert" pb-transitory-alert>
          <button class="btn btn-primary" ng-click="setMessage()">Click Me</button>
        </span>
      </figure>

    </div>
  </div>


</div>
