<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Elements</div>
          <h1>Tables</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">

      <div headroom class="doc-side-nav headroom" tolerance="50" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">

        <nav class="hidden-print hidden-xs hidden-sm" role="tablist">
          <ul class="nav">

            <li du-scrollspy="overview">
              <a href="#overview" du-smooth-scroll du-scrollspy>Overview</a>
              <ul class="nav" du-spy-context="overview">
                <li><a href="#usage" du-smooth-scroll du-scrollspy>Usage</a></li>
                <li><a href="#placement" du-smooth-scroll du-scrollspy>Placement</a></li>
              </ul>
            </li>

            <li du-scrollspy="basicTables">
              <a href="#basicTables" du-smooth-scroll du-scrollspy>Basic Tables</a>
              <ul class="nav" du-spy-context="basicTables">
                <li><a href="#defaultTable" du-smooth-scroll du-scrollspy>Default Table</a></li>
                <li><a href="#stripedTable" du-smooth-scroll du-scrollspy>Striped Table</a></li>
                <li><a href="#hoverTable" du-smooth-scroll du-scrollspy>Table Hover</a></li>
                <li><a href="#stripedTableHover" du-smooth-scroll du-scrollspy>Striped Table Hover</a></li>
                <li><a href="#condensedTable" du-smooth-scroll du-scrollspy>Table Condensed</a></li>
                <li><a href="#extraCondensedTable" du-smooth-scroll du-scrollspy>Table Extra Condensed</a></li>
                <li><a href="#openTable" du-smooth-scroll du-scrollspy>"Open" Table</a></li>
                <li><a href="#unstyledTable" du-smooth-scroll du-scrollspy>"Unstyled" Table</a></li>
              </ul>
            </li>

            <li du-scrollspy="actionItemsInTableToolbar">
              <a href="#actionItemsInTableToolbar" du-smooth-scroll du-scrollspy>Action Items in the Table Toolbar</a>
              <ul class="nav" du-spy-context="actionItemsInTableToolbar">
                <li><a href="#actionItems" du-smooth-scroll du-scrollspy>Action Items</a></li>
                <li><a href="#filters" du-smooth-scroll du-scrollspy>Filters</a></li>
                <li><a href="#filterSearch" du-smooth-scroll du-scrollspy>Filter Search Field with Options Menu</a></li>
                <li><a href="#utilityItems" du-smooth-scroll du-scrollspy>Utility Items</a></li>
                <li><a href="#allItemsDisplayed" du-smooth-scroll du-scrollspy>All Items Displayed</a></li>
              </ul>
            </li>

            <li du-scrollspy="workingWithDataInTables">
              <a href="#workingWithDataInTables" du-smooth-scroll du-scrollspy>Working with Data in Tables</a>
              <ul class="nav" du-spy-context="workingWithDataInTables">
                <li><a href="#sortableColumns" du-smooth-scroll du-scrollspy>Sortable Columns</a></li>
                <li><a href="#rowDetails" du-smooth-scroll du-scrollspy>Showing Row Details</a></li>
                <li><a href="#multipleRowSelection" du-smooth-scroll du-scrollspy>Multiple Row Selection with Checkboxes</a></li>
                <li><a href="#detailsMultipleRowSelection" du-smooth-scroll du-scrollspy>Showing Row Details, with Multiple Row Selection</a></li>
                <li><a href="#singleRow" du-smooth-scroll du-scrollspy>Single-Row Action Menu</a></li>
                <li><a href="#multipleRowViaClick" du-smooth-scroll du-scrollspy>Multiple Row Selection via Click</a></li>
                <li><a href="#nucleo" du-smooth-scroll du-scrollspy>Nucleo Mini Row Icons</a></li>
                <li><a href="#colorNucleo" du-smooth-scroll du-scrollspy>Color Nucleo Mini Row Icons</a></li>
                <li><a href="#rowProgressBar" du-smooth-scroll du-scrollspy>Row Progress Bars</a></li>
                <li><a href="#inlineEditing" du-smooth-scroll du-scrollspy>Inline Editing</a></li>
                <li><a href="#tabbed" du-smooth-scroll du-scrollspy>Tabbed</a></li>
              </ul>
            </li>

            <li du-scrollspy="paging">
              <a href="#paging" du-smooth-scroll du-scrollspy>Paging</a>
              <ul class="nav" du-spy-context="paging">
                <li><a href="#tableDataPaging" du-smooth-scroll du-scrollspy>Table Data Paging</a></li>
              </ul>
            </li>

            <li du-scrollspy="infiniteScroll">
              <a href="#infiniteScroll" du-smooth-scroll du-scrollspy>Infinite Scroll</a>
              <ul class="nav" du-spy-context="infiniteScroll">
                <li><a href="#usage" du-smooth-scroll du-scrollspy>Usage</a></li>
              </ul>
            </li>

            <li du-scrollspy="faceted">
              <a href="#faceted" du-smooth-scroll du-scrollspy>Faceted Search</a>
              <ul class="nav" du-spy-context="faceted">
                <li><a href="#usage" du-smooth-scroll du-scrollspy>Usage</a></li>
              </ul>
            </li>

          </ul>
        </nav>

      </div>

    </div>

    <div class="col-md-9">

      <ng-include src="'modules/tables/templates/partials/overview.html'"></ng-include>

      <ng-include src="'modules/tables/templates/partials/basic-tables.html'"></ng-include>

      <ng-include src="'modules/tables/templates/partials/action-items.html'"></ng-include>

      <ng-include src="'modules/tables/templates/partials/data-in-tables.html'"></ng-include>

      <ng-include src="'modules/tables/templates/partials/paging.html'"></ng-include>

      <ng-include src="'modules/tables/templates/partials/infinite-scroll.html'"></ng-include>

      <ng-include src="'modules/tables/templates/partials/faceted-search.html'"></ng-include>


    </div>
  </div>
</div>
