<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Product Framework / Responsive Web / Elements</div>
          <h1>Tables</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="overview" offset="100">Overview</a></li>
            <li><a href="" du-smooth-scroll="toolbar">Toolbar</a></li>
            <li><a href="" du-smooth-scroll="data">Data</a></li>
            <li><a href="" du-smooth-scroll="paging">Paging</a></li>
            <li><a href="" du-smooth-scroll="infinite-scroll">Infinite Scroll</a></li>
            <li><a href="" du-smooth-scroll="tabbed">Tabbed</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="container">

  <div class="row spacer-top-lg">
    <div class="col-md-12">
      <div id="overview" ui-view="overview"></div>
    </div>
  </div>

  <div class="row spacer-top-lg">
    <div class="col-md-12">
      <div id="toolbar" ui-view="toolbar"></div>
    </div>
  </div>

  <div class="row spacer-top-lg">
    <div class="col-md-12">
      <div id="data" ui-view="data"></div>
    </div>
  </div>


  <div class="row spacer-top-lg">

    <div id="paging" class="col-md-12">
      <h1>Paging</h1>
    </div>

    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper, purus quis viverra accumsan, eros ex porta nisl, ut rutrum neque sem in massa. Phasellus mattis lacus a est blandit, at lobortis velit egestas. Nulla lobortis accumsan justo, et fermentum nisi sollicitudin et. Quisque commodo id quam id euismod. Nam vel massa egestas, molestie justo hendrerit, aliquam orci. Integer et lorem nec nunc egestas iaculis id a augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc vehicula enim nec tristique vehicula. Sed cursus purus quis sem tempus, gravida ornare leo ornare.</p>

      <p>
        <a class="badge badge-link" href="https://github.com/michaelbromley/angularUtils/tree/master/src/directives/pagination" target="blank"><i class="fa fa-plug"></i> angular-utils-pagination v0.8.2</a>
        <a class="badge badge-link" href="https://github.com/fragaria/angular-daterangepicker" target="blank"><i class="fa fa-plug"></i> daterangepicker v0.1.15</a>
        <a class="badge badge-link" href="https://github.com/angular-ui/bootstrap/tree/0.12.1" target="blank"><i class="fa fa-plug"></i> ui-bootstrap v0.12.1</a>
      </p>

      <p class="spacer-top-md"><a class="btn btn-default btn-lg" href="" ui-sref="tables.paging" target="_blank">View Example</a></p>
    </div>

    <div class="col-md-6">
      <img class="img-responsive" src="http://placehold.it/600x600" />
    </div>
  </div>


  <div class="row spacer-top-lg">

    <div id="infinite-scroll" class="col-md-12">
      <h1>Infinite Scroll</h1>
    </div>

    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper, purus quis viverra accumsan, eros ex porta nisl, ut rutrum neque sem in massa. Phasellus mattis lacus a est blandit, at lobortis velit egestas. Nulla lobortis accumsan justo, et fermentum nisi sollicitudin et. Quisque commodo id quam id euismod. Nam vel massa egestas, molestie justo hendrerit, aliquam orci. Integer et lorem nec nunc egestas iaculis id a augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc vehicula enim nec tristique vehicula. Sed cursus purus quis sem tempus, gravida ornare leo ornare.</p>

      <p>
        <a class="badge badge-link" href="http://binarymuse.github.io/ngInfiniteScroll/index.html" target="blank"><i class="fa fa-plug"></i> ngInfiniteScroll v1.2.1</a>
        <a class="badge badge-link" href="https://github.com/fragaria/angular-daterangepicker" target="blank"><i class="fa fa-plug"></i> daterangepicker v0.1.15</a>
        <a class="badge badge-link" href="https://github.com/angular-ui/bootstrap/tree/0.12.1" target="blank"><i class="fa fa-plug"></i> ui-bootstrap v0.12.1</a>
      </p>

      <p class="spacer-top-md"><a class="btn btn-default btn-lg" href="" ui-sref="tables.infiniteScroll" target="_blank">View Example</a></p>
    </div>

    <div class="col-md-6">
      <img class="img-responsive" src="http://placehold.it/600x600" />
    </div>
  </div>


  <div class="row spacer-top-lg">
    <div class="col-md-12">
      <div id="tabbed" ui-view="tabbed"></div>
    </div>
  </div>

</div>
