

  <div class="row">
    <div class="col-md-12">
      <h1 class="main-title">Data</h1>

      <div class="alert alert-info">
        See the <a href="" ui-sref="tables.datatable.paging">Paging</a> section to see the following items in action.
      </div>

    </div>
  </div>


  <!-- COLUMN SORTING -->
  <div class="row spacer-top-md spacer-bottom-md">

    <div class="col-md-12">

      <h5>Column sorting</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper, purus quis viverra accumsan, eros ex porta nisl, ut rutrum neque sem in massa. Nunc vehicula enim nec tristique vehicula. Sed cursus purus quis sem tempus, gravida ornare leo ornare.</p>

      <div class="preview-example">

          <table class="table table-datatable">
            <thead>
              <tr>
                <th><a href="">Date <i class="fa fa-fw fa-sort text-muted"></i></a></th>
                <th><a href="">Recipient <i class="fa fa-fw fa-sort text-muted"></i></a></th>
                <th><a href="">Carrier <i class="fa fa-fw fa-sort-desc"></i></a></th>
                <th><a href="">Shipping Info <i class="fa fa-fw fa-sort text-muted"></i></a></th>
                <th>Tracking #</th>
                <th>Status</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Date</td>
                <td>Recipient</td>
                <td>Carrier</td>
                <td>Shipping Info</td>
                <td>Tracking #</td>
                <td>Status</td>
                <td>Amount</td>
              </tr>
              <tr><td colspan="8">&#8230;</td></tr>
            </tbody>
          </table>

      </div>

    </div>

  </div>



  <!-- ROW DETAILS -->
  <div class="row spacer-top-md spacer-bottom-md">

    <div class="col-md-12">

      <h5>Row details</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper, purus quis viverra accumsan, eros ex porta nisl, ut rutrum neque sem in massa. Nunc vehicula enim nec tristique vehicula. Sed cursus purus quis sem tempus, gravida ornare leo ornare.</p>

      <div class="alert alert-info">
       Best practice is to show no more than eight columns in a datatable. If more than eight columns of data should be displayed, use the row details.
      </div>

      <div class="preview-example">

          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Date</th>
                <th>Recipient</th>
                <th>Carrier</th>
                <th>Shipping Info</th>
                <th>Tracking #</th>
                <th>Status</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a href="" ng-init="tables.showDetails = true" ng-click="tables.showDetails = !tables.showDetails">
                    <i class="fa fa-fw fa-lg fa-angle-right fa-transition" ng-class="{'fa-rotate-90': tables.showDetails}"></i>
                  </a>
                </td>
                <td>Date</td>
                <td>Recipient</td>
                <td>Carrier</td>
                <td>Shipping Info</td>
                <td>Tracking #</td>
                <td>Status</td>
                <td>Amount</td>
              </tr>
              <tr class="table-details">
                <td colspan="8">
                  <div collapse="!tables.showDetails">
                  <div class="table-details-content">

                    <table class="table no-margin-bottom">
                      <tbody>
                        <tr>
                          <td>
                            Address line 1<br>
                            Address Line 2<br>
                            Address Line 3<br>
                            City, State, ZIP
                          </td>
                          <td>
                            Address line 1<br>
                            Address Line 2<br>
                            Address Line 3<br>
                            City, State, ZIP
                          </td>
                          <td>
                            Address line 1<br>
                            Address Line 2<br>
                            Address Line 3<br>
                            City, State, ZIP
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  </div>
              </td>
              </tr>
              <tr><td colspan="8">&#8230;</td></tr>
            </tbody>
          </table>

      </div>

    </div>

  </div>



  <!-- ROW MULTIPLE SELECTION -->
  <div class="row spacer-top-md spacer-bottom-md">

    <div class="col-md-12">

      <h5>Row Multiple Selection</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper, purus quis viverra accumsan, eros ex porta nisl, ut rutrum neque sem in massa. Nunc vehicula enim nec tristique vehicula. Sed cursus purus quis sem tempus, gravida ornare leo ornare.</p>
      <p>See the <a ui-sref="tables.datatable.paging">Paging</a> section for complete interaction, including toolbar action disclosure.</p>

      <div class="preview-example">

          <table class="table table-datatable">
            <thead>
              <tr>
                <th><input type="checkbox"></th>
                <th>Date</th>
                <th>Recipient</th>
                <th>Carrier</th>
                <th>Shipping Info</th>
                <th>Tracking #</th>
                <th>Status</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="checkbox"></td>
                <td>Date</td>
                <td>Recipient</td>
                <td>Carrier</td>
                <td>Shipping Info</td>
                <td>Tracking #</td>
                <td>Status</td>
                <td>Amount</td>
              </tr>
              <tr>
                <td><input type="checkbox"></td>
                <td>Date</td>
                <td>Recipient</td>
                <td>Carrier</td>
                <td>Shipping Info</td>
                <td>Tracking #</td>
                <td>Status</td>
                <td>Amount</td>
              </tr>
              <tr><td colspan="8">&#8230;</td></tr>
            </tbody>
          </table>

      </div>

    </div>

  </div>



  <!-- ROW DETAILS & MULTIPLE SELECTION-->
  <div class="row spacer-top-md spacer-bottom-md">

    <div class="col-md-12">

      <h5>Row details with Multiple Selection</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper, purus quis viverra accumsan, eros ex porta nisl, ut rutrum neque sem in massa. Nunc vehicula enim nec tristique vehicula. Sed cursus purus quis sem tempus, gravida ornare leo ornare.</p>

      <div class="preview-example">

          <table class="table">
            <thead>
              <tr>
                <th><input type="checkbox"></th>
                <th></th>
                <th>Date</th>
                <th>Recipient</th>
                <th>Carrier</th>
                <th>Shipping Info</th>
                <th>Tracking #</th>
                <th>Status</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="checkbox"></td>
                <td>
                  <a href="" ng-init="tables.showDetails02 = true" ng-click="tables.showDetails02 = !tables.showDetails02">
                    <i class="fa fa-fw fa-lg fa-angle-right fa-transition" ng-class="{'fa-rotate-90': tables.showDetails02}"></i>
                  </a>
                </td>
                <td>Date</td>
                <td>Recipient</td>
                <td>Carrier</td>
                <td>Shipping Info</td>
                <td>Tracking #</td>
                <td>Status</td>
                <td>Amount</td>
              </tr>
              <tr class="table-details">
                <td colspan="9">
                  <div collapse="!tables.showDetails02">
                  <div class="table-details-content">

                    <table class="table no-margin-bottom">
                      <tbody>
                        <tr>
                          <td>
                            Address line 1<br>
                            Address Line 2<br>
                            Address Line 3<br>
                            City, State, ZIP
                          </td>
                          <td>
                            Address line 1<br>
                            Address Line 2<br>
                            Address Line 3<br>
                            City, State, ZIP
                          </td>
                          <td>
                            Address line 1<br>
                            Address Line 2<br>
                            Address Line 3<br>
                            City, State, ZIP
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  </div>
              </td>
              </tr>
              <tr><td colspan="8">&#8230;</td></tr>
            </tbody>
          </table>

      </div>

    </div>

  </div>



  <!-- ROW ACTIONS -->
  <div class="row spacer-top-md spacer-bottom-md">

    <div class="col-md-12">

      <h5>Row Actions</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper, purus quis viverra accumsan, eros ex porta nisl, ut rutrum neque sem in massa. Nunc vehicula enim nec tristique vehicula. Sed cursus purus quis sem tempus, gravida ornare leo ornare.</p>

      <div class="preview-example">

          <table class="table table-datatable">
            <thead>
              <tr>
                <th>Date</th>
                <th>Recipient</th>
                <th>Carrier</th>
                <th>Shipping Info</th>
                <th>Tracking #</th>
                <th>Status</th>
                <th>Amount</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Date</td>
                <td>Recipient</td>
                <td>Carrier</td>
                <td>Shipping Info</td>
                <td>Tracking #</td>
                <td>Status</td>
                <td>Amount</td>
                <td>
                  <div class="dropdown pull-right">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                      Actions <i class="fa fa-fw fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                      <li><a href="">Edit</a></li>
                      <li><a href="">Delete</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr><td colspan="8">&#8230;</td></tr>
            </tbody>
          </table>

      </div>

    </div>

  </div>



  <!-- ROW LINKS -->
  <div class="row spacer-top-md spacer-bottom-md">

    <div class="col-md-12">

      <h5>Row Links</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper, purus quis viverra accumsan, eros ex porta nisl, ut rutrum neque sem in massa. Nunc vehicula enim nec tristique vehicula. Sed cursus purus quis sem tempus, gravida ornare leo ornare.</p>

      <div class="preview-example">

          <table class="table table-datatable">
            <thead>
              <tr>
                <th>Date</th>
                <th>Recipient</th>
                <th>Carrier</th>
                <th>Shipping Info</th>
                <th>Tracking #</th>
                <th>Status</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Date</td>
                <td><a href="">Recipient</a></td>
                <td>Carrier</td>
                <td>Shipping Info</td>
                <td><a href="">Tracking #</a></td>
                <td>Status</td>
                <td>Amount</td>
              </tr>
              <tr><td colspan="8">&#8230;</td></tr>
            </tbody>
          </table>

      </div>

    </div>

  </div>



  <!-- ROW SELECTION CLICK -->
  <div class="row spacer-top-md spacer-bottom-md">

    <div class="col-md-12">

      <h5>Row Selection (click)</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper, purus quis viverra accumsan, eros ex porta nisl, ut rutrum neque sem in massa. Nunc vehicula enim nec tristique vehicula. Sed cursus purus quis sem tempus, gravida ornare leo ornare.</p>

      <div class="alert alert-info">
        Best practice is is to only use row click to select a row. No other actions should be triggered by a row click.
      </div>

      <div class="preview-example">

          <table class="table table-hover table-datatable">
            <thead>
              <tr>
                <th><!-- <input type="checkbox"> --></th>
                <th>Date</th>
                <th>Recipient</th>
                <th>Carrier</th>
                <th>Shipping Info</th>
                <th>Tracking #</th>
                <th>Status</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-click="data.rowclick(row, $event)" ng-repeat="row in data.rowdata" ng-class="{'table-row-selected': row.selected}">
                <td><input type="checkbox" ng-model="row.selected"></td>
                <td>{{row.date}}</td>
                <td>{{row.recipient}}</td>
                <td>{{row.carrier}}</td>
                <td>{{row.shipping}}</td>
                <td>{{row.tracking}}</td>
                <td>{{row.status}}</td>
                <td>{{row.amount}}</td>
              </tr>
              <tr><td colspan="8">&#8230;</td></tr>
            </tbody>
          </table>

      </div>

    </div>

  </div>



  <!-- ROW ICONS -->
  <div class="row spacer-top-md spacer-bottom-md">

    <div class="col-md-12">

      <h5>Row Icons</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper, purus quis viverra accumsan, eros ex porta nisl, ut rutrum neque sem in massa. Nunc vehicula enim nec tristique vehicula. Sed cursus purus quis sem tempus, gravida ornare leo ornare.</p>

      <div class="preview-example">

        <table class="table table-datatable">
          <thead>
            <tr>
              <th>Type</th>
              <th>Date</th>
              <th>Recipient</th>
              <th>Carrier</th>
              <th>Shipping Info</th>
              <th>Tracking #</th>
              <th>Status</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><i class="fa fa-fw fa-user"></i></td>
              <td>Date</td>
              <td>Recipient</td>
              <td>Carrier</td>
              <td>Shipping Info</td>
              <td>Tracking #</td>
              <td>Status</td>
              <td>Amount</td>
            </tr>
            <tr>
              <td><i class="fa fa-fw fa-user"></i></td>
              <td>Date</td>
              <td>Recipient</td>
              <td>Carrier</td>
              <td>Shipping Info</td>
              <td>Tracking #</td>
              <td>Status</td>
              <td>Amount</td>
            </tr>
            <tr><td colspan="8">&#8230;</td></tr>
          </tbody>
        </table>

      </div>

    </div>

  </div>



  <!-- ROW STATUS ICONS -->
  <div class="row spacer-top-md spacer-bottom-md">

    <div class="col-md-12">

      <h5>Row Status Icons</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper, purus quis viverra accumsan, eros ex porta nisl, ut rutrum neque sem in massa. Nunc vehicula enim nec tristique vehicula. Sed cursus purus quis sem tempus, gravida ornare leo ornare.</p>

      <!-- colored icons-->
      <div class="preview-example">

        <table class="table table-datatable">
          <thead>
            <tr>
              <th>Date</th>
              <th>Recipient</th>
              <th>Carrier</th>
              <th>Shipping Info</th>
              <th>Tracking #</th>
              <th>Status</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Date</td>
              <td>Recipient</td>
              <td>Carrier</td>
              <td>Shipping Info</td>
              <td>Tracking #</td>
              <td><i class="fa fa-fw fa-times-circle status status-error"></i></td>
              <td>Amount</td>
            </tr>
            <tr>
              <td>Date</td>
              <td>Recipient</td>
              <td>Carrier</td>
              <td>Shipping Info</td>
              <td>Tracking #</td>
              <td><i class="fa fa-fw fa-info-circle status status-success"></i></td>
              <td>Amount</td>
            </tr>
            <tr>
              <td>Date</td>
              <td>Recipient</td>
              <td>Carrier</td>
              <td>Shipping Info</td>
              <td>Tracking #</td>
              <td><i class="fa fa-fw fa-exclamation-triangle status status-warning"></i></td>
              <td>Amount</td>
            </tr>
            <tr><td colspan="8">&#8230;</td></tr>
          </tbody>
        </table>

      </div>

      <!-- text color icons-->
      <div class="preview-example">

        <table class="table table-datatable">
          <thead>
            <tr>
              <th>Date</th>
              <th>Recipient</th>
              <th>Carrier</th>
              <th>Shipping Info</th>
              <th>Tracking #</th>
              <th>Status</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Date</td>
              <td>Recipient</td>
              <td>Carrier</td>
              <td>Shipping Info</td>
              <td>Tracking #</td>
              <td><i class="fa fa-fw fa-check"></i></td>
              <td>Amount</td>
            </tr>
            <tr>
              <td>Date</td>
              <td>Recipient</td>
              <td>Carrier</td>
              <td>Shipping Info</td>
              <td>Tracking #</td>
              <td><i class="fa fa-fw fa-times"></i></td>
              <td>Amount</td>
            </tr>
            <tr>
              <td>Date</td>
              <td>Recipient</td>
              <td>Carrier</td>
              <td>Shipping Info</td>
              <td>Tracking #</td>
              <td><i class="fa fa-fw fa-clock-o"></i></td>
              <td>Amount</td>
            </tr>
            <tr><td colspan="8">&#8230;</td></tr>
          </tbody>
        </table>

      </div>

      <!-- with notification icons -->
      <div class="preview-example">

        <table class="table table-datatable">
          <thead>
            <tr>
              <th>Date</th>
              <th>Recipient</th>
              <th>Carrier</th>
              <th>Shipping Info</th>
              <th>Tracking #</th>
              <th>Trigger</th>
              <th>Amount</th>
              <th>Notification</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Date</td>
              <td>Recipient</td>
              <td>Carrier</td>
              <td>Shipping Info</td>
              <td>Tracking #</td>
              <td><i class="fa fa-fw fa-clock-o"></i></td>
              <td>Amount</td>
              <td><i class="fa fa-bell-o"></i></td>
            </tr>
            <tr>
              <td>Date</td>
              <td>Recipient</td>
              <td>Carrier</td>
              <td>Shipping Info</td>
              <td>Tracking #</td>
              <td><i class="fa fa-fw fa-refresh"></i></td>
              <td>Amount</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>Date</td>
              <td>Recipient</td>
              <td>Carrier</td>
              <td>Shipping Info</td>
              <td>Tracking #</td>
              <td><i class="fa fa-fw fa-clock-o text-muted"></i></td>
              <td>Amount</td>
              <td><i class="fa fa-bell-o"></i></td>
            </tr>
            <tr>
              <td>Date</td>
              <td>Recipient</td>
              <td>Carrier</td>
              <td>Shipping Info</td>
              <td>Tracking #</td>
              <td><i class="fa fa-fw fa-folder-o"></i></td>
              <td>Amount</td>
              <td><i class="fa fa-bell-o"></i></td>
            </tr>
            <tr><td colspan="8">&#8230;</td></tr>
          </tbody>
        </table>

      </div>

    </div>

  </div>



  <!-- -->
  <div class="row spacer-top-md spacer-bottom-md">

    <div class="col-md-12">

      <h5>Row Progress Bars</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper, purus quis viverra accumsan, eros ex porta nisl, ut rutrum neque sem in massa. Nunc vehicula enim nec tristique vehicula. Sed cursus purus quis sem tempus, gravida ornare leo ornare.</p>

      <!-- progress bars -->
      <div class="preview-example">

        <table class="table table-datatable">
          <thead>
            <tr>
              <th>Date</th>
              <th>Recipient</th>
              <th>Carrier</th>
              <th>Shipping Info</th>
              <th>Tracking #</th>
              <th style="min-width: 200px;">Status</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Date</td>
              <td>Recipient</td>
              <td>Carrier</td>
              <td>Shipping Info</td>
              <td>Tracking #</td>
              <td>
                <div class="progress no-margins">
                  <div class="progress-bar" style="min-width: 2em; width: 2%;">
                    2%
                  </div>
                </div>
              </td>
              <td>Amount</td>
            </tr>
            <tr>
              <td>Date</td>
              <td>Recipient</td>
              <td>Carrier</td>
              <td>Shipping Info</td>
              <td>Tracking #</td>
              <td>
                <div class="progress no-margins">
                  <div class="progress-bar" style="min-width: 2em; width: 60%;">
                    60%
                  </div>
                </div>
              </td>
              <td>Amount</td>
            </tr>
            <tr><td colspan="8">&#8230;</td></tr>
          </tbody>
        </table>

      </div>

      <!-- color/stacked progress bars -->
      <div class="preview-example">

        <table class="table table-datatable">
          <thead>
            <tr>
              <th>Date</th>
              <th>Recipient</th>
              <th>Carrier</th>
              <th>Shipping Info</th>
              <th>Tracking #</th>
              <th style="min-width: 200px;">Status</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Date</td>
              <td>Recipient</td>
              <td>Carrier</td>
              <td>Shipping Info</td>
              <td>Tracking #</td>
              <td>
                <div class="progress no-margins">
                  <div class="progress-bar progress-bar-success" style="width: 100%;"></div>
                </div>
              </td>
              <td>Amount</td>
            </tr>
            <tr>
              <td>Date</td>
              <td>Recipient</td>
              <td>Carrier</td>
              <td>Shipping Info</td>
              <td>Tracking #</td>
              <td>
                <div class="progress no-margins">
                  <div class="progress-bar progress-bar-warning" style="width: 100%;"></div>
                </div>
              </td>
              <td>Amount</td>
            </tr>
            <tr>
              <td>Date</td>
              <td>Recipient</td>
              <td>Carrier</td>
              <td>Shipping Info</td>
              <td>Tracking #</td>
              <td>
                <div class="progress no-margins">
                  <div class="progress-bar" style="width: 0%;"></div>
                </div>
              </td>
              <td>Amount</td>
            </tr>
            <tr>
              <td>Date</td>
              <td>Recipient</td>
              <td>Carrier</td>
              <td>Shipping Info</td>
              <td>Tracking #</td>
              <td>
                <div class="progress no-margins">
                  <div class="progress-bar progress-bar-success" style="width: 35%" tooltip="35%">
                    <span class="sr-only">35% Complete</span>
                  </div>
                  <div class="progress-bar progress-bar-warning" style="width: 20%" tooltip="20%">
                    <span class="sr-only">20% Complete</span>
                  </div>
                  <div class="progress-bar progress-bar-danger" style="width: 10%" tooltip="10%">
                    <span class="sr-only">10% Complete</span>
                  </div>
                </div>
              </td>
              <td>Amount</td>
            </tr>
            <tr><td colspan="8">&#8230;</td></tr>
          </tbody>
        </table>

      </div>


    </div>

  </div>



  <!-- INLINE EDIT -->
  <div class="row spacer-top-md spacer-bottom-md">

    <div class="col-md-12">

      <h5>Inline Edit
        <small class="pull-right">
          <a class="badge badge-link" href="http://vitalets.github.io/angular-xeditable/#" target="blank"><i class="fa fa-plug"></i> angular-xeditable v0.1.9</a>
        </small>
      </h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper, purus quis viverra accumsan, eros ex porta nisl, ut rutrum neque sem in massa. Nunc vehicula enim nec tristique vehicula. Sed cursus purus quis sem tempus, gravida ornare leo ornare.</p>

      <div class="alert alert-danger">
        Not all control types are supported. Please refer to the <a href="http://vitalets.github.io/angular-xeditable/#" target="blank">angular-xeditable</a> documentation for more information.
      </div>

      <div class="preview-example">

        <table class="table table-datatable">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Carrier</th>
              <th>Shipping Info</th>
              <th>Tracking #</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in data.xeditable.data">
              <td><span editable-text="item.first_name">{{item.first_name}}</span></td>
              <td><span editable-text="item.last_name">{{item.last_name}}</span></td>
              <td>
                <span editable-select="item.carrier" e-ng-options="s as s for s in data.xeditable.carriers">
                  {{item.carrier || 'none'}}
                </span>
              </td>
              <td>Shipping Info</td>
              <td>Tracking #</td>
              <td>Amount</td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>

  </div>
