

<div class="row">
  <div class="col-md-12">
    <h1 class="main-title">Overview</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper, purus quis viverra accumsan, eros ex porta nisl, ut rutrum neque sem in massa. Phasellus mattis lacus a est blandit, at lobortis velit egestas. Nulla lobortis accumsan justo, et fermentum nisi sollicitudin et. Quisque commodo id quam id euismod. Nam vel massa egestas, molestie justo hendrerit, aliquam orci. Integer et lorem nec nunc egestas iaculis id a augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc vehicula enim nec tristique vehicula. Sed cursus purus quis sem tempus, gravida ornare leo ornare.</p>

  </div>
</div>






<!-- PLACEMENT -->
<div class="row spacer-top-md spacer-bottom-md">
  <div class="col-md-12">

    <h4>Placement</h4>

    <p>Morbi et nunc et quam tempus maximus ut ac dui. Donec interdum vel felis ac facilisis. Aliquam orci velit, congue nec libero quis, porta pulvinar sem. Etiam a sagittis dolor. Fusce laoreet congue nulla. Proin vulputate leo sed turpis tincidunt, ut pellentesque elit cursus. Phasellus iaculis nisi erat, id hendrerit lacus feugiat at. Donec lacinia sapien et semper placerat.</p>

    <p>Vivamus ultrices ipsum id volutpat sollicitudin. Vivamus accumsan quis augue ut sollicitudin. Phasellus vel faucibus ligula. Etiam porta, odio dignissim ornare molestie, nisl neque molestie leo, quis elementum erat ex at est. Integer quis velit ac orci pulvinar tempus non gravida justo. Sed id sem id est accumsan blandit vel eget nisi. Sed ultricies ultrices sapien sed pulvinar.</p>

    <div class="preview-example">

      <div class="row">

        <div class="col-md-12">

            <h4>Table Title</h4>

        </div>

      </div>

      <div class="row">

        <div class="col-md-12">
          <div class="well well-sm text-center">
            Tabbed sections
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-md-12">

          <div class="well well-sm" style="background-color: #fff;">
            <p>Toolbar</p>

            <div class="row">
              <div class="col-md-4">
                <div class="well well-sm text-center">
                  Bulk Action<br>
                  (Do something to the data)
                </div>
              </div>

              <div class="col-md-4 col-md-offset-1">
                <div class="well well-sm text-center">
                  Filters<br>
                  (See things differently)
                </div>
              </div>

              <div class="col-md-3">
                <div class="well well-sm text-center">
                  Global Utility<br>
                  (Do something with the data)
                </div>
              </div>

            </div>

          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-md-12">
          <div class="well well-sm text-center" style="padding: 100px 0">
            Data
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-md-4">
          <div class="well well-sm text-center">
            Page sizing
          </div>
        </div>

        <div class="col-md-6 col-md-offset-2">
          <div class="well well-sm text-center">
            Paging
          </div>
        </div>

      </div>

    </div>


  </div>
</div>











<!-- SINGLE SELECT -->
<div class="row spacer-top-md spacer-bottom-md">
  <div class="col-md-12">
    <h4>Single Select</h4>
    <p>Vivamus ultrices ipsum id volutpat sollicitudin. Vivamus accumsan quis augue ut sollicitudin. Phasellus vel faucibus ligula. Etiam porta, odio dignissim ornare molestie, nisl neque molestie leo, quis elementum erat ex at est. Integer quis velit ac orci pulvinar tempus non gravida justo. Sed id sem id est accumsan blandit vel eget nisi. Sed ultricies ultrices sapien sed pulvinar.</p>

    <div class="preview-example">

      <div class="toolbar">

        <div class="row toolbar spacer-top-md spacer-bottom-md">

          <div class="col-md-3">

            <button class="btn btn-link" type="button">
              <i class="fa fa-plus"></i>
            </button>

          </div>

          <div class="col-md-9">

            <form class="form-inline pull-right">


              <button type="button" class="btn btn-link">
                <i class="fa fa-fw fa-filter"></i>Filter One <i class="fa fa-angle-down"></i>
              </button>

              <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-fw fa-filter"></i>Filter Two <i class="fa fa-angle-down"></i>
              </button>


              <div class="input-group">

                <div class="input-group-addon">
                    <i class="fa fa-fw fa-search"></i>
                </div>

                  <input class="form-control search" type="text" placeholder="Search" required>
                  <button class="btn btn-link search-clear" type="reset" ng-click="datatable.table.searchClear()"><i class="fa fa-fw fa-times-circle"></i></button>
              </div>

              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default active">
                  <input type="radio" name="options-1" autocomplete="off" checked><i class="fa fa-fw fa-th-list"></i>
                </label>

                <label class="btn btn-default">
                  <input type="radio" name="options-1" autocomplete="off" checked><i class="fa fa-fw fa-th"></i>
                </label>
              </div>

            </form>

          </div>

        </div>

      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th><a href="">Date</a></th>
            <th><a href="">Recipient</a></th>
            <th><a href="">Carrier</a></th>
            <th><a href="">Shipping Info</a></th>
            <th>Tracking #</th>
            <th>Status</th>
            <th>Amount</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Date</td>
            <td>Recipient</td>
            <td>Carrier</td>
            <td>Shipping Info</td>
            <td>Tracking #</td>
            <td>Status</td>
            <td>Amount</td>
            <td>
              <div class="dropdown pull-right">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                  Actions <i class="fa fa-fw fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                  <li><a href="">Edit</a></li>
                  <li><a href="">Delete</a></li>
                </ul>
              </div>
            </td>
          </tr>
          <tr>
            <td>Date</td>
            <td>Recipient</td>
            <td>Carrier</td>
            <td>Shipping Info</td>
            <td>Tracking #</td>
            <td>Status</td>
            <td>Amount</td>
            <td>
              <div class="dropdown pull-right">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                  Actions <i class="fa fa-fw fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                  <li><a href="">Edit</a></li>
                  <li><a href="">Delete</a></li>
                </ul>
              </div>
            </td>
          </tr>
          <tr>
            <td>Date</td>
            <td>Recipient</td>
            <td>Carrier</td>
            <td>Shipping Info</td>
            <td>Tracking #</td>
            <td>Status</td>
            <td>Amount</td>
            <td>
              <div class="dropdown pull-right">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                  Actions <i class="fa fa-fw fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                  <li><a href="">Edit</a></li>
                  <li><a href="">Delete</a></li>
                </ul>
              </div>
            </td>
          </tr>
          <tr><td colspan="8">&#8230;</td></tr>
        </tbody>
      </table>

    </div>

  </div>
</div>











<!-- MULTIPLE SELECT -->
<div class="row spacer-top-md spacer-bottom-md">
  <div class="col-md-12">
    <h4>Multiple Select</h4>
    <p>Vivamus ultrices ipsum id volutpat sollicitudin. Vivamus accumsan quis augue ut sollicitudin. Phasellus vel faucibus ligula. Etiam porta, odio dignissim ornare molestie, nisl neque molestie leo, quis elementum erat ex at est. Integer quis velit ac orci pulvinar tempus non gravida justo. Sed id sem id est accumsan blandit vel eget nisi. Sed ultricies ultrices sapien sed pulvinar.</p>

    <blockquote>
      Click the checkboxes or rows to select them and see the buttons actions
    </blockquote>

    <div class="preview-example">

      <div class="toolbar">

        <div class="row toolbar spacer-top-md spacer-bottom-md">

          <div class="col-md-3">

            <button class="btn btn-link" type="button">
              <i class="fa fa-plus"></i>
            </button>

            <button ng-show="overview.table.selectedRows.length" class="btn btn-link" type="button">
              <i class="fa fa-trash-o"></i>
            </button>

            <button ng-show="overview.table.selectedRows.length === 1" class="btn btn-link" type="button">
              <i class="fa fa-pencil"></i>
            </button>

          </div>

          <div class="col-md-9">

            <form class="form-inline pull-right">


              <button type="button" class="btn btn-link">
                <i class="fa fa-fw fa-filter"></i>Filter One <i class="fa fa-angle-down"></i>
              </button>

              <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-fw fa-filter"></i>Filter Two <i class="fa fa-angle-down"></i>
              </button>


              <div class="input-group">

                <div class="input-group-addon">
                    <i class="fa fa-fw fa-search"></i>
                </div>

                  <input class="form-control search" type="text" placeholder="Search" required>
                  <button class="btn btn-link search-clear" type="reset" ng-click="datatable.table.searchClear()"><i class="fa fa-fw fa-times-circle"></i></button>
              </div>

              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default active">
                  <input type="radio" name="options-1" autocomplete="off" checked><i class="fa fa-fw fa-th-list"></i>
                </label>

                <label class="btn btn-default">
                  <input type="radio" name="options-1" autocomplete="off" checked><i class="fa fa-fw fa-th"></i>
                </label>
              </div>

            </form>

          </div>

        </div>

      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>
              <input type="checkbox" ng-model="overview.table.allRowsSelected" ng-click="overview.table.selectAllRows()" ng-checked="overview.table.selectAllFilteredRows()" />
            </th>
            <th><a href="">Date</a></th>
            <th><a href="">Recipient</a></th>
            <th><a href="">Carrier</a></th>
            <th><a href="">Shipping Info</a></th>
            <th>Tracking #</th>
            <th>Status</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-click="overview.table.selectRow(item, $event)"
              ng-repeat="item in overview.table.dataFiltered = (overview.table.data)"
              ng-class="{'table-row-selected': item.selected}">
            <td><input type="checkbox" ng-model="item.selected" ng-click="overview.table.selectRow(item)"></td>
            <td>Date</td>
            <td>Recipient</td>
            <td>Carrier</td>
            <td>Shipping Info</td>
            <td>Tracking #</td>
            <td>Status</td>
            <td>Amount</td>
          </tr>
          <tr><td colspan="8">&#8230;</td></tr>
        </tbody>
      </table>

    </div>

  </div>
</div>
