
<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <h1 class="main-title">Data tables</h1>
      </div>
  </div>

<div class="row spacer-top-lg">
<div class="col-md-2">
  <div class="list-group">
  <a href="" class="list-group-item" ui-sref="tables.datatable.overview" ui-sref-active="active">Overview</a>
  <a href="" class="list-group-item" ui-sref="tables.datatable.actionsfilters" ui-sref-active="active">Actions &amp; Filters</a>
  <a href="" class="list-group-item">Tabbed</a>
  <a href="" class="list-group-item" ui-sref="tables.datatable.kitchensink" ui-sref-active="active" >
    Kitchen Sink
  </a>
</div>
</div>

<div class="col-md-10">
  <div ui-view=""></div>
</div>

</div>

</div>
