<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <h1 class="main-title">Data table</h1>
      </div>
  </div>


  <div class="row toolbar spacer-top-md spacer-bottom-md">

    <div class="col-md-3">
      <div class="btn-group">
        <button type="button" class="btn btn-default">
          <i class="fa fa-fw fa-plus"></i>
        </button>
        <button type="button" class="btn btn-default">
          <i class="fa fa-fw fa-trash-o"></i>
        </button>
        <button type="button" class="btn btn-default">
          <i class="fa fa-fw fa-pencil"></i>
        </button>
      </div>
    </div>

    <div class="col-md-9">

      <form class="form-inline pull-right">

        <a href="" date-range-picker class="btn btn-link date-picker" type="text" ng-model="datatable.table.daterangepicker.date" options="datatable.table.daterangepicker.options">
          <i class="fa fa-fw fa-calendar"></i> {{datatable.table.daterangepicker.date.startDate | amDateFormat: 'MM/DD/YY'}} to {{datatable.table.daterangepicker.date.endDate | amDateFormat: 'MM/DD/YY'}} <i class="fa fa-angle-down"></i>
        </a>

        <div class="form-group dropdown">
          <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
            {{datatable.table.search.country || 'All countries'}} <i class="fa fa-angle-down"></i>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">Country filter</li>
            <li>
              <a ng-click="datatable.table.search.country = ''">Show all</a>
            </li>
            <li class="divider"></li>
            <li ng-repeat="item in datatable.table.data | unique: 'country'">
              <a ng-click="datatable.table.search.country = item.country">{{item.country}}</a>
            </li>
          </ul>
        </div>


        <div class="input-group">

          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-fw fa-search"></i> <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li class="dropdown-header">Dropdown header</li>
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>

            <input class="form-control search" type="text" placeholder="Search" ng-model="datatable.table.search.$" required>
            <button class="btn btn-link search-clear" type="reset" ng-click="datatable.table.searchClear()"><i class="fa fa-fw fa-times-circle"></i></button>
        </div>


        <div class="form-group dropdown">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-fw fa-align-left"></i> <i class="fa fa-angle-down"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li class="dropdown-header">Dropdown header</li>
            <li><a href="#"><i class="fa fa-fw fa-align-right"></i> Action</a></li>
            <li><a href="#"><i class="fa fa-fw fa-beer"></i> Another action</a></li>
            <li><a href="#"><i class="fa fa-fw fa-globe"></i> Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="fa fa-fw fa-sort-alpha-desc"></i> Separated link</a></li>
          </ul>
        </div>

      </form>

    </div>

  </div>


  <div class="row">

    <div class="col-md-12">

      <table class="table table-hover">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <!-- <th><input type="checkbox"></th> -->
            <th><input type="checkbox" ng-model="datatable.table.allRowsSelected" ng-click="datatable.table.selectAllRows()" ng-checked="datatable.table.selectAllFilteredRows()" /></th>
            <th>&nbsp;</th>
            <th>
              <a href="" ng-click="datatable.table.sort.change('first_name')">Header
                <i class="fa fa-fw" ng-if="datatable.table.sort.type === 'first_name'" ng-class="{'fa-sort-desc': !datatable.table.sort.reverse, 'fa-sort-asc': datatable.table.sort.reverse}"></i>
              </a>
            </th>
            <th>
              <a href="" ng-click="datatable.table.sort.change('last_name')">Header
                <i class="fa fa-fw" ng-if="datatable.table.sort.type === 'last_name'" ng-class="{'fa-sort-desc': !datatable.table.sort.reverse, 'fa-sort-asc': datatable.table.sort.reverse}"></i>
              </a>
            </th>
            <th>Header</th>
            <th>Header</th>
            <th>Header</th>
            <th>&nbsp;</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat-start="item in datatable.table.dataFiltered = (datatable.table.data | orderBy:datatable.table.sort.type:datatable.table.sort.reverse | filter: datatable.table.search )">
            <td>
              <a href="" ng-init="item.showDetails = false" ng-click="item.showDetails = !item.showDetails">
                <i class="fa fa-fw fa-angle-right fa-transition" ng-class="{'fa-rotate-90': item.showDetails}"></i>
              </a>
            </td>
            <td><input type="checkbox" ng-model="item.selected" ng-click="datatable.table.selectRow(item)"></td>
            <td><i class="fa fa-fw fa-user"></i></td>
            <td>{{item.first_name}}</td>
            <td>{{item.last_name}}</td>
            <td><a href="">{{item.email}}</a></td>
            <td>{{item.country}}</td>
            <td>{{item.ip_address}}</td>
            <td>
              <div class="dropdown pull-right">
                <a class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-fw fa-gear"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                  <li class="dropdown-header">Dropdown header</li>
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
            </td>
          </tr>
          <tr class="table-details" ng-repeat-end="item in datatable.table.data">
            <td colspan="9">
              <div collapse="!item.showDetails">
                <div class="table-details-content">
                  <h1>Sample details {{$index}} here. {{item.first_name}}</h1>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>


</div>
