<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Elements</div>
          <h1>Tables</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">

      <div headroom class="doc-side-nav headroom" tolerance="50" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">

        <nav class="hidden-print hidden-xs hidden-sm" role="tablist">
          <ul class="nav">

            <li du-scrollspy="overview">
              <a ui-sref="tables.page({'#':'overview'})" du-scrollspy>Overview</a>
              <ul class="nav" du-spy-context="overview">
                <li><a ui-sref="tables.page({'#':'usage'})" du-scrollspy>Usage</a></li>
                <li><a ui-sref="tables.page({'#':'placement'})" du-scrollspy>Placement</a></li>
              </ul>
            </li>

            <li du-scrollspy="basicTables">
              <a ui-sref="tables.page({'#':'basicTables'})" du-scrollspy>Basic Tables</a>
              <ul class="nav" du-spy-context="basicTables">
                <li><a ui-sref="tables.page({'#':'defaultTable'})" du-scrollspy>Default Table</a></li>
                <li><a ui-sref="tables.page({'#':'stripedTable'})" du-scrollspy>Striped Table</a></li>
                <li><a ui-sref="tables.page({'#':'hoverTable'})" du-scrollspy>Table Hover</a></li>
                <li><a ui-sref="tables.page({'#':'stripedTableHover'})" du-scrollspy>Striped Table Hover</a></li>
                <li><a ui-sref="tables.page({'#':'condensedTable'})" du-scrollspy>Table Condensed</a></li>
                <li><a ui-sref="tables.page({'#':'extraCondensedTable'})" du-scrollspy>Table Extra Condensed</a></li>
                <li><a ui-sref="tables.page({'#':'openTable'})" du-scrollspy>"Open" Table</a></li>
                <li><a ui-sref="tables.page({'#':'unstyledTable'})" du-scrollspy>"Unstyled" Table</a></li>
              </ul>
            </li>

            <li du-scrollspy="actionItemsInTableToolbar">
              <a ui-sref="tables.page({'#':'actionItemsInTableToolbar'})" du-scrollspy>Action Items in the Table Toolbar</a>
              <ul class="nav" du-spy-context="actionItemsInTableToolbar">
                <li><a ui-sref="tables.page({'#':'actionItems'})" du-scrollspy>Action Items</a></li>
                <li><a ui-sref="tables.page({'#':'filters'})" du-scrollspy>Filters</a></li>
                <li><a ui-sref="tables.page({'#':'filterSearch'})" du-scrollspy>Filter Search Field with Options Menu</a></li>
                <li><a ui-sref="tables.page({'#':'utilityItems'})" du-scrollspy>Utility Items</a></li>
                <li><a ui-sref="tables.page({'#':'allItemsDisplayed'})" du-scrollspy>All Items Displayed</a></li>
              </ul>
            </li>

            <li du-scrollspy="workingWithDataInTables">
              <a ui-sref="tables.page({'#':'workingWithDataInTables'})" du-scrollspy>Working with Data in Tables</a>
              <ul class="nav" du-spy-context="workingWithDataInTables">
                <li><a ui-sref="tables.page({'#':'sortableColumns'})" du-scrollspy>Sortable Columns</a></li>
                <li><a ui-sref="tables.page({'#':'rowDetails'})" du-scrollspy>Showing Row Details</a></li>
                <li><a ui-sref="tables.page({'#':'multipleRowSelection'})" du-scrollspy>Multiple Row Selection with Checkboxes</a></li>
                <li><a ui-sref="tables.page({'#':'detailsMultipleRowSelection'})" du-scrollspy>Showing Row Details, with Multiple Row Selection</a></li>
                <li><a ui-sref="tables.page({'#':'singleRow'})" du-scrollspy>Single-Row Action Menu</a></li>
                <li><a ui-sref="tables.page({'#':'multipleRowViaClick'})" du-scrollspy>Multiple Row Selection via Click</a></li>
                <li><a ui-sref="tables.page({'#':'nucleo'})" du-scrollspy>Nucleo Mini Row Icons</a></li>
                <li><a ui-sref="tables.page({'#':'colorNucleo'})" du-scrollspy>Color Nucleo Mini Row Icons</a></li>
                <li><a ui-sref="tables.page({'#':'rowProgressBar'})" du-scrollspy>Row Progress Bars</a></li>
                <li><a ui-sref="tables.page({'#':'inlineEditing'})" du-scrollspy>Inline Editing</a></li>
                <li><a ui-sref="tables.page({'#':'tabbed'})" du-scrollspy>Tabbed</a></li>
              </ul>
            </li>

            <li du-scrollspy="paging">
              <a ui-sref="tables.page({'#':'paging'})" du-scrollspy>Paging</a>
              <ul class="nav" du-spy-context="paging">
                <li><a ui-sref="tables.page({'#':'tableDataPaging'})" du-scrollspy>Table Data Paging</a></li>
              </ul>
            </li>

            <li du-scrollspy="infiniteScroll">
              <a ui-sref="tables.page({'#':'infiniteScroll'})" du-scrollspy>Infinite Scroll</a>
              <ul class="nav" du-spy-context="infiniteScroll">
                <li><a ui-sref="tables.page({'#':'infiniteUsage'})" du-scrollspy>Infinite Scroll Usage</a></li>
              </ul>
            </li>

            <li du-scrollspy="faceted">
              <a ui-sref="tables.page({'#':'faceted'})" du-scrollspy>Faceted Search</a>
              <ul class="nav" du-spy-context="faceted">
                <li><a ui-sref="tables.page({'#':'facetedUsage'})" du-scrollspy>Faceted Search Usage</a></li>
              </ul>
            </li>

          </ul>
        </nav>

      </div>

    </div>

    <div class="col-md-9">

      <ng-include src="'modules/tables/templates/partials/overview.html'"></ng-include>

      <ng-include src="'modules/tables/templates/partials/basic-tables.html'"></ng-include>

      <ng-include src="'modules/tables/templates/partials/action-items.html'"></ng-include>

      <ng-include src="'modules/tables/templates/partials/data-in-tables.html'"></ng-include>

      <ng-include src="'modules/tables/templates/partials/paging.html'"></ng-include>

      <ng-include src="'modules/tables/templates/partials/infinite-scroll.html'"></ng-include>

      <ng-include src="'modules/tables/templates/partials/faceted-search.html'"></ng-include>


    </div>
  </div>
</div>
