.nucleo-demo {
/* --------------------------------

Main components

-------------------------------- */
header {
  text-align: center;
  padding: 120px 0 0;
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 1.4rem;
    margin-top: .6em;
  }
  a:hover {
    text-decoration: underline;
  }
}


section {
  width: 90%;
  max-width: 1200px;
  margin: 50px auto;
  h2 {
    border-bottom: 1px solid #e2e2e2;
    padding: 0 0 1em .2em;
    margin-bottom: 1em;
  }
}


ul::after {
  clear: both;
  content: "";
  display: table;
}
ul li {
  width: 25%;
  float: left;
  padding: 16px 0;
  text-align: center;
  border-radius: .25em;
  transition: background 0.2s;
  user-select: none;
  overflow: hidden;
}
ul li:hover {
  background: #dbdbdb;
}
ul p, ul em  {
  display: inline-block;
  font-size: 1rem;
  color: #454545;
  user-select: auto;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

ul p {
  padding: 10px;
  margin-top: 10px;
}

ul p::selection, ul em::selection {
  background: #766acf;
  color: #efefef;
}
ul em::before {
  content: '[';
}
ul em::after {
  content: ']';
}
@media only screen and (min-width: 768px) {
  ul li {
    width: 20%;
    float: left;
  }
}
@media only screen and (min-width: 1024px) {
  ul li {
    width: 12.5%;
    float: left;
    padding: 32px 0;
  }
}


/* --------------------------------

icons

-------------------------------- */
.nc-icon-mini {
  display: inline-block;
  font: normal normal normal 14px/1 'Nucleo Mini';
  speak: none;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 }
