

.table {

  &.table-datatable {

    thead tr th a {
      color: #a03f9b;
      text-decoration: none;
      white-space: nowrap;
    }

  }


  .table-details {

    td {
      padding: 0;
      background-color: $pb-gray-50;
      border-top-width: 0;
    }


    .table-details-content {
      padding: 10px;
    }

  }

}
