/* TABLES */


// for some reason, bootstrap will not do this with the variables.
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #E5F5FC;
}
.table-hover > tbody > tr:active > td,
.table-hover > tbody > tr:active > th,
.table-hover > tbody > tr.active > td,
.table-hover > tbody > tr.active > th,
 {
  background-color: #CCEBF9;
}


.table-striped>tbody>tr:nth-child(odd) {
  background-color: $table-bg-accent;
}
// table transitions for hovers
.table> tbody > tr > td,
.table > tbody > tr > th {
  transition: background-color 0.3s;
}
.table-clickable {
  tr {
    cursor: pointer;
  }
}
td.centered,
th.centered {
  text-align: center;
}
.table-condensed-extra {
  font-size: 14px;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: $table-condensed-extra-cell-padding;
      }
    }
  }
}
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table thead th {
  font-family: $font-family-sans-serif;
  font-weight: bold;
  color: $text-color;
  border-bottom-color: $text-color;
  border-bottom-width: 1px;
  a {
    color: inherit;
  }
}
.table > tbody > tr > td,
.table > tbody > tr > th {
  transition: background-color 0.3s;
}
td.currency {
  text-align: right;
}
th.currency {
  text-align: center;
}



.table {

  // &.table-datatable {
  //
  //   thead tr th a {
  //     color: #a03f9b;
  //     text-decoration: none;
  //     white-space: nowrap;
  //   }
  //
  // }

  .table-row-expander {
    font-size: .8em;
  }

  .table-row-selected {
    td {
      background-color: red;
    }
  }

  .table-details {

    td {
      padding: 0;
      background-color: $pb-gray-50;
      border-top-width: 0;
    }


    .table-details-content {
      padding: 10px;
    }

  }

}

.status {
  &.status-success {
    color: green;
  }
  &.status-error {
    color: red;
  }
  &.status-warning {
    color: yellow;
  }
}
