//* TABLES */


// for some reason, bootstrap will not do this with the variables.
.table-hover >tbody >tr:hover >td,
.table-hover >tbody >tr:hover >th {
  background-color: #f2f4fa;
}
.table-hover >tbody >tr:active >td,
.table-hover >tbody >tr:active >th,
.table-hover >tbody >tr.active >td,
.table-hover >tbody >tr.active >th, {
  background-color: #b2badb;
}

.table-striped >tbody >tr:nth-child(odd) {
  background-color: $table-bg-accent;
}
// table transitions for hovers
.table >tbody >tr >td,
.table >tbody >tr >th {
  transition: background-color .3s;
}

.table-fixed {
  table-layout: fixed;
}

.table-clickable {
  tr {
    cursor: pointer;
  }
}
td.centered,
th.centered {
  text-align: center;
}
.table-condensed-extra {
  font-size: 14px;
  >thead,
  >tbody,
  >tfoot {
    >tr {
      >th,
      >td {
        padding: $table-condensed-extra-cell-padding;
      }
    }
  }
}
.table >thead >tr >th,
.table >tbody >tr >th,
.table >tfoot >tr >th,
.table thead th {
  font-family: $font-family-sans-serif;
  font-weight: bold;
  color: $text-color;
  border-bottom-color: $text-color;
  border-bottom-width: 1px;
  a {
    color: inherit;
  }
}

.table {
  .table-row-selected {
    td {
      background-color: #c5cbe4;
    }
  }

  .table-details {
    td {
      padding: 0;
      background-color: rgba(240, 240, 240, 1);
      border-top-width: 0;
    }

    >td {
      background: linear-gradient(to bottom, rgba(203, 203, 203, 1) -5%, rgba(240, 240, 240, 1) 6%, rgba(240, 240, 240, 1) 100%);
    }


    .table-details-content {
      padding: 10px;
    }
  }

  &.table-border-bottom {
    tr:last-child {
      td {
        //TODO: get the correct color variable
        border-bottom: 1px solid #ddd;
      }
    }
  }
}

.table-bordered >tbody >tr >td,
.table-bordered >tbody >tr >th,
.table-bordered >tfoot >tr >td,
.table-bordered >tfoot >tr >th,
.table-bordered >thead >tr >td,
.table-bordered >thead >tr >th {
  border: 1px solid $table-border-color;
}

.table-bordered {

  >tbody,
  >tfoot {
    >tr {

      >td {
        border-right: 1px solid $table-vertical-cell-dividers;
        &:last-child {
          border-right: 1px solid $table-border-color;
        }
      }
    }
  }
  >thead >tr {
    >th,
    >td {
      background-color: #f8f8f8;
      font-family: $font-family-ps-regular;
      color: $pb-gray-700;
      font-weight: normal;
      border-bottom: 1px solid $table-border-color;
    }
  }
  border: 1px solid $table-border-color;
}
