.splitview {
  footer {
    margin: 0;
  }
  .two-col-wrapper {
    min-height: 100vh;
    display: flex;
    align-items: stretch;
    .main-content {
      padding-top: 90px;
    }
  }



  .leftnav {
    padding: 90px 0 0;
    min-height: 100%;
    margin:  0 30px 0 0;

    &-gray {
      background-color: $pb-bg2;
      border-left: 1px solid #e8e8e8;
      border-right: 1px solid #e8e8e8;
    }
    &-white {
      background-color: #fff;
      border-left: 1px solid #e8e8e8;
      border-right: 1px solid #e8e8e8;
    }
    a {
      font-size: 14px;
      color: $pb-gray-700;
      &:hover {
        background-color: $bg-hover;
      }
      &:active,
      &.active {
        background-color: $bg-active;
      }
    }

    .list-group-section {
      &:not(:first-child) {
        border-top: 1px solid #e8e8e8;
      }
      &:last-child {
        border-bottom: 1px solid #e8e8e8;
      }
      h3 {
        font-size: 16px;
        padding: 10px 15px;
        margin-bottom: 0;
      }
      .list-group {
        margin-bottom: 10px;
      }
    }

    // collapsible ones
    .nav-list {
        padding: 10px 15px;

      .nav-header {
        font-size: 16px;
        margin-bottom: 0;
        a {
          font-size: inherit;
          display: block;
        i {
          color: red;
          float: right;
        }
        }

      }
      a {
        font-size: 14px;
        color: $pb-gray-700;
        display: block;
        &:hover {
          background-color: $bg-hover;
        }
        &:active,
        &.active {
          background-color: $bg-active;
        }
      }
    }




  }




}

.framed {
  border: 1px solid $pb-light-gray;
}
