<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="doc-head" id="queue">Animations with Angular</h1>

			<h2>Exit & Entrance Animations</h2>

      <p>Entrances and exits come in different flavors. You can combine the two in various different combinations to achieve different effects. The primary thing to make note of is that you can not layer two different entrance or exit animations on the same element. The one that is written last will take priority.</p>

			<p>Some classes have been provided for you as syntactic sugar, such as <code>pb-fade</code>. We've provided this class for convenience, but it could also be written as <code>pb-fadeIn</code> and <code>pb-fadeOut</code>.</p>


		</div>
	</div>


	<hr>


	<div class="row pb-fade-demo" ng-class="{'on': vm.animateOn}">
		<div class="col-xs-12">
			<h4>Combine Entrance/Exit animations with Emphasis animations</h4>

			<p><p>While you can not layer multiple entrance or exit animations, you can layer on emphasis animations. By default adding an emphasis animation along with an exit and entrance animation will cause the emphasis animation to fire once the element's entrance animation has finished.</p>

			<div class="btn-group form-group spacer-top-md" data-toggle="buttons">
				<label ng-click="vm.animateOn = false" class="btn btn-default active">
					<input type="radio" name="options" id="option2" autocomplete="off" ng-checked="!vm.animateOn">
					Entrance & Exit
				</label>
				<label ng-click="vm.animateOn = true" class="btn btn-default">
					<input type="radio" name="options" id="option1" autocomplete="off" ng-checked="vm.animateOn">Entrance, Exit, & Emphasis
				</label>
			</div>
		</div>

		<div class="col-xs-4 spacer-top-xs">
			<label>Using <code>pb-fade</code></label>
			<div class="form-group spacer-top-xs">
				<button class="btn btn-default" ng-click="vm.hideFade = !vm.hideFade">Toggle</button>
			</div>

			<span class="object pb-fade" ng-if="!vm.hideFade"></span>
		</div>

		<!--***** ng-hide case *****-->
		<div class="col-xs-4">
			<label>Using <code>pb-fadeOut</code></label>
			<div class="form-group spacer-top-xs">
				<button class="btn btn-default" ng-click="vm.hideThis = !vm.hideThis">Toggle ng-hide</button>
			</div>
			<span class="object pb-fadeOut" ng-if="!vm.hideThis"></span>
		</div>
		<!--***** end ng-hide case *****-->


		<!--***** ng-show case *****-->
		<div class="col-xs-4">
			<label>Using <code>pb-fadeIn</code></label>
			<div class="form-group spacer-top-xs">
				<button class="btn btn-default" ng-click="vm.showMe = !vm.showMe">Toggle ng-show</button>
			</div>

			<span class="object pb-fadeIn" ng-if="vm.showMe"></span>
		</div>
		<!--***** end ng-show case *****-->
	</div>

	<hr>

	<!--Handle Displacement Cases-->

	<div class="row">
		<div class="col-xs-12">
			<h4>Displacement Issues - Cross Fading</h4>
			<div class="help-text">There are quite a few cases when we want to simultaneously pb-fade a piece of our UI out of view while fading something else in. Unfortunately, this is a bit challenging to achieve. This solution we propose isn't a true "cross-fade", but it's very close. But first, let's illustrate the problem we're trying to prevent.</div>
		</div>

		<div class="col-xs-12">
			<h5>Problem</h5>
			<p>In this example we'll add <code>pb-fade</code> between two different <code>div</code>s. Notice how this causes some displacement when we switch between them and the two circles are stacked vetically.</p>
			<button class="btn btn-default" ng-click="vm.displace = !vm.displace">Switch circles</button>

			<span class="object pb-fade" ng-if="!vm.displace"></span>
			<span class="object green pb-fade" ng-if="vm.displace"></span>
		</div>

		<div class="col-xs-12">
			<h5>Solution</h5>
			<p>In this example we've removed <code>pb-fade</code> and added <code>pb-crossFade</code> on both our <code>div</code>s. Now our circles appear to overlap.</p>
			<p class="help-text">Example uses ng-if and <code>pb-crossFade</code>.</p>
			<button class="btn btn-default" ng-click="vm.fixedDisplace = !vm.fixedDisplace">Switch circles</button>

			<span class="object pb-crossFade" ng-if="!vm.fixedDisplace"></span>
			<span class="object green pb-crossFade" ng-if="vm.fixedDisplace"></span>
		</div>

		<div class="col-xs-12">
			<p>If you have a more fancy transition in mind, you can use any of the "in" animation classes with <code>pb-preventDisplacement</code>. This example uses <code>pb-zoomIn</code> & <code>pb-preventDisplacement</code>.</p>
			<button class="btn btn-default" ng-click="vm.displaceShow = !vm.displaceShow">Switch circles</button>

			<span class="object pb-zoomIn pb-preventDisplacement" ng-hide="vm.displaceShow"></span>
			<span class="object green pb-zoomIn pb-preventDisplacement" ng-hide="!vm.displaceShow"></span>
		</div>

		<div class="col-xs-12">
			<p>Example uses ng-show and <code>pb-flipInX</code> with <code>pb-preventDisplacement</code>.</p>
			<button class="btn btn-default" ng-click="vm.displaceShowIn = !vm.displaceShowIn">Switch circles</button>

			<span class="object pb-flipInX pb-preventDisplacement" ng-show="!vm.displaceShowIn"></span>
			<span class="object green pb-flipInX pb-preventDisplacement" ng-show="vm.displaceShowIn"></span>
		</div>
	</div>


</div>
