
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="doc-head" id="stagger">Staggered Animations</h1>
      <p>When building a staggered animation you have two options. The first is is to use angular's ng-repeat with your animation class name and the class <code>pb-stagger</code>. This is the more preferrable solution.
        However, there are cases where we want to put a staggered transition on something that isn't a good fit with ng-repeat, such as a button group. For this case, we provide additional classes.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4>ng-repeat Stagger</h4>
      <h5>Stagger entrances and exits using angular's ng-repeat</h5>
      <p><bold>Maybe we should think about limiting this to vertical animations only???</bold></p>
      <p class="help-text">In order to stagger your entrances and exits simply add <code>pb-stagger</code> and a desired animation class on the element that has the <code>ng-repeat</code> attribute on it.</p>
    </div>

    <div class="col-xs-6">
      <h5>Staggered Fade In & Out, ng-repeat</h5>

      <div class="form-group">
        <p class="help-text">This example uses <code>pb-fade</code> and <code>pb-stagger</code> on the repeated <code>li</code> element.</p>
        <!-- <button class="btn btn-default" ng-click="vm.setRepeat = !vm.setRepeat">Stagger In & Out</button> -->
        <div class="form-group">
          <input class="form-control" type="text" ng-model="vm.filter" placeholder="Filter for animations">
        </div>
      </div>
      <ul>
        <li class="pb-fade pb-stagger" ng-repeat="candy in vm.candies | filter:vm.filter as results">{{candy}}</li>
      </ul>

    </div>
    <div class="col-xs-6">
      <h5>Staggered Slide In Right & Fade Out, ng-repeat</h5>

      <div class="form-group">
        <p class="help-text">This example uses <code>pb-fadeOut</code>, <code>pb-slideUp</code> and <code>pb-stagger</code> on the repeated <code>li</code> element.</p>
        <!-- <button class="btn btn-default" ng-click="vm.setRepeat = !vm.setRepeat">Stagger In & Out</button> -->
        <div class="form-group">
          <input class="form-control" type="text" ng-model="vm.filter2" placeholder="Filter for animations">
        </div>
      </div>
      <ul>
        <li class="pb-fadeOut pb-fadeInUp pb-stagger" ng-repeat="candy2 in vm.candies | filter:vm.filter2 as results">{{candy2}}</li>
      </ul>
    </div>
  </div>



  <div class="row">
    <div class="col-xs-12">
      <h4>Manual Stagger</h4>
      <h5>Stagger entrances and exits without ng-repeat</h5>
      <p class="help-text">In order to set an animation delay in increments wrap the children you want effected in a <code>div</code> or <code>span</code> with one of our stagger classes. You can manually stagger <code>div</code>, <code>li</code>, <code>span</code>, and <code>button</code> elements.</p>
      <p class="help-text">The stagger animations come in three different flavors. Forwards, backwards, and bidirectional.</p>
      <ul>
        <li><code>forwardStagger</code>: Forward stagger will always animate from left to right or top to bottom, regardless of whether you are animating in or out.</li>
        <li><code>backwardStagger</code>: Backward stagger will always animate from right to left or bottom to top, regardless of whether you are animating in or out.</li>
        <li><code>bidirectionalStagger</code>: Bidrectional stagger will animate from left to right or top to bottom when animating in, and right to left or bottom to top when animating out.</li>
      </ul>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-12">
      <h4>Stagger Forwards</h4>
    </div>

    <div class="col-xs-4">
      <h5>Staggered Fade In & Out</h5>

      <div class="form-group">
        <p class="help-text">This example uses <code>pb-fade</code> on the staggered elements.</p>
        <button class="btn btn-default" ng-click="vm.setStagger = !vm.setStagger">Stagger In & Out</button>
      </div>
      <div class="pb-forwardStagger-4">
        <button ng-show="vm.setStagger" class="btn btn-default pb-fade">
          <i class="fa fa-trash"></i>
        </button>
        <button ng-show="vm.setStagger" class="btn btn-default pb-fade">
          <i class="fa fa-beer"></i>
        </button>
        <button ng-show="vm.setStagger" class="btn btn-default pb-fade">
          <i class="fa fa-pencil"></i>
        </button>
        <button ng-show="vm.setStagger" class="btn btn-default pb-fade">
          <i class="fa fa-twitter"></i>
        </button>
      </div>
    </div>

    <div class="col-xs-4">
      <h5>Staggered Fade In</h5>

      <div class="form-group">
        <p class="help-text">This example uses <code>pb-fadeIn</code>  on the staggered elements.</p>
        <button class="btn btn-default" ng-click="vm.setStaggerIn = !vm.setStaggerIn">Stagger In</button>
      </div>

      <button class="btn btn-default pb-fadeIn">
        <i class="fa fa-trash"></i>
      </button>
      <span class="pb-forwardStagger-3">
        <button ng-show="vm.setStaggerIn" class="btn btn-default pb-fadeIn">
          <i class="fa fa-beer"></i>
        </button>
        <button ng-show="vm.setStaggerIn" class="btn btn-default pb-fadeIn">
          <i class="fa fa-pencil"></i>
        </button>
        <button ng-show="vm.setStaggerIn" class="btn btn-default pb-fadeIn">
          <i class="fa fa-twitter"></i>
        </button>
      </span>
    </div>

    <div class="col-xs-4">
      <h5>Staggered Fade Out</h5>

      <div class="form-group">
        <p class="help-text">This example uses <code>pb-fadeOut</code>  on the staggered elements.</p>
        <button class="btn btn-default" ng-click="vm.setStaggerOut = !vm.setStaggerOut">Stagger Out</button>
      </div>

      <button class="btn btn-default">
        <i class="fa fa-trash"></i>
      </button>
      <span class="pb-forwardStagger-3">
        <button ng-hide="vm.setStaggerOut" class="btn btn-default pb-fadeOut">
          <i class="fa fa-beer"></i>
        </button>
        <button ng-hide="vm.setStaggerOut" class="btn btn-default pb-fadeOut">
          <i class="fa fa-pencil"></i>
        </button>
        <button ng-hide="vm.setStaggerOut" class="btn btn-default pb-fadeOut">
          <i class="fa fa-twitter"></i>
        </button>
      </span>
    </div>

    <hr>

    <div class="col-xs-12">
      <h4>Stagger Backwards</h4>
    </div>

    <div class="col-xs-4">
      <h5>Staggered Fade In & Out</h5>

      <div class="form-group">
        <p class="help-text">This example uses <code>pb-fade</code> on the staggered elements.</p>
        <button class="btn btn-default" ng-click="vm.setBackward = !vm.setBackward">Stagger In & Out</button>
      </div>
      <div class="pb-backwardStagger-4">
        <button ng-show="vm.setBackward" class="btn btn-default pb-fade">
          <i class="fa fa-trash"></i>
        </button>
        <button ng-show="vm.setBackward" class="btn btn-default pb-fade">
          <i class="fa fa-beer"></i>
        </button>
        <button ng-show="vm.setBackward" class="btn btn-default pb-fade">
          <i class="fa fa-pencil"></i>
        </button>
        <button ng-show="vm.setBackward" class="btn btn-default pb-fade">
          <i class="fa fa-twitter"></i>
        </button>
      </div>

    </div>

    <div class="col-xs-4">
      <h5>Staggered Fade In</h5>

      <div class="form-group">
        <p class="help-text">This example uses <code>pb-fadeIn</code>  on the staggered elements.</p>
        <button class="btn btn-default" ng-click="vm.setStaggerInReverse = !vm.setStaggerInReverse">Stagger In</button>
      </div>

      <button class="btn btn-default pb-fadeIn">
        <i class="fa fa-trash"></i>
      </button>
      <span class="pb-backwardStagger-3">
        <button ng-show="vm.setStaggerInReverse" class="btn btn-default pb-fadeIn">
          <i class="fa fa-beer"></i>
        </button>
        <button ng-show="vm.setStaggerInReverse" class="btn btn-default pb-fadeIn">
          <i class="fa fa-pencil"></i>
        </button>
        <button ng-show="vm.setStaggerInReverse" class="btn btn-default pb-fadeIn">
          <i class="fa fa-twitter"></i>
        </button>
      </span>
    </div>


    <div class="col-xs-4">

      <h5>Staggered Fade Out</h5>

      <div class="form-group">
        <p class="help-text">This example uses <code>pb-fadeOut</code>  on the staggered elements.</p>
        <button class="btn btn-default" ng-click="vm.setStaggerOutReverse = !vm.setStaggerOutReverse">Stagger Out</button>
      </div>

      <button class="btn btn-default">
        <i class="fa fa-trash"></i>
      </button>
      <span class="pb-backwardStagger-3">
        <button ng-hide="vm.setStaggerOutReverse" class="btn btn-default pb-fadeOut">
          <i class="fa fa-beer"></i>
        </button>
        <button ng-hide="vm.setStaggerOutReverse" class="btn btn-default pb-fadeOut">
          <i class="fa fa-pencil"></i>
        </button>
        <button ng-hide="vm.setStaggerOutReverse" class="btn btn-default pb-fadeOut">
          <i class="fa fa-twitter"></i>
        </button>
      </span>
    </div>


    <hr>

  <div class="col-xs-12">
    <h4>Stagger Bidirectional (forwards & backwards)</h4>
  </div>

  <div class="col-xs-4">
    <h5>Staggered Fade In & Out</h5>

    <div class="form-group">
      <p class="help-text">This example uses <code>pb-fade</code> on the staggered elements.</p>
      <button class="btn btn-default" ng-click="vm.setBoth = !vm.setBoth">Stagger In & Out</button>
    </div>
    <div class="pb-bidirectionalStagger-4">
      <button ng-show="vm.setBoth" class="btn btn-default pb-fade">
        <i class="fa fa-trash"></i>
      </button>
      <button ng-show="vm.setBoth" class="btn btn-default pb-fade">
        <i class="fa fa-beer"></i>
      </button>
      <button ng-show="vm.setBoth" class="btn btn-default pb-fade">
        <i class="fa fa-pencil"></i>
      </button>
      <button ng-show="vm.setBoth" class="btn btn-default pb-fade">
        <i class="fa fa-twitter"></i>
      </button>
    </div>

  </div>

  <div class="col-xs-4">
    <h5>Staggered Fade Up In & Fade Down Out</h5>

    <div class="form-group">
      <p class="help-text">This example uses <code>pb-fade</code> on the staggered elements.</p>
      <button class="btn btn-default" ng-click="vm.setBothSpecial = !vm.setBothSpecial">Stagger In & Out</button>
    </div>
    <div class="pb-bidirectionalStagger-4">
      <button ng-show="vm.setBothSpecial" class="btn btn-default pb-fadeOut pb-zoomIn">
        <i class="fa fa-trash"></i>
      </button>
      <button ng-show="vm.setBothSpecial" class="btn btn-default pb-fadeOut pb-zoomIn">
        <i class="fa fa-beer"></i>
      </button>
      <button ng-show="vm.setBothSpecial" class="btn btn-default pb-fadeOut pb-zoomIn">
        <i class="fa fa-pencil"></i>
      </button>
      <button ng-show="vm.setBothSpecial" class="btn btn-default pb-fadeOut pb-zoomIn">
        <i class="fa fa-twitter"></i>
      </button>
    </div>

  </div>

  <div class="col-xs-4">
    <h5>Staggered Fade Up In & Fade Down Out</h5>

    <div class="form-group">
      <p class="help-text">This example uses <code>pb-fade</code> on the staggered elements.</p>
      <button class="btn btn-default" ng-click="vm.setBothSpecial2 = !vm.setBothSpecial2">Stagger In & Out</button>
    </div>
    <div class="pb-bidirectionalStagger-4">
      <button ng-show="vm.setBothSpecial2" class="btn btn-default pb-fadeOut pb-bounceIn">
        <i class="fa fa-trash"></i>
      </button>
      <button ng-show="vm.setBothSpecial2" class="btn btn-default pb-fadeOut pb-bounceIn">
        <i class="fa fa-beer"></i>
      </button>
      <button ng-show="vm.setBothSpecial2" class="btn btn-default pb-fadeOut pb-bounceIn">
        <i class="fa fa-pencil"></i>
      </button>
      <button ng-show="vm.setBothSpecial2" class="btn btn-default pb-fadeOut pb-bounceIn">
        <i class="fa fa-twitter"></i>
      </button>
    </div>

  </div>


</div>
