<!-- flexbox footer -->
<div class="fb-footer">
  <!-- Copyright -->
  <div>
    <a href="http://www.pb.com"><i class="pb-footer-logo gradient"></i></a><span class="copyright">&copy; 2015 Pitney Bowes Inc. All rights reserved.</span>
  </div>
  
  <!-- Legal -->
  <div>
    <ul class="list-unstyled list-inline legal">
      <li><a href="" target="_blank">Terms &amp; Conditions</a></li>
      <li><a href="" target="_blank">Privacy Policy</a></li>
    </ul>
  </div>

  <!-- Social -->
  <div>
    <ul class="list-unstyled list-inline social">
      <li>
        <a target="_blank" class="fa-stack twitter" href="https://twitter.com/pitneybowes">
          <img src="assets/images/social-twitter.svg" alt="Twitter" />
        </a>
      </li>
      <li>
        <a target="_blank" class="fa-stack facebook" href="http://www.facebook.com/pitneybowes">
          <img src="assets/images/social-fb.svg" alt="Faceboook" />
        </a>
      </li>
      <li>
        <a target="_blank" class="fa-stack linkedin" href="http://www.linkedin.com/company/pitney-bowes">
          <img src="assets/images/social-linked.svg" alt="LinkedIn" />
        </a>
      </li>
      <li>
        <a target="_blank" class="fa-stack google-plus" href="http://www.youtube.com/user/PitneyBowesInc">
        <img src="assets/images/social-youtube.svg" alt="Youtube" />
        </a>
      </li>
    </ul>
  </div>
</div>
