<div class="footer-wrapper">
  <div  class="container">
  <div class="fb-footer">
    <!-- Copyright -->
    <div>
      <a href="http://www.pb.com"><i class="pb-footer-logo gradient"></i></a><span class="copyright">&copy; 2015 Pitney Bowes Inc. All rights reserved.</span>
    </div>

    <!-- Legal -->
    <div>
      <ul class="list-unstyled list-inline legal">
        <li><a href="" target="_blank">Terms &amp; Conditions</a></li>
        <li><a href="" target="_blank">Privacy Policy</a></li>
      </ul>
    </div>

    <!-- Social -->
    <div>
      <a href="mailto:designsystem@pb.com">Send us feedback</a>
    </div>
  </div></div>
  </div>
