
  <div class="navbar yamm navbar-default" role="navigation">
    <div class="container">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand brand-text" href="#/">Design System</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">

        <ul class="nav navbar-nav">
          <li class="divider-vertical"></li>
          <li>
            <a href="" ui-sref="principles.page">Principles</a>
          </li>
          <li class="dropdown yamm-fw">
            <a href="" class="dropdown-toggle" data-target="" data-toggle="dropdown">Web <i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu pb-animate-menu">
              <li>
                <div class="yamm-content container">
                  <div class="row">
                    <div class="col-xs-12">
                      <!-- this row is just so i can do the offset -->
                      <div class="row">
                      <div class="col-md-6  mega-offset">

                      <div class="row">
                        <div class="col-xs-4" ng-repeat="category in header.nav[1].Web[0].children[0].children">
                          <p class="section-head">{{category.label}}</p>

                          <ul class="list-unstyled menu-items">

                            <!-- if no sub items-->
                            <li ng-if="!item.children" ng-repeat="item in category.children">
                              <a href="" ui-sref="{{item.value}}">{{item.label}}</a>
                            </li>

                            <!-- if sub items -->
                            <span ng-if="item.children" ng-repeat="item in category.children">
                              <li ng-repeat="item in item.children">
                                <a href="" ui-sref="{{item.value}}" >{{item.label}}</a>
                              </li>
                            </span>
                          </ul>
                        </div>
                      </div>


                    </div>
                    </div>



                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li class="dropdown yamm-fw">
            <a href="" class="dropdown-toggle" data-target="" data-toggle="dropdown">Mobile <i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu pb-animate-menu">
              <li>
                <div class="yamm-content container">
                  <div class="row">
                    <div class="col-xs-12">
                      <!-- this row is just so i can do the offset -->
                      <div class="row">
                      <div class="col-md-6  mega-offset">

                      <div class="row">
                        <div class="col-xs-4" ng-repeat="category in header.nav[2].Mobile[0].children[0].children">
                          <p class="section-head">{{category.label}}</p>

                          <ul class="list-unstyled menu-items">

                            <!-- if no sub items-->
                            <li ng-if="!item.children" ng-repeat="item in category.children">
                              <a href="" ui-sref="{{item.value}}">{{item.label}}</a>
                            </li>

                            <!-- if sub items -->
                            <span ng-if="item.children" ng-repeat="item in category.children">
                              <li ng-repeat="item in item.children">
                                <a href="" ui-sref="{{item.value}}" >{{item.label}}</a>
                              </li>
                            </span>
                          </ul>
                        </div>
                      </div>


                    </div>
                    </div>



                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <a href="" ui-sref="globalization.page">Globalization</a>
          </li>

          <li class="dropdown">
             <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources  <i class="fa fa-angle-down"></i></a>
             <ul class="dropdown-menu pb-animate-menu">
               <li><a href="" ui-sref="resources.strategy">Strategy</a></li>
               <li><a href="" ui-sref="resources.tools">Tools</a></li>
             </ul>
         </li>
          <!-- end "real" menus -->

          <li class="dropdown hidden-sm">
             <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown  <i class="fa fa-angle-down"></i></a>
             <ul class="dropdown-menu">
               <li><a href="">Action</a></li>
               <li><a href="">Another action</a></li>
               <li><a href="">Something else here</a></li>
               <li><a href="">Yet another link</a></li>
             </ul>
         </li>

         <li class="dropdown hidden-sm">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown  <i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu">
              <li class="section-head">Section Header</li>
              <li><a href="">Action</a></li>
              <li><a href="">Another action</a></li>
              <li><a href="">Something else here</a></li>
              <li class="section-head">Section Header</li>
              <li><a href="">Action</a></li>
              <li><a href="">Another action</a></li>
              <li><a href="">Something else here</a></li>
            </ul>
        </li>







        </ul>


        <ul class="nav navbar-nav navbar-right">
          <!-- <li class="nav-link nav-link-first"><a href=""><i class="fa fa-lg fa-question"></i></a></li>
          <li class="nav-link"><a href=""><i class="fa fa-lg fa-cog"></i></a></li>
          <li class="divider-vertical"></li>

          <li>
            <a class="dropdown-toggle" data-toggle="dropdown">Arthur Walter</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="">My Account</a></li>
              <li><a ui-sref="dashboard" href="">Dashboard</a></li>
              <li><a ui-sref="settings" href="">Settings</a></li>
              <li class="divider"></li>
              <li><a href=""><i class="fa fa-sign-out fa-lg"></i>&nbsp;&nbsp;Sign Out</a></li>
            </ul>
          </li> -->
        </ul>

      </div> <!-- /.navbar-collapse -->

    </div>
  </div>
