// body is assigned class of 'signin' via router
//

.signin {
  background-color: #254d9d;
  @extend %gradient;

  // this is the outermost box.  holds the floating unit of the logo/box in one div and the footer in the second
  .signin-wrapper {
    //height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  // this holds the floating box of the logo/white box and keeps it vertical centered
  .signin-body-top {
    //flex-grow: 2; // this makes it take up all extra space and pushes footer to bottom
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 auto;
    @include breakpoint(screen-xs) {
      width: 90%;
    }
  }


  .signin-pb-logo {
    margin-bottom: 20px;
    display: block;
    height: 56px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOMAAAA4CAMAAAA4qb+SAAADAFBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8HPQsIAAAA/3RSTlMAAQIDBAUGBwgJCgsMDQ4PEBESExQVFhcYGRobHB0eHyAhIiMkJSYnKCkqKywtLi8wMTIzNDU2Nzg5Ojs8PT4/QEFCQ0RFRkdISUpLTE1OT1BRUlNUVVZXWFlaW1xdXl9gYWJjZGVmZ2hpamtsbW5vcHFyc3R1dnd4eXp7fH1+f4CBgoOEhYaHiImKi4yNjo+QkZKTlJWWl5iZmpucnZ6foKGio6SlpqeoqaqrrK2ur7CxsrO0tba3uLm6u7y9vr/AwcLDxMXGx8jJysvMzc7P0NHS09TV1tfY2drb3N3e3+Dh4uPk5ebn6Onq6+zt7u/w8fLz9PX29/j5+vv8/f7rCNk1AAAN20lEQVR4Ad3ZeVhUhd7A8e85wwwzDLKAiCyguICAiyi5iAqCgqIo4oKiggIKuIMECiqGAmq56zUXzXvNxauZmabZLerWfeveltDeUqu3fV8szQUV/b13zgyP8EjL81g+4efvOTN8OXN+53eAe4Cjp19Lfy8XO+5NhpCkWcVFeTNycqbOmDUlsbML95rQnLI5g4OcVTT2zbskTkkNN3IP6btkQV9H6lP84jNiHLlHdKwoaKNVRQw1Ej0rOy2xu58ewNQzrYeOe4BpxrL2AM1peUFGExzdLz55WvGCjK5GwBiV7EWj12pNigK62A2lupCrkoWV4hGRXZjgCniN6kwj13NjJyBi6+oIPSHVMhlTs6ZNdFh4DJsTZw/6/n1VGrP+az3B+YEdEYC1Mfvx3dtXFyS2NQAuSVNbAfdF62i8olY7Q4e9M+3B6G1tbBnRq//Y/NVblgxxB9pk9wE69VNprDpucIN+hyKB6L2P6NpZGq2MgSnLlw82g3l0vArhvWmkPDa2gNiDwdBs6X8eCrWeR+eg1t5mAKe4srntQB1kiezfgUZJWRwJPQ61hc5HjvYDa2PO4T3bV+XF+wLuE5ZEKiiD4sAwshl/FEPx+lj+IAl54Pd4GPT51wZPahs7pIzNnLtq6+rJbUDpvXCgii65J3iN1NEgt/Fh3BmHj2URfwy3Nc7oN42EHq+UGWHQYGujxqXL5IeWj2gCoYVxCo7Z/hDdlYaoB+S71nfYeEaK+WNkD4W0B6FV5YMGTHkv/kUXXC0Zji1DAz0UoFXmsuk+EDo/AgKz9DikmmiA7nURS719eHfXP12jx3/Lmv/dG+OOPU6Yl7xU7ms5j6ff/an68jevVHQFXZ8Fuf7Q94FWMDoKevemIb12zdQBARdl6J+uccIwKMiCjP8JRr/gxXwjhF6TWtV7giEkf5YXukl59rjnOWKepOfnBVz68zUaljrjucsVn+ezYcKL8w2Az7c33lybM27Skmcvi3wzDkLmZzngWRENIwdAQii1UKgPz4sSCz//AuUXG+c29AqF30D5hSPCciFtDuQecSH4qU3OWHTqpkfTcVuN1EyHfksHw7DFjvjk6wlIRtO+8OBrVc+vj1OxGFAxTSW+bO012VtaurgV4J+4eN+/qt54ssAHqyZpu1+tem5ZGNCkqCwZm4iyUi9b48bp+1+t+ufDCXpsfPOeeOPNZ5beBzC2fLqKxYSyIics+pVP0wHNZz3+RtWxopZo/IuOVb15uCjkVmhmb3R/CcHt+ETUsqe7oPRuhUXLmOTBwUDSt3J9BPqcMh+aroyEme2wm2wCWu6oFquj2hEr5D07tonNIOx3nxObT6KxuO910VyaB3YvyJeuaJQT8kETW2Ot50LQTPpCNFfXmKBUrmkZzl+KxGFxRPYDSR+L5qvRAFGfieZiCDbqQndabdQx5B/edHy6CHo/tsyAbtxzP4rI5ReGQ99z8rkfwavGwOS5KrHJMDoQjK/LxV1p0TFTK0Xe9gEq5JQdcSUrr8muBQsXBuD4lXz56JyRQ9J3X5dPPIGQL+S92RE9xleKZMBokZFo2l2SQmyN324eFxOTdULkgzYAE2/IRwtiY3JPiWxRuO+69ZComyIrAVw/kxQYUi0vT+oRkfO2XO4NTu/IuxPDuw5d9VFPbJoWKyTmwdJVkHusI44r941VjH+VWivtmCiyHt3sCle6PuxFiwKVXrFg/lRKsNAV3JCdiq0Rml+0/Y4dP5Z8NHk3JQt0T8kpXwD7Q/KhK07/J4+hKZYfA2obF2GhzKyRJ1QI+E5e89dinhRJwHRa1gOUySU5adBiz/vj+r4cMgM0PyUnVCLkRiQWHs7YdMyCgjjMB8biuGOtnuh9y820q5GfNg3uErXkG5Ey1GfknD/RW7rjurEP9iUutJoA5o8kF6udciXY1mi7d9gaZ6MxfyBboXvNjXg0XaplCJTLD/5a8knZS21jEVab5HpXKJXL3dD4fCVHFB6WKgPoXpEV313rBJRIpUK6/NgazXi5HEisXO9AfQMSUZa1o83xzoQcSUcp3Jug7XLzsAh5S671YuhNycZvYypq2UQoCMIlR2ucg1WP65LVYGMuVsflcSiRs9iclvkQelmmA0TduDnwtntHp6syB7tX5RlsNso3zUiSK0EQePlS2xckF5TnpAgekyew8rZ8dMAFeT6Eekb1wbDGnYjDXsQe7YvLus0ttMZ0NOE/yU5cPpM9mJYWq8wuhqkR2E831DbaLotVv9io/Rj75ezUaVYfyFpQnpKXdNope8t4W6Pj+7IZz+9kETbjpSYcr+8kDSbLSzwgJxS8z9V0x/4tqbS979wLkgmLRc7vTXLmltQwnFeYSdhjJuVgO1pvrXCgzr7KfvnIkWfkdVUpfsiBiQ+qpA1CneFYt9HhHdny643PSx3rgdFytTO4fy6F3Naoq5JdlmGUhU1/kWg4Jo/AAVlA35s/+JIgZx1w/UTqyARd/pcicmaWPbXSQ2m61MioHQbS9/nTcVuRXb3GfLkQwE5510z+RmfGbtAzdjjMcq7b6PShrP4tjadX11oXD5apswTGyY8tb280nZGtlsYp2AzQGnPltMHli5puNPlQklkpm8H1U/nn6lprOwP4TX+2WuTvJmwmhuBeYWTEVgOTdvnTYXOhrqHG98wUbnYmZaOelBGQW68x8LLM+vXGg3KY+srltImnZC+3N/qfl2K8z0kJNqlyvQt0vnYtKEreMcFf5RHlVRkBpneklNuEHxaZhE1KJ5pUmBm03cyoXYEErCsxNfRdfUNVSjc4MHmdSmYCal697+oMudH91xvL5VNn6gm9fDPK/+LNuAYaJ4n0w3BKnsZms3zuiuXiSy2VdUCKnA279IM3cEQquZ3xpOzEZlhP9OVudNvpSdSunjiVPehbt7Grbebsw+EvFSpF5ZAfhTHfvk6j1/vysqFuY0IDjdqdeyr1KEdlXa6cMt7e6P62nDTBWrkcjsbva9kNsFYO/lvigRbnr26X4wowQ6r7crvHZS82fQdCURta7gyh7fZklOw10XUaQ/7Xdu+YSsCB6agbZ8CS9rgVKJbGGVgE/VOux0Fto88FyWiwUV8p54Zi5WrGYpR8/YEUUqexAIvWJ+TmcKDzFfmPP4DbUbnaC2CIVNd84Q4olXJd8gA8P5WzXbBqZsDZBQs/y4pi024sTOmLw/ohOFQU29F9RZ7J2mjq2K/MtgNYxkLCsWg8nojDuM6doGlYGivHRUeP3/q93JhDbaN2fZwaEjE8VTHXb4SOX0rNoewBkfHTdnzcG6xTx/LWtRzOykup0f3GbvxGZD4W80U+nD8gZvZbYruLNP1KZJ9tO5JrYVgMvyoXdqTGRA3Nf+yMF5HvLk/s0TPzLfkxCBvXbIWYiTC7AMZtaIspr3yAtXF5za1dbhN2y/d4EPm0P4ErVQaM0BptTg2ndie3Xp0WZzB/KwVYHbVeV11fFJurYWgWi+yhlmVXs3lnDBq1+Lxozs9T0RwRScOim8hZezQJZ8TmI3fCrovm6xHUUrOd8Z2no/cGD9qsSYNOS7KVYEvjNstOngiR5+SrloQfy4MHHlZJng5TO2mNLx+vqnp2faIjt56tADXt6ZOv7U/FMKe8F1ZjKlKwsE/YUFl18l+789sraPrcvDVxQOmc97eXTlY9uyHJiVrBC596s+p4STA2kWWLmmFhvL98JDauE7b/97gXtme1AKXLkuNVJ48vaM0tiZ1R7w/AaUU8aubyQJQOXtbz2HxUgu3ZqmYMhoeebIv3iSRY2RV9qaPWOBNVoSEqP09RuWWRdh+oq4G3VBR+A1Vp8DM0gckQlwwjyxzxWzzTDHXnatgjNXIjD1Iqc2DGky602WKgfR62ffUOOZyWUu4C/WQzroWOuC+Nh8jyUXa1jd4pU5a9UC3yfTr0sfyBIKByAhSkQU7E79Q4UK504G6I6QlJAyGmwg9dUskQg61xu1hcO9gRIg4dCEK3eq8Zn0ddcV5m/zs1Pir/ULkbnCfZ4TLHDX3ODBP2I0rGudvm6rXqc6+v7Al2I4881gUmvhwOD6TBmDH8Po0+30s6d0dsOPQdCx6FyXbo48umqdpcNYW197IDQhc/ty0E4v6TBr13GHFe6aQ1ao/5d2S6fO3J3WFONaFLC4eAgmF66NKtzsxxi5h/+Ngcd4h9uVDFfV8Y5CRajzpzZRZ3xO4fVzZxt4TFgVu2H7TOH+8MWBtDx6TkLP7bsUOLOoM6/t9z7dBvSIOQ5XZYqAFBrtwRXZsgZ+4WZWhbaJHpAb6z7m9f25h+YO+jWxaNbgX4Ln8lQ0FdvBAc1rSlUXIc7QqBaZ7QZMzSjBbWRqdA2/9Y3SeeOBgBdqUVdlA0nEbKa7gJWmcEAu0L8i273BSsHDrlHjmR4wJua0vsIHM2jVarwUbwyuhvBwZ3gkQyaBERMXDS4j3P7E73AnrsyQTGLdTReLUe7AimxKwgAEPJw76k79+za+uS8R3sAc+iv3UDMkoMNGb+Sd5AYHZmiIrG6NHUSYeF74xd2Q5gmpero3FzT7pPATVs6pyhrY3UUr3jy7blNAdCVo2k0dNHjfQB8B+WPz93wtD+kdFDU+eu3DCvnxlwnLwihHuB3+hhXli4hQ4Yk5GdnTG6T4ABoEnSqmQ994jgcWM6mqhPCcxYNtGNe0iLhMkpfVo2qR08vr3SFxXFmrnH6ANixk+dnpOVlTPz/qL81F7u3KPMHr4t/L1d7fgZ/w8ZWmjTJ5xBpwAAAABJRU5ErkJggg==);
    @include breakpoint(screen-xs) {
        margin-top: 30px;
        margin-bottom: 20px;
        height: 50px;
    }
  }

  // white box
  .signin-box {
    background-color: #fff;
    padding: 40px;
    .signin-heading {
      color: $pb-gray-500;
      margin: 0;
      text-align: center;
      sup {
        font-size: .65em;
      }
    }

    .signin-subheading {
      color: $pb-gray-500;
      margin-top: 5px;
      font-weight: normal;
      text-align: center;
    }
    @include breakpoint(screen-xs) {
      padding: 20px 30px;
      .signin-heading {
        font-size: 26px;
      }
    }

  }



  .signin-footer {
    color: #fff;
    line-height: 1.5em;
    text-align: center;
    opacity: .6;
    font-weight: normal;
    font-size: 11px;
    margin: 30px 0;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    a {
      color: inherit;
    }
    > div {
      flex-direction: row;
    }

    @include breakpoint(screen-xs) {
      flex-direction: column;
      align-items: center;
      margin: 40px 20px 0;
      padding: 0;
      > div {
        margin-bottom: 10px;
      }
      a {
        text-decoration: underline;
      }
    }
    @include breakpoint(screen-sm) {
      flex-direction: column;
      align-items: center;
      width: 400px;
      margin: 40px 20px 0;

      > div {
        margin-bottom: 10px;
      }
      a {
        text-decoration: underline;
      }
    }
    @include breakpoint(screen-md) {
      flex-direction: column;
      align-items: center;
      width: 400px;

      > div {
        margin-right: 10px;
        &.copyright {
          margin-right: 0;
        }
      }
      a {
        text-decoration: underline;
      }
    }
    @include breakpoint(screen-lg) {
      flex-direction: row;
      align-items: baseline;
      width: auto;
      > div {
        white-space: nowrap;
      }
    }
  }
}

//should move this to the alert sass, should be globally available
.alert-flex {
  display: flex;

  div {
    align-self: center;
  }

  div:last-child {
    flex: 1 0;
    flex-wrap: wrap;
  }

  .alert-flex-icon {
    align-self: center;
    margin-right: 10px;
  }
}
