// scss-lint:disable VendorPrefix

// styles for landingpages

// first, the styles common across all of them>

.landing {
  .bg {
    //width: 100vw;
    height: 100vh;
    background-color: #254d9d;
    @extend %gradient;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bg-h {
    flex-direction: row;
    align-items: center;
  }

  .arrow-btn {
    color: #fff;
    &:hover {
      color: darken(#fff, 10%);
    }
  }



  header {
    border-bottom: solid 1px rgba(255, 255, 255, .15);
  }


  .main-block {
    max-width: 600px;
  }

  .footer-wrapper, footer {
    margin-top: 0;
  }


  // some have specialized backgrounds
  &.landing-bgimage {
    background-image: linear-gradient(90deg, hsla(228, 44%, 44%, .9) 0%, hsla(321, 91%, 42%, .9) 100%), url('../images/bg-imageDemo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }


  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  strong,
  em,
  label,
  .fa
  .nc-icon-mini,
  .nc-icon-outline
   {
    color: #fff;
  }

  .mock-slider {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    width: 90%;
    .mock-slider-images {
      display: flex;
      width: 90%;
      justify-content: space-between;
      align-items: center;
    }
  }





// the "3 column" page

.mid-block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 90%;

  div {
    text-align: center;
    line-height: 1.5;
    width: 25%;
    padding: 0 30px;
    color: #fff;
    h3 {
      color: #fff;
    }
  }
}

  .btn-circle {
    font-family: $font-family-ps-regular;
    font-size: 18px;
    border: solid 1px #fff;
    border-radius: 100%;
    color: #fff;
    min-width: 47px;
    line-height: 47px;
    padding: 0;
  }




  // the "form" page

  .form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form.side-by-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  padding-top: 50px;
    width: 750px;
    margin: auto;
    .form-group {
      width: 45%;
    }
  }

  input {
    // scss-lint:disable VendorPrefixes
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .8);
    &:focus {
      border-color: rgba(255, 255, 255, 1);
      background-color: rgba(255, 255, 255, .18);
    }
    &::-webkit-input-placeholder {
      color: #fff;
    }
    &:-moz-placeholder {
      //* Firefox 18- */
      color: #fff;
    }
    &::-moz-placeholder {
      //* Firefox 19+ */
      color: #fff;
    }
    &:-ms-input-placeholder {
      color: #fff;
    }
  }

// one with 4 columns of navigation
  .hero {
    background-image: linear-gradient(90deg, $pb-blue 0%, $pb-magenta 100%);
    height: 40vh;
    margin-top: 50px;
  }

  h3 {
    color: $header-color;
  }






}
