<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <h1 class="main-title">Globalization</h1>
    </div>
  </div>

  <div class="row spacer-top-lg">
    <div class="col-md-2">
      <div class="list-group">
        <a class="list-group-item" href="" ui-sref-active="active" ui-sref="globalization.overview">Overview</a>
        <a class="list-group-item" href="" ui-sref-active="active" ui-sref="globalization.pseudo">Pseudo localization</a>
        <a class="list-group-item" href="" ui-sref-active="active" ui-sref="globalization.preferences">User preferences &amp; language settings</a>
        <a class="list-group-item" href="" ui-sref-active="active" ui-sref="globalization.strings">How to write localization-friendly strings</a>
        <a class="list-group-item" href="" ui-sref-active="active" ui-sref="globalization.ui">User Interface Considerations</a>
        <a class="list-group-item" href="" ui-sref-active="active" ui-sref="globalization.graphics">Multi-Cultural Artwork: graphic elements</a>
        <a class="list-group-item" href="" ui-sref-active="active" ui-sref="globalization.bidirectional">Bidirectional Awareness</a>
        <a class="list-group-item" href="" ui-sref-active="active" ui-sref="globalization.angulartranslate">Angular Translate</a>
      </div>
    </div>

    <div class="col-md-10">
      <div ui-view=""></div>
  </div>

</div>

</div>
