<div class="row">
  <div class="col-md-8">
    <h2>User preferences &amp; language settings</h2>

    <h3>General considerations</h3>
    <p>Each user must be able to choose a number of settings: time zone, location (to control date and time formats, number format, calendar, etc.), language (display language) and currency. If your product features an auto-detect mechanism to define default settings, that is great; but technology can't read the mind or needs of the user, so always allow users to set the value they want.
    </p>

    <img alt="" class="img-responsive figure" src="modules/globalization/assets/images/forcecom.png">

    <h3>Language Selection</h3>

    <p>
      Give the users the ability to choose their display language and location preference via Locale settings. There are some cases where a user needs to select a specific display language that no automatic setting can guess for him. A user must be able to easily change that setting based on their own preference.

    </p>

    <h3>Date</h3>
    <p>
      Date formats differ a great deal across countries. Never hard code the display of dates. Depending in which country the user lives, the short date “07/04/01” has very different meanings:
    </p>

    <img alt="" class="img-responsive figure" src="modules/globalization/assets/images/date1.jpg">

    <p>
      Your product should support all required date formats around the world and behave appropriately.
    </p>

    <img alt="" class="img-responsive figure" src="modules/globalization/assets/images/date2.jpg">

    <h3>Time</h3>
    <p>
      There are different time formats around the world. Users expect to see the time in their own format. Your software should support all required time formats and behave appropriately.
    </p>
    <img alt="" class="img-responsive figure" src="modules/globalization/assets/images/time.png">

    <h3>Currency</h3>

    <p>
      Users need to see the currency in their own format. The program must support and display all required currency formats around the world.
    </p>
    <p>
      The Currency symbol can be a pre-defined symbol, like the European Euro '€' or US '$’ ', or a combination of letters like 'GBP' for British Pound, or 'USD' for the US Dollar.
    </p>

    <img alt="" class="img-responsive figure" src="modules/globalization/assets/images/currency.png">

    <h3>Number Formatting</h3>

    <p>
      There are different number formats around the world. Users expect to see numbers in their own format. The program must support all required number formats and behave appropriately. If your program uses hard coded US-style number formatting, this can be extremely problematic: for instance, $1,250 can be interpreted as “a Dollar and twenty five cents” by a European audience.
    </p>

    <img alt="" class="img-responsive figure" src="modules/globalization/assets/images/numbers.png">


    <h3>Calendar Differences</h3>

    <p>
      Some countries use calendars other than Gregorian calendar. The program must support all required calendar formats around the world.
    </p>

    <img alt="" class="img-responsive figure" src="modules/globalization/assets/images/calendar.png">

    <h3>Imperial vs. Metric Systems</h3>
<p>Bear in mind that most of the world does not use, or even understand, the Imperial system, but the Metric system. As of today, the only countries still enforcing the Imperial system are Myanmar, the US and Liberia. 95% of the world population adheres to metric units. </p>
<p>If you are developing a product that will display, or use, any measurement units (size, weight, etc.) always consider a mechanism to switch between systems, or simply offer this as an option in the user preferences. Usability of your product is at stake. Being forced to use the imperial system can, and will be, a show-stopper metric system users.</p>





  </div>
</div>
