<div class="container">

  <div id="menu" class="row">
    <div class="col-md-8">
      <h1 id="menu" class="doc-head">Language Selection</h1>
      <p class="lede">
        For products with a presence in multiple countries, we let users customize language and country settings. Specific factors determine how to combine (and order) the menus for selecting language and country options.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Multiple Selectors</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3>When to Use</h3>
      <p>There are two scenarios in which to use multiple selectors.</p>
      <p>
        <strong>A language varies by country.</strong>
        Certain languages can have significant differences in vocabulary and grammar according to country. As a result, it’s not enough to offer the user a language alone; we also need to let the user specify the country variant of that language. Here are some examples:</p>
      <ul>
        <li>English varies across the United States, Great Britain and Australasian countries</li>
        <li>French varies across France, other European countries (such as Belgium and Switzerland), Canada, Africa, Asia and the Caribbean</li>
        <li>Portuguese varies across Portugal, Brazil and Africa</li>
        <li>Spanish varies across Spain, South America and, Central America
        </li>
      </ul>

      <p>
        <strong>A country has multiple languages.</strong>
        Many countries use multiple languages. In this case, we need to offer users a means to specify not only where they’re located but also which language they speak in that location. Here are some examples:</p>
      <ul>
        <li>United States residents typically speak American English or Mexican Spanish</li>
        <li>Canada residents typically speak English or Canadian French</li>
        <li>Switzerland residents typically speak French, Italian, Swiss Standard German or one of a number of Swiss-German dialects</li>
        <li>Belgium residents typically speak French, German or Dutch (often referred to as “Flemish”)</li>
      </ul>

      <h3>How to Order</h3>
      <p>
        <strong>Country first, language second. </strong> Use this order if your product has been tailored to meet local requirements. For example, a shipping-related product will include country-specific carriers. Ordering the menus in this way helps clarify to users that the product will include inputs and options specific to their location (such as “states” in the US vs. “provinces” in Canada, inclusion of country-specific carriers, etc).
</p>

      <p>
        <strong>Language first, country second.</strong> Use this order in the vast majority of cases. This allows you to simplify your menus by letting users identify their language, followed by the country version of that language (for example: the language is French, the country is Canada, meaning the user speaks Canadian French).
</p>

    </div>
    <div class="col-md-4 col-md-offset-1 spacer-top-xl">
      <figure>
        <figcaption>Multiple Menus (<a ui-sref="globalization.page({'#':'angularjs-translation'})">see below</a> for working sample)</figcaption>
        <img src="modules/globalization/assets/images/language-menus.png" alt="language menus">
      </figure>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Single Selector</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p>
        <strong>Country only.
        </strong>Show only the country selector when your product appears in a country in which only one language option is offered. For example, a product aimed at residents of Germany is likely to only appear in German.</p>

      <p>
        <strong>Language only.
        </strong>Show only the language selector when your product has been translated into multiple languages but has not been tailored to a particular country.</p>

    </div>
  </div>

</div>
