<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <div class="main-header"><h1>Globalization</h1></div>
    </div>
  </div>

  <div class="row spacer-top-lg">
    <div class="col-md-2">
      <div class="list-group">
        <a class="list-group-item" href="" ui-sref-active="active" ui-sref="globalization.overview">Overview &amp; Process</a>
        <a class="list-group-item" href="" ui-sref-active="active" ui-sref="globalization.about">About Globalization</a>
        <a class="list-group-item" href="" ui-sref-active="active" ui-sref="globalization.reference">Quick Reference</a>
        <a class="list-group-item" href="" ui-sref-active="active" ui-sref="globalization.angulartranslate">Angular Translation</a>
      </div>
    </div>

    <div class="col-md-10">
      <div ui-view=""></div>
  </div>

</div>

</div>
