<div class="row">
  <div class="col-md-8">
    <h2>Bidirectional Awareness </h2>

    <p>
      'Bidirectional', or 'bidi', text typically refers to text written using a mixture of right-to-left and left-to-right scripts. For example, in Arabic and Hebrew text the content flows predominantly from right to left, but embedded numbers or text in other scripts (such as Latin script) still runs left to right. Text in other languages, such as English, can also be bidirectional if it includes excerpts from languages such as Arabic and Hebrew. Scripts such as Arabic and Hebrew, which are predominantly right-to-left in orientation, may be referred to as 'RTL' (right-to-left) scripts.
    </p>

    <p><b>Examples:</b></p>

    <p>Arabic displayed from right to left.<br>
    <img alt="" class="img-responsive figure" src="modules/globalization/assets/images/arabic1.png"></p>

    <p>Arabic displayed from right to left and Latin text (numbers) displayed left-to-right.<br>
    <img alt="" class="img-responsive figure" src="modules/globalization/assets/images/arabic2.png"></p>

    <p>The W3 has an excellent <a href="http://www.w3.org/TR/i18n-html-tech-bidi/">article</a> about dealing with bidirectional languages. Some highlights are: </p>
    <ul>
      <li>Use text-align carefully - only where you specifically want to override default alignment</li>
      <li>Don't use CSS styling for direction in HTML.</li>
      <li>Use bidirectional markup only when necessary.</li>
    </ul>



  </div>
</div>
