<div class="row">
  <div class="col-md-8">
    <h2>Pseudo localization</h2>


<p>When you write your first piece of UI or help, have the Globalization team run pseudo-localization. We can tell you right away what works and what does not.</p>
<p>Pseudo-localization consists in creating fake translations, generating target localized files and importing them into the build. Using language-specific characters (é, õ, ù, å, ß, 送, س,…) and expanding string lengths, we can assess in if all strings have been externalized and if your target languages display correctly. Here is below an example of a pseudo-localized resource file.</p>

<img src="modules/globalization/assets/images/pseudo1.png" alt="" class="img-responsive figure">

<p>Once a pseudo-localized build is setup, the globalization team can help your QA testers assess if something is missing. In the examples below, highlighted items show are still hard coded (since you can’t see them as pseudo-localized, they have not been properly prepared). </p>

<img src="modules/globalization/assets/images/pseudo2.png" alt="" class="img-responsive figure">


<p>These strings need to be externalized from the code and placed into a translatable file by developers. </p>

<img src="modules/globalization/assets/images/pseudo3.png" alt="" class="img-responsive figure">


<p>Pseudo-localization is a very important step that is carried out as part of the internationalization phase. Please ensure you add it as a task to your backlog, and assign it to the Globalization team early in the development phase.</p>






  </div>
</div>
