<div class="onboarding" ng-init="onboardOpened = false" ng-class="{'opened':onboardOpened}">

    <section class="onboarding-stripe">
        <div class="container-fluid">
            <div class="row">
                <img class="col-xs-4 col-sm-1 col-sm-offset-1" src="modules/account/assets/images/account-dash-micro-2x.jpg"/>

                <div class="col-xs-8 col-sm-7">
                    <h2 class="text-white spacer-bottom-md">
                        <span class="hidden-xs">Tour the enhanced Pitney Bowes account experience.</span>
                        <span class="visible-xs">Start using your account now.</span>
                    </h2>

                    <ul class="list-unstyled list-inline">
                        <li>View account activity</li>
                        <li>Analyze spend &amp; usage</li>
                        <li>Monitor product activity</li>
                        <li>Find support &amp; report issues</li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-2">
                    <a class="btn btn-pill btn-primary visible-xs" ui-sref="register.step1">Sign Up</a>
                    <h2 tour-start class="text-white hidden-xs" ng-click="onboardOpened = !onboardOpened; select(slides[0]);">
                      <span ng-show="!onboardOpened">Take a Tour <i class="nc-icon-outline arrows-1_circle-up-39"></i></span>
                      <span ng-show="onboardOpened">Close Tour <i class="nc-icon-outline ui-1_circle-remove"></i></span>
                    </h2>
                </div>

            </div>
        </div>
    </section>

    <section class="onboarding__content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="spacer-bottom-md" role="listbox">
                        <div ng-init="pause()" class="carousel" ng-swipe-right="prev()" ng-swipe-left="next()" >

                            <div class="carousel-inner" ng-transclude></div>

                            <a role="button" href class="left carousel-control" ng-click="prev();" ng-show="carousel.getCurrentIndex() > 0">
                              <span aria-hidden="true" class="nc-icon-outline arrows-1_bold-left"></span>
                              <span class="sr-only">previous</span>
                            </a>
                            <a role="button" href class="right carousel-control" ng-click="next();" ng-show="carousel.getCurrentIndex() < 3">
                              <span aria-hidden="true" class="nc-icon-outline arrows-1_bold-right"></span>
                              <span class="sr-only">next</span>
                            </a>
                        </div>
                    </div>

                    <div class="text-center spacer-bottom-lg">
                        <a ui-sref="register.step1" class="btn btn-primary btn-pill">Sign Up Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
