<table class="table email-matrix">
<tbody>
  <tr>
    <td>Email Scenario</td>
    <td>Has Email, Registration Complete</td>
    <td>Has Email, Registration Complete (Detailed Steps)</td>
    <td>Has Email, Registration Complete (Marketing Bullets)</td>
    <td>Has Email, Registration Not Complete</td>
    <td>Has Email/Name Info, Invitation to Register (Admin)</td>
    <td>Has Email/Name Info, Invitation to Register (User)</td>
    <td>Password Reset Request</td>
    <td>Password Reset Confirmation</td>
  </tr>
  <tr>
    <td>Trigger for Email</td>
    <td>User has an email and password set up and is ready to sign in. Includes additional, step-based content.</td>
    <td>User has an email and password set up and is ready to sign in. Includes additional, bulleted marketing content.</td>
    <td>User has an email and password set up and is ready to sign in.</td>
    <td>User has an email but needs to take one or more additional steps to complete registration.</td>
    <td>Contract signer needs to register (system knows user's email and first/last name) plus invite other users.</td>
    <td>User has received an invitation to register (system knows user's email and first/last name), is not the contract signer.</td>
    <td>User has requested a password reset via &quot;Forgot your password?&quot; or similar means.</td>
    <td>System is letting user know that the password reset process was successful.</td>
  </tr>
  <tr>
    <td colspan="9">Specific Copy Elements (Examples)</td>
  </tr>
  <tr>
    <td>Subject Line</td>
    <td>Welcome! Get started with [[PRODUCT NAME]]</td>
    <td>You're ready to start using [[PRODUCT NAME]]</td>
    <td>Get started with [[PRODUCT NAME]] today</td>
    <td>Welcome! Register for [[PRODUCT NAME]]</td>
    <td>Welcome! Get started with [[PRODUCT NAME]]</td>
    <td>You're invited! Get started with [[PRODUCT NAME]]</td>
    <td>Let's reset your password for [[PRODUCT NAME]]</td>
    <td>Your password for [[PRODUCT NAME]] has been reset</td>
  </tr>
  <tr>
    <td colspan="9">Email Contents</td>
  </tr>
  <tr>
    <td>Headline</td>
    <td>Welcome! Let's get you started.</td>
    <td>Welcome! Let's get you started.</td>
    <td>Welcome! Let's get you started.</td>
    <td>Welcome! Let's get you registered.</td>
    <td>Welcome! Let's get you registered.</td>
    <td>Welcome! Let's get you registered.</td>
    <td>Let's reset your password.</td>
    <td>Your password has been reset.</td>
  </tr>
  <tr>
    <td>Salutation [optional]</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>Hi, [[FIRST NAME]],</td>
    <td>Hi, [[FIRST NAME]],</td>
  </tr>
  <tr>
    <td>Primary Message</td>
    <td>Your [[PRODUCT NAME]] registration is complete. All you need to do is sign in with your email address: [[EMAIL ADDRESS]]</td>
    <td>You're almost ready to start using [[PRODUCT NAME]]. You just need to complete your registration by signing in with your email address: [[EMAIL ADDRESS]]</td>
    <td>You're almost ready to start using [[PRODUCT NAME]]. You just need to complete your registration by signing in with your email address: [[EMAIL ADDRESS]]</td>
    <td>You're almost ready to start using [[PRODUCT NAME]]. You just need to complete your registration by signing in with your email address: [[EMAIL ADDRESS]]</td>
    <td>You're almost ready to start using [[PRODUCT NAME]].<br> <br> Complete your registration using this email address: [[EMAIL ADDRESS]]</td>
    <td>You've been invited to use [[PRODUCT NAME]]. Completing your registration takes just few minutes. <br> <br>Complete your registration using this email address: [[EMAIL ADDRESS]]</td>
    <td>We received a request to reset your password. So let's do that right now.</td>
    <td>We just wanted to let you know we've successfully reset your password. <br><br>If you requested this reset, you can ignore this email. However, if you didn't request a change to your password, please contact us just to make sure that your account is secure.<br> <br> Call us at [[PHONE NUMBER]], email us or visit our support area. Or you can chat with a representative M&#8209;F 8am-8pm ET.</td>

  </tr>
  <tr>
    <td>Secondary Message [optional]</td>
    <td>&nbsp;</td>
    <td><b>Header copy for step-based process.</b><br>
      Here's what you need to do next:<br>
      1. Description of first step for user to take.<br>
      2. Description of second step for user to take &ndash; this sentence is slightly
      longer to show a more detailed step.<br>
      3. Description of third step for user
      to take, with a little more copy to show length variation.<br>
      4. Description of fourth step, with an example of an inline link. <br>
      Summary copy with a call to action link.</td>
    <td><b>Header copy for marketing messaging.</b><br>
      [[PRODUCT NAME]] offers you these benefits:<br>
      &bull; Description of a key product feature or benefit (try to keep these concise).<br>
      &bull; Description of a key product feature or benefit (focus on benefits to the user).<br>
      &bull; Description of a key product feature or benefit, with an inline link (link to highly relevant content and keep additional links to a minimum).</td>
    <td>&nbsp;</td>
    <td>Will others need to use [[PRODUCT NAME]]?<br> They'll need their own usernames and passwords to complete installation and access training. Once you've completed your own registration, you can add additional users.</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>

  <tr>
    <td>Call to Action Button</td>
    <td>Sign In Now</td>
    <td>Sign In Now</td>
    <td>Sign In Now</td>
    <td>Complete Registration Now</td>
    <td>Complete Registration Now</td>
    <td>Complete Registration Now</td>
    <td>Reset Password Note</td>
    <td>&nbsp;</td>
  </tr>

  <tr>
    <td>Expiration Notice</td>
    <td>For security reasons, this link will expire on [[EXPIRATION DATE AND TIME]].</td>
    <td>For security reasons, this link will expire on [[EXPIRATION DATE AND TIME]].</td>
    <td>For security reasons, this link will expire on [[EXPIRATION DATE AND TIME]].</td>
    <td>For security reasons, this link will expire on [[EXPIRATION DATE AND TIME]].</td>
    <td>For security reasons, this link will expire on [[EXPIRATION DATE AND TIME]].</td>
    <td>For security reasons, this link will expire on [[EXPIRATION DATE AND TIME]].</td>
    <td>For security reasons, this link will expire on [[EXPIRATION DATE AND TIME]].</td>
    <td>For security reasons, this link will expire on [[EXPIRATION DATE AND TIME]].</td>

  </tr>
  <tr>
    <td colspan="9">Global/Generic Copy Elements (Examples)</td>
  </tr>
  <tr>
    <td>Support Contact (choose one)</td>
  </tr>
  <tr>
    <td>Phone Number Only</td>
    <td colspan="8">Need help? Call [[PHONE NUMBER]].</td>
  </tr>
  <tr>
    <td>Phone Number + Support Email</td>
    <td colspan="8">Need help? Call [[PHONE NUMBER]] or <a href="">email us</a>.</td>
  </tr>
  <tr>
    <td>Phone Number + Web Support Link</td>
    <td colspan="8">Need help? Call us at [[PHONE NUMBER]] or visit our <a href="">support</a> area.</td>
  </tr>
  <tr>
    <td>Chat</td>
    <td colspan="8">Need help? <a href="">Chat</a> with a representative M&#8209;F 8am-8pm ET.</td>
  </tr>
  <tr>
    <td>Unmonitored Account Message</td>
    <td colspan="8">This email is an auto-generated message from an unmonitored email account. To get in touch with Pitney Bowes, <a href="">email us</a>.</td>
  </tr>
  <tr>
    <td>Legal Notice</td>
    <td colspan="8">This message was
      distributed by Pitney Bowes Inc., World Headquarters, 3001 Summer St.,
      Stamford CT 06926. Pitney Bowes, the Corporate Logo, and [[PRODUCT NAME
      INCLUDING &reg; or &trade;]] are trademarks of Pitney Bowes Inc. or a subsidiary. All
      other marks are the intellectual property of their respective owners. Use of
      your email address is governed by the Pitney Bowes <a href="">Privacy Policy</a>.<br>
      <br>
      &copy; [[CURRENT YEAR]] Pitney Bowes Inc. All rights reserved.</td>
  </tr>
</tbody>
</table>
