<div class="container">
  <div class="main">
    <div class="icon">
      <img src="modules/errors/assets/images/icon-error-404-centered.png" alt="404">
    </div>
    <div>
      <h1>We've looked practically everywhere.</h1>
    </div>
    <div class="text-center">
      <div>
        <h2>We can't find that page.</h2>
      </div>

      <div class="spacer-top-xl">
        <form action="" class="search-field">
          <div class="input-group">

                <div class="input-group-addon">
                    <i class="fa fa-fw fa-search"></i>
                </div>

                <input class="form-control search" type="text" placeholder="Search" required="">
                <button class="btn btn-link search-clear" type="reset"><i class="fa fa-fw fa-times-circle"></i></button>
              </div>
        </form>

        <p>You can also try our <a href="">site map</a> or just go to <a href="http://www.pitneybowes.com">www.pitneybowes.com</a></p>

      </div>



    </div>
  </div>
</div>
