<div class="container">
  <div class="main">
    <div class="icon">
      <img src="modules/errors/assets/images/icon-error-500-centered.png" alt="404">
    </div>
    <div>
      <h1>It's not you, it's us.</h1>
    </div>
    <div class="text-center">
      <div>
        <h2>We're having an internal server issue.</h2>
        <p>We're working on it.</p>
        <p>In the meantime you can try reloading the page or just <br>go to <a href="http://www.pitneybowes.com">www.pitneybowes.com</a> </p>

        <h2>Can't wait?</h2>

        <p><a href="">Contact Pitney Bowes Support</a>.</p>
      </div>

    </div>
  </div>
</div>
