<div class="container">
  <div class="row main">
    <div class="col-md-2 icon">
      <img src="modules/errors/assets/images/error-icon-maintenance.svg" alt="Signed out">
    </div>

    <div class="col-md-10">
      <h1>We’re down at the moment.</h1>
      <h2>[[Product Name]] is unavailable, but we’re working on it.</h2>
      <p>[[Product Name]] is undergoing some unplanned maintenance. Please check back in again later.</p>
      <p class="spacer-top-md">
        <button class="btn btn-primary">Sign Out Now</button>
      </p>

      <h2>Can't wait?</h2>
      <p>Call us at [[PHONE NUMBER]]  or visit our <a href="">support</a> area.</p>
    </div>
  </div>
</div>
