<div class="container">

  <div class="main">

    <div class="icon">
      <img src="modules/errors/assets/images/error-icon-server.svg
" alt="504">
    </div>

    <h1>We’re having an issue with our server.</h1>
    <h2>Your request timed out before we could complete it.</h2>
    <p>Here are some things to try.</p>
    <ul class="list-unstyled">
      <li>Wait a few minutes and try reloading the page</li>
      <li>Clear your browser’s cache, delete cookies and then try again</li>
      <li>Try loading the page in a different browser</li>
      <li>If you’re connecting with a proxy, check with your network administrator</li>
    </ul>

    <h2>Need help?</h2>
    <p>Call us at [[PHONE NUMBER]]  or visit our <a href="">support</a> area.</p>
    <p class="text-muted text-small spacer-top-md">Error: 504</p>

  </div>
</div>
