<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Patterns</div>
          <h1>Error Pages</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-3">

      <div headroom class="doc-side-nav headroom" tolerance="50" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">

        <nav class="hidden-print hidden-xs hidden-sm" role="tablist">
          <ul class="nav">

            <li du-scrollspy="overview">
              <a ui-sref="errors({'#':'overview'})" du-scrollspy>Overview</a>
              <ul class="nav" du-spy-context="overview">
                <li><a ui-sref="errors({'#':'guidelines'})" du-scrollspy>Guidelines</a></li>
              </ul>
            </li>

            <li du-scrollspy="400seriesErrorPages">
              <a ui-sref="errors({'#':'400seriesErrorPages'})" du-scrollspy>400 Series Error Pages</a>
              <ul class="nav" du-spy-context="400seriesErrorPages">
                <li><a ui-sref="errors({'#':'400badRequestLeft'})" du-scrollspy>400 Bad Request (Left)</a></li>
                <li><a ui-sref="errors({'#':'400badRequestCenter'})" du-scrollspy>400 Bad Request (Center)</a></li>
                <li><a ui-sref="errors({'#':'401unauthorizedLeft'})" du-scrollspy>401 Unauthorized (Left)</a></li>
                <li><a ui-sref="errors({'#':'401unauthorizedCenter'})" du-scrollspy>401 Unauthorized (Center)</a></li>
                <li><a ui-sref="errors({'#':'404pageNotFoundLeft'})" du-scrollspy>404 Page Not Found (Left)</a></li>
                <li><a ui-sref="errors({'#':'404pageNotFoundCenter'})" du-scrollspy>404 Page Not Found (Center)</a></li>
              </ul>
            </li>

            <li du-scrollspy="500seriesErrorPages">
              <a ui-sref="errors({'#':'500seriesErrorPages'})" du-scrollspy>500 Series Error Pages</a>
              <ul class="nav" du-spy-context="500seriesErrorPages">
                <li><a ui-sref="errors({'#':'500internalServerLeft'})" du-scrollspy>500 Internal Server (Left)</a></li>
                <li><a ui-sref="errors({'#':'500internalServerCenter'})" du-scrollspy>500 Internal Server (Center)</a></li>
                <li><a ui-sref="errors({'#':'502badGatewayLeft'})" du-scrollspy>502 Bad Gateway (Left)</a></li>
                <li><a ui-sref="errors({'#':'502badGatewayCenter'})" du-scrollspy>502 Bad Gateway (Center)</a></li>
                <li><a ui-sref="errors({'#':'504gatewayTimeoutLeft'})" du-scrollspy>504 Gateway Timeout (Left)</a></li>
                <li><a ui-sref="errors({'#':'504gatewayTimeoutCenter'})" du-scrollspy>504 Gateway Timeout (Center)</a></li>
              </ul>
            </li>

            <li du-scrollspy="signedOut">
              <a ui-sref="errors({'#':'signedOut'})" du-scrollspy>Signed Out</a>
              <ul class="nav" du-spy-context="signedOut">
                <li><a ui-sref="errors({'#':'signedOutLeft'})" du-scrollspy>Signed Out (Left)</a></li>
                <li><a ui-sref="errors({'#':'signedOutCenter'})" du-scrollspy>Signed Out (Center)</a></li>
              </ul>
            </li>

            <li du-scrollspy="Maintenance">
              <a ui-sref="errors({'#':'Maintenance'})" du-scrollspy>Maintenance</a>
              <ul class="nav" du-spy-context="Maintenance">
                <li><a ui-sref="errors({'#':'plannedMaintenanceLeft'})" du-scrollspy>Planned Maintenance (Left)</a></li>
                <li><a ui-sref="errors({'#':'plannedMaintenanceCenter'})" du-scrollspy>Planned Maintenance (Center)</a></li>
                <li><a ui-sref="errors({'#':'unPlannedMaintenanceLeft'})" du-scrollspy>Unplanned Maintenance (Left)</a></li>
                <li><a ui-sref="errors({'#':'unplannedMaintenanceCenter'})" du-scrollspy>Unplanned Maintenance (Center)</a></li>
              </ul>
            </li>

          </ul>
        </nav>

      </div>

    </div>

    <div class="col-md-9">

      <section id="overview">

        <div class="row">
          <div class="col-md-12">
            <h1>Overview</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h2 id="guidelines">Guidelines</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">

            <b>Error pages should:</b>
            <ul>
              <li>Spell out the problem in plain, friendly, non-alarmist language</li>
              <li>Never contain exclamation points or question marks in headers</li>
              <li>Provide the user with ideas for solving the problem</li>
              <li>Provide only highly relevant links</li>
              <li>Never exceed six columns in our grid</li>
              <li>Include a support contact</li>
              <li>Format headers in sentence caps with a concluding period</li>
              <li>Format bullet copy in sentence caps with no concluding period</li>
            </ul>
          </div>
        </div>
      </section>

      <section id="400seriesErrorPages">
        <div class="row">
          <div class="col-md-12">
            <h1>400 Series Error Pages</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h2 id="400badRequestLeft">
              400 Bad Request (Left)
              <div class="doc-body-badge badge badge-brand-success">Added in v. 2.0</div>
            </h2>
          </div>
        </div>

        <div class="row pb-demo">
          <div class="col-md-12">
            <a class="btn btn-primary" ui-sref="errors-400-left" target="_blank">
              View Demo
            </a>
          </div>
          <div class="col-md-12 pb-demo-image">
            <a ui-sref="errors-400-left" target="_blank">
              <img class="img-responsive framed" src="modules/errors/assets/images/error-400.png" />
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="doc-body-snippet">
              <pb-code-snippet options="errors.errors_400_left">
              </pb-code-snippet>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h2 id="400badRequestCenter">
              400 Bad Request (Center)
              <div class="doc-body-badge badge badge-brand-success">Added in v. 2.0</div>
            </h2>
          </div>
        </div>

        <div class="row pb-demo">
          <div class="col-md-12">
            <a class="btn btn-primary" ui-sref="errors-400-centered" target="_blank">
              View Demo
            </a>
          </div>
          <div class="col-md-12 pb-demo-image">
            <a ui-sref="errors-400-left" target="_blank">
              <img class="img-responsive framed" src="modules/errors/assets/images/error-400-center.png" />
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="doc-body-snippet">
              <pb-code-snippet options="errors.errors_400_centered">
              </pb-code-snippet>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h2 id="401unauthorizedLeft">
              401 Unauthorized (Left)
              <div class="doc-body-badge badge badge-brand-success">Added in v. 2.0</div>
            </h2>
          </div>
        </div>

        <div class="row pb-demo">
          <div class="col-md-12">
            <a class="btn btn-primary" ui-sref="errors-401-left" target="_blank">
              View Demo
            </a>
          </div>
          <div class="col-md-12 pb-demo-image">
            <a ui-sref="errors-400-left" target="_blank">
              <img class="img-responsive framed" src="modules/errors/assets/images/error-401.png" />
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="doc-body-snippet">
              <pb-code-snippet options="errors.errors_401_left">
              </pb-code-snippet>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h2 id="401unauthorizedCenter">
              401 Unauthorized (Center)
              <div class="doc-body-badge badge badge-brand-success">Added in v. 2.0</div>
            </h2>
          </div>
        </div>

        <div class="row pb-demo">
          <div class="col-md-12">
            <a class="btn btn-primary" ui-sref="errors-401-centered" target="_blank">
              View Demo
            </a>
          </div>
          <div class="col-md-12 pb-demo-image">
            <a ui-sref="errors-401-centered" target="_blank">
              <img class="img-responsive framed" src="modules/errors/assets/images/error-401-center.png" />
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="doc-body-snippet">
              <pb-code-snippet options="errors.errors_401_centered">
              </pb-code-snippet>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h2 id="404pageNotFoundLeft">
              404 Page Not Found (Left)
              <div class="doc-body-badge badge badge-brand-success">Added in v. 2.0</div>
            </h2>
          </div>
        </div>

        <div class="row pb-demo">
          <div class="col-md-12">
            <a class="btn btn-primary" ui-sref="errors-404-left" target="_blank">
              View Demo
            </a>
          </div>
          <div class="col-md-12 pb-demo-image">
            <a ui-sref="errors-404-left" target="_blank">
              <img class="img-responsive framed" src="modules/errors/assets/images/error-404.png" />
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="doc-body-snippet">
              <pb-code-snippet options="errors.errors_404_left">
              </pb-code-snippet>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h2 id="404pageNotFoundCenter">
              404 Page Not Found (Center)
              <div class="doc-body-badge badge badge-brand-success">Added in v. 2.0</div>
            </h2>
          </div>
        </div>

        <div class="row pb-demo">
          <div class="col-md-12">
            <a class="btn btn-primary" ui-sref="errors-404-centered" target="_blank">
              View Demo
            </a>
          </div>
          <div class="col-md-12 pb-demo-image">
            <a ui-sref="errors-404-centered" target="_blank">
              <img class="img-responsive framed" src="modules/errors/assets/images/error-404-center.png" />
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="doc-body-snippet">
              <pb-code-snippet options="errors.errors_404_centered">
              </pb-code-snippet>
            </div>
          </div>
        </div>
      </section>

      <section id="500seriesErrorPages">

        <div class="row">
          <div class="col-md-12">
            <h1>500 Series Error Pages</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h2 id="500internalServerLeft">
              500 Internal Server (Left)
              <div class="doc-body-badge badge badge-brand-success">Added in v. 2.0</div>
            </h2>
          </div>
        </div>

        <div class="row pb-demo">
          <div class="col-md-12">
            <a class="btn btn-primary" ui-sref="errors-500-left" target="_blank">
              View Demo
            </a>
          </div>
          <div class="col-md-12 pb-demo-image">
            <a ui-sref="errors-500-left" target="_blank">
              <img class="img-responsive framed" src="modules/errors/assets/images/error-500.png" />
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="doc-body-snippet">
              <pb-code-snippet options="errors.errors_500_left">
              </pb-code-snippet>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h2 id="500internalServerCenter">
              500 Internal Server (Center)
              <div class="doc-body-badge badge badge-brand-success">Added in v. 2.0</div>
            </h2>
          </div>
        </div>

        <div class="row pb-demo">
          <div class="col-md-12">
            <a class="btn btn-primary" ui-sref="errors-500-centered" target="_blank">
              View Demo
            </a>
          </div>
          <div class="col-md-12 pb-demo-image">
            <a ui-sref="errors-500-centered" target="_blank">
              <img class="img-responsive framed" src="modules/errors/assets/images/error-500-center.png" />
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="doc-body-snippet">
              <pb-code-snippet options="errors.errors_500_centered">
              </pb-code-snippet>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h2 id="502badGatewayLeft">
              502 Bad Gateway (Left)
              <div class="doc-body-badge badge badge-brand-success">Added in v. 2.0</div>
            </h2>
          </div>
        </div>

        <div class="row pb-demo">
          <div class="col-md-12">
            <a class="btn btn-primary" ui-sref="errors-502-left" target="_blank">
              View Demo
            </a>
          </div>
          <div class="col-md-12 pb-demo-image">
            <a ui-sref="errors-502-left" target="_blank">
              <img class="img-responsive framed" src="modules/errors/assets/images/error-502.png" />
            </a>
          </div>
        </div>

       <div class="row">
          <div class="col-md-12">
            <div class="doc-body-snippet">
              <pb-code-snippet options="errors.errors_502_left">
              </pb-code-snippet>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h2 id="502badGatewayCenter">
              502 Bad Gateway (Center)
              <div class="doc-body-badge badge badge-brand-success">Added in v. 2.0</div>
            </h2>
          </div>
        </div>

        <div class="row pb-demo">
          <div class="col-md-12">
            <a class="btn btn-primary" ui-sref="errors-502-centered" target="_blank">
              View Demo
            </a>
          </div>
          <div class="col-md-12 pb-demo-image">
            <a ui-sref="errors-502-centered" target="_blank">
              <img class="img-responsive framed" src="modules/errors/assets/images/error-502-center.png" />
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="doc-body-snippet">
              <pb-code-snippet options="errors.errors_502_centered">
              </pb-code-snippet>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h2 id="504gatewayTimeoutLeft">
              504 Gateway Timeout (Left)
              <div class="doc-body-badge badge badge-brand-success">Added in v. 2.0</div>
            </h2>
          </div>
        </div>

        <div class="row pb-demo">
          <div class="col-md-12">
            <a class="btn btn-primary" ui-sref="errors-504-left" target="_blank">
              View Demo
            </a>
          </div>
          <div class="col-md-12 pb-demo-image">
            <a ui-sref="errors-504-left" target="_blank">
              <img class="img-responsive framed" src="modules/errors/assets/images/error-504.png" />
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="doc-body-snippet">
              <pb-code-snippet options="errors.errors_504_left">
              </pb-code-snippet>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h2 id="504gatewayTimeoutCenter">
              504 Gateway Timeout (Center)
              <div class="doc-body-badge badge badge-brand-success">Added in v. 2.0</div>
            </h2>
          </div>
        </div>

        <div class="row pb-demo">
          <div class="col-md-12">
            <a class="btn btn-primary" ui-sref="errors-504-centered" target="_blank">
              View Demo
            </a>
          </div>
          <div class="col-md-12 pb-demo-image">
            <a ui-sref="errors-504-centered" target="_blank">
              <img class="img-responsive framed" src="modules/errors/assets/images/error-504-center.png" />
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="doc-body-snippet">
              <pb-code-snippet options="errors.errors_504_centered">
              </pb-code-snippet>
            </div>
          </div>
        </div>
      </section>

      <section id="signedOut">

        <div class="row">
          <div class="col-md-12">
            <h1>Signed Out</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h2 id="signedOutLeft">
              Signed Out (Left)
              <div class="doc-body-badge badge badge-brand-success">Added in v. 2.0</div>
            </h2>
          </div>
        </div>

        <div class="row pb-demo">
          <div class="col-md-12">
            <a class="btn btn-primary" ui-sref="errors-signed-out-left" target="_blank">
              View Demo
            </a>
          </div>
          <div class="col-md-12 pb-demo-image">
            <a ui-sref="errors-signed-out-left" target="_blank">
              <img class="img-responsive framed" src="modules/errors/assets/images/error-signed-out.png" />
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="doc-body-snippet">
              <pb-code-snippet options="errors.errors_signed_out_left">
              </pb-code-snippet>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h2 id="signedOutCenter">
              Signed Out (Center)
              <div class="doc-body-badge badge badge-brand-success">Added in v. 2.0</div>
            </h2>
          </div>
        </div>

        <div class="row pb-demo">
          <div class="col-md-12">
            <a class="btn btn-primary" ui-sref="errors-signed-out-centered" target="_blank">
              View Demo
            </a>
          </div>
          <div class="col-md-12 pb-demo-image">
            <a ui-sref="errors-signed-out-centered" target="_blank">
              <img class="img-responsive framed" src="modules/errors/assets/images/error-signed-out-center.png" />
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="doc-body-snippet">
              <pb-code-snippet options="errors.errors_signed_out_centered">
              </pb-code-snippet>
            </div>
          </div>
        </div>
      </section>

      <section id="Maintenance">

        <div class="row">
          <div class="col-md-12">
            <h1>Maintenance</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h2 id="plannedMaintenanceLeft">
              Planned Maintenance (Left)
              <div class="doc-body-badge badge badge-brand-success">Added in v. 2.0</div>
            </h2>
          </div>
        </div>

        <div class="row pb-demo">
          <div class="col-md-12">
            <a class="btn btn-primary" ui-sref="errors-planned-maintenance-left" target="_blank">
              View Demo
            </a>
          </div>
          <div class="col-md-12 pb-demo-image">
            <a ui-sref="errors-planned-maintenance-left" target="_blank">
              <img class="img-responsive framed" src="modules/errors/assets/images/error-planned-maintenance.png" />
            </a>
          </div>
        </div>

       <div class="row">
          <div class="col-md-12">
            <div class="doc-body-snippet">
              <pb-code-snippet options="errors.errors_planned_maintenance_left">
              </pb-code-snippet>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h2 id="plannedMaintenanceCenter">
              Planned Maintenance (Center)
              <div class="doc-body-badge badge badge-brand-success">Added in v. 2.0</div>
            </h2>
          </div>
        </div>

        <div class="row pb-demo">
          <div class="col-md-12">
            <a class="btn btn-primary" ui-sref="errors-planned-maintenance-centered" target="_blank">
              View Demo
            </a>
          </div>
          <div class="col-md-12 pb-demo-image">
            <a ui-sref="errors-planned-maintenance-centered" target="_blank">
              <img class="img-responsive framed" src="modules/errors/assets/images/error-planned-maintenance-center.png" />
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="doc-body-snippet">
              <pb-code-snippet options="errors.errors_planned_maintenance_centered">
              </pb-code-snippet>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h2 id="unPlannedMaintenanceLeft">
              Unplanned Maintenance (Left)
              <div class="doc-body-badge badge badge-brand-success">Added in v. 2.0</div>
            </h2>
          </div>
        </div>

        <div class="row pb-demo">
          <div class="col-md-12">
            <a class="btn btn-primary" ui-sref="errors-unplanned-maintenance-left" target="_blank">
              View Demo
            </a>
          </div>
          <div class="col-md-12 pb-demo-image">
            <a ui-sref="errors-unplanned-maintenance-left" target="_blank">
              <img class="img-responsive framed" src="modules/errors/assets/images/error-unplanned-maintenance.png" />
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="doc-body-snippet">
              <pb-code-snippet options="errors.errors_planned_maintenance_left">
              </pb-code-snippet>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h2 id="unplannedMaintenanceCenter">
              Unplanned Maintenance (Center)
              <div class="doc-body-badge badge badge-brand-success">Added in v. 2.0</div>
            </h2>
          </div>
        </div>

        <div class="row pb-demo">
          <div class="col-md-12">
            <a class="btn btn-primary" ui-sref="errors-unplanned-maintenance-centered" target="_blank">
              View Demo
            </a>
          </div>
          <div class="col-md-12 pb-demo-image">
            <a ui-sref="errors-unplanned-maintenance-centered" target="_blank">
              <img class="img-responsive framed" src="modules/errors/assets/images/error-unplanned-maintenance-center.png" />
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="doc-body-snippet">
              <pb-code-snippet options="errors.errors_planned_maintenance_centered">
              </pb-code-snippet>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
</div>
