<div class="container">
  <div class="row main">
    <div class="col-md-2 icon">
      <img src="modules/errors/assets/images/icon-error-tools.png" alt="401">
    </div>

    <div class="col-md-10">
      <h1>Our server can’t recognize you.</h1>
      <h2>Your session might have expired.</h2>
      <p>If we don’t detect any activity for several minutes then we’ll sign you out in order to protect your account. Sign in and try reloading the page.</p>
      <p class="spacer-top-md">
        <button class="btn btn-primary">Sign In Now</button>
      </p>

      <h2>Need help?</h2>
      <p>Call us at {{PHONE NUMBER}}  or visit our <a href="">support</a> area.</p>
      <p class="text-muted text-small spacer-top-md">Error: 401</p>

    </div>
  </div>
</div>
