<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Content</div>
          <h1>Editorial Style</h1>
        </div>
      </div>
    </div>
  </div>



</div>

<div class="container">


  <div class="row">
    <div class="col-md-8">
      <h1 id="definition" class="doc-head">Definition</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <p>“Style” is a broad term, applying to how we format copy at the character level as well as how we imbue that copy with a recognizable attitude and point of view.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h1 id="usage" class="doc-head">Usage</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <p>When writing specific copy elements for products, we follow some established rules of style, grammar, capitalization and punctuation. As you work through the Design System’s guidance you’ll see examples of our editorial style’s application at the pattern and element level.</p>

      <p>To help orient you, the following is a summary of our products’ editorial style, along with guidance on how to shape your product’s copy to express our brand voice effectively. Some of this material is adapted from our broader <a href="http://152.144.193.74:8503/content/pbdam/en/guidelines/voice/General-grammar-and-punctuation.html" target="_blank">general grammar and punctuation guidelines.</a></p>

      <h5>Acronyms</h5>
      <p>Unless you’re absolutely sure that your users will know what an acronym refers to, spell it out for them.</p>

      <h5>Ampersands</h5>
      <p>Never substitute the word “and” with an ampersand (&amp;) in onscreen body or for control labels (such as checkboxes and radio buttons). The exception to this is when you’re referring to a Pitney Bowes entity that is a proper noun using an ampersand (such as Shipping &amp; Mailing). You can use the ampersand in buttons, menus, navigation and other functional elements.</p>

      <h5>Capitalization</h5>
      <p>The rules of capitalization vary across different product elements. You can confirm these rules via the guidance and examples found throughout the system. But here’s a quick summary:</p>


      <h6>Title Caps</h6>
      <p>These elements use title caps:</p>
      <ul>
        <li>Getting started and welcome page headers</li>
        <li>Standard buttons, menus, table headers, container headers, and items in headers and footers</li>
        <li>Onscreen headers and subheaders (“Choose a Package Type”)</li>
        <li><strong>Note:</strong> for better appearance, apply capitalization to words that contain four or more letters even if they would otherwise not be capitalized (“With,” “Among,” “Around,” etc.).</li>
      </ul>



      <h6>Sentence Caps</h6>
      <p>These elements use sentence caps:</p>
      <ul>
        <li>Input field text prompts</li>
        <li>Alert headers</li>
        <li>Getting started and welcome page subheaders</li>
        <li>Labels for radio buttons, checkboxes and dropdown menus</li>
        <li>Error and modal headers (which should be written conversationally, unless screen size limitations demand short headers)</li>
      </ul>

      <h5>Carrier Names</h5>
      <p>Be sure to use proper naming and capitalization style when referring to carriers (or other Pitney Bowes partners) in products, such as “UPS” and “FedEx”.</p>


      <h5>Contractions</h5>
      <p>Use contractions (“we’ll” vs. “we will”) to sound less formal and more conversational and friendly.</p>

      <h5>Proper Nouns</h5>
      <p>Entities that are treated as proper nouns both inside and outside Pitney Bowes should always be capitalized, regardless of the capitalization rules for their surrounding copy. Certain application elements may be treated as proper nouns too. Here are some examples:</p>
      <ul>
        <li>Post Office</li>
        <li>ZIP Code</li>
        <li>U.S. Customs</li>
        <li>Presets</li>
        <li>Address Book</li>
      </ul>

      <h5>Punctuation</h5>
      <ul>
        <li><strong>Periods.</strong> Use these in onscreen copy (such as instructions or popovers), but not in UI elements (such as labels, buttons or menus). Don’t use the period at the end of headers or subheaders, except in the case of getting started pages (which apply a period to the end of subheaders), sign in/sign up pages, and error pages (which apply a period at the end of both headers and subheaders)</li>
        <li><strong>Exclamation Points.</strong> In general, avoid liberal use of the exclamation point. The exception is in status alerts that are positive in nature (“Success!”), or in greetings to the user (“Welcome!”). Never use an exclamation point in an error message, although it is okay to use one in a warning message that involves a potentially destructive action.</li>
        <li><strong>Question Marks.</strong> Question marks are useful in certain situations, such as common UI prompts (“Forgot your password?”) and in modals (“Are you sure you want to delete this contact?”), but they should in general be avoided in UI copy.</li>
        <li><strong>Colons.</strong> Don’t conclude label copy with a colon (such as before an input field, or a group of radio buttons or checkboxes).</li>
        <li><strong>Spacing.</strong> Use a single space between the concluding period of a sentence and the first letter of the next sentence.</li>
        <li><strong>Hyphens vs. Em-Dashes.</strong> A hyphen (-) is used to indicate compound works (“writing-related guidance”). An em-dash (—) is used to separate out a clause or word in a sentence (“we fixed the errors — all 147 of them — on Thursday”), much as a set of commas or parentheses would. Don’t use a hyphen as a substitute for an em-dash, and put a space around your em-dashes to enhance readability.</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h1 id="attitude" class="doc-head">Attitude</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <p>How we write copy has a huge impact on the attitude that comes across in our products. Here are some general tips for striking the right tone and attitude:</p>

      <ul>
        <li><strong>Keep things positive.</strong> Onscreen copy, errors, modals or requests from the user should assume a positive form.</li>
        <li><strong>Anticipate users’ questions and then answer them.</strong> Explain what a feature does, ideally at the point in the experience at which the user is most likely to first encounter it.</li>
        <li><strong>Be as clear as possible.</strong> Help users understand what their options are. Use active rather than passive writing. Keep your sentences and phrases short.</li>
        <li><strong>Don’t alarm our users.</strong> Error prompts on inputs, error dialogs and other status updates should be calm, empathetic and informative.</li>
        <li><strong>Write for the whole world.</strong> Your product may be seen and used by people in other cultures, speaking different languages, using different alphabets and formatting standards. Consider how globalization will impact your product and plan for it early.</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h1 id="pov" class="doc-head">Point of View</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <p>When we combine our brand voice with things like attitude and stylistic choices such as contractions, we approach something that sounds like a conversation with our users. At the product level, this back-and-forth “dialogue” emerges from a definite “point of view” that’s expressed in these ways:</p>
      <ul>
        <li>How certain product features are named (“My Presets”)</li>
        <li>How we address the user directly through prompts, errors, alerts, and labels</li>
        <li>How we invite the user into the experience with links to additional information</li>
      </ul>

      <p>When it comes to deciding which point of view to “speak” from, here are some guidelines:</p>
      <ul>
        <li>When the product is controlling the interaction or needs more information from the user, use second person plural (“you” or “your”). This is the point of view that you’ll be using in your product for the majority of the time.</li>
        <li>When giving the user ownership and control over a specific area of the product, use first person possessive (“My Presets”).</li>
        <li>When giving the user a choice (get more information, select from a range of options, respond to a call to action), use first person singular (“Reset my password”).</li>
        <li>When talking to the user as Pitney Bowes, use first person subjective (“We can’t find that page on our server”) or possessive (“We’re down for maintenance”).</li>
      </ul>

    </div>
  </div>

</div>
