$pbcolors: (

pbcyan : (
50:  #e5f5fc,
100: #ccebf9,
200: #99d7f2,
300: #66c3ec,
400: #33afe5,
500: #009dbf,
600: #008cab,
700: #007c98,
800: #006d85,
900: #005d72
),
pbmediumblue: (
50:  #e5f1f8,
100: #cce3f1,
200: #99c7e3,
300: #66aad4,
400: #338ec6,
500: #0072b8,
600: #0065a5,
700: #005a93,
800: #004f80,
900: #00436e
),

pbpurple: (
50:  #f5ecf5,
100: #ecd9eb,
200: #d9b2d7,
300: #c68cc3,
400: #b365af,
500: #a03f9b,
600: #90388b,
700: #80327c,
800: #702c6c,
900: #60255d
),

pbmagenta: (
50:  #fae6f3,
100: #f5cee7,
200: #ec9dd0,
300: #e26bb8,
400: #d93aa1,
500: #cf0989,
600: #ba087c,
700: #a5076e,
800: #900660,
900: #7c0552
),

pbdarkorange: (
50:  #fdf0e7,
100: #fce1ce,
200: #f8c49d,
300: #f5a66d,
400: #f1893c,
500: #ee6b0b,
600: #d65f09,
700: #be5408,
800: #a64a07,
900: #8e3f06
),

pborange: (
50:  #fdf2e5,
100: #fce6cc,
200: #f9cd99,
300: #f5b466,
400: #f29b33,
500: #ef8200,
600: #d77500,
700: #bf6800,
800: #a75b00,
900: #8f4e00
),

pbyellow: (
50:  #fdf8e5,
100: #fbf1cc,
200: #f8e299,
300: #f4d466,
400: #f1c533,
500: #edb700,
600: #d5a300,
700: #bd9100,
800: #a57f00,
900: #8e6d00
),

pbgreen: (
50:  #f1f9ec,
100: #e3f2da,
200: #c7e5b4,
300: #aad98f,
400: #8ecc69,
500: #72bf44,
600: #65ab3d,
700: #5a9836,
800: #4f852f,
900: #437228
),

pbdarkgreen: (
50: #e5f7ec,
100: #ccefd9,
200: #99e0b3,
300: #66d08c,
400: #33c166,
500: #00b140,
600: #009f3a,
700: #008d34,
800: #007b2d,
900: #006a27
),

pbgray: (
50: #f0f0f0,
100: #dbdbdb,
200: #c0c0c0,
300: #9b9b9b,
400: #717171,
500: #4e4e4e,
600: #3e3e3e,
700: #2e2e2e,
800: #1f1f1f,
900: #0f0f0f
)
);

@function pbcolor($pbcolor, $tone: 500) {
    @return map-get(map-get($pbcolors, $pbcolor), $tone);
}

// Usage

// .oneway {
//   color: pbcolor(pbcyan, 500);
// }
//
// .oneway-withbasecolor {
//   color: pbcolor(pbcyan);
// }
//
// .anotherway {
//   color: map-get(map-get($pbcolors, pbcyan), 500);;
// }
