$pbcolors: (

pbcyan : (
50:  #E5F5FC,
100: #CCEBF9,
200: #99D7F2,
300: #66C3EC,
400: #33AFE5,
500: #009DBF,
600: #008CAB,
700: #007C98,
800: #006D85,
900: #005D72
),
pbmediumblue: (
50:  #E5F1F8,
100: #CCE3F1,
200: #99C7E3,
300: #66AAD4,
400: #338EC6,
500: #0072B8,
600: #0065A5,
700: #005A93,
800: #004F80,
900: #00436E
),

pbpurple: (
50:  #F5ECF5,
100: #ECD9EB,
200: #D9B2D7,
300: #C68CC3,
400: #B365AF,
500: #A03F9B,
600: #90388B,
700: #80327C,
800: #702C6C,
900: #60255D
),

pbmagenta: (
50:  #FAE6F3,
100: #F5CEE7,
200: #EC9DD0,
300: #E26BB8,
400: #D93AA1,
500: #CF0989,
600: #BA087C,
700: #A5076E,
800: #900660,
900: #7C0552
),

pbdarkorange: (
50:  #FDF0E7,
100: #FCE1CE,
200: #F8C49D,
300: #F5A66D,
400: #F1893C,
500: #EE6B0B,
600: #D65F09,
700: #BE5408,
800: #A64A07,
900: #8E3F06
),

pborange: (
50:  #FDF2E5,
100: #FCE6CC,
200: #F9CD99,
300: #F5B466,
400: #F29B33,
500: #EF8200,
600: #D77500,
700: #BF6800,
800: #A75B00,
900: #8F4E00
),

pbyellow: (
50:  #FDF8E5,
100: #FBF1CC,
200: #F8E299,
300: #F4D466,
400: #F1C533,
500: #EDB700,
600: #D5A300,
700: #BD9100,
800: #A57F00,
900: #8E6D00
),

pbgreen: (
50:  #F1F9EC,
100: #E3F2DA,
200: #C7E5B4,
300: #AAD98F,
400: #8ECC69,
500: #72BF44,
600: #65AB3D,
700: #5A9836,
800: #4F852F,
900: #437228
),

pbdarkgreen: (
50: #E5F7EC,
100: #CCEFD9,
200: #99E0B3,
300: #66D08C,
400: #33C166,
500: #00B140,
600: #009F3A,
700: #008D34,
800: #007B2D,
900: #006A27
),

pbgray: (
50: #F0F0F0,
100: #DBDBDB,
200: #C0C0C0,
300: #9B9B9B,
400: #717171,
500: #4E4E4E,
600: #3E3E3E,
700: #2E2E2E,
800: #1F1F1F,
900: #0F0F0F
)
);

@function pbcolor($pbcolor, $tone: 500) {
    @return map-get(map-get($pbcolors, $pbcolor), $tone);
}

// Usage

// .oneway {
//   color: pbcolor(pbcyan, 500);
// }
//
// .oneway-withbasecolor {
//   color: pbcolor(pbcyan);
// }
//
// .anotherway {
//   color: map-get(map-get($pbcolors, pbcyan), 500);;
// }
