.chart-color-swatches {
  display: flex;
  justify-content: space-between;
  @include breakpoint(screen-xs) {
    flex-direction: column;
    align-items: stretch;
  }
}

.chart-color-swatch {
  padding: 10px;
  min-width: 135px;
  > div {
    color: #fff;
  }
  &.text-black {
    > div {
      color: #000;
    }
  }
  .chart-color-name {
    margin-bottom: 5px;
  }
  .chart-color-hex, .chart-color-sass {
    font-size: 12px;
    font-family: $font-family-monospace;
  }
}

// //* color swatch backgrounds */
.brand-primary {
  background-color: $brand-primary;
}

.brand-success {
  background-color: $brand-success;
}

.brand-danger {
  background-color: $brand-danger;
}

.brand-info {
  background-color: $brand-info;
}

.brand-warning {
  background-color: $brand-warning;
}

.chart-green {
  background-color: $chart-green;
}

.chart-blue {
  background-color: $chart-blue;
}

.chart-purple {
  background-color: $chart-purple;
}

.chart-yellow {
  background-color: $chart-yellow;
}

.chart-orange {
  background-color: $chart-orange;
}

.chart-red {
  background-color: $chart-red;
}
//
.blue1 {
  background-color: $blue1;
}

.blue2 {
  background-color: $blue2;
}

.blue3 {
  background-color: $blue3;
}

.blue4 {
  background-color: $blue4;
}

.blue5 {
  background-color: $blue5;
}

.blue6 {
  background-color: $blue6;
}

.gray700 {
  background-color: $pb-gray-700;
}

.gray500 {
  background-color: $pb-gray-500;
}

.gray300 {
  background-color: $pb-gray-300;
}

.gray200 {
  background-color: $pb-light-gray;
}
