.doc-body-example {
  // padding: 20px 30px 10px;
  margin: 15px 0 30px;
}

.doc-body-badge {
  &:hover {
    background-color: $pb-light-green-500;
    cursor: default;
  }
  background-color: $pb-light-green-500;
  margin-left: 20px;
  margin-top: -1px;
}


$icon-close: 'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMCAxMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsPSIjNzE3MTcxIiBkPSJNOCAwbC0zIDMtMy0zLTIgMiAzIDMtMyAzIDIgMiAzLTMgMyAzIDItMi0zLTMgMy0zeiIvPjwvc3ZnPgo=';

$icon-warning: 'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAyMCAxOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjRUU2NzAwIj48cGF0aCBkPSJNMTkuNTY5IDE1LjYxbC03LjM0NC0xMy43NjhjLS44NDUtMS41ODYtMy4xMTgtMS41ODYtMy45NjQgMGwtNy4zNDMgMTMuNzY5Yy0uNzk4IDEuNDk2LjI4NyAzLjMwNCAxLjk4MyAzLjMwNGgxNC42ODZjMS42OTUgMCAyLjc3OS0xLjgwOCAxLjk4Mi0zLjMwNHptLTEuOTE4IDEuMDIzYy4wMjYuMDQ4LS4wMS4xMDctLjA2My4xMDdoLTE0LjY4NmMtLjA1NSAwLS4wOS0uMDU5LS4wNjUtLjEwN2w3LjM0My0xMy43NjhjLjAyNy0uMDUxLjEwMS0uMDUxLjEyOC0uMDAxbDcuMzQ0IDEzLjc2OXpNMTAuMjQzIDE1LjUwOGMtLjY0IDAtMS4xNTktLjUxOS0xLjE1OS0xLjE1OXMuNTE5LTEuMTU5IDEuMTU5LTEuMTU5IDEuMTU5LjUxOSAxLjE1OSAxLjE1OS0uNTE5IDEuMTU5LTEuMTU5IDEuMTU5ek0xMS40MDMgMTIuMDNoLTIuMzE5di00LjYzOGgyLjMxOXoiLz48L2c+PC9zdmc+';
$icon-info: 'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjM0U1M0E0Ij48cGF0aCBkPSJNMTAgMTcuNWMtNC4xMjUgMC03LjUtMy4zNzUtNy41LTcuNXMzLjM3NS03LjUgNy41LTcuNSA3LjUgMy4zNzUgNy41IDcuNS0zLjM3NSA3LjUtNy41IDcuNW0wLTE3LjVjLTUuNSAwLTEwIDQuNS0xMCAxMHM0LjUgMTAgMTAgMTAgMTAtNC41IDEwLTEwLTQuNS0xMC0xMC0xMCIvPjxwYXRoIGQ9Ik04Ljc1IDguNzVoMi41djYuMjVoLTIuNXoiLz48cGF0aCBkPSJNMTAgNWMuNjkgMCAxLjI1LjU2IDEuMjUgMS4yNXMtLjU2IDEuMjUtMS4yNSAxLjI1LTEuMjUtLjU2LTEuMjUtMS4yNS41Ni0xLjI1IDEuMjUtMS4yNSIvPjwvZz48L3N2Zz4=';


@mixin alert($bg, $bdr, $icon, $text: $pb-gray-700) {
  color: $text;
  background-color: $bg;
  background-image: url($icon);
  border-color: $bdr;
  i {
    color: $bdr;
  }
}

.doc-body-alert{
  // all alerts
  .alert {
    border-radius: 0;
    background-position: 15px 15px;
    background-repeat: no-repeat;
    padding: 15px 15px 0 50px;
    margin: 0;
  }
  .alert-warning {
    @include alert(#fff, #fff, $icon-warning);
    color: #717171;
  }

  .alert-info {
    @include alert(#fff, #fff, $icon-info);
    color: #717171;
  }
}

.table-open {
  margin-top: 30px;
}
.doc-body-snippet {
  height: auto;
  margin-bottom: 10px;

  .extra-links {

    &.extra-links {
       @media (min-width: 440px) { left: 61%;}
       @media (min-width: 480px) { left: 62%;}
       @media (min-width: 508px) { left: 63%;}
       @media (min-width: 608px) { left: 69%;}
       @media (min-width: 628px) { left: 70%;}
       @media (min-width: 668px) { left: 72%;}
       @media (min-width: 728px) { left: 74%;}
       @media (min-width: 768px) { left: 75%;}
    }
    display: block;
    position: relative;
    top: 31px;
    width: 25%;
    min-width: 180px;

    .copy-code{ width: 57%;}
    .plunker{ width: 40%;}

    a{
      text-decoration: none;
      display: inline-block;
      text-align: right;
    }
  }

  .CodeMirror {
    max-height: 41rem;
    border-bottom: solid 1px $pb-light-gray;
    border-left: solid 1px $pb-light-gray;
    border-right: solid 1px $pb-light-gray;
  }

  .CodeMirror-gutters {
    background-color: $pb-light-gray;
  }

  .CodeMirror-lines {
    padding: 20px 0;
  }

  .CodeMirror-line {
    padding: 0 20px;
  }

  .tab-content > .tab-pane {
    padding: 0;
    visibility: hidden;
    display: block;
    position: absolute;
  }

  .tab-content > .active{
    position: static;
    visibility: visible;
  }

  .nav {
    cursor: default;
  }
}

.pb-demo {
  padding-top: 15px;
  margin-bottom: 30px;

  .pb-demo-image a {
    margin-top: 15px;
    position: relative;
    display: inline-block;
    background-color: $close-color;

    img {
      border: 1px solid $pb-gray;
      transition: opacity .2s;
      opacity: 1;
    }

    &:before {
      font-family: "PrecisionSans_W_Rg", "Helvetica Neue", Arial, sans-serif;
      content: 'View Demo';
      font-size: 18px;
      display: block;
      color: #fff;
      @include vertical-align(absolute);
      padding: 6px 12px;
      opacity: 0;
      transition: opacity .3s;
    }

    &:hover {
      &:before {
        opacity: 1;
      }
      img {
        opacity: .2;
      }
    }
  }
}
