.doc-body-sidebar {
  margin-top: 60px;
}

.doc-body-example {
  border: solid 1px $pb-light-gray;
  padding: 20px 30px 10px;
  margin: 15px 0 30px;
}

.doc-body-badge {
  margin-left: 20px;
  margin-top: -1px;
}

.table-open {
  margin-top: 30px;
}
.doc-body-snippet {
  height: auto;

  .CodeMirror {
    max-height: 41rem;
    border-bottom: solid 1px $pb-light-gray;
    border-left: solid 1px $pb-light-gray;
    border-right: solid 1px $pb-light-gray;
  }

  .CodeMirror-gutters {
    background-color: $pb-light-gray;
  }

  .tab-content > .tab-pane {
    padding: 0;
    visibility: hidden;
    display: block;
    position: absolute;
  }

  .tab-content > .active{
    position: static;
    visibility: visible;
  }

  .nav {
    cursor: default;
  }
}

.pb-demo {
  .pb-demo-image-wrapper {
    margin: 15px 0;
    position: relative;
    display: inline-block;
    background-color: $close-color;

    img {
      border: 1px solid $pb-gray;
      transition: opacity .2s;
      opacity: 1;
    }

    &:before {
      content: 'View Demo';
      font-size: 18px;
      display: block;
      color: $close-color;
      @include vertical-align(absolute);
      background-color: $pre-border-color;
      padding: 6px 12px;
      border-radius: 24px;
      opacity: 0;
      transition: opacity .3s;
    }

    &:hover {
      &:before {
        opacity: 1;
      }
      img {
        opacity: .2;
      }
    }
  }
}