.doc-body-sidebar {
  margin-top: 60px;
}

.doc-body-example {
  border: solid 1px $pb-light-gray;
  padding: 20px 30px 10px;
  margin: 15px 0 30px;
}

.doc-body-badge {
  margin-left: 20px;
  margin-top: -1px;
}

.doc-body-snippet {
  height: auto;

  .CodeMirror {
    max-height: 41rem;
    border-bottom: solid 1px $pb-light-gray;
    border-left: solid 1px $pb-light-gray;
    border-right: solid 1px $pb-light-gray;
  }

  .CodeMirror-gutters {
    background-color: $pb-light-gray;
  }

  .tab-content > .tab-pane {
    padding: 0;
    visibility: hidden;
    display: block;
    position: absolute;
  }

  .tab-content > .active{
    position: static;
    visibility: visible;
  }

  .nav {
    cursor: default;
  }
}