// first level
.doc-side-nav > nav > .nav > li > a {
  display: block;
  color: #000;
  text-transform: uppercase;
}
// second level
.doc-side-nav > nav > .nav > li > .nav > li > a {
  display: block;
  color: #f00;
}
.doc-side-nav > nav > .nav > li > .nav > li > a.active {
  display: block;
  color: pink;
}
