
.resources {
  .panel-download {
    display: flex;
    flex-direction: column;
    border: 0;
    color: #fff;
    text-align: center;
    min-height: 425px;
    transition: all .3s ease-in-out;
    h2 {
      margin-top: 20px;
      margin-bottom: 30px;
    }
    .panel-content {
      margin-top: 60px;
    }

    &.bg-pb-gray-500 {
      .panel-content {
        margin-top: 40px;
      }
    }

    .icon {
      height: 72px;
    }

    ul {
      li {
        margin-bottom: 8px;
      }
    }
    a {
      color: #fff;
      font-weight: 200;

      &:hover {
        color: #fff;
        //text-decoration: none;
      }
    }

    &:hover {
      box-shadow: 0 11px 20px -5px rgba(0, 0, 0, .5);
      transition: all .3s ease-in-out;
    }

    &.illustrator {
      background-color: #da1f26;
    }
  }

  hr {
    width: 50%;
    &.web {
      border-color: $pb-purple-300;
    }
    &.ios {
      border-color: $pb-gray-400;
    }
  }


  // overflow-y: scroll;
  
  .panel-body {
    padding: 0;
  }
  .productDetail {
    display: block;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 250px;
  }



.dynamic-layout-item-parent {
  position: relative !important;
}

// .dynamic-layout-item {
//   padding: 10px;
// }

.move-items-animation{
  transition-property: left, top;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}

.dynamic-layout-item-parent.ng-enter{
  transition: .5s ease-in-out;
  opacity:0;
}
.dynamic-layout-item-parent.ng-enter.ng-enter-active{
  opacity:1;
}
.dynamic-layout-item-parent.ng-leave{
  transition: .5s ease-in-out;
  opacity:1;
}
.dynamic-layout-item-parent.ng-leave.ng-leave-active{
  opacity:0;
}

[dynamic-layout]{
  //float: left;
  position: relative;
}
// .container-fluid{
//   position: absolute;
//   left: 50%;
//   transform: translate(-50%);
// }
// .title{
//   margin-bottom: 50px;
// }



  /* FULLSCREEN MODAL */

  $modal: 100%;

  body.modal-open {
    overflow: hidden;
    padding-right: 0 !important;
  }
  .modal-backdrop {
    display: none !important;
  }
  .modal-open .modal {
    overflow: hidden;
  }

  .modal.fullscreen-modal {
    background-color: transparent;
    height: 100%;
    width: 100%;
    z-index: 1050;
    backface-visibility: visible;   //this is for animation rendering
    
    .modal-dialog {
      background-color: #fff;
      height: 100%;
      margin: 0;
      width: 100%;
      position: relative;

      .modal-content {
        position: initial;
        background-color: transparent;
        border: 0;
        border-radius: 0;
        //Kill Box shadow and borders
        box-shadow: none;
        height: 100%;
        margin: 0 auto;
        overflow: auto;
        padding-top: 70px;
        width: 100%;
        //override default padding from DS2 for non-full width modals
        padding: 0;

        .gallery-item-description {
          padding: 40px 60px 0 60px;
        }
      }
    }
  }

  //Handle modal sizing & scrolling issues
  .modal-dialog {
    .modal-header,
    .modal-body {
      margin: 0 auto;
      width: $modal;
    }
    .modal-header {
      padding: 60px 60px 0 60px;
      border: 0;
    
      .modal-title {
        border-bottom: 1px solid #dddedf;
        padding-bottom: 10px;
      }
    }
    .modal-body {
      padding: 30px 60px 0;
    }
  }
}
