@import 'keyframes/accent';
@import 'keyframes/entrances';
@import 'keyframes/exits';

@import 'settings/timings';
@import 'settings/mixins';


//General class names
.pb-infinite {
  animation-iteration-count: infinite;
}

%pb-animation-default {
  animation-duration: $medium;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
//******** Accent animation names *********//

.pb-bounce {
  @extend %pb-animation-default;
  animation-name: bounce;
  transform-origin: center bottom;
}

.pb-pop {
  @extend %pb-animation-default;
  animation-name: pop;
}

.pb-shake {
  @extend %pb-animation-default;
  animation-name: shake;
}

.pb-pulse {
  @extend %pb-animation-default;
  animation-name: pulse;
}

.pb-scaleUp {
  backface-visibility: visible;
  @extend %pb-animation-default;
  animation-name: scaleUp;
}

.pb-scaleUpPop {
  backface-visibility: visible;
  @extend %pb-animation-default;
  animation-name: scaleUpPop;
}

.pb-scaleDown {
  backface-visibility: visible;
  @extend %pb-animation-default;
  animation-duration: $very-fast;
  animation-name: scaleDown;
}

//*************************************************//


// ******** In Queue Animations ********//
.pb-bounceIn {
  @include pb-animate('bounceIn', $medium, 'linear');
}

.pb-fadeIn {
  @include pb-animate('fadeIn', $fast, 'linear');
}

.pb-fadeInUp {
  @include pb-animate('fadeInUp', $fast, 'linear');
}

.pb-fadeInUpBig {
  @include pb-animate('fadeInUpBig', $medium, 'linear');
}

.pb-fadeInDown {
  @include pb-animate('fadeInDown', $fast, 'linear');
}

.pb-fadeInDownMini {
  @include pb-animate('fadeInDownMini', $very-fast, 'linear');
}

.pb-fadeInDownSubtle {
  @include pb-animate('fadeInDownSubtle', $fast, 'linear');
}

.pb-fadeInDownBig {
  @include pb-animate('fadeInDownBig', $medium, 'linear');
}

.pb-fadeInLeft {
  @include pb-animate('fadeInLeft', $fast, 'linear');
}

.pb-fadeInLeftBig {
  @include pb-animate('fadeInLeftBig', $medium, 'linear');
}

.pb-fadeInRight {
  @include pb-animate('fadeInRight', $fast, 'linear');
}

.pb-fadeInRightBig {
  @include pb-animate('fadeInRightBig', $medium, 'linear');
}

.pb-flipInY {
  @include pb-animate('flipInY', $medium, 'ease-out');
}

.pb-slideInLeft {
  @include pb-animate('slideInLeft', $medium, 'ease-out');
}

.pb-slideInLeftSmall {
  @include pb-animate('slideInLeftSmall', $fast, 'ease-out');
}

.pb-slideInRight {
  @include pb-animate('slideInRight', $medium, 'ease-out');
}

.pb-slideInRightSmall {
  @include pb-animate('slideInRightSmall', $fast, 'ease-out');
}

.pb-zoomIn {
  @include pb-animate('zoomIn', $medium, 'ease-out');
}


//*************************************************//



//******** Out Queue Animations ********//

.pb-fadeOut {
  @include pb-animate('fadeOut', $fast, 'linear');
}

.pb-fadeOutUp {
  @include pb-animate('fadeOutUp', $fast, 'linear');
}

.pb-fadeOutUpBig {
  @include pb-animate('fadeOutUpBig', $medium, 'linear');
}

.pb-fadeOutDown {
  @include pb-animate('fadeOutDown', $fast, 'linear');
}

.pb-fadeOutDownBig {
  @include pb-animate('fadeOutDownBig', $medium, 'linear');
}

.pb-fadeOutLeft {
  @include pb-animate('fadeOutLeft', $fast, 'linear');
}

.pb-fadeOutLeftBig {
  @include pb-animate('fadeOutLeftBig', $medium, 'linear');
}

.pb-fadeOutRight {
  @include pb-animate('fadeOutRight', $fast, 'linear');
}

.pb-fadeOutRightBig {
  @include pb-animate('fadeOutRightBig', $medium, 'linear');
}

.pb-flipOutY {
  @include pb-animate('flipOutY', $fast, 'linear');
}

.pb-slideOutLeft {
  @include pb-animate('slideOutLeft', $medium, 'ease-in');
}

.pb-slideOutLeftSmall {
  @include pb-animate('slideOutLeftSmall', $very-fast, 'ease-in');
}

.pb-slideOutRight {
  @include pb-animate('slideOutRight', $medium, 'ease-in');
}

.pb-slideOutRightSmall {
  @include pb-animate('slideOutRightSmall', $very-fast, 'ease-in');
}

.pb-zoomOut {
  @include pb-animate('zoomOut', $medium, 'linear');
}


//*************************************************//



//**** Compound Animations - syntactic sugar for pre-handled in/out queues ****//

.pb-fade {
  @include pb-animate('fadeOut', $fast, 'linear');
  @include pb-animate('fadeIn', $fast, 'linear');
}

.pb-crossFade {
  @include pb-animate('fadeIn', $very-fast, 'linear');
  @include pb-animate('hideOut', $immediate, 'linear', 'none');
}

.pb-preventDisplacement {
  @include pb-animate('hideOut', $immediate, 'linear', 'none');
}
