.container-fluid {
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}


// to move body down below fixed header
body {
  padding-top: 100px;
  // .navbar {
  //   >.container-fluid {
  //     padding: 0 40px;
  //   }
  // }
}


// see http://codepen.io/smlombardi/pen/dorMwj
// not working at the moment
//
// .site {
//   display: flex;
//   // min-height: 100vh;
//   flex-direction: column;
//   justify-content: space-between;
//   .site-content {
//     flex: 1;
//   }
//
// }

// using this instead for footer glue
.site-content {
  min-height: 82vh;
}
