[class^="pb-ds-"], [class*=" pb-ds-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'pbfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pb-ds-treeview:before {
    content: "\e616";
}
.pb-ds-flag-o:before {
    content: "\f11d";
}
.pb-ds-scale:before {
    content: "\e613";
}
.pb-ds-metadata:before {
    content: "\e600";
}
.pb-ds-metadatatemplate:before {
    content: "\e601";
}
.pb-ds-connection:before {
    content: "\e602";
}
.pb-ds-newconnection:before {
    content: "\e603";
}
.pb-ds-databaseconnection:before {
    content: "\e604";
}
.pb-ds-filesystemconnection:before {
    content: "\e605";
}
.pb-ds-catalog:before {
    content: "\e606";
}
.pb-ds-newcatalog:before {
    content: "\e607";
}
.pb-ds-addtocatalog:before {
    content: "\e608";
}
.pb-ds-folder:before {
    content: "\e609";
}
.pb-ds-newfolder:before {
    content: "\e60a";
}
.pb-ds-addtofolder:before {
    content: "\e60b";
}
.pb-ds-table:before {
    content: "\e60c";
}
.pb-ds-newtable:before {
    content: "\e60e";
}
.pb-ds-labellayer:before {
    content: "\e617";
}
.pb-ds-layer:before {
    content: "\e60d";
}
.pb-ds-newlayer:before {
    content: "\e618";
}
.pb-ds-map:before {
    content: "\e60f";
}
.pb-ds-newmap:before {
    content: "\e619";
}
.pb-ds-tile:before {
    content: "\e610";
}
.pb-ds-newtile:before {
    content: "\e61a";
}
.pb-ds-addressbook:before {
    content: "\e614";
}
.pb-ds-point:before {
    content: "\e611";
}
.pb-ds-polygon:before {
    content: "\e612";
}
.pb-ds-line:before {
    content: "\e615";
}

