@import "../../../bower_components/bourbon/app/assets/stylesheets/settings/asset-pipeline";
@import "../../../bower_components/bourbon/app/assets/stylesheets/css3/font-face";

@include font-face("PrecisionSans_W_Rg", "../../fonts/PrecisionSans_W_Rg", "400", "normal");

@include font-face("PrecisionSans_W_Bd", "../../fonts/PrecisionSans_W_Bd", "700", "normal");

@include font-face("PrecisionSans_W_RgIt", "../../fonts/PrecisionSans_W_RgIt", "400", "italic");

@include font-face("PrecisionSans_W_BdIt", "../../fonts/PrecisionSans_W_BdIt", "700", "italic");

@include font-face("PrecisionSans_W_Lt", "../../fonts/PrecisionSans_W_Lt", "300", "normal");

@include font-face("PrecisionSans_W_LtIt", "../../fonts/PrecisionSans_W_LtIt", "300", "italic");

@include font-face("PrecisionSans_W_Md", "../../fonts/PrecisionSans_W_Md", "500", "normal");

@include font-face("PrecisionSans_W_MdIt", "../../fonts/PrecisionSans_W_MdIt", "500", "italic");

@include font-face("pbfont", "../../fonts/pbfont");

$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

%aa {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%ps-light {
  @extend %aa !optional;
  font-family: 'PrecisionSans_W_Lt', Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
}

%ps-light-italic {
  @extend %aa !optional;
  font-family: 'PrecisionSans_W_LtIt', Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
}

%ps-regular {
  @extend %aa !optional;
  font-family: 'PrecisionSans_W_Rg', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

%ps-regular-italic {
  @extend %aa !optional;
  font-family: 'PrecisionSans_W_RgIt', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

%ps-medium {
  @extend %aa !optional;
  font-family: 'PrecisionSans_W_Md', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}

%ps-medium-italic {
  font-family: 'PrecisionSans_W_MdIt', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}

%ps-bold {
  @extend %aa !optional;
  font-family: 'PrecisionSans_W_Bd', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

%ps-bold-italic {
  @extend %aa !optional;
  font-family: 'PrecisionSans_W_BdIt', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

$font-family-base: $font-family-sans-serif;

// Helvetica
$headings-font-family: "PrecisionSans_W_Lt", "Helveticia Neue", Helvetica, Arial, sans-serif;
$headings-font-weight: normal;
$headings-line-height: 1.1;
$headings-color: inherit;

$btn-font-weight: normal;

$font-family-serif: Georgia, Times, "Times New Roman", serif;

//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;

// easily change something to serif or sans-serif
.serif, .serif p {
  font-family: $font-family-serif;
}

.sans, .sans p {
  font-family: $font-family-sans-serif;
}

code,
.code {
  font-family: $font-family-monospace;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid $pb-gray-300;
}

a {
  color: $link-color;

  &:hover {
    color: $link-color-hover;
  }

  &.read-more {
    font-size: $font-size-base - 2;
    // 2 px smaller
    white-space: nowrap;

    &:after {
      content: '\2026';
      // ellipsis

    }
  }
}

// heading sizes, from variables.scss
h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

h1, h1 a,
h2, h2 a,
h3, h3 a {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  font-variant-ligatures: common-ligatures;
  color: $brand-primary;
}

h4, h4 a,
h5, h5 a,
h6, h6 a {
  font-family: $font-family-base;
  font-weight: bold;
  color: $text-color;
}


// when you need light text
// sets the bold and italic accordingly
.ps-light {
  @extend %ps-light;

  &.italic,
  em,
  i {
    @extend %ps-light-italic;
  }

  // since regular bold is a bit much on light
  b,
  strong {
    @extend %ps-medium;
  }
}

p.lead,
p.lede {
  @extend %ps-regular;
  font-size: 16px;
}

.media-heading {
  @extend %ps-bold;
  font-weight: normal !important;
}

body {
  @extend %aa;
  font-family: $font-family-base;
  font-size: $font-size-base;
  // originally they had !important "for ie8" but I removed
  font-weight: 400;
  color: $text-color;

  .has-error {
    color: $brand-danger;
  }
}

dt {
  margin-top: 10px;
  margin-bottom: 3px;

  &:first-child {
    margin-top: 0;
  }
}

// condensed definition list */
.dlist-condensed {
  dt {
    margin-bottom: 0;
  }

  dd {
    line-height: 1.2;
  }
}

ul.spaced,
ol.spaced {
  > li {
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }
  }
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 0;
  padding-left: 1.5em;
}

.btn:focus {
  outline: none !important;
}

.btn {
  @extend %ps-regular;
}

.fa-active {
  color: $brand-primary;
}

.nav-tabs > li > a,
.nav-pills > li > a {
  @extend %ps-regular;
}

.help-block {
  color: $pb-gray-400;
}

label {
  font-size: 14px;
  font-weight: normal;
  color: $pb-gray;
}

.panel-heading {
  @extend %ps-regular;

  // tables inside panel heads, edge case
  td,
  th {
    font-family: $font-family-base;
  }
}

// boostrap makes changing the weight of the logo quite difficult
#header .navbar .navbar-brand.brand-text,
#header .navbar .container .navbar-brand.brand-text,
header .navbar .navbar-brand.brand-text,
header .navbar .container .navbar-brand.brand-text {
  @extend %ps-regular;
  font-weight: 400 !important;
}

.nav.navbar-nav {
  @extend %ps-regular;
  font-size: 16px;
}

// some items need to be set back to default body font:
.checkboxList span,
a.list-group-item {
  font-family: $font-family-base;
  font-size: $font-size-base;
}

// ------SPECIAL SIZES--------

// Ex: 14px base font * 85% = about 12px
small, .small {
  font-size: 85%;
}

// Undo browser default styling
cite {
  font-style: normal;
}

.text-large {
  font-size: $font-size-large;
}

.text-small {
  font-size: $font-size-small;
}

.text-xs {
  font-size: $font-size-xsmall;
}

.text-mouse {
  font-size: $font-size-xsmall;
}

// Alignment
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

// // Contextual colors, from bootstrap
// .text-primary { color: $brand-primary; }
// .text-muted   { color: $text-muted; }
// .text-success { color: $state-success-text; }
// .text-info    { color: $state-info-text; }
// .text-warning { color: $state-warning-text; }

.text-danger {
  color: $brand-danger;
}
