
<div class="container landing-gradient">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2 col-xs-12 text-center">
      <h1>Welcome to Product Name</h1>

      <h2 class="spacer-top-lg">This is the subheader.</h2>

      <p><strong>This is the first line where emphasis is given.</strong></p>

      <p>Lorem ipsum dolor sit amet, sit facer sanctus volumus cu. Qui delicata necessitatibus at, ei nisl velit deserunt est, ancillae instructior et quo. Cum ad probo nostrum omittantur.</p>
    </div>

    <div class="col-xs-12 text-center spacer-top-sm spacer-bottom-md">
      <a class="btn btn-default-ko">Learn More</a>
    </div>
  </div>

  <!--SLIDER MOCK-->
  <div class="row text-center spacer-top-lg">
    <div class="col-xs-1">
      <a class="btn"><i class="fa fa-angle-left fa-4x"></i></a>
    </div>
    <div class="col-xs-2">
      <img class="img-responsive spacer-top-md" src="modules/landing/assets/images/vaio_logo.png" alt="" />
    </div>
    <div class="col-xs-2">
      <img class="img-responsive spacer-top-md" src="modules/landing/assets/images/amazon_logo.png" alt="" />
    </div>
    <div class="col-xs-2">
      <img class="img-responsive spacer-top-md" src="modules/landing/assets/images/hermes_logo.png" alt="" />
    </div>
    <div class="col-xs-2">
      <img class="img-responsive spacer-top-sm" src="modules/landing/assets/images/h_m_logo.png" alt="" />
    </div>
    <div class="col-xs-2">
      <img class="img-responsive spacer-top-md" src="modules/landing/assets/images/facebook_logo.png" alt="" />
    </div>
    <div class="col-xs-1">
      <a class="btn"><i class="fa fa-angle-right fa-4x"></i></a>
    </div>
  </div>
</div>
