
<div class="container landing-gradient">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2 col-xs-12 text-center spacer-bottom-md">

        <h1>Welcome to Product Name</h1>
        <h2 class="spacer-top-lg">Get started in 3 easy steps!</h2>

    </div>

    <div class="col-xs-4 text-center">
      <span class="btn btn-circle">1</span>
      <h3>Step One</h3>
      <p>Lorem ipsum dolor sit amet, sit facer sanctus volumus cu. Qui delicata necessitatibus at, ei nisl velit deserunt est, ancillae instructior et quo. Cum ad probo nostrum omittantur.</p>
    </div>

    <div class="col-xs-4 text-center">
      <span class="btn btn-circle">2</span>
      <h3>Step Two</h3>
      <p>Lorem ipsum dolor sit amet, sit facer sanctus volumus cu. Qui delicata necessitatibus at, ei nisl velit deserunt est, ancillae instructior et quo. Cum ad probo nostrum omittantur.</p>
    </div>

    <div class="col-xs-4 text-center">
      <span class="btn btn-circle">3</span>
      <h3>Step Three</h3>
      <p>Lorem ipsum dolor sit amet, sit facer sanctus volumus cu. Qui delicata necessitatibus at, ei nisl velit deserunt est, ancillae instructior et quo. Cum ad probo nostrum omittantur.</p>
    </div>

    <div class="col-xs-12 text-center spacer-top-lg">
      <a class="btn btn-pill-ko">Learn More</a>
    </div>
  </div>
</div>
