
<div class="container landing-gradient">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 col-xs-12">
      <div class="col-sm-8">
        <h1>Welcome to Product Name</h1>

        <h2 class="spacer-top-lg">This is the subheader.</h2>

        <p><strong>This is the first line where emphasis is given.</strong></p>

        <p>Lorem ipsum dolor sit amet, sit facer sanctus volumus cu. Qui delicata necessitatibus at, ei nisl velit deserunt est, ancillae instructior et quo. Cum ad probo nostrum omittantur.</p>

        <a class="btn btn-pill-ko spacer-top-lg">Learn More</a>

      </div>

      <div class="col-sm-4">
        <img class="img-responsive center-block" src="assets/images/iPhone-landingpage.png">
      </div>
    </div>

  </div>
</div>
