//*/ Buttons */
// --------------------------------------------------

//*/ $button-primary-color is set in _variables.scss

.btn-primary {
  @include button-variant(#fff, $button-primary-color, $button-primary-color);
}

.btn-default {
  @include button-variant($button-primary-color, transparent, $button-primary-color);
}

.btn-group .btn-default,
.btn-group-vertical .btn-default {
  @include tertiary-button-variant($button-tertiary-color, #fff, $pb-gray-300);
}

.btn-group-borderless .btn-default {
  @include tertiary-button-variant($button-tertiary-color, #fff, $pb-gray-300);
}

.btn-default-ko {
  @include button-variant(#fff, transparent, #fff);
}

.btn-success {
  @include button-variant(#fff, $brand-success, $brand-success);
}

.btn-info {
  @include button-variant(#fff, $brand-info, $brand-info);
}

.btn-warning {
  @include button-variant(#fff, $brand-warning, $brand-warning);
}

.btn-danger {
  @include button-variant(#fff, $brand-danger, $brand-danger);
}

.btn {
  font-size: 14px;
}

// Make a button look and behave like a link
.btn-link,
.btn-cancel {
  color: $button-primary-color;
  font-weight: normal;
  border-radius: 0;
  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: $button-primary-color !important;
    text-decoration: underline;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $button-primary-color;
      text-decoration: none;
    }
  }
}
// .btn-link:focus, .btn-link:hover {
//   color: #bc56b7 !important;
// }
// -- sizing definitions
.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-large);
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);
}
.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $border-radius-small);
}
///** bs overrides **//
// i give up, bootstrap, here you go
.open>.dropdown-toggle.btn-default {
  color: #fff;
  background-color: $button-tertiary-color;
  border-color: $button-tertiary-color;
  box-shadow: none;
}
// just to remove the BS inset shadows
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  box-shadow: none;
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
  color: $text-color;
  text-decoration: none;
  background-color: $pb-gray-100;
}
// font awesome icon size overrides in button groups
.btn-group {
  &-sm {
    .btn {
      i.fa {
        font-size: 16px;
      }
    }
  }
  &-xs {
    .btn {
      i.fa {
        font-size: 14px;
      }
    }
  }
}
.btn-group-borderless {
  .btn {
    border: 0;
  }
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  box-shadow: none;
  opacity: 0.35;
}
.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  > .btn,
  > .btn-group {
    float: none;
    display: table-cell;
    width: 1%;
  }
  > .btn-group .btn {
    width: 100%;
  }
  // correct the "double borders"
  > .btn-group:not(:first-child) > .btn {
    border-left: 0;
  }
  > .btn-group .dropdown-menu {
    left: auto;
  }
}
//  transitory alert msg next to button
.btn-response {
  display: inline-block;
  margin-left: 10px;
}
// overrides for bootstrap's Close button
.close {
  transition: color 0.5s;
  opacity: 1;
  filter: alpha(opacity=1);
  &:hover {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}
