//* -- FORMS -- */
// scss-lint:disable VendorPrefixes
::-webkit-input-placeholder {
  font-family: $font-family-sans-serif;
  color: #c1c1c1;
}

::-moz-placeholder {
  font-family: $font-family-sans-serif;
  color: #c1c1c1;
}

:-ms-input-placeholder {
  font-family: $font-family-sans-serif;
  color: #c1c1c1;
}


label {
  font-weight: normal;
}


.help-block.text-error {
  display: none;
  .has-error & {
    display: block;
    color: $brand-danger;
  }
}


fieldset {
  margin-top: 40px;
  legend {
    color: $pb-gray-500;
  }
}

.checkboxList {
  // scss-lint:disable ImportantRule
  height: 110px !important;
  overflow-y: scroll;

  label {
    margin: 0;
  }
}


// some items need to be set back to default body font:
.checkboxList span,
a.list-group-item {
  font-family: $font-family-base;
  font-size: $font-size-base;
}

//****** CHECKBOXES *********************************
.checkbox-enhanced {
  &.checkbox-inline {
    padding-left: 0;
  }
  label {
    padding-left: 0;
  }
  input[type='checkbox'] {
    display: none;
    +label::before {
      content: url('data:image/svg+xml;utf8,<svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"><title>check-box-inactive</title><desc>Created with Sketch.</desc><path stroke="#C0C0C0" stroke-width=".75" fill="#F8F8F8" sketch:type="MSShapeGroup" d="M0 0h18v18h-18z"/></svg>');
      margin-right: 8px;
      vertical-align: middle;
      display: inline-block;
    }
  }
  input[type='checkbox']:checked +label::before {
    content: url('data:image/svg+xml;utf8,<svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"><title>check-box-active</title><desc>Created with Sketch.</desc><g sketch:type="MSLayerGroup" stroke="#3E53A4" fill="none"><path fill-opacity=".1" fill="#E0E0E0" sketch:type="MSShapeGroup" d="M0 0h18v18h-18z"/><path d="M4.5 9.621l3.088 3.129 6.662-6.75" sketch:type="MSShapeGroup"/></g></svg>');
    margin-right: 8px;
    vertical-align: middle;
    display: inline-block;
  }
  &.disabled {
    input[type='checkbox'] +label::before {
      opacity: .5;
    }
  }
}

//
// .checkbox-enhanced-sm {
//   label {
//     font-size: 13px;
//   }
//
//   input[type='checkbox'] +label::before {
//     content: url('../images/check-box-inactive.svg');
//   }
//
//   input[type='checkbox']:checked +label::before {
//     content: url('../images/check-box-active.svg');
//   }
// }


//**** RADIOS ****************************
.radio-enhanced {
  &.radio-inline {
    padding-left: 0;
  }

  label {
    padding-left: 0;
  }

  input[type='radio'] {
    display: none;
    +label::before {
      content: url('data:image/svg+xml;utf8,<svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"><title>radio-off</title><desc>Created with Sketch.</desc><circle stroke="#C0C0C0" stroke-width="1.05" fill="#F8F8F8" sketch:type="MSShapeGroup" cx="9" cy="9" r="9" transform="translate(2 2)"/></svg>');
      margin-right: 8px;
      vertical-align: middle;
      display: inline-block;
      width: 26px;
      height: 26px;
    }
  }
  input[type='radio']:checked +label::before {
    content: url('data:image/svg+xml;utf8,<svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"><title>radio-on</title><desc>Created with Sketch.</desc><g sketch:type="MSLayerGroup" transform="translate(2 2)" fill="none"><circle stroke="#3E53A4" stroke-width="1.05" sketch:type="MSShapeGroup" cx="9" cy="9" r="9"/><circle fill="#3E53A4" sketch:type="MSShapeGroup" cx="9" cy="9" r="6.6"/></g></svg>' );
    margin-right: 8px;
    vertical-align: middle;
    display: inline-block;
    width: 26px;
    height: 26px;
  }
  &.disabled {
    input[type='radio'] +label::before {
      opacity: .5;
    }
  }
}
// .radio-enhanced-sm {
//   input[type='radio'] +label::before {
//     content: url('../images/radio-off.svg');
//     margin-right: 3px;
//   }
//   input[type='radio']:checked +label::before {
//     content: url('../images/radio-on.svg');
//     margin-right: 3px;
//   }
// }

.enhanced-inline {
  display: flex;
  align-items: baseline;
  div {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}


// extend this in fields where you want the 2.0 focus treatment
%fancy-focus {
  border-color: $pb-blue;
  border-width: 1px;
  outline: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
}


.form-control {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: $input-color;
  background-color: $input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid $input-border;
  border-radius: 0; //can't use input-border-radius since buttons use that and buttons DO have radius.
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  // trying to remove focus ring on FFx
  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }


  // Customize the `:focus` state to use the FA "fancy focus" defined above.
  //@include form-control-focus;
  &:focus,
  &.focus {
    @extend %fancy-focus;
  }


  // Placeholder
  //@include placeholder;
  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color: $input-bg-disabled;
    color: #c1c1c1;
    opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
  }


  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
  }
}

//****  INPUT GROUPS ***************************
.input-group-addon {
  background-color: transparent;
  border-color: $input-border;
}



select {
  //  scss-lint:disable ImportantRule

  background: #fff url('data:image/svg+xml;utf8,<svg width="16" height="22" viewBox="0 0 16 22" xmlns="http://www.w3.org/2000/svg"><title>droparrow</title><path d="M0 7.344h10.5l-5.25 5.566-5.25-5.565z" fill="#717171" fill-rule="evenodd"/></svg>') right center no-repeat !important;
  &[multiple],
  &[size] {
    background-image: none !important;
  }
}


.input-sm,
select.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: $line-height-base;
}


.input-lg,
select.input-lg {
  line-height: 1.42857;
}


.widget-header {
  h3 {
    font-family: $font-family-sans-serif;
  }
}


.has-error {
  .form-control {
    border-color: $brand-danger;
  }
}


// date and time picker
.form-control[disabled].datepicker,
.form-control[readonly].datepicker,
fieldset[disabled] .form-control.datepicker,
.form-control[disabled].timepicker,
.form-control[readonly].timepicker,
fieldset[disabled] .form-control.timepicker {
  cursor: pointer;
  background-color: #fff;
}





.repeated-field {
  margin-bottom: 20px;
  &.last {
    margin-bottom: 3px;
  }
}

.add-another-link {
  font-size: 12px;
  text-decoration: underline;
}


// for the item buttons
@mixin logo-button($logo, $w: 160px, $h:120px) {
  position: relative;
  cursor: pointer;
  border: 1px solid $input-border;
  padding: 15px;
  border-radius: 0;
  color: #000;
  width: 160px;
  height: 120px;
  background: #fff url('../images/logo-#{$logo}.png') center center no-repeat;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  &:hover,
  &.hover {
    @extend %fancy-focus;
  }


  &:active,
  &.active {
    border-width: 2px;
    border-color: $pb-blue;
  }


  &.disabled {
    background-image: url('../images/logo-#{$logo}-disabled.png');
    cursor: not-allowed;

    // @include hidpi(1.5) {
    //   background-image: url('../images/logo-usps-disabled@2x.png');
    // }
    &:hover {
      border: 1px solid $input-border;
      box-shadow: none;
    }
  }
}


// declare actual buttons here
// include logo name and see above for naming structure
.logo-button-usps {
  @include logo-button('usps');
}


@mixin arrow-inside($color: #fff, $left: 65px) {
  &:after {
    content: '';
    position: absolute;
    bottom: -13px;
    left: 66px;
    border-width: 14px 14px 0;
    border-style: solid;
    border-color: $color transparent;
  }
}


@mixin arrow-outside($color: $pb-blue, $left: 65px) {
  &:before {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 66px;
    border-width: 14px 14px 0;
    border-style: solid;
    border-color: $color transparent;
  }
}


// for the item buttons
.item-selector-button {
  position: relative;
  text-align: center;
  cursor: pointer;
  border: 1px solid $input-border;
  padding: 15px;
  border-radius: 0;
  color: #000;
  width: 160px;
  height: 120px;
  transition: all ease-in-out .1s, box-shadow ease-in-out .1s;

  .title {
    color: $pb-blue;
    font-size: 12px;
    margin: 0;
    padding-top: -3px;
    font-family: $font-family-ps-medium;
  }


  .divider {
    height: 1px;
    width: 20px;
    background-color: $input-border;
    margin: 4px auto 10px;
  }


  .image {
    background: #fff url('../images/box.png') center center no-repeat;
    width: 64px;
    height: 57px;
    margin: 4px auto;
  }


  &:hover,
  &.hover {
    padding: 14px;
    @extend %fancy-focus;
    @include arrow-inside;
    @include arrow-outside;
  }


  &:active,
  &.active {
    border-width: 2px;
    border-color: $pb-blue;
    background-color: $pb-blue;
    @include arrow-outside;

    .title {
      color: #fff;
    }

    .divider {
      background-color: #fff;
    }

    .image {
      background-color: $pb-blue;
    }

    &:hover {
      padding: 15px;
      box-shadow: none;
      @include arrow-inside($pb-blue);
    }
  }


  &.disabled {
    pointer-events: none;
    cursor: not-allowed;

    .title {
      color: #c3c3c3;
    }

    .image {
      background-image: url('../images/box-disabled.png');
    }


    // @include hidpi(1.5) {
    //   background-image: url('../images/logo-usps-disabled@2x.png');
    // }
    &:hover {
      padding: 15px;
      border: 1px solid $input-border;
      box-shadow: none;
    }
  }
}
