

#header,
header {
  background: linear-gradient(90deg, #4c4ca2 0%, #872e96 40%, #872e96 45%, #c90d8b 100%);
  .navbar {
    margin-bottom: 0;
    li.first a {
      padding-left: 0;
    }
  }
  .logo-box {
    border: 1px solid #ff0;
  }
  .pb-footer-logo {
    margin-right: 30px;
    display: table;
    &:before {
      display: table-cell;
      width: 112px;
      height: 24px;
      vertical-align: middle;
      margin-right: 10px;
    }
  }

}




// for the expanding search field - scoped to this form so as to not affect all search forms
form.magic-search {
  // scss-lint:disable VendorPrefixes
  margin-top: 7px;
  input {
    outline: none;
  }
  input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: $font-family-sans-serif;
    font-size: 14px;
    background: transparent url('data:image/svg+xml;utf8,<svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"><title>search</title><desc>Created with Sketch.</desc><path d="M5.625 1.25c2.413 0 4.375 1.962 4.375 4.375 0 2.412-1.963 4.375-4.375 4.375-2.413 0-4.375-1.963-4.375-4.375 0-2.413 1.963-4.375 4.375-4.375m0 10c1.333 0 2.556-.467 3.521-1.244l4.786 4.811c.123.123.283.184.443.184.159 0 .319-.061.441-.182.245-.244.246-.639.003-.884l-4.792-4.816c.764-.961 1.224-2.173 1.224-3.493 0-3.101-2.523-5.625-5.625-5.625s-5.625 2.524-5.625 5.625c0 3.102 2.523 5.625 5.625 5.625" sketch:type="MSShapeGroup" fill="#fff"/></svg>') no-repeat 9px center;
    opacity: .7;
    border: solid 1px transparent;
    padding: 7px 10px 7px 32px;
    display: inline-block;
    width: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
    border-radius: 20px;
    transition: all .5s;
  }
  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button {
    display: none;
  }
  input[type=search]:focus {
    background-color: rgba(131, 23, 115, 1);
    box-shadow: inset 0 0 5px rgba(119, 24, 108, 1);
    width: 130px;
    padding-left: 32px;
    color: #fff;
    opacity: 1;
    cursor: auto;
  }
  input[type=search]:hover {
    border-color: rgba(185, 99, 174, .6);
    box-shadow: inset 0 0 5px rgba(119, 24, 108, 1);
  }
  input:-moz-placeholder {
    color: transparent;
  }
  input::-webkit-input-placeholder {
    color: transparent;
  }
}

a.user-dot {
  // scss-lint:disable ImportantRule
  font-family: $font-family-sans-serif;
  font-size: 11px !important;
  text-align: center;
  background: transparent url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"><title>dot</title><desc>Created with Sketch.</desc><path d="M12 24c6.627 0 12-5.373 12-12s-5.373-12-12-12-12 5.373-12 12 5.373 12 12 12z" fill="#980D70" sketch:type="MSShapeGroup"/></svg>') no-repeat center center;
}

a.dot {
  background: transparent url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"><title>dot</title><desc>Created with Sketch.</desc><path d="M12 24c6.627 0 12-5.373 12-12s-5.373-12-12-12-12 5.373-12 12 5.373 12 12 12z" fill="#980D70" sketch:type="MSShapeGroup"/></svg>') no-repeat center center;
}

a.app-launcher {
  height: 16px;
  width: 16px;
  margin-top: 10px;
  background: transparent url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><g fill="#fff"><path d="M10.089.004h-3.954c-.182 0-.33.148-.33.33v3.954c0 .182.148.33.33.33h3.954c.182 0 .33-.148.33-.33v-3.954c0-.182-.148-.33-.33-.33"/><path d="M4.817.004h-3.954c-.182 0-.33.148-.33.33v3.954c0 .182.148.33.33.33h3.954c.182 0 .33-.148.33-.33v-3.954c0-.182-.148-.33-.33-.33" opacity=".8"/><path d="M15.361.004h-3.954c-.182 0-.33.148-.33.33v3.954c0 .182.148.33.33.33h3.954c.182 0 .33-.148.33-.33v-3.954c0-.182-.148-.33-.33-.33" opacity=".8"/><path d="M10.089 5.277h-3.954c-.182 0-.33.148-.33.33v3.954c0 .182.148.33.33.33h3.954c.182 0 .33-.148.33-.33v-3.954c0-.182-.148-.33-.33-.33" opacity=".8"/><path d="M4.817 5.277h-3.954c-.182 0-.33.148-.33.33v3.954c0 .182.148.33.33.33h3.954c.182 0 .33-.148.33-.33v-3.954c0-.182-.148-.33-.33-.33"/><path d="M15.361 5.277h-3.954c-.182 0-.33.148-.33.33v3.954c0 .182.148.33.33.33h3.954c.182 0 .33-.148.33-.33v-3.954c0-.182-.148-.33-.33-.33"/><path d="M10.089 10.549h-3.954c-.182 0-.33.148-.33.33v3.954c0 .182.148.33.33.33h3.954c.182 0 .33-.148.33-.33v-3.954c0-.182-.148-.33-.33-.33"/><path d="M4.817 10.549h-3.954c-.182 0-.33.148-.33.33v3.954c0 .182.148.33.33.33h3.954c.182 0 .33-.148.33-.33v-3.954c0-.182-.148-.33-.33-.33" opacity=".8"/><path d="M15.361 10.549h-3.954c-.182 0-.33.148-.33.33v3.954c0 .182.148.33.33.33h3.954c.182 0 .33-.148.33-.33v-3.954c0-.182-.148-.33-.33-.33" opacity=".8"/></g></svg>') no-repeat center center;
}


.nav >li >a:hover,
.nav >li >a:focus {
  background-color: $pb-bg2;
}

@media (min-width: 1200px) {
  .navbar-nav >li >a {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 21px;
    padding-left: 21px;
  }
}


// default navbar.  most rules should be under here. mostly just copied from Bootstrap sass.
.navbar-default {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  border-bottom: 0;

  .navbar-nav >li >a:hover {
    color: rgba(255, 255, 255, 1);
  }

  .navbar-nav >li >a:focus {
    color: rgba(255, 255, 255, .75);
  }

  .navbar-toggle {
    border-color: #fff;
    background-color: transparentize($pb-blue, .5);
    border-radius: 0;
    .icon-bar {
      background-color: #fff;
    }
  }


  .navbar-nav {
    .divider-vertical {
      height: 30px;
      margin: 10px 5px;
      border-left: 1px solid hsla(0, 255, 100%, .3);
    }

    >li >a {
      color: rgba(255, 255, 255, .75);
      font-size: 14px;
      font-family: $font-family-ps-regular;
      font-weight: normal;
    }
    >.open >a {
      &,
      &:hover,
      &:focus {
        // background-color: #f5f6fa;
        background-color: #fff;
        color: $pb-blue;
      }
    }
    // .nav-link {
    //   @include navbar-divider;
    // }
    // .nav-link-first {
    //   @include navbar-divider('left');
    // }
  }


  .navbar-brand {
    // @include navbar-divider;
    float: left;
    padding: $navbar-padding-vertical $navbar-padding-horizontal;
    font-size: 24px;
    line-height: $line-height-computed;
    color: #fff;
    height: $navbar-height;
    font-family: $font-family-ps-bold;

    &:hover,
    &:focus {
      color: #fff;
    }
    >img {
      display: block;
      margin-top: -7px;
    }
    a {
      color: inherit;
      &:hover {
        color: inherit;
      }
    }


    @media (min-width: $grid-float-breakpoint) {
      .navbar >.container &,
      .navbar >.container-fluid & {
        margin-left: -$navbar-padding-horizontal;
      }
    }
  }




  .open a {
    background-color: transparent;
    color: $pb-blue;
    &:hover {
      background-color: $pb-light-gray;
      color: $pb-gray-700;
    }
  }

  .dropdown-menu {
    background-color: #fff;
    margin-top: 1px;
    margin-bottom: 0;
    border-radius: 0;
    padding: 0;
    border: 1px solid #e1e1e1;
    border-top: 0;
    box-shadow: 0 3px 3px  rgba(0, 0, 0, .3);
    .divider {
      height: 1px;
      margin: 9px 20px;
      overflow: hidden;
      background-color: $pb-gray-300;
    }



    >li {
      &.section-head {
        font-family: $font-family-ps-regular;
        margin: 12px 30px 6px;
        color: $pb-gray-700;
        padding-bottom: 5px;
        margin-bottom: 10px;
        border-bottom: 1px solid $pb-light-gray;
      }
      >a {
        // links in the dropdown
        padding:  16px 30px 16px 20px;
        font-weight: normal;
        line-height: 1.4;
        color: $text-color;
        font-size: 12px;
        white-space: nowrap;
        font-family: $font-family-sans-serif;
        &:last-child {
          padding-bottom: 16px;
        }
      }
    }
  }
}

// mega menu
.mega-offset {
  margin-left: 140px;
}
.yamm-content {
  .section-head {
    font-family: $font-family-ps-regular;
    color: $pb-gray-700;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid $pb-light-gray;
  }
  .menu-items {
    li {
      font-family: $font-family-sans-serif;
      font-size: 12px;
      color: $text-color;

      &:hover {
        background-color: $pb-light-gray;
        color: $pb-gray-700;
      }

      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: inherit;
        display: block;
        width: 100%;
        padding: 8px 5px 8px 0;
        &:hover {
          text-decoration: none;
          color: $pb-gray-700;
        }
      }
    }
  }
}

//animate menus
.navbar-nav {
  .dropdown {
    .dropdown-menu {
      backface-visibility: hidden;
      opacity: 0;
      max-height: 0;
      transform: scale(0);
      display: block;
      overflow: hidden;
      transition: opacity .2s linear, max-height .3s cubic-bezier(0.190, 1, 0.220, 1), transform 0s linear .5s;
    }

    &.open {
      .dropdown-menu {
        opacity: 1;
        transform: scale(1);
        max-height: 500px;
        transition: opacity .3s linear, max-height 2s cubic-bezier(0.190, 1, 0.220, 1), transform 0s linear;
      }
    }
  }
}


// for header that slides up/down on scroll
.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin-top: 0;

  &.headroom-not-top {
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  }


  &.headroom-top {
    box-shadow: 0 0 0 rgba(0, 0, 0, .4);
    transition: all .03s ease-out;
  }
}



// MEDIA QUERIES */
@media (max-width: $screen-xs-max) {
  .activity {
    display: inline-block;
  }
}
