body.landing {
	background: linear-gradient(90deg, #484da2 0%, #872e96 40%, #872e96 45%, #c90d8b 100%);
	height: 100%;

	header {
		border-bottom: solid 1px rgba(255,255,255,.15);
	}
	.site-content {
		display:flex;
	}

	.container {
		align-self: center;
	}

	.landing-gradient {

		h1, h2, h3, h4, h5, h6, p, strong, em, label, .fa {
			color: white;
		}

		p {
			line-height: 2em;
		}

		input {
			color: white;
			background-color: rgba(255,255,255,.1);
			border-color: rgba(255,255,255,.8);
			&:focus {
				border-color: rgba(255,255,255,1);
				background-color: rgba(255,255,255,.18);
			}
			&::-webkit-input-placeholder {
	   		color: white;
			}
			&:-moz-placeholder { /* Firefox 18- */
			  color: white;
			}
			&::-moz-placeholder {  /* Firefox 19+ */
			  color: white;
			}
			&:-ms-input-placeholder {
			  color: white;
			}
		}

	}


	.btn-circle {
		@extend .h3;
		border: solid 1px white;
		border-radius: 100%;
		color: white;
		min-width: 47px;
		line-height: 47px;
		padding: 0;
	}


	&.landing-bgImg {
		background: linear-gradient(90deg, rgba(#484da2, .85) 0%, rgba(#872e96, .85) 40%, rgba(#872e96, .85) 45%, rgba(#c90d8b, .85) 100%), url('../images/bg-imageDemo.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		header {
			background: transparent;
		}
	}

	&.landing-info {

		.site-content {
			flex-flow: row wrap;
			padding-top: 50px;
			min-height: calc(100vh - (45px));
			align-content: space-between;
		}
		.container {
			align-self: flex-start;
		}
		.container-fluid {
			align-self: flex-end;
			flex: 1 100%;
		}
		footer {
			margin-top: 0;
		}
	}


}
