
.panel {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  &.panel-default {
    border-color: $nav-tabs-border-color;
    .panel-heading {
      background-color: tint($pb-blue-300, 10%);;
      border-bottom-color: $nav-tabs-border-color;
    }
  }
}
.panel-title {
  font-weight: 700;
}
.panel-footer {
  background-color: $pb-bg2;
  border-top-color: $nav-tabs-border-color;
}

// simple row divider
.row.divider {
  hr {
    margin: 30px 15px;
    color: $nav-tabs-border-color;
  }
}

// draggable /
.column {
  min-height: 300px;
  .panel-heading {
    cursor: move;
  }
  .placeholder {
    background: #f0f0f0;
    border: 1px dashed #ddd;
  }
}

// collapsible /
.collapse-btn {
  display: inline-block;
  float: right;
  cursor: pointer;
  color: $pb-gray-300;
  &:hover {
    color: $brand-primary;
  }
}
// Miller Columns
.miller-columns {
  margin-bottom: 20px;
  .panel {
    height: 100%;
    overflow-y: auto;
  }
  .first-column {
    padding-right: 0;
    height: 100%;
    .panel-default {
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      .panel-heading {
        border-top-right-radius: 0;
      }
    }
  }
  .inner-column {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    .panel-default {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      .panel-heading {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
  .last-column {
    padding-left: 0;
    height: 100%;
    .panel-default {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      .panel-heading {
        border-top-left-radius: 0;
      }
    }
  }
}
