//* NUMERIC STEPPER */
.stepper-wrap {
  font: 11px Arial, sans-serif;
  position: relative;
  display: inline-block;
  input {
    text-align: right;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

}
.stepper-btn-wrap {
  position: absolute;
  top: 0;
  right: -20px;
  overflow: hidden;
  width: 20px;
  height: 100%;
  border: 1px solid $input-border;
  border-left: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: $pb-gray-200;
  .stepper-btn-up {
    padding-top: 3px;
  }
  .stepper-btn-down {
    padding-top: 3px;
  }
  a {
    font-size: 10px;
    line-height: 100%;
    display: block;
    overflow: hidden;
    height: 50%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #666;
    &:hover {
      color: #fff;
      background-color: $brand-primary;
    }
  }
}
