<div class="container">

  <div class="row">
    <div class="col-md-8">
      <h1 class="doc-head" id="inputfields">Input Fields</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">States</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <p>Input fields have five primary states, each defined by its form and type coloring:</p>
      <ul>
        <li>Default</li>
        <li>Active</li>
        <li>Disabled</li>
        <li>Error</li>
        <li>Read-Only</li>
      </ul>
    </div>

    <div class="col-md-7 col-md-offset-1">
      <div class="row">
        <div class="col-md-5">
          <figure>
            <figcaption>Default</figcaption>
            <div class="form-group">
              <label>Text label</label>
              <input class="form-control" name="text1" placeholder="Optional placeholder text" type="text"/>
            </div>
          </figure>

          <figure>
            <figcaption>Active (Focused)</figcaption>
            <div class="form-group">
              <label>Text label</label>
              <input class="form-control focus" name="text1" type="text" value="Some text has been entered"/>
            </div>
          </figure>

          <figure class="spacer-top-md">
            <figcaption>Read-Only</figcaption>
            <div class="form-group">
              <label>Text field label</label>
              <input class="form-control" readonly="readonly" type="text" value="Display text only">
            </div>
          </figure>

        </div>
        <div class="col-md-5">

          <figure>
            <figcaption>Disabled</figcaption>
            <div class="form-group">
              <label>Text label</label>
              <input class="form-control" disabled="disabled" name="text1" type="text" value="I am disabled."/>
            </div>
          </figure>

          <figure>
            <figcaption>Error</figcaption>
            <div class="form-group has-error">
              <label>Text label</label>
              <input class="form-control" type="text" value="I was entered in error!">
              <span class="help-block text-error">Enter a valid email address.</span>
            </div>
          </figure>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Optional</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      Input fields are required unless otherwise noted. To indicate to users that a particular field is optional, insert the word “optional” in parentheses immediately following the field’s label. Note that the word "optional" is 12px italic; use the css class "optional."
    </div>
    <div class="col-md-3 col-md-offset-1">
      <figure>
        <figcaption>Optional Field</figcaption>
        <div class="form-group">
          <label>Text field label
            <span class="optional">(optional)</span>
          </label>
          <input class="form-control" type="text">
        </div>
      </figure>
    </div>
  </div>



  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Sizes</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <p>We have three sizes of input fields: small, default and large. Use the default size for all fields except when:</p>
      <ul>
        <li>You have a very crowded form (20+ fields), in which case consider using small input fields; these are also suitable for use in tables or space-challenged forms</li>
        <li>You have only a few fields (&lt;10), in which case consider using large input fields; an example of this is a Sign In screen or is an input field of central importance, such as a Search field</li>
      </ul>

      <p>Once you&rsquo;ve selected an input field size, use it consistently throughout your product. The exceptions to this rule are pages that are outside of your product&rsquo;s flow (such as Sign In or Sign Up), which should use the large size.</p>

      <p>Note that even when using large or small input fields the label font remains the default size.</p>
    </div>

    <div class="col-md-7 col-md-offset-1">

      <div class="row">
        <div class="col-md-5">
          <figure>
            <figcaption>Default</figcaption>
            <div class="form-group">
              <label>Text label</label>
              <input class="form-control" type="text">
            </div>
          </figure>

          <figure>
            <figcaption>Small Input</figcaption>
            <div class="form-group">
              <label>Text label</label>
              <input class="form-control input-sm" placeholder=".input-sm" type="text">
            </div>
          </figure>
        </div>

        <div class="col-md-5">
          <figure>
            <figcaption>Large Input</figcaption>
            <div class="form-group">
              <label>Text label</label>
              <input class="form-control input-lg" placeholder=".input-lg" type="text">
            </div>
          </figure>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Errors</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <p>We apply red to field elements to alert users to an input error that needs their attention.</p>
    </div>

    <div class="col-md-7 col-md-offset-1">

      <div class="row">
        <div class="col-md-5">
          <figure>
            <figcaption>Error</figcaption>
            <div class="form-group has-error">
              <label>Text field with error</label>
              <input class="form-control" type="text" value="I was entered in error!">
              <span class="help-block text-error">Please enter a valid name.</span>
            </div>
          </figure>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Help Prompt</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <p>There are several ways to help users understand what they&rsquo;re being asked to input. These include:</p>
      <ul>
        <li>In-field prompt copy</li>
        <li>A short line of instructional copy below the field</li>
        <li>A small popover next to the field’s label that provide additional context</li>
      </ul>
    </div>

    <div class="col-md-7 col-md-offset-1">

      <div class="row">
        <div class="col-md-5">
          <figure>
            <figcaption>Help Text Below Field</figcaption>
            <div class="form-group">
              <label>Text field label</label>
              <input class="form-control" type="text">
              <span class="help-block">Enter your full name.</span>
            </div>
          </figure>
        </div>

        <div class="col-md-5">
          <figure>
            <figcaption>Help Icon Next to Label</figcaption>
            <div class="form-group">
              <label>Text field label
                <a href="">
                  <i class="nc-icon-mini ui-2_alert-circle-i"></i>
                </a>
              </label>
              <input class="form-control" type="text">
            </div>
          </figure>
        </div>
      </div>
      <div class="row">


        <div class="col-md-5">
          <figure>
            <figcaption>Read-only Field</figcaption>
            <div class="form-group">
              <label>Text field label</label>
              <input class="form-control" readonly="readonly" type="text" value="Display text only">
            </div>
          </figure>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Input Groups</h2>
    </div>
  </div>

  <div class="row ">
    <div class="col-md-4">
      You can augment regular input field behavior by prepending or appending icons, checkboxes, buttons or dropdown menus to them.
    </div>

    <div class="col-md-7 col-md-offset-1 ">

      <div class="row">
        <div class="col-md-5">
          <figure>
            <figcaption>Text Field Prepended</figcaption>
            <div class="form-group">
              <label for="">Text label</label>
              <div class="input-group">
                <span class="input-group-addon">@</span><input class="form-control" type="text"></div>
            </div>
          </figure>

          <figure>
            <figcaption>Text Field with Both</figcaption>
            <div class="form-group">
              <label for="">Text label</label>
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input class="form-control" type="text" value="23">
                <span class="input-group-addon">.00</span>
              </div>
            </div>
          </figure>
        </div>

        <div class="col-md-5">
          <figure>
            <figcaption>Text Field Appended</figcaption>
            <div class="form-group">
              <label for="">
                Text field appended</label>
              <div class="input-group">
                <input class="form-control" type="text">
                <span class="input-group-addon">
                  <i class="nc-icon-mini ui-2_filter"></i>
                </span>
              </div>
            </div>
          </figure>

          <figure>
            <figcaption>Text Field Prepended with Menu</figcaption>
            <div class="form-group">
              <label for="">Text label</label>
              <div class="input-group">
                <div class="input-group-btn">
                  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">Action&nbsp;<span class="caret"/></button>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#">Action</a>
                    </li>
                    <li>
                      <a href="#">Another action</a>
                    </li>
                    <li>
                      <a href="#">Something else here</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="#">Separated link</a>
                    </li>
                  </ul>
                </div><input class="form-control" placeholder="Product name" type="text">
              </div>
            </div>
          </figure>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5">

          <figure>
            <figcaption>Text Field Appended with Button</figcaption>
            <div class="form-group">
              <label for="">Text label</label>
              <div class="input-group">
                <input class="form-control" placeholder="Product name" type="text">
                <div class="input-group-btn">
                  <button class="btn btn-primary" type="button">Action</button>
                </div>
              </div>
            </div>
          </figure>
        </div>
        <div class="col-md-5">
          <figure>
            <figcaption>Text Field Appended with Button</figcaption>
            <div class="form-group">
              <label for="">Text label</label>
              <div class="input-group">
                <input class="form-control" placeholder="Product name" type="text">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="button">Action</button>
                </div>
              </div>
            </div>
          </figure>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5">
          <figure>
            <figcaption>Custom Prepended Checkbox Control</figcaption>
            <div class="form-group">
              <label>Text label</label>
              <div class="input-group" pb-checkable-input-group>
                <span class="input-group-addon">
                  <input ng-model="checkable.checked" type="checkbox">
                </span>
                <input class="form-control" ng-disabled="!checkable.checked" ng-model="checkable.value" type="text"></div>
            </div>
          </figure>
        </div>
        <div class="col-md-5">
          <figure>
            <figcaption>Small Text Field Prepended</figcaption>
            <div class="form-group">
              <label for="">Text label</label>
              <div class="input-group input-group-sm">
                <span class="input-group-addon" id="sizing-addon3">@</span>
                <input aria-describedby="sizing-addon3" class="form-control" placeholder="Username" type="text">
              </div>
            </div>
          </figure>

        </div>
      </div>

    </div>
  </div>

</div>
