<div class="modal-header">
	<button type="button" class="close" ng-click="modal.close()">
		<span aria-hidden="true"></span><span class="sr-only">Close</span>
	</button>
	<h3 class="modal-title">{{modal.item.name}}</h3>
</div>

<div class="modal-body">

	<div class="row">
		<div class="col-xs-9">
			<slick settings="modal.slickOptions.settings">
				<span ng-repeat="i in modal.item.gallery">
					<div class="image-gallery-item thumbnail" >
						<img ng-src="modules/resources/assets/images/{{i.image}}" />
					</div>
					<p class="image-gallery-item-description">{{i.description}}</p>
				</span>
			</slick>
		</div>

		<div class="col-xs-3">
			<p>
				<a ng-href="{{modal.item.url}}" target="_blank">{{modal.item.displayurl}}</a>
			</p>

			<h5>Project Overview</h5>
			<p>{{modal.item.description}}</p>
			
		</div>
	</div>
</div>