<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Resources</div>
          <h1>Gallery</h1>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">

	<div class="row spacer-top-xl">
		<div class="col-md-3">
			<h5>Filtering</h5>
			<div class="btn-group" role="group">
					<button class="btn btn-default" ng-click="gallery.filter(null)">All</button>
					<button class="btn btn-default" ng-click="gallery.filter('smb')">SMB</button>
					<button class="btn btn-default" ng-click="gallery.filter('ecommerce')">eCommerce</button>
			</div>

			<h5>Sorting</h5>
			<div class="btn-group" role="group">
					<button class="btn btn-default active" ng-click="gallery.orderBy('name')">Name</button>
					<button class="btn btn-default" ng-click="gallery.orderBy('version')">Version</button>
			</div>
		</div>
	
		<div class="col-md-9">
			<!--<div class="row">-->
				<div class="row" dynamic-layout items="gallery.data" filters="gallery.filters" rankers="gallery.rankers"></div>
			<!--</div>-->
		</div>
	</div>

</div>
