<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Resources</div>
          <h1>Strategy</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="lean-ux">Lean UX</a></li>
            <li><a href="" du-smooth-scroll="methods">Methods</a></li>
            <!-- <li><a href="" du-smooth-scroll="client-centricity">Client Centricity</a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="container">


  <!-- LEAN UX -->
  <div class="row" >
    <div class="col-md-8">
      <h1 id="lean-ux" class="doc-head">Lean UX</h1>
      <p class="doc-lede">We apply Lean UX principles to the way we think, act, collaborate and design our products to be loved by our clients and users.</p>

      <p class="doc-lede"><em>&ldquo;Life&rsquo;s too short to build something nobody wants.&rdquo;&mdash; Ash Maurya</em></p>
    </div>
  </div>


  <div class="row spacer-top-xl">
    <div class="col-md-8">
      <h3>Overview</h3>
      <p>Lean UX is the practice of bringing the true nature of product to light faster, in a collaborative and cross-functional way. It does this by focusing on building a shared understanding of the product experience that’s being designed.</p>

      <p>In order for this to happen, three things must come together:</p>
      <ul>
        <li>Design thinking</li>
        <li>Lean principles</li>
        <li>Agile delivery</li>
      </ul>

      <img class="img-responsive" src="modules/resources/assets/images/strategy/loop.jpg" alt="" />

    </div>
  </div>



  <div class="row spacer-top-xl">
    <div class="col-md-8">
      <h3>Design Thinking</h3>

      <ul>
        <li>Focuses on discovering customer needs</li>
        <li>Validates that the problems we’re trying to solve exist</li>
        <li>Ensures that the solutions we produce are a market fit</li>
      </ul>

      <p class="spacer-top-md"><em>&ldquo;Design thinking is a human-centered approach to innovation that draws from the designer&rsquo;s toolkit to integrate the needs of people, the possibilities of technology, and the requirements for business success.&rdquo;<br> &mdash; Tim Brown, president and CEO, <a href="http://www.ideo.com/" target="_blank">Ideo</a></em></p>

      <img class="img-responsive spacer-top-lg" src="modules/resources/assets/images/strategy/design-thinking.jpg" alt="" />
    </div>
  </div>




  <div class="row spacer-top-xl">
    <div class="col-md-8">
      <h3>Startup Principles</h3>

      <ul>
        <li>Defined by the &ldquo;Build, Measure &amp; Learn&rdquo cycle, with critical emphasis on learning</li>
        <li>Promotes an experimental mindset of building minimal viable products (MVP)</li>
        <li>Make measurement against clearly defined Key Performance Indicators (KPI)</li>
        <li>Uses learning to deliver better product in every iteration</li>
      </ul>
    </div>
  </div>



  <div class="row spacer-top-xl">
    <div class="col-md-8">
      <h3>Agile Delivery</h3>
      <ul>
        <li>Focuses development on creating immediate value</li>
        <li>Delivers working software to customers quickly</li>
        <li>Iterates the product according to new learning</li>
      </ul>
      <p>See also <a href="https://our.pb.com/Resources/Innovation/Pages/Agile.aspx" target="_blank">our.pb.com</a></p>
    </div>
  </div>



  <div class="row" >
    <div class="col-md-8">
      <h1 id="methods" class="doc-head">Methods</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-md-8">

      <h3>Multi-track Development Process</h3>
      <img class="img-responsive spacer-top-lg" src="modules/resources/assets/images/strategy/multitrack-development.jpg" alt="" />

      <h3 class="spacer-top-xl">Continuous Delivery Track</h3>
      <ul>
        <li>Starts with an early discovery phase to define the product challenge and create a shared client understanding</li>
        <li>Includes a short 4-6 week cycle of cross-functional teamwork to elaborate upon each prioritized epic</li>
        <li>Validates conceptual wireframes and prototypes with clients, users and stakeholders</li>
      </ul>

      <h3 class="spacer-top-xl">Detailed Design Track</h3>
      <ul>
        <li>Designers add and elaborate upon details to create conceptual prototypes needed for development</li>
        <li>Designs are delivered in a consumable format (HTML), which reduces the need for heavily documented handoffs</li>
      </ul>

      <h3 class="spacer-top-xl">Agile Delivery Track</h3>
      <ul>
        <li>Dedicated designers and UX developers participate in daily scrum activities</li>
        <li>UX developers integrate their front-end pieces with business logic and service layers</li>
      </ul>

      <h3 class="spacer-top-xl">Strategy Canvas</h3>
      <img class="img-responsive spacer-top-lg spacer-bottom-sm" src="modules/resources/assets/images/strategy/strategy-canvas.jpg" alt="" />
      <p>See also <a href="https://www.blueoceanstrategy.com/tools/strategy-canvas/" target="_blank">strategy canvas</a></p>

      <h3 class="spacer-top-xl">Lean Canvas</h3>
      <img class="img-responsive spacer-top-lg spacer-bottom-sm" src="modules/resources/assets/images/strategy/lean-canvas.jpg" alt="" />
      <p>See also <a href="http://leanstack.com/the-lean-stack/" target="_blank">leanstack</a></p>

      <h3 class="spacer-top-xl">Design Studio</h3>
      <img class="img-responsive spacer-top-lg spacer-bottom-sm" src="modules/resources/assets/images/strategy/design-studio.jpg" alt="" />
      <p>See also <a href="http://www.uie.com/articles/design_studio_workshop/" target="_blank">UIE Design Stuio Workshop</a></p>

      <h3 class="spacer-top-xl spacer-bottom-sm">Product Assessment</h3>

      <p>We ask some fundamental questions before proceeding with design and development:</p>
      <ol>
        <li>Exactly what problem will this solve? (value proposition)</li>
        <li>For whom do we solve that problem? (target market)</li>
        <li>How big is the opportunity? (market size)</li>
        <li>What alternatives are out there? (competitive landscape)</li>
        <li>Why are we best suited to pursue this? (our differentiator)</li>
        <li>Why now? (market window)</li>
        <li>How will we get this product to market? (go-to-market strategy)</li>
        <li>How will we measure success/make money from this product? (metrics/revenue strategy)</li>
        <li>What factors are critical to success? (solution requirements)</li>
        <li>Given the above, what&rsquo;s the recommendation? (go or no-go)</li>
      </ol>
      <p>See also <a href="http://www.svpg.com/assessing-product-opportunities/" target="_blank">Assessing Product Opportunities</a></p>

    </div>
  </div>



  <!-- CLIENT CENTRICITY -->
  <!-- <div class="row" >
    <div class="col-md-8">
      <h1 id="client-centricity" class="doc-head">Client Centricity</h1>
      <p class="doc-lede">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt recusandae, ut nemo reprehenderit qui. Autem eius saepe dicta quod excepturi, minima culpa, recusandae vel illum commodi officiis corporis. Voluptates magnam blanditiis assumenda dolore maxime deserunt dolor aliquam quis ab, quisquam illo explicabo natus repudiandae impedit qui libero, atque labore neque.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Pitney Bowes Client Engagement Toolkit</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <p>An &ldquo;engineering-led&rdquo; client engagement is one that is incorporated into the product development process, with the ultimate goal of helping your team create products that are better suited for client needs. Examples include an inception/discovery workshop, a current client practice benchmark, or obtaining client input into new product or feature concepts.</p>

      <p>This toolkit provides worksheets and checklist in the following categories:</p>
      <ul>
        <li>Prior to the engagement</li>
        <li>During the engagement</li>
        <li>After the engagement</li>
      </ul>

      <p>See also <a href="https://our.pb.com/Resources/Innovation/Pages/Engaging-with-Clients-toolkit.aspx" target="_blank">Engaging with Clients Toolkit</a> and <a href="https://our.pb.com/Resources/Innovation/Documents/EngagementGuidelines.pdf" target="_blank">Engagement Guidelines</a>.</p>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">User Journey Maps</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <img class="img-responsive spacer-top-lg" src="modules/resources/assets/images/strategy/user-journey-map.jpg" alt="" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Persona &amp; Archetypes</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt recusandae, ut nemo reprehenderit qui. Autem eius saepe dicta quod excepturi, minima culpa, recusandae vel illum commodi officiis corporis. Voluptates magnam blanditiis assumenda dolore maxime deserunt dolor aliquam quis ab, quisquam illo explicabo natus repudiandae impedit qui libero, atque labore neque</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Innovation Labs</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt recusandae, ut nemo reprehenderit qui. Autem eius saepe dicta quod excepturi, minima culpa, recusandae vel illum commodi officiis corporis. Voluptates magnam blanditiis assumenda dolore maxime deserunt dolor aliquam quis ab, quisquam illo explicabo natus repudiandae impedit qui libero, atque labore neque</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Pitney Bowes Labs</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt recusandae, ut nemo reprehenderit qui. Autem eius saepe dicta quod excepturi, minima culpa, recusandae vel illum commodi officiis corporis. Voluptates magnam blanditiis assumenda dolore maxime deserunt dolor aliquam quis ab, quisquam illo explicabo natus repudiandae impedit qui libero, atque labore neque</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="doc-sectionhead">Customer Satisfaction Surveys</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt recusandae, ut nemo reprehenderit qui. Autem eius saepe dicta quod excepturi, minima culpa, recusandae vel illum commodi officiis corporis. Voluptates magnam blanditiis assumenda dolore maxime deserunt dolor aliquam quis ab, quisquam illo explicabo natus repudiandae impedit qui libero, atque labore neque</p>
    </div>
  </div> -->

</div>
