<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Resources</div>
          <h1>Strategy</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a href="" du-smooth-scroll="lean-ux">Lean UX</a></li>
            <li><a href="" du-smooth-scroll="client-centricity">Client Centricity</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
</div>
