<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Resources</div>
          <h1>Gallery</h1>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container">

	<div class="row spacer-top-xl">
		<div class="col-md-3">

			<div class="btn-group-vertical" opt-kind="filter" ok-key="filter">
				<div class="btn-group">
					<button type="button" class="btn btn-default active" ok-sel="*">Show All</button>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-default" ok-sel=".platform">Platform Assets</button>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-default" ok-sel=".smb">Shipping & Mailing Apps</button>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-default" ok-sel=".ecommerce">Global Ecommerce Apps</button>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-default" ok-sel=".li">Location Intelligence Apps</button>
				</div>
			</div>

		</div>
	
<div class="col-md-9">

	<div class="row">
		<div isotope-container="isotope-container">

			<div class="col-xs-12 col-sm-4 col-md-6 clearfix {{item.category}}" ng-repeat="item in gallery.data | unique: 'name' | orderBy: 'name'" isotope-item="isotope-item">
				<div class="panel panel-default category-widget" ng-click="gallery.open(item)">
					<div class="panel-body">
						<a href="" class="productDetail" ng-style="{'background-image': 'url(modules/resources/assets/images/{{item.thumbnail}})'}"></a>
					</div>

					<div class="panel-footer clearfix">
						<h4 class="category-widget-title pull-left">{{item.name}}</h4> <span class="badge badge-gray-text pull-right">DS v{{item.version}}</span>
					</div>
				</div>
			</div>
		
    </div>
	</div>

</div>


</div>

</div>
