<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Patterns</div>
          <h1>Hamburger Menus</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a ui-sref="splitview.overview({'#':'offcanvas'})">Off-Canvas</a></li>
            <li><a ui-sref="splitview.overview({'#':'collapsible'})">Collapsible</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="container">

  <div class="row">
    <div class="col-md-8">
      <h1 class="doc-head" id="offcanvas">Off-Canvas</h1>
    </div>

  </div>



<div class="row spacer-top-md">
  <div class="col-md-6">
    <p>Off-canvas menus enter from off-screen on the left, either by pushing the content to the right or by sliding over it.</p>
  </div>
  <div class="col-md-4">
    <a class="more-info plugin" href="http://www.jasny.net/bootstrap/components/" target="_blank">Jasny Bootstrap v3.1.3</a>
  </div>
</div>


  <div class="row spacer-top-lg">
    <div class="col-md-6">
      <figcaption>Off-canvas "push"</figcaption>
      <a href="" ui-sref="hamburger.push" target="_blank"><img class="img-responsive framed"  src="modules/hamburger/assets/images/burger-push.png" /></a>
    </div>

    <div class="col-md-6">
      <figcaption>Off-canvas "slide"</figcaption>
      <a href="" ui-sref="hamburger.slide" target="_blank"><img class="img-responsive framed"  src="modules/hamburger/assets/images/burger-slide.png" /></a>
    </div>
  </div>

  <div class="row spacer-top-lg">
    <div class="col-md-6">
      <figcaption>Off-canvas Auto-Hide (hides on less than 992 pixels width)</figcaption>
      <a href="" ui-sref="hamburger.auto" target="_blank"><img class="img-responsive framed"  src="modules/hamburger/assets/images/burger-auto.png" /></a>
    </div>
  </div>



  <div class="row">
    <div class="col-md-8">
      <h1 class="doc-head" id="collapsible">Collapsible</h1>
    </div>
  </div>

  <div class="row spacer-top-lg">
    <div class="col-md-6">
      <figcaption>Navbar with Section Heads</figcaption>
      <a href="" ui-sref="splitview.six" target="_blank"><img class="img-responsive framed"  src="modules/patterns/assets/images/splitview-six.png" /></a>
    </div>


    <div class="col-md-6">
      <figcaption>Navbar with Tree View</figcaption>
      <a href="" ui-sref="splitview.seven" target="_blank"><img class="img-responsive framed"  src="modules/patterns/assets/images/splitview-seven.png" /></a>
    </div>
  </div>





</div>
