<nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
stuff
</nav>
<div class="navbar navbar-default navbar-fixed-top">
  <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>



<div class="container">

  <div class="row">
    <div class="col-md-12">
      <label for="nav-trigger"></label>
      <div ng-include="'modules/hamburger/templates/includes/fpo-content.html'"></div>

      <button class="btn btn-primary" ng-click="burger.toggle()">Open me</button>

    </div>
  </div>

</div>
