
<div class="collapse-wrapper">
  <div class="nav-left">
    <ul class="list-unstyled menu" pb-left-nav>
      <li>
        <a class="menu-heading"><i class="fa fa-cog fa-fw fa-lg"></i><span class="menu-title">Modules</span></a>
        <ul class="list-unstyled menu-content">
          <li><a href="#/leftnav?section=Module One">Module One</a></li>
          <li><a href="#/leftnav?section=Module Two">Module Two</a></li>
          <li><a href="#/leftnav?section=Module Three">Module Three</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="navbar navbar-default navbar-fixed-top">
    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand brand-text" href="#/">Product Name</a>
  </div>


  <div class="container">
    <div class="burger-backdrop"></div>
    <div class="row">
      <div class="col-md-12">
        <label for="nav-trigger"></label>
        <div ng-include="'modules/hamburger/templates/includes/fpo-content.html'"></div>
      </div>
    </div>

  </div>
</div>
