<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Patterns</div>
          <h1>Hamburger Menus</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a ui-sref="splitview.overview({'#':'push'})">Push</a></li>
            <li><a ui-sref="splitview.overview({'#':'slide'})">Slide</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="container">

  <div class="row spacer-top-xl">
    <div class="col-md-8">
      <p class="lede">Hamburger menus are good options for space-challenged designs. Like split views, they offer a persistent set of sub-level menu options. But they add responsive side navigation and dynamically collapsible/expandible primary navigation.</p>
    </div>
    <div class="col-md-3">
      <a class="more-info plugin" href="http://www.jasny.net/bootstrap/javascript/#offcanvas" target="_blank">Jasny Bootstrap v3.1.3</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h1 class="doc-head" id="push">Push</h1>
    </div>
  </div>



<div class="row spacer-top-md">
  <div class="col-md-4">
      <p>The “push” style expands the side navigation and pushes all other page content to the right. Page content is dimmed and the side navigation can be collapsed again via a “close” button.</p>
  </div>

  <div class="col-md-6 col-md-offset-1">
    <figcaption>Off-canvas "push"</figcaption>
    <a href="" ui-sref="hamburger.push" target="_blank"><img class="img-responsive framed"  src="modules/hamburger/assets/images/burger-push.png" /></a>
  </div>


</div>


  <div class="row">
    <div class="col-md-8">
      <h1 class="doc-head" id="slide">Slide</h1>
    </div>
  </div>


<div class="row spacer-top-md">
  <div class="col-md-4">
      <p>The “slide” style leaves the page content in place and overlays the side navigation. The side navigation can be collapsed again by clicking on the hamburger menu icon.
      </p>
  </div>
  <div class="col-md-6 col-md-offset-1">
    <figcaption>Off-canvas "slide"</figcaption>
    <a href="" ui-sref="hamburger.slide" target="_blank"><img class="img-responsive framed"  src="modules/hamburger/assets/images/burger-slide.png" /></a>
  </div>

</div>



  <!-- <div class="row spacer-top-lg">
    <div class="col-md-6">
      <figcaption>Off-canvas Auto-Hide (hides at less than 992 pixels width)</figcaption>
      <a href="" ui-sref="hamburger.auto" target="_blank"><img class="img-responsive framed"  src="modules/hamburger/assets/images/burger-auto.png" /></a>
    </div>
  </div> -->



  <!-- <div class="row">
    <div class="col-md-8">
      <h1 class="doc-head" id="expandable">Expandable</h1>
    </div>
  </div>

  <div class="row spacer-top-lg">
    <div class="col-md-6">
      <figcaption>Expandable Icon Strip</figcaption>
      <a href="" ui-sref="hamburger.collapse" target="_blank"><img class="img-responsive framed"  src="modules/hamburger/assets/images/burger-collapse.jpg" /></a>
    </div>


  </div> -->





</div>
