<div class="doc-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-header">
          <div class="eyebrow">Patterns</div>
          <h1>Split Views</h1>
        </div>
      </div>
    </div>
  </div>

  <div headroom class="sub-header jump-bar headroom" tolerance="5" offset="240" classes="{'initial':'','pinned':'','unpinned':'','top':'headroom-top','notTop':'headroom-not-top'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline jump-menu">
            <li><a ui-sref="splitview.overview({'#':'usage'})">Usage</a></li>
            <li><a ui-sref="splitview.overview({'#':'styles'})">Styles</a></li>
            <li><a ui-sref="splitview.overview({'#':'types'})">Types</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="container">

  <div class="row">
    <div class="col-md-8">
      <h1 class="doc-head" id="usage">Usage</h1>
    </div>
  </div>

  <div class="row spacer-top-md">
    <div class="col-md-6">
      <p>Split views are useful for consolidating discrete collections of inputs or other content under a set of secondary navigational elements. If you’re considering using them in your product, keep in mind that split views:</p>

      <ul>
        <li>Are not responsive</li>
        <li>Should be used for secondary navigation only</li>
        <li>Will not persist, meaning they will disappear should the user navigate to another area</li>
        <li>Aren’t meant for mobile development — they may work on some tablets but will not work on smartphones</li>
      </ul>
    </div>
  </div>


  <div class="row">
    <div class="col-md-8">
      <h1 class="doc-head" id="styles">Styles</h1>
    </div>
  </div>


  <div class="row spacer-top-md">
    <div class="col-md-6">
      <p>You have a choice of five design variations for split views. Just make sure that the design you choose is consistent with the rest of your product’s visual design.</p>
    </div>
  </div>


  <div class="row spacer-top-lg">
    <div class="col-md-6">
      <figcaption>Gray Navbar, White Background</figcaption>
      <a href="" ui-sref="splitview.one" target="_blank"><img class="img-responsive framed"  src="modules/patterns/assets/images/splitview-one.png" /></a>
    </div>

    <div class="col-md-6">
      <figcaption>White Navbar, Gray Filled Navbar</figcaption>
      <a href="" ui-sref="splitview.two" target="_blank"><img class="img-responsive framed"  src="modules/patterns/assets/images/splitview-two.png" /></a>
    </div>
  </div>



  <div class="row spacer-top-lg">
    <div class="col-md-6">
      <figcaption>White Bar and Background, 3 Rules</figcaption>
      <a href="" ui-sref="splitview.three" target="_blank"><img class="img-responsive framed"  src="modules/patterns/assets/images/splitview-three.png" /></a>
    </div>


    <div class="col-md-6">
      <figcaption>White Navbar and Background, 1 Rule</figcaption>
      <a href="" ui-sref="splitview.four" target="_blank"><img class="img-responsive framed"  src="modules/patterns/assets/images/splitview-four.png" /></a>
    </div>
  </div>



  <div class="row spacer-top-lg">
    <div class="col-md-6">
      <figcaption>White Navbar and Background, 1 Rule, Container Fluid</figcaption>
      <a href="" ui-sref="splitview.five" target="_blank"><img class="img-responsive framed"  src="modules/patterns/assets/images/splitview-five.png" /></a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h1 class="doc-head" id="types">Types</h1>
    </div>
  </div>

  <div class="row spacer-top-md">
    <div class="col-md-6">
      <p>If your split view areas have sub-menu items, you can choose to display those in an “expanded” view (all sub-menu items visible by default, shown under their section heads) or in a “collapsed” view (all sub-menu items hidden by default, accessed via a “tree” behavior).</p>
    </div>
  </div>

  <div class="row spacer-top-lg">
    <div class="col-md-6">
      <figcaption>Navbar with Section Heads</figcaption>
      <a href="" ui-sref="splitview.six" target="_blank"><img class="img-responsive framed"  src="modules/patterns/assets/images/splitview-six.png" /></a>
    </div>


    <div class="col-md-6">
      <figcaption>Navbar with Tree View</figcaption>
      <a href="" ui-sref="splitview.seven" target="_blank"><img class="img-responsive framed"  src="modules/patterns/assets/images/splitview-seven.png" /></a>
    </div>
  </div>





</div>
