<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="main-title">Charts.js

        <small class="pull-right">
          <a class="badge badge-link" href="http://jtblin.github.io/angular-chart.js/" target="blank"><i class="fa fa-plug"></i> angular-chartjs v0.7.2</a>
          <a class="badge badge-link" href="http://www.chartjs.org/" target="blank"><i class="fa fa-plug"></i> chartjs v1.0.2</a>
        </small>

      </h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper, purus quis viverra accumsan, eros ex porta nisl, ut rutrum neque sem in massa. Phasellus mattis lacus a est blandit, at lobortis velit egestas. Nulla lobortis accumsan justo, et fermentum nisi sollicitudin et. Quisque commodo id quam id euismod. Nam vel massa egestas, molestie justo hendrerit, aliquam orci. Integer et lorem nec nunc egestas iaculis id a augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc vehicula enim nec tristique vehicula. Sed cursus purus quis sem tempus, gravida ornare leo ornare.</p>

      </div>
  </div>



<div class="row spacer-top-xl">

  <div class="col-md-6">
    <canvas id="line" class="chart chart-line" data="chartjs.line.data" labels="chartjs.line.labels" legend="true" series="chartjs.line.series" colours="chartjs.line.colours" click="chartjs.line.click"></canvas>
  </div>

  <div class="col-md-6">
    <canvas id="bar" class="chart chart-bar" data="chartjs.bar.data" labels="chartjs.bar.labels" legend="true" series="chartjs.bar.series" colours="chartjs.bar.colours" options="chartjs.bar.options"></canvas>
  </div>

</div>


<div class="row spacer-top-xl">

  <div class="col-md-6">
    <canvas id="doughnut" class="chart chart-doughnut" data="chartjs.donut.data" labels="chartjs.donut.labels" legend="true" series="chartjs.series" colours="chartjs.colours"></canvas>
  </div>

  <div class="col-md-6">
    <canvas id="pie" class="chart chart-pie" data="chartjs.pie.data" labels="chartjs.pie.labels" legend="true" series="chartjs.pie.series" colours="chartjs.pie.colours"></canvas>
  </div>

</div>

<div class="row spacer-top-xl">

  <div class="col-md-6">
    <canvas id="radar" class="chart chart-radar" data="chartjs.radar.data" labels="chartjs.radar.labels" legend="true" series="chartjs.radar.series" colours="chartjs.radar.colours"></canvas>
  </div>

  <div class="col-md-6">
    <canvas id="polar-area" class="chart chart-polar-area" data="chartjs.polar.data" labels="chartjs.polar.labels" legend="true" series="chartjs.polar.series" colours="chartjs.polar.colours"></canvas>
  </div>

</div>


</div>
