<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="main-title">C3

        <small class="pull-right">
          <a class="badge badge-link" href="https://github.com/GraFiddle/angular-chart" target="blank"><i class="fa fa-plug"></i> angular-chart v0.3.2</a>
          <a class="badge badge-link" href="" target="blank"><i class="fa fa-plug"></i> D3 v3.5.0</a>
          <a class="badge badge-link" href="http://c3js.org/" target="blank"><i class="fa fa-plug"></i> C3 v~0.4.x</a>
        </small>

      </h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper, purus quis viverra accumsan, eros ex porta nisl, ut rutrum neque sem in massa. Phasellus mattis lacus a est blandit, at lobortis velit egestas. Nulla lobortis accumsan justo, et fermentum nisi sollicitudin et. Quisque commodo id quam id euismod. Nam vel massa egestas, molestie justo hendrerit, aliquam orci. Integer et lorem nec nunc egestas iaculis id a augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc vehicula enim nec tristique vehicula. Sed cursus purus quis sem tempus, gravida ornare leo ornare.</p>

    </div>
  </div>
</div>



<div class="row spacer-top-xl">

  <div class="col-xs-12 col-md-4">
    <!-- donut -->
    <angular-chart options="c3.donut.options"></angular-chart>
  </div>

  <div class="col-xs-12 col-md-4">
    <!-- pie -->
    <angular-chart options="c3.pie.options"></angular-chart>
  </div>

  <div class="col-xs-12 col-md-4">
    <!-- gauge -->
    <angular-chart options="c3.gauge.options"></angular-chart>
  </div>

</div>


<div class="row spacer-top-xl">

  <div class="col-xs-12 col-md-6">
    <!-- bar -->
    <angular-chart options="c3.bar.options"></angular-chart>
  </div>

  <div class="col-xs-12 col-md-6">
    <!-- line -->
    <angular-chart options="c3.line.options"></angular-chart>
  </div>

</div>


<div class="row spacer-top-xl">

  <div class="col-xs-12 col-md-12">
    <!-- area -->
    <angular-chart options="c3.area.options"></angular-chart>
  </div>

</div>
