<div class="container">

  <div class="row">
    <div class="col-md-8">
      <h1 id="c3-charts" class="doc-head">C3.js Charts</h1>
      <p class="doc-lede">Lorem ipsum dolor sit amet, feugiat inciderint ei eum. Verterem sapientem tincidunt ut his, facilisi mnesarchum per ne. Laoreet alienum explicari cu eos, ludus eirmod ius no, constituto voluptatibus cu per. Mei fabellas definiebas eu, duo veniam deseruisse no.</p>

      <a class="badge badge-link" href="https://github.com/GraFiddle/angular-chart" target="blank"><i class="fa fa-plug"></i> angular-chart v0.3.2</a>
      <a class="badge badge-link" href="" target="blank"><i class="fa fa-plug"></i> D3 v3.5.0</a>
      <a class="badge badge-link" href="http://c3js.org/" target="blank"><i class="fa fa-plug"></i> C3 v~0.4.x</a>

    </div>
  </div>



  <!-- PIE -->
  <div class="row">
    <div class="col-md-12">
      <h1 class="doc-sectionhead">Pie Charts</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-3">
      <p>Nam ea quot senserit, has at consequat reprehendunt comprehensam, equidem ancillae duo ei. Autem iudico argumentum cu vix. Falli fuisset pro an. Et doming latine eos, ad nostrum placerat sit. Usu ei sint constituto constituam, sit ad nonumes maluisset dissentias. Usu ei duis insolens praesent, ut theophrastus complectitur cum, et sea alia graece audiam.</p>
    </div>

    <div class="col-xs-12 col-md-4 col-md-offset-1">
      <figure>
        <figcaption>Multiple category pie chart</figcaption>
        <h2 class="section-divider">Object Name</h2>
        <angular-chart options="c3.pieColor5.options"></angular-chart>
      </figure>
    </div>

    <div class="col-xs-12 col-md-4">
      <figure>
        <figcaption>Single category pie chart</figcaption>
        <h2 class="section-divider">Object Name</h2>
        <angular-chart options="c3.pieMono5.options"></angular-chart>
      </figure>
    </div>
  </div>




  <!-- DONUTS -->
  <div class="row">
    <div class="col-md-12">
      <h1 class="doc-sectionhead">Donut Charts</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-3">
      <p>Nam ea quot senserit, has at consequat reprehendunt comprehensam, equidem ancillae duo ei. Autem iudico argumentum cu vix. Falli fuisset pro an. Et doming latine eos, ad nostrum placerat sit. Usu ei sint constituto constituam, sit ad nonumes maluisset dissentias. Usu ei duis insolens praesent, ut theophrastus complectitur cum, et sea alia graece audiam.</p>
    </div>

    <div class="col-xs-12 col-md-4 col-md-offset-1">
      <figure>
        <figcaption>Multiple category donut chart</figcaption>
        <h2 class="section-divider">Object Name</h2>
        <angular-chart options="c3.donutColor5.options"></angular-chart>
      </figure>
    </div>

    <div class="col-xs-12 col-md-4">
      <figure>
        <figcaption>Single category donut chart</figcaption>
        <h2 class="section-divider">Object Name</h2>
        <angular-chart options="c3.donutMono5.options"></angular-chart>
      </figure>
    </div>
  </div>



  <!-- DONUTS -->
  <div class="row">
    <div class="col-md-12">
      <h1 class="doc-sectionhead">Bar Charts</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-3">
      <p>Nam ea quot senserit, has at consequat reprehendunt comprehensam, equidem ancillae duo ei. Autem iudico argumentum cu vix. Falli fuisset pro an. Et doming latine eos, ad nostrum placerat sit. Usu ei sint constituto constituam, sit ad nonumes maluisset dissentias. Usu ei duis insolens praesent, ut theophrastus complectitur cum, et sea alia graece audiam.</p>
    </div>

    <div class="col-xs-12 col-md-4 col-md-offset-1">
      <figure>
        <figcaption>Multiple category bar chart</figcaption>
        <h2 class="section-divider">Object Name</h2>
        <angular-chart options="c3.barColor8.options"></angular-chart>
      </figure>
    </div>

    <div class="col-xs-12 col-md-4">
      <figure>
        <figcaption>Single category bar chart</figcaption>
        <h2 class="section-divider">Object Name</h2>
        <angular-chart options="c3.barMono8.options"></angular-chart>
      </figure>
    </div>
  </div>

  <div class="row spacer-top-lg">
    <div class="col-xs-12 col-md-3">
    </div>

    <div class="col-xs-12 col-md-4 col-md-offset-1">
      <figure>
        <figcaption>Multiple category bar chart - two groups over time</figcaption>
        <h2 class="section-divider">Object Name</h2>
        <angular-chart options="c3.barColor5Multiple.options"></angular-chart>
      </figure>
    </div>

    <div class="col-xs-12 col-md-4">
      <figure>
        <figcaption>Single category bar chart - two groups over time</figcaption>
        <h2 class="section-divider">Object Name</h2>
        <angular-chart options="c3.barMono5Multiple.options"></angular-chart>
      </figure>
    </div>
  </div>




  <!-- GAUGE -->
  <div class="row">
    <div class="col-md-12">
      <h1 class="doc-sectionhead">Gauge Charts</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-3">
      <p>Nam ea quot senserit, has at consequat reprehendunt comprehensam, equidem ancillae duo ei. Autem iudico argumentum cu vix. Falli fuisset pro an. Et doming latine eos, ad nostrum placerat sit. Usu ei sint constituto constituam, sit ad nonumes maluisset dissentias. Usu ei duis insolens praesent, ut theophrastus complectitur cum, et sea alia graece audiam.</p>
    </div>

    <div class="col-xs-12 col-md-4 col-md-offset-3">
      <figure>
        <figcaption>Gauge chart</figcaption>
        <h2 class="section-divider">Object Name</h2>
        <angular-chart options="c3.gauge.options"></angular-chart>
      </figure>
    </div>

  </div>



  <!-- AREA -->
  <div class="row">
    <div class="col-md-12">
      <h1 class="doc-sectionhead">Area Charts</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-3">
      <p>Nam ea quot senserit, has at consequat reprehendunt comprehensam, equidem ancillae duo ei. Autem iudico argumentum cu vix. Falli fuisset pro an. Et doming latine eos, ad nostrum placerat sit. Usu ei sint constituto constituam, sit ad nonumes maluisset dissentias. Usu ei duis insolens praesent, ut theophrastus complectitur cum, et sea alia graece audiam.</p>
    </div>

    <div class="col-xs-12 col-md-8 col-md-offset-1">
      <figure>
        <figcaption>Area Graph - with 2 categories, comparing data over time. No more than two categories.</figcaption>
        <h2 class="section-divider">Object Name</h2>
        <angular-chart options="c3.area.options"></angular-chart>
      </figure>
    </div>

  </div>


</div>
