@font-face { font-family: 'PrecisionSans_W_Rg'; font-weight: '400'; font-style: 'normal'; src: url("../fonts/PrecisionSans_W_Rg.eot"); src: url("../fonts/PrecisionSans_W_Rg.eot?#iefix") format("embedded-opentype"), url("../fonts/PrecisionSans_W_Rg.woff") format("woff"), url("../fonts/PrecisionSans_W_Rg.ttf") format("truetype"), url("../fonts/PrecisionSans_W_Rg.svg#PrecisionSans_W_Rg") format("svg"); }
@font-face { font-family: 'PrecisionSans_W_Bd'; font-weight: '700'; font-style: 'normal'; src: url("../fonts/PrecisionSans_W_Bd.eot"); src: url("../fonts/PrecisionSans_W_Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/PrecisionSans_W_Bd.woff") format("woff"), url("../fonts/PrecisionSans_W_Bd.ttf") format("truetype"), url("../fonts/PrecisionSans_W_Bd.svg#PrecisionSans_W_Bd") format("svg"); }
@font-face { font-family: 'PrecisionSans_W_RgIt'; font-weight: '400'; font-style: 'italic'; src: url("../fonts/PrecisionSans_W_RgIt.eot"); src: url("../fonts/PrecisionSans_W_RgIt.eot?#iefix") format("embedded-opentype"), url("../fonts/PrecisionSans_W_RgIt.woff") format("woff"), url("../fonts/PrecisionSans_W_RgIt.ttf") format("truetype"), url("../fonts/PrecisionSans_W_RgIt.svg#PrecisionSans_W_RgIt") format("svg"); }
@font-face { font-family: 'PrecisionSans_W_BdIt'; font-weight: '700'; font-style: 'italic'; src: url("../fonts/PrecisionSans_W_BdIt.eot"); src: url("../fonts/PrecisionSans_W_BdIt.eot?#iefix") format("embedded-opentype"), url("../fonts/PrecisionSans_W_BdIt.woff") format("woff"), url("../fonts/PrecisionSans_W_BdIt.ttf") format("truetype"), url("../fonts/PrecisionSans_W_BdIt.svg#PrecisionSans_W_BdIt") format("svg"); }
@font-face { font-family: 'PrecisionSans_W_Lt'; font-weight: '300'; font-style: 'normal'; src: url("../fonts/PrecisionSans_W_Lt.eot"); src: url("../fonts/PrecisionSans_W_Lt.eot?#iefix") format("embedded-opentype"), url("../fonts/PrecisionSans_W_Lt.woff") format("woff"), url("../fonts/PrecisionSans_W_Lt.ttf") format("truetype"), url("../fonts/PrecisionSans_W_Lt.svg#PrecisionSans_W_Lt") format("svg"); }
@font-face { font-family: 'PrecisionSans_W_LtIt'; font-weight: '300'; font-style: 'italic'; src: url("../fonts/PrecisionSans_W_LtIt.eot"); src: url("../fonts/PrecisionSans_W_LtIt.eot?#iefix") format("embedded-opentype"), url("../fonts/PrecisionSans_W_LtIt.woff") format("woff"), url("../fonts/PrecisionSans_W_LtIt.ttf") format("truetype"), url("../fonts/PrecisionSans_W_LtIt.svg#PrecisionSans_W_LtIt") format("svg"); }
@font-face { font-family: 'PrecisionSans_W_Md'; font-weight: '500'; font-style: 'normal'; src: url("../fonts/PrecisionSans_W_Md.eot"); src: url("../fonts/PrecisionSans_W_Md.eot?#iefix") format("embedded-opentype"), url("../fonts/PrecisionSans_W_Md.woff") format("woff"), url("../fonts/PrecisionSans_W_Md.ttf") format("truetype"), url("../fonts/PrecisionSans_W_Md.svg#PrecisionSans_W_Md") format("svg"); }
@font-face { font-family: 'PrecisionSans_W_MdIt'; font-weight: '500'; font-style: 'italic'; src: url("../fonts/PrecisionSans_W_MdIt.eot"); src: url("../fonts/PrecisionSans_W_MdIt.eot?#iefix") format("embedded-opentype"), url("../fonts/PrecisionSans_W_MdIt.woff") format("woff"), url("../fonts/PrecisionSans_W_MdIt.ttf") format("truetype"), url("../fonts/PrecisionSans_W_MdIt.svg#PrecisionSans_W_MdIt") format("svg"); }
@font-face { font-family: 'pbfont'; font-weight: normal; font-style: normal; src: url("../fonts/pbfont.eot"); src: url("../fonts/pbfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pbfont.woff") format("woff"), url("../fonts/pbfont.ttf") format("truetype"), url("../fonts/pbfont.svg#pbfont") format("svg"); }
.serif, .serif p { font-family: Georgia, Times, "Times New Roman", serif; }

.sans, .sans p { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

code, .code { font-family: "Source Code Pro", Menlo, Consolas, Monaco, "Courier New", monospace; }

hr { margin-top: 20px; margin-bottom: 20px; border: 0; border-top: 1px solid #9b9b9b; }

a { color: #3e53a4; }
a:hover { color: #324184; }
a.read-more { font-size: 12px; white-space: nowrap; }
a.read-more:after { content: '\2026'; }

h1, .h1 { font-size: 36px; font-weight: normal; font-family: 'PrecisionSans_W_Lt', Arial, sans-serif; color: #cf0989; }

h2 { font-size: 20px; font-family: "PrecisionSans_W_Rg", "Helvetica Neue", Arial, sans-serif; font-weight: normal; color: #3e53a4; }

h3 { font-size: 16px; font-family: "PrecisionSans_W_Rg", "Helvetica Neue", Arial, sans-serif; font-weight: normal; color: #3e53a4; }

h4 { font-size: 16px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: bold; color: #4e4e4e; }

h5 { font-size: 14px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: bold; color: #4e4e4e; }

h6 { font-size: 12px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: bold; color: #4e4e4e; }

.ps-light { font-family: "PrecisionSans_W_Lt", "Helvetica Neue", Arial, sans-serif; font-weight: normal; font-style: normal; }
.ps-light.italic, .ps-light em, .ps-light i { font-family: "PrecisionSans_W_LtIt", "Helvetica Neue", Arial, sans-serif; }
.ps-light b, .ps-light strong { font-family: "PrecisionSans_W_Md", "Helvetica Neue", Arial, sans-serif; }

p.lead, p.lede { font-family: "PrecisionSans_W_Rg", "Helvetica Neue", Arial, sans-serif; font-size: 16px; }

.media-heading { font-family: "PrecisionSans_W_Bd", "Helvetica Neue", Arial, sans-serif; font-weight: normal; }

body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; color: #4e4e4e; }
body .has-error { color: #c00; }

dt { margin-top: 10px; margin-bottom: 3px; }
dt:first-child { margin-top: 0; }

.dlist-condensed dt { margin-bottom: 0; }
.dlist-condensed dd { line-height: 1.2; }

ul.spaced > li, ol.spaced > li { margin-top: 10px; }
ul.spaced > li:first-child, ol.spaced > li:first-child { margin-top: 0; }

ul, ol { margin-top: 0; margin-bottom: 10px; margin-left: 0; padding-left: 1.5em; }

.btn:focus { outline: none !important; }

.btn { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.fa-active { color: #cf0989; }

.fa-lg { font-size: 1.5em; }

.nav-tabs > li > a, .nav-pills > li > a { font-family: "PrecisionSans_W_Rg", "Helvetica Neue", Arial, sans-serif; }

.help-block { color: #9b9b9b; }

label { font-size: 12px; font-weight: normal; color: #4e4e4e; }

.panel-heading { font-family: "PrecisionSans_W_Rg", "Helvetica Neue", Arial, sans-serif; }
.panel-heading td, .panel-heading th { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

#header .navbar .navbar-brand.brand-text, #header .navbar .container .navbar-brand.brand-text, header .navbar .navbar-brand.brand-text, header .navbar .container .navbar-brand.brand-text { font-family: "PrecisionSans_W_Rg", "Helvetica Neue", Arial, sans-serif; font-weight: normal; }

.nav.navbar-nav { font-family: "PrecisionSans_W_Rg", "Helvetica Neue", Arial, sans-serif; font-weight: normal; font-size: 16px; }

.checkboxList span, a.list-group-item { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; }

small, .small { font-size: 85%; }

cite { font-style: normal; }

.text-large { font-size: 16px; }

.text-small { font-size: 12px; }

.text-xs { font-size: 11px; }

.text-mouse { font-size: 11px; }

.text-left { text-align: left; }

.text-right { text-align: right; }

.text-center { text-align: center; }

.text-justify { text-align: justify; }

@media (max-width: 767px) { .text-left-xs { text-align: left; }
  .text-right-xs { text-align: right; }
  .text-center-xs { text-align: center; } }
.text-primary { color: #3e53a4; }

.text-muted { color: #9b9b9b; }

.text-success { color: #3c763d; }

.text-info { color: #31708f; }

.text-warning { color: #8a6d3b; }

.text-danger { color: #c00; }

.styleguide footer { display: none; }
.styleguide section { margin-top: 50px; }

.clearfix { zoom: 1; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.list-expanded li { margin-right: 50px; }
.list-expanded li:last-child { margin-right: 0; }

.button-demo-row > div { margin-right: 20px; }

@-webkit-keyframes kbrns { 0% { background-position: 0 -3em; background-size: 120%; }
  100% { background-position: -1em 0; background-size: 105%; } }

@keyframes kbrns { 0% { background-position: 0 -3em; background-size: 120%; }
  100% { background-position: -1em 0; background-size: 105%; } }
.hero .hero-unit { margin-top: 50px; color: #4e4e4e; }
.hero .hero-unit h2 { font-family: "PrecisionSans_W_Lt", "Helvetica Neue", Arial, sans-serif; font-size: 18px; padding-bottom: 10px; line-height: 1.3; color: #4e4e4e; }
.hero .hero-menu { padding-left: 0; list-style-type: none; }
.hero .hero-menu > li { font-family: "PrecisionSans_W_Md", "Helvetica Neue", Arial, sans-serif; font-size: 18px; margin-top: 10px; padding-top: 5px; border-top: 1px solid #c0c0c0; }
.hero .hero-menu > li:first-child { margin-top: 0; }
.hero .hero-menu > li a:hover { text-decoration: none; }
.hero .hero-menu > li ul { margin-top: 5px; padding-left: 0; list-style-type: none; -webkit-column-count: 4; -moz-column-count: 4; column-count: 4; -webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid; }
.hero .hero-menu > li ul li { font-family: "PrecisionSans_W_Lt", "Helvetica Neue", Arial, sans-serif; line-height: 1.35; }
.hero .hero-menu > li ul li a { color: #4e4e4e; }
.hero .hero-menu .dropdown-header, .hero .hero-menu .divider, .hero .hero-menu .optional { display: none; }

.home #footer, .home footer { margin-top: 0; }

section.row { margin-bottom: 60px; }

.page-header { margin-top: 60px; }

h4 .more-info, h1 .more-info, h3 .more-info, legend .more-info { font-family: "PrecisionSans_W_Lt", "Helvetica Neue", Arial, sans-serif; font-size: 14px; font-weight: normal; margin-top: 10px; margin-left: 30px; display: inline-block; text-transform: lowercase; }
h4 .more-info a, h1 .more-info a, h3 .more-info a, legend .more-info a { color: #3e53a4; font-weight: normal; }

h6.sh { clear: both; margin-top: 40px; }
h6.sh:first-child { margin-top: 0; }

hr { margin-top: 30px; margin-bottom: 30px; }

.grid-sample .panel { border: 1px solid #eee; border-top-width: 6px; border-radius: 0; }

p[class^='bg'] { padding: 10px; }

.row-left-border { border-left: 1px solid #9b9b9b; }

.color-swatches .color-swatch-container { margin-bottom: 30px; }
.color-swatches .color-swatch { display: block; width: 100%; height: 72px; margin-bottom: 5px; }
.color-swatches .color-swatch[class*='alert'] { border-right-width: 16px; border-right-style: solid; }
.color-swatches .color-swatch.color-swatch-small { display: inline-block; width: 33px; height: 33px; }
.color-swatches p { font-size: 16px; color: #4e4e4e; }
.color-swatches p small { font-size: 12px; line-height: 1.2; }

.PrecisionSans_W_LtIt { font-family: "PrecisionSans_W_LtIt", Arial, Helvetica, sans-serif; }

.PrecisionSans_W_LtIt { font-family: "PrecisionSans_W_LtIt", Arial, Helvetica, sans-serif; }

.PrecisionSans_W_Rg { font-family: "PrecisionSans_W_Rg", Arial, Helvetica, sans-serif; }

.PrecisionSans_W_RgIt { font-family: "PrecisionSans_W_RgIt", Arial, Helvetica, sans-serif; }

.PrecisionSans_W_Bd { font-family: "PrecisionSans_W_Bd", Arial, Helvetica, sans-serif; }

.PrecisionSans_W_BdIt { font-family: "PrecisionSans_W_BdIt", Arial, Helvetica, sans-serif; }

.PrecisionSans_W_Md { font-family: "PrecisionSans_W_Md", Arial, Helvetica, sans-serif; }

.PrecisionSans_W_MdIt { font-family: "PrecisionSans_W_MdIt", Arial, Helvetica, sans-serif; }

ul.swatches { margin: 10px 0 30px; padding-left: 0; }
ul.swatches li.color-swatch { height: 30px; margin-bottom: 0; text-align: right; padding: 5px 10px; color: #000; }
ul.swatches li.color-swatch span { display: inline-block; float: left; opacity: 0.4; }
ul.swatches li.color-swatch:first-child { height: 75px; font-size: 18px; color: #fff; margin-bottom: 5px; }
ul.swatches li.color-swatch:nth-child(n+6) { color: #fff; }

.color-chart-nested { position: relative; float: left; margin-right: 30px; }
.color-chart-nested .pie { position: absolute; top: 86px; left: 86px; }

.color-blocks li { margin-bottom: 7px; }
.color-blocks li span { display: inline-block; width: 35px; height: 35px; margin-right: 15px; vertical-align: middle; }

.donut-varied-padded { margin-right: 25px; margin-left: 25px; }

.fpo-grad { padding: 10px; background-position: center center; background-size: fit; }
.fpo-grad p.help-text { color: #fff; }

.glyphicons li { font-size: 0.8em; margin-bottom: 20px; text-align: center; }

.text-center .pie, .text-center .donut { width: 100px; margin: 0 auto 20px; }

.clearRow { clear: left; }

.brand-primary { background-color: #3e53a4; }

.brand-success { background-color: #5cb85c; }

.brand-danger { background-color: #c00; }

.brand-info { background-color: #5bc0de; }

.brand-warning { background-color: #f0ad4e; }

.chart-green { background-color: #00b140; }

.chart-blue { background-color: #009dbf; }

.chart-purple { background-color: #a03f9b; }

.chart-yellow { background-color: #edb700; }

.chart-orange { background-color: #ee6b0b; }

.chart-red { background-color: #cf0989; }

.blue1 { background-color: #3e53a4; }

.blue2 { background-color: #5d71be; }

.blue3 { background-color: #8393d0; }

.blue4 { background-color: #9aa6d6; }

.blue5 { background-color: #afb9dd; }

.blue6 { background-color: #c5cbe4; }

.gray700 { background-color: #2e2e2e; }

.gray500 { background-color: #4e4e4e; }

.gray300 { background-color: #9b9b9b; }

.gray200 { background-color: #c0c0c0; }

.list-group-details .form-group { margin-bottom: 0; }
.list-group-details .control-label { padding-top: 3px; padding-right: 0; text-align: left; }
.list-group-details .control-label strong { font-weight: normal; padding-right: 0.3em; color: #4e4e4e; background-color: #fff; }
.list-group-details .control-label:before { float: left; width: 0; content: '..........................................'; white-space: nowrap; color: #9b9b9b; }
.list-group-details .form-control-static { padding-top: 2px; padding-bottom: 2px; padding-left: 0.3em; word-wrap: break-word; background-color: #fff; }

.view-animate { transition: all 0.3s; }
.view-animate.ng-enter, .view-animate.ng-leave { opacity: 1; }
.view-animate.ng-enter, .view-animate.ng-leave-active, .view-animate.ng-hide { height: 0; opacity: 0; }

[class*='block-grid-'] { zoom: 1; display: block; padding: 0; margin: 0 -.55556rem; }
[class*='block-grid-']:before, [class*='block-grid-']:after { content: ''; display: table; }
[class*='block-grid-']:after { clear: both; }
[class*='block-grid-'] > li { display: block; height: auto; float: left; padding: 0 0.55556rem 1.11111rem; }

.block-grid-6 > li { width: 16.66666%; }

.small-block-grid-3 > li { width: 33.33333%; list-style: none; }

.small-block-grid-3 > li:nth-of-type(1n) { clear: none; }

.small-block-grid-3 > li:nth-of-type(3n+1) { clear: both; }

.chord-display { margin-bottom: 20px; }



/*# sourceMappingURL=maps/live_preview.css.map */