// for vertical spacing, add to elements
$spacers: (xs: 10px,sm: 20px, md: 30px, lg: 40px, xl: 50px);
$directions: (top, bottom);

// usage "spacer-top-sm"
// @each $direction in $directions {
//   @each $spacer, $amt in $spacers {
//       .spacer-#{$direction}-#{$spacer} {
//           margin-#{$direction}: $amt;
//           @include bp($screen-xs) {
//              margin-#{$direction}: ($amt * .75);
//            }
//       }
//   }
// }

// added smartphone MQ, reduced each spacer size to 75% for that
@each $direction in $directions {
  @each $spacer, $amt in $spacers {
    .spacer-#{$direction}-#{$spacer} {
      margin-#{$direction}: $amt;
      @media only screen and (max-device-width: 480px) {
        margin-#{$direction}: 0.75 * $amt;
      }
    }
  }
}


// .visually-hidden,
// .screen-reader {
//   overflow: hidden;
//   position: absolute;
//   width: 1px;
//   height: 1px;
//   margin: -1px;
//   border: 0;
//   padding: 0;
//   clip: rect(0 0 0 0);
// }


.no-margin-top {
  margin-top: 0;
}


.no-margin-bottom {
  margin-bottom: 0;
}


.no-margins {
  margin: 0;
}

.header-color {color: $header-color;}
.header-color-alt {color: $header-color-alt;}

// color classes, first foreground
.white { color: #fff; }
.pb-medium-blue-300 { color: $pb-medium-blue-300;}
.pb-medium-blue { color: $pb-medium-blue;}
.pb-medium-blue-700 { color: $pb-medium-blue-700;}
.pb-blue-300 { color: $pb-blue-300;}
.pb-blue { color: $pb-blue;}
.pb-blue-700 { color: $pb-blue-700;}
.pb-purple-300 { color: $pb-purple-300;}
.pb-purple { color: $pb-purple;}
.pb-purple-700 { color: $pb-purple-700;}
.pb-cyan-300 { color: $pb-cyan-300;}
.pb-cyan { color: $pb-cyan;}
.pb-cyan-700 { color: $pb-cyan-700;}
.pb-magenta-300 { color: $pb-magenta-300;}
.pb-magenta { color: $pb-magenta;}
.pb-magenta-700 { color: $pb-magenta-700;}
.pb-dark-orange-300 { color: $pb-dark-orange-300;}
.pb-dark-orange { color: $pb-dark-orange;}
.pb-dark-orange-700 { color: $pb-dark-orange-700;}
.pb-orange-300 { color: $pb-orange-300;}
.pb-orange { color: $pb-orange;}
.pb-orange-700 { color: $pb-orange-700;}
.pb-yellow-300 { color: $pb-yellow-300;}
.pb-yellow { color: $pb-yellow;}
.pb-green-300 { color: $pb-green-300;}
.pb-green { color: $pb-green;}
.pb-green-700 { color: $pb-green-700;}
.pb-dark-green-300 { color: $pb-dark-green-300;}
.pb-dark-green { color: $pb-dark-green;}
.pb-dark-green-700 { color: $pb-dark-green-700;}
.pb-gray-700 { color: $pb-gray-700;}
.pb-gray-500 { color: $pb-gray-500;}
.pb-gray-400 { color: $pb-gray-400;}
.pb-gray-300 { color: $pb-gray-300;}
.pb-gray { color: $pb-gray;}
.pb-light-gray { color: $pb-light-gray;}
.pb-bg1 { color: $pb-bg1;}
.pb-bg2 { color: $pb-bg2;}
.pb-bg3 { color: $pb-bg3;}
.pb-bg4 { color: $pb-bg4;}
.pb-bg5 { color: $pb-bg5;}

// then background-color
.bg-header-color {background-color: $header-color;}
.bg-header-color-alt {background-color: $header-color-alt;}
.bg-white { background-color: #fff; }
.bg-pb-medium-blue-300 { background-color: $pb-medium-blue-300;}
.bg-pb-medium-blue { background-color: $pb-medium-blue;}
.bg-pb-medium-blue-700 { background-color: $pb-medium-blue-700;}
.bg-pb-blue-300 { background-color: $pb-blue-300;}
.bg-pb-blue { background-color: $pb-blue;}
.bg-pb-blue-700 { background-color: $pb-blue-700;}
.bg-pb-purple-300 { background-color: $pb-purple-300;}
.bg-pb-purple { background-color: $pb-purple;}
.bg-pb-purple-700 { background-color: $pb-purple-700;}
.bg-pb-cyan-300 { background-color: $pb-cyan-300;}
.bg-pb-cyan { background-color: $pb-cyan;}
.bg-pb-cyan-700 { background-color: $pb-cyan-700;}
.bg-pb-magenta-300 { background-color: $pb-magenta-300;}
.bg-pb-magenta { background-color: $pb-magenta;}
.bg-pb-magenta-700 { background-color: $pb-magenta-700;}
.bg-pb-dark-orange-300 { background-color: $pb-dark-orange-300;}
.bg-pb-dark-orange { background-color: $pb-dark-orange;}
.bg-pb-dark-orange-700 { background-color: $pb-dark-orange-700;}
.bg-pb-orange-300 { background-color: $pb-orange-300;}
.bg-pb-orange { background-color: $pb-orange;}
.bg-pb-orange-700 { background-color: $pb-orange-700;}
.bg-pb-yellow-300 { background-color: $pb-yellow-300;}
.bg-pb-yellow { background-color: $pb-yellow;}
.bg-pb-green-300 { background-color: $pb-green-300;}
.bg-pb-green { background-color: $pb-green;}
.bg-pb-green-700 { background-color: $pb-green-700;}
.bg-pb-dark-green-300 { background-color: $pb-dark-green-300;}
.bg-pb-dark-green { background-color: $pb-dark-green;}
.bg-pb-dark-green-700 { background-color: $pb-dark-green-700;}
.bg-pb-gray-700 { background-color: $pb-gray-700;}
.bg-pb-gray-500 { background-color: $pb-gray-500;}
.bg-pb-gray-400 { background-color: $pb-gray-400;}
.bg-pb-gray-300 { background-color: $pb-gray-300;}
.bg-pb-gray { background-color: $pb-gray;}
.bg-pb-light-gray { background-color: $pb-light-gray;}
.bg-pb-bg1 { background-color: $pb-bg1;}
.bg-pb-bg2 { background-color: $pb-bg2;}
.bg-pb-bg3 { background-color: $pb-bg3;}
.bg-pb-bg4 { background-color: $pb-bg4;}
.bg-pb-bg5 { background-color: $pb-bg5;}
