// for vertical spacing, add to elements
$spacers: (xs: 10px,sm: 20px, md: 30px, lg: 40px, xl: 50px);
$directions: (top, bottom);
// usage "spacer-top-sm"

@each $direction in $directions {
  @each $spacer, $amt in $spacers {
      .spacer-#{$direction}-#{$spacer} {
          margin-#{$direction}: $amt;
      }
  }
}


.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margins {
  margin: 0;
}
